<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <sidebar-user/>

          <div class="col-lg-10 content-profile">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group-header">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active page-header">Transaksi Penjualan</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content" id="myTabContent">
              <!-- tab-order/sales -->
              <div
                class="tab-pane fade show active mb-30"
                id="order"
                role="tabpanel"
                aria-labelledby="order-tab"
              >
                <ul class="nav nav-tabs" id="list-order-tab" role="tablist">
                  <li class="nav-item">
                    <a
                      @click="toTrxIndex"
                      class="nav-link show"
                      :class="{active : all}"
                      id="all-transaction-or"
                      data-toggle="tab"
                      href="/transaction/sales"
                      role="tab"
                      aria-controls="all-transaction-or"
                      :aria-selected="all ? 'true' : 'false'"
                    >Semua Transaksi</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a
                      class="nav-link"
                      :class="{active : waitPay}"
                      id="payment-tab"
                      href="?status=0"
                      role="tab"
                      aria-controls="payment"
                      :aria-selected="waitPay ? 'true' : 'false'"
                    >Belum Dibayar</a>
                  </li> -->
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      :class="{active : progress}"
                      id="on-progress-tab"
                      href="?status=2"
                      role="tab"
                      aria-controls="on-progress"
                      :aria-selected="progress ? 'true' : 'false'"
                    >Siap Dikirim</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      :class="{active : delivery}"
                      id="on-delivery-tab"
                      href="?status=3"
                      role="tab"
                      aria-controls="on-delivery"
                      :aria-selected="delivery ? 'true' : 'fasle'"
                    >Dikirim</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      :class="{active : arrived}"
                      id="arrive-tab"
                      href="?status=4"
                      role="tab"
                      aria-controls="arrive"
                      :aria-selected="arrived ? 'true' : 'fasle'"
                    >Tiba</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      :class="{active : done}"
                      id="done-tab"
                      href="?status=1"
                      role="tab"
                      aria-controls="success"
                      :aria-selected="done ? 'true' : 'false'"
                    >Selesai</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      :class="{active : rejected}"
                      id="done-tab"
                      href="?status=-1"
                      role="tab"
                      aria-controls="success"
                      :aria-selected="rejected ? 'true' : 'false'"
                    >Dibatalkan</a>
                  </li>
                </ul>
              </div>

              <transaction-sales-list></transaction-sales-list>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import SidebarUser from "@/components/commerce/SidebarUser";
import TransactionSalesList from "./TransactionSalesList";

export default {
  name: "transaction-sales",
  props: [],
  components: {
    SidebarUser,
    TransactionSalesList
  },
  data() {
    return {
      all: false,
      waitPay: false,
      progress: false,
      delivery: false,
      arrived: false,
      done: false,
      rejected : false,
    };
  },
  methods: {
    setActive: function() {
      let params = new URL(document.location).searchParams;
      let status = params.get("status");
      if (status == null) this.all = true;
      if (status == 0) this.waitPay = true;
      if (status == 2) this.progress = true;
      if (status == 3) this.delivery = true;
      if (status == 4) this.arrived = true;
      if (status == 1) this.done = true;
      if (status == -1) this.rejected = true;
    },
    toTrxIndex() {
      window.location.href = "/transaction/sales";
    }
  },
  created() {
    this.setActive();
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
