<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="col-md-12 thank-page">
          <div class="col-md-6">
            <div class="logo-thank">
              <hr>
              <img class="middle" src="/assets/img/logo-dark.png">
              <hr>
            </div>
            <div class="core-thank">
              <div class="top">
                <span>THANK</span>
              </div>
              <div class="bottom">
                <span class="bottom">YOU</span>
              </div>
            </div>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="btn-store">Ok, see my order</button>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: "transaction-success",
  props: [],
  data() {
    return {
      // data
    };
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  methods: {
    // list of methods
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
