<template>
  <div>
    <!-- tab-purchase-list -->
    <div class="form-group">
      <div class="tab-content" id="myTabContent-purchase">
        <div
          class="tab-pane fade show active"
          id="all-transaction-prc"
          role="tabpanel"
          aria-labelledby="all-transaction-tab"
        >
          <template v-for="(content, index) in pageable.content">
            <div class="row" :key="index">
              <div class="col-md-10">
                <div class="media">
                  <img class="mr-3 image-store rounded" :src="content.storePicture" alt>
                  <div class="media-body">
                    <div class="form-group my-store">
                      {{ content.storeName }}
                      <span
                        class="badge badge-secondary wait-badge"
                      >{{ content.statusText }}</span>
                    </div>

                    <div class="form-group">
                      <div
                        v-if="content.invoiceNumber"
                        class="price-store"
                      >( {{ content.invoiceNumber }} )</div>
                      <div class="date-created">{{ content.dateText }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="pull-right">
                  <a
                    data-toggle="modal"
                    data-target="#viewProduct"
                    @click="getProduct(content.id)"
                    href="#"
                  >View Detail</a>
                </div>
              </div>
            </div>
            <hr :key="content.id">
          </template>

          <!-- Pagination -->
          <bee-pagination
            v-if="pagination.pageCount > 0"
            v-model="pagination.currentPage"
            :page-count="pagination.pageCount"
            @change="onChangePagination"
          ></bee-pagination>
        </div>
      </div>
    </div>

    <!-- Purchase Modal -->
    <div
      class="modal fade"
      id="viewProduct"
      name="viewProduct"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Daftar Produk</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div v-if="purchase" class="form-group">
              <div class="row">
                <div class="col-md-4">Nama Toko</div>
                <div class="col-md-8">{{ purchase.storeName }}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Rating Toko</div>
                <div class="col-md-8">
                  <div class="review">
                    <star-rating :rating="purchase.totalRatingStore" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                    <span class="total-reviews price b-80"> ( {{ purchase.totalRatingStore }} )</span>
                  </div>
                </div>
              </div>
              <div class="row" v-if="purchase.invoiceNumber">
                <div class="col-md-4">Nomor Invoice</div>
                <div class="col-md-8">{{ purchase.invoiceNumber }}</div>
              </div>
              <div class="row" v-if="purchase.statusText">
                <div class="col-md-4">Status</div>
                <div class="col-md-8">
                  <span class="badge badge-primary">{{ purchase.statusText }}</span>
                </div>
              </div>
              <div class="row" v-if="purchase.receipt">
                <div class="col-md-4">Nomor Resi</div>
                <div class="col-md-8">{{ purchase.receipt }}</div>
              </div>
              <div class="row" v-if="purchase.dateText">
                <div class="col-md-4">Tanggal Pembelian</div>
                <div class="col-md-8">{{ purchase.dateText }}</div>
              </div>

              <div class="row" v-if="purchase.cancelReason">
                <div class="col-md-4">Alasan pembatalan</div>
                <div class="col-md-8">{{ purchase.cancelReason }}</div>
              </div>
              <div class="row" v-if="purchase.cancelStatus">
                <div class="col-md-4">Status Refund</div>
                <div class="col-md-8">{{ purchase.cancelStatus == 'PENDING_REFUND' ? 'Dana refund sedang di proses' : 'Dana sudah berhasil direfund' }}</div>
              </div>

              <hr>
              <div class="row">
                <div class="col-md-7">Produk</div>
                <div class="col-md-1">Jumlah</div>
                <div class="col-md-2">Harga</div>
                <div class="col-md-2">Total</div>
              </div>
              <hr>
              <template v-if="purchase.orderItems">
              <template  v-for="(item, index) in purchase.orderItems">
                <div class="row" :key="index">
                  <div class="col-md-2 media">
                    <img :src="item.productThumb" alt>
                  </div>
                  <div class="col-md-5">{{ item.productName }}</div>
                  <div class="col-md-1">{{ item.productQuantity }}</div>
                  <div class="col-md-2">{{ item.productPriceText }}</div>
                  <div class="col-md-2">{{ item.totalPriceText }}</div>
                </div>
                <hr :key="item.id">
              </template>
              </template>
              <div class="row">
                <div class="col-md-10">Total Harga</div>
                <div class="col-md-2">{{ purchase.totalPriceItemText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Ongkos Kirim</div>
                <div class="col-md-2">{{ purchase.shipmentPriceText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Total Pembayaran</div>
                <div class="col-md-2">{{ purchase.totalPriceAllText }}</div>
              </div>
            </div>
            <div v-else class="row mb-2">
              <div class="row">
                <div class="col-md-12">Tidak ada produk</div>
              </div>
            </div>
          </div>

          <div class="modal-footer">

            <!--<input-->
              <!--type="text"-->
              <!--class="form-control"-->
              <!--placeholder="Alasan pembatalan"-->
              <!--v-if="!purchase.statusProcess && purchase.status == 2"-->
              <!--v-model="formReject.reason"-->
            <!--&gt;-->

            <!--<button-->
              <!--v-if="!purchase.statusProcess && purchase.nextStatus != null && purchase.status == 2"-->
              <!--type="button"-->
              <!--class="btn btn-primary btn-store"-->
              <!--@click="updateStatus"-->
            <!--&gt;Batalkan</button>-->

            <button
              v-if="purchase.statusProcess && purchase.nextStatus != null"
              type="button"
              class="btn btn-primary btn-store"
              data-dismiss="modal"
              @click="updateStatus"
            >{{ purchase.statusProcess }}</button>

            <button type="button" class="btn-store" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->
  </div>
</template>

<script>
import { api } from '@/config/constants'
import BeePagination from '@/components/general/pagination/BeePagination'
import StarRating from 'vue-star-rating'

export default {
  name: "transaction-purchase-list",
  props: [],
  components: {
    BeePagination,
    StarRating,
  },
  data() {
    return {
      token: "",
      sid: "",
      uid: "",
      pageable: {
        content: [],
        pageable: {},
        totalPages: 0,
        last: true,
        totalElements: 0,
        size: 10,
        number: 0,
        first: true,
        numberOfElements: 0,
        sort: {},
        empty: false
      },
      purchase: {},
      form: {
        storeId: "",
        userId: ""
      },
      formStatus: {
        currentStatus: "",
        receipt: ""
      },
      formReject:{
        currentStatus: "",
        receipt: "",
        nextStatus : -1,
        reason : ""
      },
      pagination: {
        currentPage: 0,
        pageCount: 1,
        currentElements: 0,
        totalElements: 0
      }
    };
  },
  methods: {
    init: function() {
      this.token = this.$cookie.get("kpid");
      if (!this.token) {
        window.location.href = "/";
      }
      this.sid = this.$cookie.get("sid");
      this.uid = this.$cookie.get("uid");
    },
    getPurchase: function(pageNumber = 0) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      let params = new URL(document.location).searchParams;
      let status = params.get("status");
      let url = api + "/api/purchase/" + this.uid + "/user";
      if (status) {
        url += "?status=" + status;
      }
      if (pageNumber > 0) {
        if (url.includes("?")) {
          url += "&page=" + pageNumber;
        } else {
          url += "?page=" + pageNumber;
        }
      }
      this.$http.get(url, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            let totalPages = resp.data.totalPages;
            if (totalPages > 0 && pageNumber + 1 > totalPages) {
              window.location.href = this.onChangePagination(
                resp.data.totalPages
              );
            } else {
              this.pageable = resp.data;
              let currentPage = resp.data.pageable.pageNumber + 1;

              this.pagination.pageCount = totalPages;
              this.pagination.currentElements =
                currentPage == totalPages
                  ? resp.data.totalElements
                  : currentPage * resp.data.pageable.pageSize;
              this.pagination.totalElements = resp.data.totalElements;
            }
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
          alert(resp.data.message);
        }
      );
    },
    getProduct(orderShipmentId) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.form.userId = this.uid;
      this.form.storeId = 0;
      this.$http
        .post(
          api + "/api/purchase/" + orderShipmentId + "/order",
          this.form,
          headers
        )
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.purchase = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
            alert(resp.data.message);
          }
        );
    },
    updateStatus: function() {
      if (!this.purchase.id || !this.purchase.status) {
        return false;
      }

      if(this.purchase.statusProcess == null && this.purchase.nextStatus != null && this.purchase.status == 2){
        if(this.purchase.status == 2 && !this.formReject.reason){
          alert("Alasan pembatalan harus di isi");
          return false;
        }
      }
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.formStatus.currentStatus = this.purchase.status;
      this.formReject.currentStatus = this.purchase.status;

      let form = null;

      if(!this.purchase.statusProcess && this.purchase.nextStatus != null && this.purchase.status == 2){
        form = this.formReject;
      }else{
        form = this.formStatus;
      }

      this.$http
        .patch(
          api + "/api/order/" + this.purchase.id + "/shipment",
          form,
          headers
        )
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              window.location.reload();
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
            alert(resp.data.message);
          }
        );
    },
    setupPagination() {
      let params = new URL(document.location).searchParams;
      let paramsPage = params.get("page");
      let pageForAPI = 0;
      const patternDigit = /^\d+$/;
      if (
        paramsPage &&
        patternDigit.test(paramsPage) &&
        Number(paramsPage) > 0
      ) {
        pageForAPI = Number(paramsPage) - 1;
        let currentPage = Number(paramsPage);
        this.pagination.currentPage = currentPage;
        this.pagination.pageCount = currentPage;
        this.getPurchase(pageForAPI);
      } else {
        this.getPurchase(0);
      }
    },
    onChangePagination(value) {
      let path = window.location.href;
      let pageExp = /page=\d+/;
      let url = '';
      if (path.includes("page=")) {
        path = path.replace(pageExp, "page=" + value);
        url = path;
      } else {
        if(path.includes("?")){
          url = path+'&page='+value;
        }else{
          url = path+'?page='+value;
        }
      }

      window.location.href = url;
    }
  },
  created() {
    this.init();
    this.setupPagination();
  },
  mounted() {},
  watch: {
    // property: function() {}
  }
};
</script>
