<template>
<div>

</div>
</template>

<script>
export default {
  name: "component-name",
  props: [],
  components: {
    // components
  },
	data() {
		return {
			// data
		}
	},
	methods: {
		// list of methods
	},
	created() {
		// created
	},
	mounted() {
		// mounted
	},
	watch: {
		// watcher list
		property: function() {
		}
	}
};
</script>
