<template>
  <div v-if="token">

    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2 about-img">
              <div class="my-account-list">
                <li>
                  <a href="/profile" class="active">Akun</a>
                </li>
                <li>
                  <a href="/store" class="">Toko</a>
                </li>
              </div>
            </div>

            <div class="col-lg-10 content-profile">
              <div class="form-group-header">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active page-header">Profil</a>
                </div>
              </div>

              <div class="form-group">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/profile">Profil</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
              </div>

              <form @submit.prevent="submit" method="post" role="form">

                <div class="form-group row">
                  <label for="old_password" class="col-sm-2 col-form-label label-cs-text">Password Lama</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control input-cs" id="old_password"
                           placeholder="" v-model="form.old_password">
                    <div class="validation text-danger" v-if="errors.old_password">{{ errors.old_password }}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="new_password" class="col-sm-2 col-form-label label-cs-text">Password Baru</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control input-cs" id="new_password"
                           placeholder="" v-model="form.new_password">
                    <div class="validation text-danger" v-if="errors.new_password">{{ errors.new_password }}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="confirm_password" class="col-sm-2 col-form-label label-cs-text">Password Konfimasi</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control input-cs" id="confirm_password"
                           placeholder="" v-model="form.confirm_password">
                    <div class="validation text-danger" v-if="errors.confirm_password">{{ errors.confirm_password }}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label label-cs-text"></label>
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-secondary btn-store-2 btn-block">Change
                      Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

  </div>
</template>

<script>
  import { api } from "@/config/constants";

  export default {
    name: 'ChangePassword',
    components: {
    },
    data: function() {
      return {
        form: {
          old_password: '',
          new_password: '',
          user_id: ''
        },
        errors: {
          old_password: '',
          new_password: '',
          confirm_password: '',
        },
        isError: false,
        token: '',
      }
    },
    methods: {
      init: function() {
        this.loadingShow()
        this.token = this.$cookie.get('kpid');
        let userId = this.$cookie.get('uid');
        if (!this.token || !userId) {
          window.location.href = '/'
        }
      },
      submit: function() {
        this.isError = false
        if (!this.form.old_password) {
          this.errors.old_password = 'Password lama harus diisi'
          this.isError = true
        }
        if (!this.form.new_password) {
          this.errors.new_password = 'Password baru harus diisi'
          this.isError = true
        }
        if (!this.form.confirm_password) {
          this.errors.confirm_password = 'Password konfirmasi harus diisi'
          this.isError = true
        }
        if (this.form.confirm_password != this.form.new_password) {
          this.errors.confirm_password = 'Password baru dan password konfirmasi harus sama'
          this.isError = true
        }

        if(!this.isError){
          let errorChangePasswordValidation = this.errorChangePasswordValidation(this.form.new_password);

          if(errorChangePasswordValidation == true){
            this.errors.confirm_password = 'Password minimal 8 karakter, dan mengandung minimal 1 huruf kapital, 1 huruf kecil, dan 1 angka'
            this.isError = true
          }
        }

        if (!this.isError) {
          this.loadingShow()
          let accessToken = 'Bearer ' + this.token;
          let userId = this.$cookie.get('uid');
          let headers = {headers:{'Authorization': accessToken}};
          this.form.user_id = userId;
          this.$http.post(api + '/api/auth/changePassword', this.form, headers).then(function(response) {
            this.loadingHide()
            if (response.status == 200) {
              window.location.href = '/profile'
            }
          }, function (response) {
            this.loadingHide()
            console.log(response.data)
            alert(response.data.message);
          });
        }
      },
      errorChangePasswordValidation:function(password){
        let error = false;
        if (password.length < 8) {
          error = true;
        }

        var pwd=/^(?=.*[a-z])/;
        var pwd1=/^(?=.*[A-Z])/;
        var pwd2=/^(?=.*[0-9])/;

        if (pwd.test(password) == false) {
          error = true;
        }

        if (pwd1.test(password) == false) {
          error = true;
        }
        if (pwd2.test(password) == false) {
          error = true;
        }

        return error;
      },
    },
    created: function() {
      this.init()
    },
    mounted: function() {
    }
  }
</script>
