<template>
  <main id="main" v-if="token">
    <section id="main-container" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <sidebar-user/>

          <div class="col-lg-10 content-profile">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Profil</a>
              </div>
            </div>

            <div class="row detail-profile" v-if="user">
              <div class="col-lg-2 profile-img">
                <img v-if="user.picture" :src="user.picture" alt>
                <img v-else src="/assets/img/blank-profile-picture.png" alt>
              </div>

              <div class="col-lg-7">
                <div class="name-profile">
                  <span>{{ user.fullname }}</span>
                </div>

                <div class="review user-profile-rating">
                  <star-rating :rating="user.totalRating" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                  <span class="total-reviews price b-80"> ( {{ user.totalRating }} )</span>
                </div>

                <button
                  :disabled="user.user.isVerify == 'pending' || user.user.isVerify == 'approve'"
                  type="button"
                  class="btn-change-status"
                  data-toggle="modal"
                  data-target="#changeStatusVerified"
                >
                  <img src="/assets/img/ic_verified.png">
                  {{ user.user.isVerify == null ? 'Become Verified Member' : isVerifyText(user.user.isVerify) }}
                </button>
                <table class="table table-responsive">
                  <tbody class="table-profile">
                    <tr>
                      <td class="first">Jenis Kelamin</td>
                      <td>{{ user.genderText }}</td>
                    </tr>
                    <tr>
                      <td class="first">Alamat</td>
                      <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                      <td class="first">Email</td>
                      <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                      <td class="first">Nomor HP</td>
                      <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                      <td class="first">Password</td>
                      <td>
                        <a href="/change-password">Ubah Password</a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group">
                  <button type="button" class="btn-social-image b-80">
                    <img src="/assets/img/ic_facebook.png"> Synced
                  </button>
                  <button type="button" class="btn-social-image b-80">
                    <img src="/assets/img/ic_google.png">Google
                  </button>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <a href="/profile/update" class="btn-edit-profile pull-right">Edit Profile</a>
                </div>
              </div>
            </div>

            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Penilaian</a>
              </div>
            </div>

            <div class="review-store-to-buyer">

              <div class="review-rating" v-for="(review, index) in pageable.content" :key="index">
                <div class="card">
                  <div class="card-header text-center">{{ review.shipmentInvoice }}</div>
                  <div class="card-body">
                    <div class="row bordered">
                      <div class="col-md-12">
                        <div class="media">
                          <div class="media-left">
                            <img :src="review.storeImage" class="mr-3 image-store rounded">
                          </div>
                          <div class="media-body">
                            <div>{{ review.storeName }}</div>
                            <star-rating :rating="review.rating" v-model="review.rating" :read-only="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>
                            <div :id="`product_rating_user_error_${review.id}_${review.storeId}`" class="error-text"></div>
                            <div class="price-store">
                              <a data-toggle="modal"
                                 data-target="#viewProduct"
                                 @click="getProduct(review.orderShipmentId)"
                                 href="#"
                              > {{ review.shipmentInvoice }} </a>
                            </div>
                            <div v-if="review.dateReview" class="date-created">{{ review.dateReview }}</div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>

              <bee-pagination
                v-if="pagination.pageCount > 0"
                v-model="pagination.currentPage"
                :page-count="pagination.pageCount"
                @change="onChangePagination"
              ></bee-pagination>

            </div>

          </div>
        </div>
      </div>
    </section>
    <modal-verified-member @onSuccessSubmit="successSubmit"></modal-verified-member>

    <!-- Purchase Modal -->
    <div
      class="modal fade"
      id="viewProduct"
      name="viewProduct"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Daftar Produk</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div v-if="purchase" class="form-group">
              <div class="row">
                <div class="col-md-4">Nama Toko</div>
                <div class="col-md-8">{{ purchase.storeName }}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Rating Toko</div>
                <div class="col-md-8">
                  <div class="review">
                    <star-rating :rating="purchase.totalRatingStore" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                    <span class="total-reviews price b-80"> ( {{ purchase.totalRatingStore }} )</span>
                  </div>
                </div>
              </div>
              <div class="row" v-if="purchase.invoiceNumber">
                <div class="col-md-4">Nomor Invoice</div>
                <div class="col-md-8">{{ purchase.invoiceNumber }}</div>
              </div>
              <div class="row" v-if="purchase.statusText">
                <div class="col-md-4">Status</div>
                <div class="col-md-8">
                  <span class="badge badge-primary">{{ purchase.statusText }}</span>
                </div>
              </div>
              <div class="row" v-if="purchase.receipt">
                <div class="col-md-4">Nomor Resi</div>
                <div class="col-md-8">{{ purchase.receipt }}</div>
              </div>
              <div class="row" v-if="purchase.dateText">
                <div class="col-md-4">Tanggal Pembelian</div>
                <div class="col-md-8">{{ purchase.dateText }}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-7">Produk</div>
                <div class="col-md-1">Jumlah</div>
                <div class="col-md-2">Harga</div>
                <div class="col-md-2">Total</div>
              </div>
              <hr>
              <template v-if="purchase.orderItems">
                <template  v-for="(item, index) in purchase.orderItems">
                  <div class="row" :key="index">
                    <div class="col-md-2 media">
                      <img :src="item.productThumb" alt>
                    </div>
                    <div class="col-md-5">{{ item.productName }}</div>
                    <div class="col-md-1">{{ item.productQuantity }}</div>
                    <div class="col-md-2">{{ item.productPriceText }}</div>
                    <div class="col-md-2">{{ item.totalPriceText }}</div>
                  </div>
                  <hr :key="item.id">
                </template>
              </template>
              <div class="row">
                <div class="col-md-10">Total Harga</div>
                <div class="col-md-2">{{ purchase.totalPriceItemText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Ongkos Kirim</div>
                <div class="col-md-2">{{ purchase.shipmentPriceText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Total Pembayaran</div>
                <div class="col-md-2">{{ purchase.totalPriceAllText }}</div>
              </div>
            </div>
            <div v-else class="row mb-2">
              <div class="row">
                <div class="col-md-12">Tidak ada produk</div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              v-if="purchase.statusProcess && purchase.nextStatus != null"
              type="button"
              class="btn btn-primary btn-store"
              data-dismiss="modal"
              @click="updateStatus"
            >{{ purchase.statusProcess }}</button>

            <button type="button" class="btn-store" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarUser from '@/components/commerce/SidebarUser'
import ModalVerifiedMember from '@/components/commerce/ModalVerifiedMember'
import StarRating from 'vue-star-rating'
import BeePagination from '@/components/general/pagination/BeePagination'

export default {
  name: "profile-detail-page",
  components: {
    SidebarUser,
    ModalVerifiedMember,
    StarRating,
    BeePagination,
  },
  data: function() {
    return {
      user: null,
      token: "",
      uid: "",
      pageable: {
        content: [],
        pageable: {},
        totalPages: 0,
        last: true,
        totalElements: 0,
        size: 10,
        number: 0,
        first: true,
        numberOfElements: 0,
        sort: {},
        empty: false
      },
      form: {
        storeId: "",
        userId: ""
      },
      purchase: {},
      pagination: {
        currentPage: 0,
        pageCount: 1,
        currentElements: 0,
        totalElements: 0
      }
    };
  },
  methods: {
    init: function() {
      this.loadingShow();
      this.token = this.$cookie.get("kpid");
      this.uid = this.$cookie.get("uid");
      let userId = this.$cookie.get("uid");
      if (!this.token || !userId) {
        window.location.href = "/";
      }
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http
        .get(api + "/api/user-profile/" + userId + "/user", headers)
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.user = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
          }
        );
    },
    successSubmit() {
      this.user.user.isVerify = "pending";
    },
    isVerifyText (userVerification) {
      if(userVerification == 'approve'){
        return 'Verified';
      }
    },
    getReview: function(pageNumber = 0) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      let url = api + "/api/review/user/"+this.uid+"?page="+pageNumber+"&isReview=true";

      if (pageNumber > 0) {
        if (url.includes("?")) {
          url += "&page=" + pageNumber;
        } else {
          url += "?page=" + pageNumber;
        }
      }
      this.$http.get(url, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            let totalPages = resp.data.totalPages;
            if (totalPages > 0 && pageNumber + 1 > totalPages) {
              window.location.href = this.onChangePagination(
                resp.data.totalPages
              );
            } else {
              this.pageable = resp.data;
              let currentPage = resp.data.pageable.pageNumber + 1;

              this.pagination.pageCount = totalPages;
              this.pagination.currentElements =
                currentPage == totalPages
                  ? resp.data.totalElements
                  : currentPage * resp.data.pageable.pageSize;
              this.pagination.totalElements = resp.data.totalElements;
            }
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
          alert(resp.data.message);
        }
      );
    },
    getProduct(orderShipmentId) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.form.userId = this.uid;
      this.form.storeId = 0;
      this.$http
        .post(
          api + "/api/purchase/" + orderShipmentId + "/order",
          this.form,
          headers
        )
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.purchase = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
            alert(resp.data.message);
          }
        );
    },
    setupPagination() {
      let params = new URL(document.location).searchParams;
      let paramsPage = params.get("page");
      let pageForAPI = 0;
      const patternDigit = /^\d+$/;
      if (
        paramsPage &&
        patternDigit.test(paramsPage) &&
        Number(paramsPage) > 0
      ) {
        pageForAPI = Number(paramsPage) - 1;
        let currentPage = Number(paramsPage);
        this.pagination.currentPage = currentPage;
        this.pagination.pageCount = currentPage;
        this.getReview(pageForAPI);
      } else {
        this.getReview(0);
      }
    },
    onChangePagination(value) {
      let path = window.location.href;
      let pageExp = /page=\d+/;
      let url = '';
      if (path.includes("page=")) {
        path = path.replace(pageExp, "page=" + value);
        url = path;
      } else {
        if(path.includes("?")){
          url = path+'&page='+value;
        }else{
          url = path+'?page='+value;
        }
      }

      window.location.href = url;
    }
  },
  created: function() {
    this.init();
    this.setupPagination();
  }
};
</script>
