<template>
  <main id="main" v-if="token">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <sidebar-user/>

          <div class="col-lg-10 content-profile">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Profil</a>
              </div>
            </div>

            <div class="form-group">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/profile">Profil</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Ubah Profil</li>
              </ol>
            </div>

            <form @submit.prevent="submit" method="post" role="form">
              <div class="form-group row">
                <label for="picture" class="col-sm-2 col-form-label label-cs-text">
                  Foto
                  profil
                </label>
                <div class="col-sm-6" id="storeImage">
                  <img v-if="form.picture.urlPath" :src="form.picture.urlPath">
                  <img v-if="form.picture.url" id="picture" :src="form.picture.url">
                  <label id="#bb">
                    Pilih Foto Profil
                    <input type="file" id="imgInp" @change="onFileProfileChanged">
                  </label>
                </div>
              </div>

              <div class="form-group row">
                <label for="birthPlace" class="col-sm-2 col-form-label label-cs-text">
                  Tempat
                  Lahir
                </label>
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control input-cs"
                    id="birthPlace"
                    placeholder="Tempat Lahir"
                    v-model="form.birthPlace"
                  >
                  <div
                    class="validation text-danger"
                    v-if="errors.birthPlace"
                  >{{ errors.birthPlace }}</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="birthDate" class="col-sm-2 col-form-label label-cs-text">
                  Tanggal
                  Lahir
                </label>
                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control input-cs datepicker"
                    id="birthDate"
                    v-model="form.birthDate"
                  >
                  <div class="validation text-danger" v-if="errors.birthDate">{{ errors.birthDate }}</div>
                </div>
              </div>

              <div class="form-group row">
                <label for class="col-sm-2 col-form-label label-cs-text">Jenis Kelamin</label>
                <div class="col-sm-10">
                  <input type="radio" id="gender_t" v-bind:value="true" v-model="form.gender">
                  <label class="label-radio" for="gender_t">Pria</label>
                  <input type="radio" id="gender_f" v-bind:value="false" v-model="form.gender">
                  <label class="label-radio" for="gender_f">Wanita</label>
                </div>
              </div>

              <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label label-cs-text">Handphone</label>
                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control input-cs"
                    id="phone"
                    placeholder="08xxxxxxxx"
                    v-model="form.phone"
                  >
                  <div class="validation text-danger" v-if="errors.phone">{{ errors.phone }}</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label label-cs-text">Alamat</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control input-cs"
                    id="address"
                    placeholder="Alamat"
                    v-model="form.address"
                  >
                  <div class="validation text-danger" v-if="errors.address">{{ errors.address }}</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label label-cs-text"></label>
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-secondary btn-store-2 btn-block">
                    Update
                    Profil
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarUser from "@/components/commerce/SidebarUser";
import Compressor from 'compressorjs';

export default {
  name: "profile-update-page",
  components: {
    SidebarUser
  },
  data: function() {
    return {
      form: {
        birthPlace: "",
        birthDate: "",
        gender: true,
        phone: "",
        address: "",
        picture: {},
        userId: ""
      },
      errors: {
        birthPlace: "",
        birthDate: "",
        gender: "",
        phone: "",
        address: "",
        picture: ""
      },
      isError: false,
      token: ""
    };
  },
  methods: {
    init: function() {
      this.loadingShow();
      this.token = this.$cookie.get("kpid");
      let userId = this.$cookie.get("uid");
      if (!this.token || !userId) {
        window.location.href = "/";
      }
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http
        .get(api + "/api/user-profile/" + userId + "/user", headers)
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.form.birthPlace = resp.data.birthPlace;
              this.form.birthDate = resp.data.birthDateText;
              this.form.gender = resp.data.gender;
              this.form.address = resp.data.address;
              this.form.phone = resp.data.phone;
              this.form.picture.urlPath = resp.data.picture;
              this.form.address = resp.data.address;
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
          }
        );
    },
    onFileProfileChanged: function(event) {
      let input = event.target;
      let content = {};
      content.fileName = '';
      content.url = '';
      content.fileName = '';

      let contentOut = {};
      contentOut.fileName = '';
      contentOut.url = '';
      contentOut.fileName = '';

      var blobToFile = null;
      if (input.files && input.files[0]) {
        let fileData = input.files[0];
        let reader = new FileReader();
        content.url = URL.createObjectURL(fileData);
        content.fileName = fileData.name;
        reader.onload = (e) => {
          content.file = e.target.result;
        };

        let $this = this;
        new Compressor(fileData, {
          quality: 0.6,
          maxWidth : 700,
          maxHeight : 700,
          minWidth : 500,
          minHeight : 500,
          success(result) {
            blobToFile = new File([result], fileData.name);

            console.log(fileData);
            console.log(result);

            let readerOut = new FileReader();
            contentOut.url = URL.createObjectURL(blobToFile);
            contentOut.fileName = blobToFile.name;
            readerOut.onload = (eOut) => {
              contentOut.file = eOut.target.result;
            };

            readerOut.readAsDataURL(blobToFile);
            $this.form.picture = contentOut;
          },
          error(err) {
            console.log(err.message);
          }
        });
      }
    },
    datepicker: function() {
      this.$nextTick(function() {
        $(".datepicker").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "dd-mm-yy",
          yearRange: "-100:+0",
          onClick: () => {
            this.form.birthDate = "";
          },
          onSelect: val => {
            this.form.birthDate = val;
          }
        });
      });
    },
    submit: function() {
      this.isError = false;
      if (!this.form.birthPlace) {
        this.errors.birthPlace = "Tempat lahir harus diisi";
        this.isError = true;
      }
      if (!this.form.birthDate) {
        this.errors.birthDate = "Tanggal lahir harus diisi";
        this.isError = true;
      }
      if (!this.form.phone) {
        this.errors.phone = "Nomor HP harus diisi";
        this.isError = true;
      }
      if (!this.form.address) {
        this.errors.address = "Alamat harus diisi";
        this.isError = true;
      }
      if (!this.isError) {
        this.loadingShow();
        let accessToken = "Bearer " + this.token;
        let userId = this.$cookie.get("uid");
        let headers = { headers: { Authorization: accessToken } };
        this.form.userId = userId;
        this.$http.post(api + "/api/user-profile", this.form, headers).then(
          function(response) {
            this.loadingHide();
            if (response.status == 200) {
              window.location.href = "/profile";
            }
          },
          function(response) {
            this.loadingHide();
            console.log(response.data);
          }
        );
      }
    }
  },
  created: function() {
    this.init();
    this.datepicker();
  },
  mounted: function() {}
};
</script>
