<template>
  <ul :class="paginationClasses.ul">
    <li
      v-if="paginationLabels.first"
      :class="`${paginationClasses.li} ${hasFirst ? paginationClasses.liDisable : ''}`"
    >
      <a
        href="javascript:void(0)"
        :class="`${paginationClasses.button} ${hasFirst ? paginationClasses.buttonDisable : ''}`"
      >
      <span
        @click="first"
      >
        <!-- :disabled="hasFirst" -->
      <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
      </span>
      </a>
    </li>

    <li
      v-if="paginationLabels.prev"
      :class="`${paginationClasses.li} ${hasFirst ? paginationClasses.liDisable : ''}`"
    >
      <a 
        href="javascript:void(0)"
        :class="`${paginationClasses.button} ${hasFirst ? paginationClasses.buttonDisable : ''}`"
      >
      <span
        @click="prev"
        >
        <!-- :disabled="hasFirst" -->
        <i class="fa fa-chevron-left"></i>
        </span>
      </a>
    </li>

    <li
      v-for="page in items"
      :key="page.label"
      :class="`${paginationClasses.li} ${page.active ? paginationClasses.liActive : ''} ${page.disable ? paginationClasses.liDisable : ''}`"
    >
      <a
        v-if="page.disable"
        :class="`${paginationClasses.button} ${paginationClasses.buttonDisable}`"
      >
        ...
      </a>
      <a
        v-else
        @click="goto(page.label)"
        :class="`${paginationClasses.button} ${page.active ? paginationClasses.buttonActive : ''}`"
      >
        {{ page.label }}
      </a>
    </li>

    <li
      v-if="paginationLabels.next"
      :class="`${paginationClasses.li} ${hasLast ? paginationClasses.liDisable : ''}`"
    >
      <a href="javascript:void(0)"
        :class="`${paginationClasses.button} ${hasLast ? paginationClasses.buttonDisable : ''}`"
      >
        <span
          @click="next"
        >
          <!-- :disabled="hasLast" -->
          <i class="fa fa-chevron-right"></i>
        </span>
      </a>
    </li>

    <li
      v-if="paginationLabels.last"
      :class="`${paginationClasses.li} ${hasLast ? paginationClasses.liDisable : ''}`"
    >
      <a href="javascript:void(0)"
        :class="`${paginationClasses.button} ${hasLast ? paginationClasses.buttonDisable : ''}`"
      >
      <span
        @click="last"
      >
        <!-- :disabled="hasLast" -->
        <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
      </span>
      </a>
    </li>
  </ul>
</template>

<script>
  // vue-plain-pagination
  const defaultClasses = {
    ul: 'pagination',
    li: 'page-item',
    liActive: 'active',
    liDisable: '',
    button: 'page-link',
    buttonActive: '',
    buttonDisable: ''
  }
  const defaultLabels = {
    first: '&laquo;',
    prev: '&lsaquo;',
    next: '&rsaquo;',
    last: '&raquo;'
  }
  export default {
    /**
     * PAGINATION COMPONENTS BY BAGGUS 
     * B (pronounce bii, the same as word bee) IS MY INITIAL NAME
     */
    name: "bee-pagination",  
    props: {
      value: {  // current page
        type: Number,
        required: true
      },
      pageCount: { // page numbers
        type: Number,
        required: true
      },
      classes: {
        type: Object,
        required: false,
        default: () => ({})
      },
      labels: {
        type: Object,
        required: false,
        default: () => ({})
      }
    },
    data() {
      return {
        paginationClasses: {
          ...defaultClasses,
          ...this.classes
        },
        paginationLabels: {
          ...defaultLabels,
          ...this.labels
        }
      }
    },
    mounted() {
      if (this.value > this.pageCount) {
        this.$emit('input', this.pageCount)
      }
    },
    computed: {
      items() {
        let valPrev = this.value > 1 ? (this.value - 1) : 1 // for easier navigation - gives one previous page
        let valNext = this.value < this.pageCount ? (this.value + 1) : this.pageCount // one next page
        let extraPrev = valPrev === 3 ? 2 : null
        let extraNext = valNext === (this.pageCount - 2) ? (this.pageCount - 1) : null
        let dotsBefore = valPrev > 3 ? 2 : null
        let dotsAfter = valNext < (this.pageCount - 2) ? (this.pageCount - 1) : null
        let output = []
        for (let i = 1; i <= this.pageCount; i += 1) {
          if ([1, this.pageCount, this.value, valPrev, valNext, extraPrev, extraNext, dotsBefore, dotsAfter].includes(i)) {
            output.push({
              label: i,
              active: this.value === i,
              disable: [dotsBefore, dotsAfter].includes(i)
            })
          }
        }
        return output
      },
      hasFirst() {
        return (this.value === 1)
      },
      hasLast() {
        return (this.value === this.pageCount)
      },
    },
    watch: {
      value: function () {
        this.$emit('change', this.value)
      }
    },
    methods: {
      first() {
        if (!this.hasFirst) {
          this.$emit('input', 1)
        }
      },
      prev() {
        if (!this.hasFirst) {
          this.$emit('input', (this.value - 1))
        }
      },
      goto(page) {
        this.$emit('input', page)
      },
      next() {
        if (!this.hasLast) {
          this.$emit('input', (this.value + 1))
        }
      },
      last() {
        if (!this.hasLast) {
          this.$emit('input', this.pageCount)
        }
      },
    }
  }
</script>
