<template>
  <div class="forum-pagination">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" :href="pathname" aria-label="Previous">
          <span aria-hidden="true">
            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left"></i>
          </span>
          <span class="sr-only">First</span>
        </a>
      </li>

      <li class="page-item">
        <a
          v-if="currentPage > (number + 1)"
          class="page-link"
          :href="pathname + '?page=' + (currentPage - 1)"
          aria-label="Previous"
        >
          <span aria-hidden="true">
            <i class="fa fa-chevron-left"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a v-else class="page-link" :href="pathname + '?page=' + currentPage" aria-label="Previous">
          <span aria-hidden="true">
            <i class="fa fa-chevron-left"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <template v-for="(n, i) in totalPages">
        <li class="page-item" :key="i">
          <a class="page-link" :href="pathname + '?page=' + n">{{ n }}</a>
        </li>
      </template>

      <li class="page-item">
        <a
          v-if="currentPage < totalPages"
          class="page-link"
          :href="pathname + '?page=' + addInt(currentPage)"
          aria-label="Next"
        >
          <span aria-hidden="true">
            <i class="fa fa-chevron-right"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
        <a v-else class="page-link" :href="pathname + '?page=' + currentPage" aria-label="Next">
          <span aria-hidden="true">
            <i class="fa fa-chevron-right"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </li>

      <li class="page-item">
        <a class="page-link" :href="pathname + '?page=' + totalPages" aria-label="Next">
          <span aria-hidden="true">
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-chevron-right"></i>
          </span>
          <span class="sr-only">Last</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "rus-pagination",
  props: {
    totalPages: {
      type: Number,
      required: true
    },
    totalElements: {
      type: Number,
      required: true
    },
  },
  data() {
    return {
      displayNumber: 10,
      pathname: "",
      currentPage: 1,
      startPage: 1,
      first: true,
      last: false,
      number: 0
    };
  },
  methods: {
    // list of methods
    addInt: function(val) {
      return parseInt(val) + 1;
    }
  },
  created() {
    let uri = window.location.search.substring(1);
    let params = new URLSearchParams(uri);
    if (params.get("page")) {
      this.currentPage = params.get("page");
    }
    this.pathname = window.location.pathname;
    this.startPage = this.totalPages - this.displayNumber;
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
