<template>
  <div v-if="!token" class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto">
    <div class="loading" style="display: none"></div>
    <div class="container">
      <div class="form-group text-center reg-logo">
        <a href="/">
          <img src="/img/logo-dark.png" alt title>
        </a>
      </div>
      <div class="form-group text-center">
        <p class="reg-head">Forgot Password</p>
      </div>

      <div class="form">
        <form @submit.prevent="submit" method="post" role="form" class="contactForm">
          <div class="alert alert-success" v-if="successMsg">{{successMsg}}</div>

          <div class="alert alert-error" v-if="errorMsg">{{errorMsg}}</div>

          <div class="form-group">
            <input
              type="text"
              class="form-control reg-form"
              v-model="form.email"
              placeholder="Email"
              data-rule="minlen:4"
            >
            <div class="validation text-danger" v-if="errors.email">{{ errors.email }}</div>
          </div>

          <div class="text-center">
            <button class="btn btn-secondary btn-register" type="submit">Submit</button>
          </div>
          <div class="text-center">
            <button
              @click="redirectHome"
              class="btn btn-secondary btn-social"
              type="button"
            >Back To Home</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/config/constants'

export default {
  name: "ForgotPassword",
  props: {},
  data: function() {
    return {
      form: {
        email: ""
      },
      errors: {
        email: ""
      },
      isError: false,
      successMsg: "",
      errorMsg: "",
      token: ""
    };
  },
  methods: {
    redirectHome() {
      window.location.href = "/";
    },
    submit: function() {
      this.isError = false;
      if (!this.form.email) {
        this.errors.email = "Email harus diisi";
        this.isError = true;
      }

      if (!this.isError) {
        this.$http
          .get(api + "/api/auth/forgotPassword/" + this.form.email)
          .then(
            function(response) {
              this.successMsg = `Berhasil, 
          Silahkan periksa email anda untuk mereset password.

          Mengalihkan ke halaman home dalam 5 detik,
          atau tekan tombol Back to Home sekarang.`;
              setTimeout(() => {
                window.location.href = "/";
              }, 5000);
            },
            function(response) {
              this.errorMsg = response.data.message;
            }
          );
      }
    },
    init: function() {
      this.token = this.$cookie.get("kpid");
      if (this.token) {
        window.location.href = "/";
      }
    }
  },
  created: function() {
    this.init();
    this.loadingHide();
  }
};
</script>
