<template>
  <div v-if="!token" class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto">
    <div class="loading" style="display: none"></div>
    <div class="container">
      <div class="form-group text-center reg-logo">
        <a href="#">
          <img src="/assets/img/logo-dark.png" alt title>
        </a>
      </div>
      <div class="form-group text-center">
        <p class="reg-head">Login KetokPalu</p>
      </div>
      <div class="form">
        <form @submit.prevent="submit" method="post" role="form" class="contactForm">
          <div
            class="alert"
            v-bind:class="alertClass"
            v-if="errors.loginError"
          >{{ errors.loginError }}</div>

          <div class="form-group">
            <input
              type="text"
              class="form-control reg-form"
              v-model="form.email"
              placeholder="Email"
              data-rule="minlen:4"
            >
            <div class="validation text-danger" v-if="errors.email">{{ errors.email }}</div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <input
                :type="passwordFieldType"
                v-model="form.password"
                placeholder="Password"
                class="form-control reg-form"
                data-toggle="password"
              >
              <div class="input-group-append">
                <span class="input-group-text reg-form" v-on:click="showPassword">
                  <a href="#">
                    <i
                      class="fa"
                      v-bind:class="{'fa-eye-slash': passwordIconShow, 'fa-eye': !passwordIconShow}"
                      aria-hidden="true"
                    ></i>
                  </a>
                </span>
              </div>
            </div>
            <div class="validation text-danger" v-if="errors.password">{{ errors.password }}</div>
          </div>

          <div class="text-center">
            <button class="btn btn-secondary btn-register" type="submit">Login</button>
          </div>

          <div class="form-group">
            <div class="text-center">
              <label class="form-check-label text-register" for="inlineCheckbox1">
                Belum punya akun?
                <a href="/register">Register</a>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/config/constants";

export default {
  name: "Login",
  props: {},
  data: function() {
    return {
      form: {
        email: "",
        password: "",
        remember: false
      },
      errors: {
        email: "",
        password: "",
        loginError: ""
      },
      isError: false,
      passwordFieldType: "password",
      passwordIconShow: true,
      alertClass: "",
      token: ""
    };
  },
  methods: {
    submit: function() {
      this.isError = false;
      if (!this.form.email) {
        this.errors.email = "Email harus diisi";
        this.isError = true;
      }
      if (!this.form.password) {
        this.errors.password = "Password harus diisi";
        this.isError = true;
      }
      this.errors.loginError = "";
      this.alertClass = "";
      if (!this.isError) {
        this.loadingShow();
        this.$http.post(api + "/api/auth/signin", this.form).then(
          function(response) {
            if (response.status == 200) {
              let accessToken = response.data.accessToken;
              let headers = {
                headers: { Authorization: "Bearer " + accessToken }
              };
              this.$cookie.set("kpid", accessToken);

              this.getUserId(headers);
            } else {
              this.loadingHide();
              this.errors.loginError = "Username atau password tidak sesuai";
              this.alertClass = "alert-danger";
            }
          },
          function(response) {
            this.loadingHide();
            this.errors.loginError = "Username atau password tidak sesuai";
            this.alertClass = "alert-danger";
          }
        );
      }
    },
    showPassword: function() {
      this.passwordFieldType =
        this.passwordFieldType == "password" ? "text" : "password";
      this.passwordIconShow =
        this.passwordFieldType == "password" ? true : false;
    },
    getUserId: function(headers) {
      return this.$http.get(api + "/api/user", headers).then(
        function(resp) {
          if (resp.status == 200) {
            this.getStore(headers, resp.data);
            this.$cookie.set("uid", resp.data);
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getStore: function(headers, userId) {
      return this.$http
        .get(api + "/api/store/" + userId + "/user", headers)
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.$cookie.set("sid", resp.data.id);
            }
            window.location.href = "/";
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
          }
        );
    },
    init: function() {
      this.token = this.$cookie.get("kpid");
      if (this.token) {
        window.location.href = "/";
      }
    }
  },
  created: function() {
    this.loadingHide();
    this.init();
  }
};
</script>
