<template>
  <div v-if="!token" class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto">
    <div class="loading" style="display: none"></div>
    <div class="container">
      <div class="form-group text-center reg-logo">
        <a href="#">
          <img src="/assets/img/logo-dark.png" alt title>
        </a>
      </div>
      <div class="form-group text-center">
        <p class="reg-head">Register KetokPalu</p>
      </div>

      <div class="form">
        <form @submit.prevent="submit" method="post" role="form" class="contactForm">
          <div class="alert alert-success" v-if="successMsg">{{successMsg}}</div>

          <div class="form-group">
            <input
              type="text"
              class="form-control reg-form"
              v-model="form.firstname"
              placeholder="Nama depan"
              data-rule="minlen:4"
            >
            <div class="validation text-danger" v-if="errors.firstname">{{ errors.firstname }}</div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control reg-form"
              v-model="form.lastname"
              placeholder="Nama belakang"
              data-rule="minlen:4"
            >
            <div class="validation text-danger" v-if="errors.lastname">{{ errors.lastname }}</div>
          </div>

          <div class="form-group">
            <input
              type="email"
              class="form-control reg-form"
              v-model="form.email"
              placeholder="Email"
              data-rule="minlen:4"
            >
            <div class="validation text-danger" v-if="errors.email">{{ errors.email }}</div>
          </div>

          <div class="form-group">
            <div class="input-group" id="show_hide_password">
              <input
                :type="passwordFieldType"
                v-model="form.password"
                placeholder="Password"
                class="form-control reg-form"
                data-toggle="password"
              >
              <div class="input-group-append">
                <span class="input-group-text reg-form" v-on:click="showPassword">
                  <a href="#">
                    <i
                      class="fa"
                      v-bind:class="{'fa-eye-slash': passwordIconShow, 'fa-eye': !passwordIconShow}"
                      aria-hidden="true"
                    ></i>
                  </a>
                </span>
              </div>
            </div>
            <div class="validation text-danger" v-if="errors.password">{{ errors.password }}</div>
          </div>

          <div class="form-group">
            <div class="input-group" id="show_hide_password">
              <input
                :type="cpasswordFieldType"
                v-model="form.cpassword"
                placeholder="Konfirmasi Password"
                class="form-control reg-form"
                data-toggle="password"
              >
              <div class="input-group-append">
                <span class="input-group-text reg-form" v-on:click="showCPassword">
                  <a href="#">
                    <i
                      class="fa"
                      v-bind:class="{'fa-eye-slash': cpasswordIconShow, 'fa-eye': !cpasswordIconShow}"
                      aria-hidden="true"
                    ></i>
                  </a>
                </span>
              </div>
            </div>
            <div class="validation text-danger" v-if="errors.cpassword">{{ errors.cpassword }}</div>
          </div>

          <div class="form-group">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                v-model="readAndAgree"
              >
              <label class="form-check-label text-register" for="inlineCheckbox1">
                I have read and agreed to
                the
                <a href="#">Privacy Policy</a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" v-model="readAndAgree2">
              <label class="form-check-label text-register" style="text-align:left" for="inlineCheckbox2">Setelah "klik register", silakan periksa e-mail Anda untuk proses aktivasi dan langkah-langkah selanjutnya</label>
            </div>
          </div>

          <div class="text-center">
            <button :disabled="!readAndAgreePolicy(readAndAgree,readAndAgree2)" class="btn btn-secondary btn-register"
                    type="submit">Register</button>
          </div>

        </form>
        <div class="form-group">
          <hr class="hr-text" data-content="or Register with">
        </div>

        <div class="form-group">
          <div class="text-center">
            <button class="btn btn-secondary btn-social" type="button">
              <i class="fa fa-google pull-left"></i>Google
            </button>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <label class="form-check-label text-register" for="inlineCheckbox1">
              Sudah punya akun?
              <a href="/login">Log In</a>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="margin-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueRecaptcha from "vue-recaptcha";
import { api } from "@/config/constants";

export default {
  name: "Register",
  props: {},
  data: function() {
    return {
      form: {
        firstname: "",
        lastname: "",
        email: "",
        phone: "",
        password: "",
        cpassword: "",
        gender: true
      },
      errors: {
        firstname: "",
        lastname: "",
        email: "",
        phone: "",
        password: "",
        cpassword: "",
        gender: "",
        captcha: ""
      },
      isError: false,
      isVerify: false,
      successMsg: "",
      passwordFieldType: "password",
      passwordIconShow: true,
      cpasswordFieldType: "password",
      cpasswordIconShow: true,
      readAndAgree: false,
      readAndAgree2: false,
      token: "",
      patternPassword: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}$/
    };
  },
  methods: {
    submit: function() {
      this.isError = false;
      this.successMsg = "";
      if (!this.form.firstname) {
        this.errors.firstname = "Nama depan harus diisi";
        this.isError = true;
      }
      // if (this.form.firstname && this.form.firstname.length < 6) {
      // 	this.errors.firstname = 'Nama depan minimal 6 karakter';
      // 	this.isError = true;
      // }
      if (!this.form.email) {
        this.errors.email = "Email harus diisi";
        this.isError = true;
      }
      if (!this.form.password) {
        this.errors.password = "Password harus diisi";
        this.isError = true;
      }
      if (
        this.form.password &&
        !this.patternPassword.test(this.form.password)
      ) {
        this.errors.password =
          "Password minimal 8 karakter, dan mengandung minimal 1 huruf kapital, 1 huruf kecil, dan 1 angka";
        this.isError = true;
      }
      if (!this.form.cpassword) {
        this.errors.cpassword = "Password konfirmasi harus diisi";
        this.isError = true;
      }
      if (this.form.password != this.form.cpassword) {
        this.errors.cpassword = "Password konfirmasi tidak sama";
        this.isError = true;
      }
      if (!this.isError) {
        this.loadingShow();
        this.$http.post(api + "/api/auth/signup", this.form).then(
          function(response) {
            // Success
            this.loadingHide();
            this.successMsg = "Register success";
            setTimeout(() => {
              window.location.href = "/";
            }, 3000);
          },
          function(response) {
            // Error
            this.loadingHide();
            alert(response.data.message);
            console.log(response.data);
          }
        );
      }
    },
    verify: function(response) {
      this.isVerify = false;
      if (response) {
        this.isVerify = true;
        console.log("Verify: " + response);
      }
    },
    readAndAgreePolicy: function (readAndAgree,readAndAgree2) {
      if(readAndAgree && readAndAgree2){
        return true;
      }else{
        return false;
      }
    },
    showPassword: function() {
      this.passwordFieldType =
        this.passwordFieldType == "password" ? "text" : "password";
      this.passwordIconShow =
        this.passwordFieldType == "password" ? true : false;
    },
    showCPassword: function() {
      this.cpasswordFieldType =
        this.cpasswordFieldType == "password" ? "text" : "password";
      this.cpasswordIconShow =
        this.cpasswordFieldType == "password" ? true : false;
    },
    init: function() {
      this.token = this.$cookie.get("kpid");
      if (this.token) {
        window.location.href = "/";
      }
    }
  },
  created: function() {
    this.init();
    this.loadingHide();
  }
};
</script>
