<template>
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto">
    <div class="loading" style="display: none"></div>
    <div class="container">
      <div class="form-group text-center reg-logo">
        <a href="/">
          <img src="/img/logo-dark.png" alt title>
        </a>
      </div>
      <div class="form-group text-center">
        <p class="reg-head">Reset Password</p>
      </div>

      <div class="form">
        <form @submit.prevent="submit" method="post" role="form" class="contactForm">
          <div class="alert alert-success" v-if="successMsg">{{successMsg}}</div>

          <div class="alert alert-error" v-if="errorMsg">{{errorMsg}}</div>

          <div class="form-group">
            <div class="input-group">
              <input
                :type="passwordFieldType"
                v-model="form.password"
                placeholder="Password"
                class="form-control reg-form"
                data-toggle="password"
              >
              <div class="input-group-append">
                <span class="input-group-text reg-form" v-on:click="showPassword">
                  <a href="#">
                    <i
                      class="fa"
                      v-bind:class="{'fa-eye-slash': passwordIconShow, 'fa-eye': !passwordIconShow}"
                      aria-hidden="true"
                    ></i>
                  </a>
                </span>
              </div>
            </div>
            <div class="validation text-danger" v-if="errors.password">{{ errors.password }}</div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <input
                :type="cpasswordFieldType"
                v-model="form.cpassword"
                placeholder="Password"
                class="form-control reg-form"
                data-toggle="password"
              >
              <div class="input-group-append">
                <span class="input-group-text reg-form" v-on:click="showCPassword">
                  <a href="#">
                    <i
                      class="fa"
                      v-bind:class="{'fa-eye-slash': cpasswordIconShow, 'fa-eye': !cpasswordIconShow}"
                      aria-hidden="true"
                    ></i>
                  </a>
                </span>
              </div>
            </div>
            <div class="validation text-danger" v-if="errors.cpassword">{{ errors.cpassword }}</div>
          </div>

          <div class="text-center">
            <button class="btn btn-secondary btn-register" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/config/constants'

export default {
  name: "ResetPassword",
  // props: ["email", "token"],
  data: function() {
    return {
      form: {
        password: "",
        cpassword: ""
      },
      errors: {
        password: "",
        cpassword: ""
      },
      isError: false,
      successMsg: "",
      errorMsg: "",
      passwordFieldType: "password",
      passwordIconShow: true,
      cpasswordFieldType: "password",
      cpasswordIconShow: true
    };
  },
  methods: {
    submit: function() {
      this.isError = false;

      if (!this.form.password) {
        this.errors.password = "Password harus diisi";
        this.isError = true;
      }
      if (this.form.password && this.form.password.length < 6) {
        this.errors.password = "Password minimal 6 karakter";
        this.isError = true;
      }
      if (!this.form.cpassword) {
        this.errors.cpassword = "Password konfirmasi harus diisi";
        this.isError = true;
      }
      if (this.form.password != this.form.cpassword) {
        this.errors.cpassword = "Password konfirmasi tidak sama";
        this.isError = true;
      }

      if (!this.isError) {
        let data = {
          email: this.$route.query.email,
          token: this.$route.query.resetToken,
          password: this.form.password
        };

        this.$http.post(api + "/api/auth/resetPassword/", data).then(
          function(response) {
            this.successMsg = "Berhasil, password anda telah diubah";
          },
          function(response) {
            this.errorMsg = response.data.message;
          }
        );
      }
    },
    showPassword: function() {
      this.passwordFieldType =
        this.passwordFieldType == "password" ? "text" : "password";
      this.passwordIconShow =
        this.passwordFieldType == "password" ? true : false;
    },
    showCPassword: function() {
      this.cpasswordFieldType =
        this.cpasswordFieldType == "password" ? "text" : "password";
      this.cpasswordIconShow =
        this.cpasswordFieldType == "password" ? true : false;
    },
    init: function() {}
  },
  created: function() {
    this.init();
    this.loadingHide();
  }
};
</script>
