<template>
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto">
    <div class="loading" style="display: none"></div>
    <div class="container">
      <div class="form-group text-center reg-logo">
        <a href="#">
          <img src="/assets/img/logo-dark.png" alt title>
        </a>
      </div>
      <div class="form-group text-center">
        <p class="reg-head">User Activation</p>
      </div>
      <div>
        <span v-if="responseMessage === ''">Doing Activations</span>
        <span v-if="responseMessage">{{responseMessage}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/config/constants";

export default {
  name: "UserActivation",
  props: {},
  data: function() {
    return {
      responseMessage: ""
    };
  },
  mounted: function() {
    // const urlParams = new URLSearchParams(window.location.search);
    // let token = urlParams.get("activationToken");
    let token = this.$route.query.activationToken;
    this.$http.get(api + "/api/auth/activation/" + token).then(
      function(resp) {
        this.loadingHide();
        this.responseMessage =
          "Aktivasi berhasil, silahkan login untuk melanjutkan";
      },
      function(resp) {
        this.loadingHide();
        this.responseMessage = resp.body.message;
      }
    );
  },
  methods: {}
};
</script>
