<template>
  <section id="" class="wow fadeInUp">
    <div class="container">
      <h4 class="header-text-message text-center">Pesan Masuk</h4>
      <!--<div class="row detail-page">-->

        <div class="messaging">

          <div class="heading_store">
            <!--<div class="recent_heading">-->
              <span class="pull-left" @click="backButton">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </span>

              <span class="text-center">{{ messageDetails.name }}</span>
            <!--</div>-->
          </div>

          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Recent</h4>
                </div>
                <!--<div class="srch_bar">-->
                  <!--<div class="stylish-input-group">-->
                    <!--<input type="text" class="search-bar"  placeholder="Cari" >-->
                    <!--<span class="input-group-addon">-->
                      <!--<button type="button">-->
                        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                      <!--</button>-->
                    <!--</span>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
              <div class="inbox_chat">

                <div v-if="!pageable.content.length">
                    <div class="jumbotron text-center">
                      <p>Oops..! Belum ada pesan nih</p>
                      <p>Silahkan memulai pesan awal dari detail produk. Thank You!!</p>
                    </div>
                </div>

                <div v-for="(message,index) in pageable.content"
                     :class="{ 'chat_list active_chat' : activeIndex === index, 'chat_list' : activeIndex !== index  }"
                     :key="index" @click="setActive(message, index)"
                >
                  <div class="chat_people">
                    <div v-if="message.image != ''" class="chat_img">
                      <img :src="message.image" alt="">
                    </div>
                    <div v-else class="chat_img">
                      <img src="/assets/img/store.png">
                    </div>
                    <div class="chat_ib">
                      <h5>{{ message.name }}
                        <span class="chat_date">{{ message.lastDate }}</span>
                      </h5>
                      <p> <span style="font-weight: 400;color:black"> {{ message.itsFromMe ? 'anda : ' : '' }} </span> {{ message.lastMessage | cut(30) }}
                        <!--<i v-if="message.status == 'UNREAD'" class="fa fa-bell pull-right unread-message" aria-hidden="true"></i>-->
                      </p>
                    </div>
                  </div>
                </div>

                <bee-pagination class="message-pagination"
                  v-if="pagination.pageCount > 1"
                  v-model="pagination.currentPage"
                  :page-count="pagination.pageCount"
                  @change="onChangePagination"
                ></bee-pagination>

              </div>

            </div>

            <div class="mesgs">

              <nav v-if="messageDetails.messageList" class="text-center sticky-header">
                <div class="store-name-header">
                  <span class="store-name-sticky">{{ messageDetails.name }}</span>
                </div>
              </nav>

              <div class="msg_history">

                <div v-if="!messageDetails.messageList" class="empty-message text-center">
                  <div class="">
                    <i :class="emptyMessageDetailIcon" style="font-size: 12vw;color: #c6c6c6;" aria-hidden="true"></i>
                  </div>
                  <div style="font-size:18px">{{ emptyMessageDetail }}</div>
                </div>

                <div class="messaging-container">
                  <div v-if="messageDetails.messageList">

                    <div v-if="messageDetails.loadMore" class="load-more-message text-center">
                        <p class="text-center load-more-button text-center" @click="getMessageDetailWithLimit(messageDetails.parentChatId)">Muat lainnya <i class="fa fa-refresh" aria-hidden="true"></i></p>
                    </div>

                    <div id="message-container" v-for="(data,index) in messageDetails.messageList" :key="index">

                      <div v-if="data.type == 'receiver'" class="incoming_msg">

                        <div v-if="messageDetails.image != ''" class="incoming_msg_img">
                          <img :src="messageDetails.image" alt="">
                        </div>
                        <div v-else class="incoming_msg_img">
                          <img src="/assets/img/store.png">
                        </div>

                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <div class="message-image" v-if="data.messageImage">
                              <img :src="data.messageImage" alt="data.profileName">
                            </div>
                            <p v-if="data.message">{{ data.message }}</p>
                            <span class="time_date_receiver">{{ data.date }}</span></div>
                        </div>
                      </div>

                      <div v-else class="outgoing_msg">
                        <div class="sent_msg">
                          <div class="message-image" v-if="data.messageImage">
                            <img :src="data.messageImage" :alt="data.profileName">
                          </div>
                          <p v-if="data.message">{{ data.message }}</p>
                          <span class="time_date_sender"> {{ data.date }} </span> </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div class="type_msg" v-if="messageDetails.messageList">
                <div class="input_msg_write">
                  <!--<input type="text" v-model="postMessage.message" class="write_msg" placeholder="Type a message" />-->
                  <!--<textarea class="write_msg" v-model="postMessage.message" cols="100%" rows="3"></textarea>-->
                  <div class="form-group">
                    <textarea class="form-control write_msg" v-model="postMessage.message" rows="2"></textarea>
                  </div>
                  <!--<input type="text" v-model="postMessage.message" class="write_msg" placeholder="Type a message" />-->
                  <div class="upload_image" v-if="enableUploader">
                    <button class="msg_upload" data-toggle="modal" data-placement="top" title="Attachment" data-target="#myModal" type="button" @click="resetFormMessage">
                      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                      <!--<input type="file" id="myFile" name="filename">-->
                    </button>

                  </div>
                  <button class="msg_send_btn" type="button" data-placement="top" title="Send" @click="addMessage">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      <!--</div>-->
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload Image</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <!--<input type="file" id="myfile" name="myfile" @change="readURL">-->
            <!--<div id="preview">-->
              <!--<img v-if="postMessage.messageImage" :src="postMessage.messageImage" />-->
            <!--</div>-->

            <!--<textarea class="write_msg" v-model="postMessage.message" cols="50%" rows="3"></textarea>-->
            <div class="form-group">
              <span>Upload gambar</span>
              <div class="upload-image-area">
                <input type="file" accept="image/*" class="input-message-image" id="myfile" name="myfile" @change="readURL">
                  <p class="input-message">Drag your files here or click in this area.</p>
                <div id="preview">
                  <img v-if="postMessage.messageImage" :src="postMessage.messageImage" />
                </div>
              </div>
            </div>

            <span>Pesan</span>
            <div class="form-group">
              <textarea class="form-control" v-model="postMessage.message" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" @click="resetFormMessage" class="close-button" data-toggle="tooltip" data-placement="top" title="Close" data-dismiss="modal">
              <i class="fa fa-window-close-o" aria-hidden="true"></i>
            </button>
            <button  type="button" class="send-button" data-toggle="tooltip" data-placement="top" title="Send" @click="addMessage">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
    </div>

  </section>
</template>
<script>
  import moment from "moment-timezone";
  import { api } from "@/config/constants";
  import BeePagination from '@/components/general/pagination/BeePagination'
  moment.tz.setDefault('Asia/Jakarta');
  moment.tz(moment(), 'Asia/Jakarta').format('DD/MM/YYYY HH:mm');

  export default {
    components: {
      BeePagination
    },
    name: "message-list",
    data: function() {
      return {
        emptyMessageDetail: "Silahkan klik pesan untuk memulai",
        emptyMessageDetailIcon: "fa fa-comments-o",
        uid: "",
        sid: "",
        token: "",
        activeIndex : null,
        storeName : "",
        postMessage : {
          message : "",
          type : "sender",
          messageImage : "",
          messageImageBase64 : "",
          messageFrom : "local"
        },
        countLoad : 10,
        enableUploader : false,
        pageable: {
          content: [],
          pageable: {},
          totalPages: 0,
          last: true,
          totalElements: 0,
          size: 10,
          number: 0,
          first: true,
          numberOfElements: 0,
          sort: {},
          empty: false
        },
        pagination: {
          currentPage: 0,
          pageCount: 1,
          currentElements: 0,
          totalElements: 0
        },
        messageStoreList: [
        ],
        dataMessage:[],
        messageDetails : {}
      };
    },
    mounted(){
      this.init();
      // this.scrollBottom();
      // this.getListMessage();
    },
    methods:{
      init: function() {
        this.token = this.$cookie.get("kpid");
        if (!this.token) {
          window.location.href = "/";
        }
        this.sid = this.$cookie.get("sid");
        this.uid = this.$cookie.get("uid");
      },
      addMessage : function(){
        let dateFormat = moment().format('MM-DD-YYYY HH:mm:ss');
        let messageDetail = this.messageDetails;
        let data = {
          message : this.postMessage.message,
          type : this.postMessage.type,
          messageImage : this.postMessage.messageImage,
          date : dateFormat,
          messageImageBase64 : this.postMessage.messageImageBase64,
          messageFrom : this.uid,
          messageTo:messageDetail.opponentUserId,
          messageParentId : messageDetail.parentChatId
        };
        console.log(data);
        console.log(messageDetail);

        if(this.postMessage.message.length || this.postMessage.messageImage){
          this.messageDetails.messageList.push(data);
          this.resetMessageForm();

          this.scrollBottom();
        }

        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };

        console.log(this.postMessage.message);

        let payload = {
          messageFrom : data.messageFrom,
          messageTo : data.messageTo,
          message : data.message,
          messageImage : data.messageImageBase64,
          messageParentId : data.messageParentId
        };

        console.log(payload);

        if(data.message != ""){
          this.$http.post(api + "/api/chat/detail", payload, headers).then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.getMessageDetail(data.messageParentId);
              }
            },
            function(resp) {
              console.error(resp);
              this.loadingHide();
              alert(resp.data.message);
            }
          );

          let valObj = this.pageable.content.filter(function(elem){
            if(elem.parentChatId == data.messageParentId)
              return elem;
          });

          valObj[0].itsFromMe = true;
          valObj[0].lastMessage = data.message;
          valObj[0].lastDate = dateFormat;

        }else{
          alert("harap masukkan pesan");
        }

        $('#myModal').modal('hide');
      },
      setActive:function(message, index){
        console.log(message);
        this.activeIndex = index;
        message.status = "read";

        this.getMessageDetail(message.parentChatId);

        // this.dataMessage = this.messageDetails;
        console.log(this.dataMessage);
        this.storeName = this.dataMessage.profileName;
        this.scrollBottom();

        if(this.$isMobile()){
          $('.mesgs').css({'display': 'block'});
          $('.inbox_people').css({'display': 'none'});
          $('.heading_store').css({'display': 'block'})
        }
      },
      resetMessageForm : function(){
        this.postMessage.message = "";
        this.postMessage.type = "sender";
        this.postMessage.messageImage = "";
        this.postMessage.messageBase64 = "";
      },
      scrollBottom : function(){
        $('.msg_history').animate({
          scrollTop: $('.msg_history').offset().top - -10000
        }, 500);
      },
      readURL : function(e){
        this.postMessage.messageImage = "";
        const file = e.target.files[0];
        console.log(file);
        this.postMessage.messageImage = URL.createObjectURL(file);
        console.log(this.postMessage.messageImage);

        let reader = new FileReader();
        reader.readAsDataURL(file);

        let base64Image = null;msg_upload
        reader.onload = function () {
          base64Image = reader.result;
        };
        this.postMessage.messageImageBase64 = base64Image;

      },
      resetFormMessage : function(){
        this.postMessage.messageImage = "";
        this.postMessage.messageImageBase64 = "";
        this.postMessage.message = "";
      },
      backButton : function(){
        $('.mesgs').css({'display': 'none'});
        $('.heading_store').css({'display': 'none'});
        $('.inbox_people').css({'display': 'block'});
      },
      // getListMessage: function() {
      //   let accessToken = 'Bearer ' + this.token;
      //   let headers = {headers:{'Authorization': accessToken}};
      //   // let payload = [];
      //
      //   let url = api + '/api/chat/list/'+this.uid;
      //   this.$http.get(url, headers).then(function (resp) {
      //     if (resp.status == 200) {
      //       this.messageDetails = resp.data
      //     }
      //   }, function(resp) {
      //     console.log(resp.data)
      //   });
      // },
      getMessageDetail: function(messageParentId) {
        let accessToken = 'Bearer ' + this.token;
        let headers = {headers:{'Authorization': accessToken}};

        let url = api + '/api/chat/list-detail/'+messageParentId+'/'+this.uid+"?limit=10";
        this.$http.get(url, headers).then(function (resp) {
          if (resp.status == 200) {
            console.log(resp.data);
            this.messageDetails = resp.data
          }
        }, function(resp) {
          this.emptyMessageDetail = "Tidak dapat membuka detail pesan";
          this.emptyMessageDetailIcon = "fa fa-wifi";
          console.log(resp.data)
        });
      },
      getMessageDetailWithLimit: function(messageParentId) {
        this.resetMessageForm();
        console.log(this.product);
        let accessToken = 'Bearer ' + this.token;
        let headers = {headers:{'Authorization': accessToken}};

        this.countLoad = this.countLoad + 10;
        let limit = this.countLoad;

        let url = api + '/api/chat/list-detail/'+messageParentId+'/'+this.uid+"?limit="+limit;
        this.$http.get(url, headers).then(function (resp) {
          if (resp.status == 200) {
            console.log(resp.data);
            this.messageDetails = resp.data
          }
        }, function(resp) {
          console.log(resp.data)
        });
      },
      getListMessage: function(pageNumber = 0) {
        this.loadingShow();
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        let url = api + '/api/chat/list/' + this.uid+"?page="+pageNumber;
        if (pageNumber > 0) {
          if (url.includes('?')) {
            url += '&page=' + pageNumber
          } else {
            url += '?page=' + pageNumber
          }
        }
        this.$http.get(url,headers).then(function (resp) {
          this.loadingHide();
          if (resp.status == 200) {
            let totalPages = resp.data.totalPages;
            if (totalPages > 0 && pageNumber + 1 > totalPages) {
              window.location.href = this.onChangePagination(resp.data.totalPages)
            } else {
              this.pageable = resp.data;
              let currentPage = resp.data.pageable.pageNumber + 1;

              this.pagination.pageCount = totalPages;
              this.pagination.currentElements = currentPage == totalPages ? resp.data.totalElements : currentPage * resp.data.pageable.pageSize;
              this.pagination.totalElements =  resp.data.totalElements;
            }
          }
        }, function (resp) {
          this.loadingHide();
          console.log(resp.data)
        });
      },
      setupPagination() {
        let params = (new URL(document.location)).searchParams;
        let paramsPage = params.get('page');
        let pageForAPI = 0;
        const patternDigit = /^\d+$/;
        if (paramsPage && patternDigit.test(paramsPage) && Number(paramsPage) > 0) {
          pageForAPI = Number(paramsPage) - 1;
          let currentPage = Number(paramsPage);
          this.pagination.currentPage = currentPage;
          this.pagination.pageCount = currentPage;
          this.getListMessage(pageForAPI);
        } else {
          this.getListMessage(0);
        }
      },
      onChangePagination(value) {
        let path = window.location.href;
        let pageExp = /page=\d+/;
        let url = '';
        if (path.includes("page=")) {
          path = path.replace(pageExp, "page=" + value);
          url = path;
        } else {
          if(path.includes("?")){
            url = path+'&page='+value;
          }else{
            url = path+'?page='+value;
          }
        }

        window.location.href = url;
      }
    },
    created(){
      if(this.messageStoreList.length > 0 && this.messageDetails.messageList.length > 0){
        this.dataMessage = this.messageDetails;
      }
      this.token = this.$cookie.get("kpid");
      this.uid = this.$cookie.get("uid");
      this.sid = this.$cookie.get("sid");
      this.setupPagination();

    }
  }


</script>
<style scoped>
  .container{max-width:1170px; margin:auto;}
  img{ max-width:100%;}
  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
  }
  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }

  .top_spac{ margin: 20px 0 0;}

  .recent_heading {float: left; width:40%;}
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%; padding:2px;
  }
  .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

  .heading_store{
    display:none;
    padding:0px 29px 0px 20px;
    overflow:hidden;
    border:1px solid #c4c4c4;
    text-align: center;
    font-size:20px;
    background-color:#f8f8f8;
  }

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }
  .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

  .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
  .chat_ib h5 span{ font-size:13px; float:right;}
  .chat_ib p{ font-size:14px; color:#989898; margin:auto}
  .chat_img {
    float: left;
    width: 11%;
    height: 20px;
  }
  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people{ overflow:hidden; clear:both;}
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  .inbox_chat { height: 570px; overflow-y: scroll;}

  .active_chat{ background:#ebebeb;}

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    /*padding: 5px 10px 5px 12px;*/
    padding: 5px 20px 5px 12px;
    width: 100%;
    display: table-cell;
  }
  .time_date_receiver {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .time_date_sender {
    clear:both;
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    float: right;
  }
  .received_withd_msg { width: 60%;}
  .mesgs {
    float: left;
    width: 60%;
  }

  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    /*width:100%;*/
    display: table-cell;
    float: right;
  }
  .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
  .sent_msg {
    float: right;
    width: 60%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {border-top: 1px solid #c4c4c4;position: relative;margin-right: 10px;}
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  .msg_upload {
    background: #6c757d none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 40px;
    top: 11px;
    width: 33px;
  }
  .messaging { padding: 0 0 0 0;}
  .msg_history {
    height: 516px;
    overflow-y: auto;
    padding: 10px 15px 0 25px;
  }

  #myFile{
    position: absolute;
    top:4px;
    right: 4px;
    z-index: 999;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
  }

  .header-text-message{
    margin-top:15px;
  }

  .message-image{
    padding-top:3px;
    padding-bottom:3px;
  }

  textarea {
    resize: none;
  }

  #preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    position: relative;
    max-width: 250px;
    max-height: 250px;
  }

  .upload-image-area {
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -10px;*/
    /*margin-left: -150px;*/
    /*margin-right: 10px;*/
    /*width: 400px;*/
    /*height: 200px;*/
    border: 4px dashed #6c757d;
  }

  .input-message{
    width: 100%;
    height: 100%;
    text-align: center;
    /*line-height: 170px;*/
    padding-top:20px;
    color: black;
    font-family: Arial;
  }

  .input-message-image{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }

  .send-button{
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 11px;*/
    width: 33px;
  }
  .close-button{
    background: #dc3545 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    left: 20px;
    /*top: 11px;*/
    width: 33px;
  }

  .unread-message{
    font-size:16px;
    color:black;
  }

  .incoming_msg {
    margin-bottom: 15px;
  }

  nav.navbar.navbar-fixed-top {
    background: #f8f8f8;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

  nav.text-center.sticky-header {
    position: sticky;
    top: 0;
    background: #f8f8f8;
    border-bottom: 1px solid #c4c4c4;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

  .store-name-header {
    margin: 0px;
    padding: 7px;
  }

  .loading-chat.text-center img {
    width: 100px;
  }

  span.store-name-sticky {
    font-size: 20px;
  }

  p.text-center.load-more-button {
    background: #ebebeb;
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }

  a.page-link {
    background-color: #f8f8f8 !important;
  }

  .empty-message.text-center {
    color: #c6c6c6;
    margin: 152px;
  }

  @media (min-width: 320px) and (max-width: 480px) {

    .empty-message.text-center {
      color: #c6c6c6;
      margin: 78px;
    }

    .mesgs {
      display:none;
      float: left;
      /*padding: 30px 15px 0 25px;*/
      width: 100%;
    }

    .msg_history {
      height: 516px;
      overflow-y: auto;
      padding: 10px 15px 0 25px;
    }

    .sent_msg {
      float: right;
      width: 70%;
    }

    .received_withd_msg
    {
      width: 70%;
    }

    .inbox_people{
      width:100%;
    }
    
    .text-center.sticky-header{
      display: none;
    }
  }
</style>
