<template>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <sidebar-user/>

            <div class="col-lg-10 content-profile">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group-header">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active page-header">Ulasan</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-content" id="myTabContent">
                <!-- tab-purchased -->
                <div
                  class="tab-pane fade show active mb-30"
                  id="purchase"
                  role="tabpanel"
                  aria-labelledby="purchase-tab"
                >
                  <ul class="nav nav-tabs" id="list-transaction-tab" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        :class="{active : waitForReview}"
                        id="payment-tab"
                        :href="`rating-review?isReview=false&userId=${uid}`"
                        role="tab"
                        aria-controls="payment"
                        :aria-selected="waitForReview ? 'true' : 'false'"
                      >Menunggu Diulas</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        :class="{active : myReview}"
                        id="on-progress-tab"
                        :href="`rating-review?isReview=true&userId=${uid}`"
                        role="tab"
                        aria-controls="on-progress"
                        :aria-selected="myReview ? 'true' : 'false'"
                      >Ulasan Saya</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        :class="{active : buyerReview}"
                        id="on-delivery-tab"
                        :href="`rating-review?storeId=${sid}`"
                        role="tab"
                        aria-controls="on-delivery"
                        :aria-selected="buyerReview ? 'true' : 'false'"
                      >Ulasan Pembeli</a>
                    </li>

                    <li class="nav-item">
                      <a
                        class="nav-link"
                        :class="{active : reviewUser}"
                        id="review-user"
                        :href="`rating-review?review-buyer=true&store-id=${sid}`"
                        role="tab"
                        aria-controls="on-delivery"
                        :aria-selected="reviewUser ? 'true' : 'false'"
                      >Penilaian Pembeli</a>
                    </li>

                  </ul>
                </div>

                <rating-review-list></rating-review-list>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</template>

<script>
import SidebarUser from '@/components/commerce/SidebarUser'
import RatingReviewList from './RatingReviewList.vue'

export default {
  name: "rating-review",
  props: [],
  components: {
    SidebarUser,
    RatingReviewList
  },
  data() {
    return {
      all: false,
      waitForReview: false,
      myReview: false,
      buyerReview: false,
      reviewUser: false,
      uid: "",
      token: "",
      sid: "",
    };
  },
  methods: {
    init: function() {
      this.token = this.$cookie.get("kpid");
      if (!this.token) {
        window.location.href = "/";
      }
      this.sid = this.$cookie.get("sid");
      this.uid = this.$cookie.get("uid");
    },
    setActive: function() {
      let params = new URL(document.location).searchParams;
      let isReview = params.get("isReview");
      let userId = params.get("userId");
      let storeId = params.get("storeId");
      let reviewBuyer = params.get("review-buyer");
      let store = params.get("store-id");
      console.log(reviewBuyer);
      console.log(store);

      if(!userId && !isReview && !storeId && !reviewBuyer && !store){
        this.waitForReview = true;
      }

      else if(userId != null && isReview == 'false'){
        this.waitForReview = true;
      }

      else if(userId != null && isReview == 'true'){
        this.myReview = true;
      }

      else if(!userId && !isReview && storeId != null){
        this.buyerReview = true;
      }

      else if(!userId && !isReview && !storeId && reviewBuyer == 'true' && store != null){
        this.reviewUser = true;
      }
    },
    toTrxIndex() {
      window.location.href = "/rating";
    }
  },
  created() {
    this.init();
    this.setActive();
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
