<template>
  <div>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <sidebar-user/>

            <div class="col-lg-10 content-profile">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group-header">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active page-header">Ulasan</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-content" id="">
                <div class="row" >

                  <div id="myTabContent" class="tab-content tab-content col-md-12">
                    <div id="purchase" role="tabpanel" aria-labelledby="purchase-tab" class="tab-pane fade show active mb-30">
                      <ul id="list-transaction-tab" role="tablist" class="nav nav-tabs">
                        <li class="nav-item"><a id="tab-waiting-for-review" href="#wait-for-review" role="tab" aria-controls="all-transaction-pr" aria-selected="false" class="nav-link active">Menunggu Diulas</a></li>
                        <li class="nav-item"><a id="tab-my-review" href="#my-review" role="tab" aria-controls="payment" aria-selected="true" class="nav-link">Ulasan Saya</a></li>
                        <li class="nav-item"><a id="tab-purcase-review" href="#purcase-review" role="tab" aria-controls="on-progress" aria-selected="false" class="nav-link">Ulasan Pembeli</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="form-group">
                        <div id="myTabContent-purchase" class="tab-content">

                          <!--<div id="wait-for-review" role="tabpanel" aria-labelledby="all-transaction-tab" class="tab-pane fade show active">-->


                            <!--<div class="review-rating" v-for="(review,index) in reviews" :key="index">-->
                              <!--<div class="row bordered">-->
                                <!--<div class="col-md-5">-->
                                  <!--<div class="column-review-store-name bordered">-->
                                    <!--Toko-->
                                  <!--</div>-->
                                  <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                      <!--<img :src="review.storeImage" class="mr-3 image-store rounded">-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                      <!--<div>{{ review.storeName }}</div>-->
                                      <!--<star-rating :rating="review.storeRating" :read-only="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>-->
                                      <!--<br>-->
                                      <!--<div>Pengulas :</div>-->
                                      <!--<div>{{ review.reviewBy }}</div>-->
                                      <!--<div class="price-store">{{ review.invoiceNumber }}</div>-->
                                      <!--<div class="date-created">{{ review.dateReview }}</div>-->
                                    <!--</div>-->
                                  <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-7">-->
                                  <!--<div class="column-review-store-product bordered">-->
                                    <!--Daftar Barang-->
                                  <!--</div>-->
                                  <!--<div class="media" v-for="(product, index) in review.products" :key="index">-->
                                    <!--<div class="media-left">-->
                                      <!--<img :src="product.productImage" class="mr-3 image-store rounded">-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                      <!--<div>{{ product.productName }}</div>-->
                                      <!--<star-rating :rating="product.productRating" :read-only="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>-->
                                      <!--<p>{{ product.productUserReview }}</p>-->
                                    <!--</div>-->
                                  <!--</div>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!--<hr>-->
                            <!--</div>-->

                            <!--<ul class="pagination">-->
                              <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></span></a></li>-->
                              <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i></span></a></li>-->
                              <!--<li class="page-item  "><a class="page-link "> 1 </a></li>-->
                              <!--<li class="page-item  "><a class="page-link "> 2 </a></li>-->
                              <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i></span></a></li>-->
                              <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span></a></li>-->
                            <!--</ul>-->
                          <!--</div>-->


                          <div id="my-review" role="tabpanel" aria-labelledby="all-transaction-tab" class="tab-pane fade show active">

                            <div class="review-rating" v-for="(review,index) in reviews" :key="index">
                              <div class="row bordered">
                                <div class="col-md-5">
                                  <div class="column-review-store-name bordered">
                                    Toko
                                  </div>
                                  <div class="media">
                                    <div class="media-left">
                                      <img :src="review.storeImage" class="mr-3 image-store rounded">
                                    </div>
                                    <div class="media-body">
                                      <div>{{ review.storeName }}</div>
                                      <star-rating :rating="review.storeRating" :read-only="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>
                                      <br>
                                      <div>Pengulas :</div>
                                      <div>{{ review.reviewBy }}</div>
                                      <div class="price-store">{{ review.invoiceNumber }}</div>
                                      <div class="date-created">{{ review.dateReview }}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-7">
                                  <div class="column-review-store-product bordered">
                                    Daftar Barang
                                  </div>
                                  <div class="media" v-for="(product, index) in review.products" :key="index">
                                    <div class="media-left">
                                      <img :src="product.productImage" class="mr-3 image-store rounded">
                                    </div>
                                    <div class="media-body">
                                      <div>{{ product.productName }}</div>
                                      <star-rating :rating="product.productRating" :read-only="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>
                                      <p>{{ product.productUserReview }}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr>
                            </div>

                            <ul class="pagination">
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></span></a></li>
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i></span></a></li>
                              <li class="page-item  "><a class="page-link "> 1 </a></li>
                              <li class="page-item  "><a class="page-link "> 2 </a></li>
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i></span></a></li>
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span></a></li>
                            </ul>
                          </div>


                          <div id="review-buyer" role="tabpanel" aria-labelledby="all-transaction-tab" class="tab-pane fade show active">

                            <div class="user-feedback" v-for="(feed,index) in feedback" :key="index">
                              <div class="row bordered">
                                <div class="col-md-5">
                                  <div class="column-review-store-name bordered">
                                    Toko
                                  </div>
                                  <div class="media">
                                    <div class="media-left">
                                      <img :src="feed.storeImage" class="mr-3 image-store rounded">
                                    </div>
                                    <div class="media-body">
                                      <div>{{ feed.storeName }}</div>
                                      <star-rating :rating="feed.storeRating" v-model="feed.storeRating" :read-only="false" :show-rating="false" :increment="1" :star-size="30"></star-rating>
                                      <div class="price-store">{{ feed.invoiceNumber }}</div>
                                      <div class="date-created">{{ feed.dateReview }}</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-7">
                                  <div class="column-review-store-product bordered">
                                    Daftar Barang
                                  </div>
                                  <div class="media" v-for="(product,index) in feed.products" :key="index">
                                    <div class="media-left">
                                      <img :src="product.productImage" class="mr-3 image-store rounded">
                                    </div>
                                    <div class="media-body">
                                      <div>{{ product.productName }}</div>
                                      <star-rating :rating="product.productRating" v-model="product.productRating" :read-only="false" :show-rating="false" :increment="1" :star-size="30"></star-rating>

                                      <div class="form-group form-check checkbox-as-anonymous">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Jangan tampilkan nama saya</label>
                                      </div>

                                      <div class="form-group">
                                        <div class="feedback-product">Ulasan</div>
                                        <textarea v-model="product.productUserReview" class="form-control" rows="2"></textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-primary pull-right" @click="sendData(feed)">Kirim</button>
                                </div>
                              </div>

                              <hr>
                            </div>

                            <hr>

                            <ul class="pagination">
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></span></a></li>
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i></span></a></li>
                              <li class="page-item  "><a class="page-link "> 1 </a></li>
                              <li class="page-item  "><a class="page-link "> 2 </a></li>
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i></span></a></li>
                              <li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span></a></li>
                            </ul>
                          </div>

                        </div>


                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
  import { api } from "@/config/constants";
  import SidebarUser from '@/components/commerce/SidebarUser'
  import StarRating from 'vue-star-rating'

  export default {
    name: "Rating",
    components: {
      SidebarUser,
      StarRating,
    },
    props: [],
    data() {
      return {
        reviews : [
          {
            storeImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
            storeName : 'sefriandsz Store',
            invoiceNumber : '( KPL-NA-20201025-TPP-744-2 )',
            reviewBy : 'Sefriandsz Anang',
            dateReview : '25-10-2020 01:17:24',
            storeRating : 4,
            products : [
              {
                productName : 'Stiker Smile',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
                productRating : 3,
                productUserReview : 'Barang Bagus banget',
              },
              {
                productName : 'Kunai',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/sefriandszstore/2020/10/19/1603102670055-308f26cb-cafc-4cf4-91ca-3054d7c33878.jpg',
                productRating : 4,
                productUserReview : 'Pengiriman bagus, barang bagus recomended',
              },
            ]
          },

          {
            storeImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
            storeName : 'sefriandsz Store',
            invoiceNumber : '( KPL-NA-20201025-TPP-744-2 )',
            reviewBy : 'Sefriandsz Anang',
            dateReview : '25-10-2020 01:17:24',
            storeRating : 4,
            products : [
              {
                productName : 'Stiker Smile',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
                productRating : 1,
                productUserReview : 'Barang Bagus banget',
              },
              {
                productName : 'Kunai',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/sefriandszstore/2020/10/19/1603102670055-308f26cb-cafc-4cf4-91ca-3054d7c33878.jpg',
                productRating : 2,
                productUserReview : 'Pengiriman bagus, barang bagus recomended',
              },
            ]
          }
        ],
        feedback:[
          {
            orderId:1,
            storeImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
            storeName : 'sefriandsz Store',
            invoiceNumber : '( KPL-NA-20201025-TPP-744-2 )',
            reviewBy : 'Sefriandsz Anang',
            dateReview : null,
            storeRating : 0,
            products : [
              {
                productId:2,
                productRating : 0,
                productName : 'Stiker Smile',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
                productUserReview : '',
              },
              {
                productId:3,
                productRating : 0,
                productName : 'Kunai',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/sefriandszstore/2020/10/19/1603102670055-308f26cb-cafc-4cf4-91ca-3054d7c33878.jpg',
                productUserReview : '',
              },
            ]
          },

          {
            orderId:4,
            storeImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
            storeName : 'sefriandsz Store',
            invoiceNumber : '( KPL-NA-20201025-TPP-744-2 )',
            reviewBy : 'Sefriandsz Anang',
            dateReview : null,
            storeRating : 0,
            products : [
              {
                productId:5,
                productRating : 0,
                productName : 'Stiker Smile',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/strevecloudstore/2020/2/3/1580714744702-32d8ef0d-5c69-4081-a362-c565a2779ee5.png',
                productUserReview : '',
              },
              {
                productId:6,
                productRating : 0,
                productName : 'Kunai',
                productImage : 'http://img.s3-id-jkt-1.kilatstorage.id/sefriandszstore/2020/10/19/1603102670055-308f26cb-cafc-4cf4-91ca-3054d7c33878.jpg',
                productUserReview : '',
              },
            ]
          },
        ]
      }
    },
    methods: {
      sendData(feedback){
        console.log(feedback);

        let productReview = [];

        let products = feedback.products;
        let userId = this.$cookie.get("uid");
        Object.keys(products).forEach(function(key) {

          let dataProduct = {
            productId : products[key]['productId'],
            productRating : products[key]['productRating'],
            productUserReview : products[key]['productUserReview'],
          };

          productReview.push(dataProduct);

        });


        let payload = {
          orderId : feedback.orderId,
          storeRating : feedback.storeRating,
          products: productReview,
          userId: userId,
        };

        console.log(JSON.stringify(payload));
      }
    },
    created() {
    },
    mounted() {
      // mounted
    },
    watch: {
      // watcher list
      property: function() {
      }
    }
  };
</script>
