<template>
  <div>
    <!-- tab-purchase-list -->
    <div class="form-group">
      <div class="tab-content" id="myTabContent-purchase">
        <div
          class="tab-pane fade show active"
          id="all-transaction-prc"
          role="tabpanel"
          aria-labelledby="all-transaction-tab"
        >
          <div v-if="isFormReview">
            <div class="user-feedback" v-for="(feed, index) in pageable.content" :key="index">


              <div class="card">
                <div class="card-header text-center">{{ feed.shipmentInvoice }}</div>
                <div class="card-body">
                  <div class="row bordered">
                    <div class="col-md-5">
                      <div class="column-review-store-name bordered">
                        Toko
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <img :src="feed.storeImage" class="mr-3 image-store rounded">
                        </div>
                        <div class="media-body">
                          <div>{{ feed.storeName }}</div>
                          <star-rating :rating="feed.storeRating" v-model="feed.storeRating" :read-only="false" :show-rating="false" :increment="1" :star-size="30"></star-rating>
                          <div :id="`store_rating_error_${feed.orderProductId}_${feed.id}`" class="error-text"></div>

                          <a data-toggle="modal"
                             data-target="#viewProductPurchase"
                             @click="getPurchase(feed.orderShipmentId)"
                             href="#"
                          > {{ feed.shipmentInvoice }} </a>

                          <div class="date-created">{{ feed.dateReview }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="column-review-store-product bordered">
                        Daftar Barang
                      </div>
                      <div class="media" v-for="(product,index) in feed.products" :key="index">
                        <div class="media-left">
                          <img :src="product.productImage" class="mr-3 image-store rounded">
                        </div>
                        <div class="media-body">
                          <div>{{ product.productName }}</div>
                          <star-rating :rating="product.productRating" v-model="product.productRating" :read-only="false" :show-rating="false" :increment="1" :star-size="30"></star-rating>

                          <div :id="`product_rating_error_${feed.orderProductId}_${feed.id}_${product.id}`" class="error-text"></div>

                          <div class="form-group form-check checkbox-as-anonymous">
                            <input type="checkbox" v-model="product.isAnonymous" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Jangan tampilkan nama saya</label>
                          </div>

                          <div class="form-group">
                            <div class="feedback-product">Ulasan</div>
                            <textarea v-model="product.productReview" class="form-control" rows="2"></textarea>
                            <div :id="`product_rating_error_${feed.orderProductId}_${feed.id}_${product.id}_review_text`" class="error-text"></div>
                          </div>

                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary pull-right" @click="sendData(feed)">Kirim</button>
                    </div>
                  </div>
                </div>
              </div>

            <br>
          </div>
          </div>

          <div v-if="isGetReview">
            <div class="review-rating" v-for="(review, index) in pageable.content" :key="index">
              <div class="card">
                <div class="card-header text-center">{{ review.shipmentInvoice }}</div>
                <div class="card-body">
                  <div class="row bordered">
                    <div class="col-md-5">
                      <div class="column-review-store-name bordered">
                        Toko
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <img :src="review.storeImage" class="mr-3 image-store rounded">
                        </div>
                        <div class="media-body">
                          <div>{{ review.storeName }}</div>
                          <star-rating :rating="review.storeRating" :read-only="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>
                          <br>
                          <div>Pengulas :</div>
                          <div>{{ review.reviewBy }}</div>
                          <!--<div class="price-store">{{ review.shipmentInvoice }}</div>-->


                          <div v-if="isReviewForStore" class="price-store">
                            <a data-toggle="modal"
                               data-target="#viewProductSales"
                               @click="getSales(review.orderShipmentId)"
                               href="#"
                            > {{ review.shipmentInvoice }} </a>
                          </div>

                          <div v-else>
                            <a data-toggle="modal"
                               data-target="#viewProductPurchase"
                               @click="getPurchase(review.orderShipmentId)"
                               href="#"
                            > {{ review.shipmentInvoice }} </a>
                          </div>


                          <div class="date-created">{{ review.dateReview }}</div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-7">
                      <div class="column-review-store-product bordered">
                        Daftar Barang
                      </div>

                      <div v-for="(product, index) in review.products" :key="index">
                        <div class="media">
                          <div class="media-left">
                            <img :src="product.productImage" class="mr-3 image-store rounded">
                          </div>
                          <div class="media-body">
                            <div>{{ product.productName }}</div>
                            <star-rating :rating="product.productRating" :read-only="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>
                            <p>{{ product.productReview }}</p>
                          </div>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>

          <div v-if="isReviewBuyer">
            <div class="review-rating" v-for="(review, index) in pageable.content" :key="index">
              <div class="card">
                <div class="card-header text-center">{{ review.shipmentInvoice }}</div>
                <div class="card-body">
                  <div class="row bordered">
                    <div class="col-md-12">
                      <div class="media">
                        <div class="media-left">
                          <img :src="review.reviewImage" class="mr-3 image-store rounded">
                        </div>
                        <div class="media-body">
                          <div>{{ review.reviewBy }}</div>
                          <star-rating :rating="review.rating" v-model="review.rating" :read-only="review.isReview == true ? true : false" :show-rating="false" :increment="1" :star-size="30"></star-rating>
                          <div :id="`product_rating_user_error_${review.id}_${review.storeId}`" class="error-text"></div>
                          <div class="price-store">
                            <a data-toggle="modal"
                               data-target="#viewProductSales"
                               @click="getSales(review.orderShipmentId)"
                               href="#"
                            > {{ review.shipmentInvoice }} </a>
                          </div>
                          <div v-if="review.dateReview" class="date-created">{{ review.dateReview }}</div>
                        </div>
                        <button v-if="review.isReview == false" type="submit" class="btn btn-primary pull-right" @click="sendRatingUserData(review)">Kirim</button>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>

          <!-- Pagination -->
          <bee-pagination
            v-if="pagination.pageCount > 0"
            v-model="pagination.currentPage"
            :page-count="pagination.pageCount"
            @change="onChangePagination"
          ></bee-pagination>
        </div>
      </div>
    </div>


    <!-- Purchase Modal -->
    <div
      class="modal fade"
      id="viewProductPurchase"
      name="viewProductPurchase"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Daftar Produk</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div v-if="purchase" class="form-group">
              <div class="row">
                <div class="col-md-4">Nama Toko</div>
                <div class="col-md-8">{{ purchase.storeName }}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Rating Toko</div>
                <div class="col-md-8">
                  <div class="review">
                    <star-rating :rating="purchase.totalRatingStore" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                    <span class="total-reviews price b-80"> ( {{ purchase.totalRatingStore }} )</span>
                  </div>
                </div>
              </div>
              <div class="row" v-if="purchase.invoiceNumber">
                <div class="col-md-4">Nomor Invoice</div>
                <div class="col-md-8">{{ purchase.invoiceNumber }}</div>
              </div>
              <div class="row" v-if="purchase.statusText">
                <div class="col-md-4">Status</div>
                <div class="col-md-8">
                  <span class="badge badge-primary">{{ purchase.statusText }}</span>
                </div>
              </div>
              <div class="row" v-if="purchase.receipt">
                <div class="col-md-4">Nomor Resi</div>
                <div class="col-md-8">{{ purchase.receipt }}</div>
              </div>
              <div class="row" v-if="purchase.dateText">
                <div class="col-md-4">Tanggal Pembelian</div>
                <div class="col-md-8">{{ purchase.dateText }}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-7">Produk</div>
                <div class="col-md-1">Jumlah</div>
                <div class="col-md-2">Harga</div>
                <div class="col-md-2">Total</div>
              </div>
              <hr>
              <template v-if="purchase.orderItems">
                <template  v-for="(item, index) in purchase.orderItems">
                  <div class="row" :key="index">
                    <div class="col-md-2 media">
                      <img :src="item.productThumb" alt>
                    </div>
                    <div class="col-md-5">{{ item.productName }}</div>
                    <div class="col-md-1">{{ item.productQuantity }}</div>
                    <div class="col-md-2">{{ item.productPriceText }}</div>
                    <div class="col-md-2">{{ item.totalPriceText }}</div>
                  </div>
                  <hr :key="item.id">
                </template>
              </template>
              <div class="row">
                <div class="col-md-10">Total Harga</div>
                <div class="col-md-2">{{ purchase.totalPriceItemText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Ongkos Kirim</div>
                <div class="col-md-2">{{ purchase.shipmentPriceText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Total Pembayaran</div>
                <div class="col-md-2">{{ purchase.totalPriceAllText }}</div>
              </div>
            </div>
            <div v-else class="row mb-2">
              <div class="row">
                <div class="col-md-12">Tidak ada produk</div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              v-if="purchase.statusProcess && purchase.nextStatus != null"
              type="button"
              class="btn btn-primary btn-store"
              data-dismiss="modal"
              @click="updateStatus"
            >{{ purchase.statusProcess }}</button>

            <button type="button" class="btn-store" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->


    <!-- Sales Modal -->
    <div
      class="modal fade"
      id="viewProductSales"
      name="viewProductSales"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Daftar Produk</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div v-if="sales" class="form-group">
              <div class="row">
                <div class="col-md-4">Nama Pembeli</div>
                <div class="col-md-8">{{ sales.userFullname }}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Rating Pembeli</div>
                <div class="col-md-8">
                  <div class="review">
                    <star-rating :rating="sales.totalRating" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                    <span class="total-reviews price b-80"> ( {{ sales.totalRating }} )</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Nomor Telepon</div>
                <div class="col-md-8">{{ sales.phone }}</div>
              </div>
              <div class="row" v-if="sales.invoiceNumber">
                <div class="col-md-4">Nomor Invoice</div>
                <div class="col-md-8">{{ sales.invoiceNumber }}</div>
              </div>
              <div class="row" v-if="sales.statusText">
                <div class="col-md-4">Status</div>
                <div class="col-md-8">
                  <span class="badge badge-primary">{{ sales.statusText }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Alamat Pengiriman</div>
                <div class="col-md-8">{{ sales.address }}, {{ sales.destinationSubdistrictName }}, {{ sales.destinationCity }} {{ sales.destinationProvince }} {{ sales.destinationPostalCode }}</div>
              </div>
              <div class="row" v-if="sales.shipperName">
                <div class="col-md-4">Layanan Pengiriman</div>
                <div class="col-md-8">{{ sales.shipperName }} ({{ sales.shipperService }})</div>
              </div>
              <div class="row" v-if="sales.receipt">
                <div class="col-md-4">Nomor Resi</div>
                <div class="col-md-8">{{ sales.receipt }}</div>
              </div>
              <div class="row" v-if="sales.dateText">
                <div class="col-md-4">Tanggal Pembelian</div>
                <div class="col-md-8">{{ sales.dateText }}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-7">Produk</div>
                <div class="col-md-1">Jumlah</div>
                <div class="col-md-2">Harga</div>
                <div class="col-md-2">Total</div>
              </div>
              <hr>
              <template v-if="sales.orderItems">
                <template v-for="(item, index) in sales.orderItems">
                  <div class="row" :key="index">
                    <div class="col-md-2 media">
                      <img :src="item.productThumb" alt>
                    </div>
                    <div class="col-md-5">{{ item.productName }}</div>
                    <div class="col-md-1">{{ item.productQuantity }}</div>
                    <div class="col-md-2">{{ item.productPriceText }}</div>
                    <div class="col-md-2">{{ item.totalPriceText }}</div>
                  </div>
                  <hr :key="item.id">
                </template>
              </template>
              <div class="row">
                <div class="col-md-10">Total Harga</div>
                <div class="col-md-2">{{ sales.totalPriceItemText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Ongkos Kirim</div>
                <div class="col-md-2">{{ sales.shipmentPriceText }}</div>
              </div>
              <div class="row">
                <div class="col-md-10">Total Pembayaran</div>
                <div class="col-md-2">{{ sales.totalPriceAllText }}</div>
              </div>
            </div>
            <div v-else class="row mb-2">
              <div class="row">
                <div class="col-md-12">Tidak ada produk</div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <input
              type="text"
              class="form-control"
              placeholder="Masukkan nomor resi pengiriman"
              v-if="sales.statusProcess && sales.status == 2"
              v-model="formStatus.receipt"
            >

            <button
              v-if="sales.statusProcess && sales.nextStatus != null"
              type="button"
              class="btn btn-primary btn-store"
              @click="updateStatus"
            >{{ sales.statusProcess }}</button>

            <button type="button" class="btn-store" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->

  </div>
</template>

<script>
import { api } from '@/config/constants'
import BeePagination from '@/components/general/pagination/BeePagination'
import StarRating from 'vue-star-rating'

export default {
  name: "rating-review-list",
  props: [],
  components: {
    BeePagination,
    StarRating,
  },
  data() {
    return {
      token: "",
      sid: "",
      uid: "",
      isFormReview: true,
      isGetReview: false,
      isReviewBuyer: false,
      isReviewForStore: false,
      pageable: {
        content: [],
        pageable: {},
        totalPages: 0,
        last: true,
        totalElements: 0,
        size: 10,
        number: 0,
        first: true,
        numberOfElements: 0,
        sort: {},
        empty: false
      },
      form: {
        storeId: "",
        userId: ""
      },
      purchase:{},
      sales:{},
      formStatus: {
        currentStatus: "",
        receipt: ""
      },
      pagination: {
        currentPage: 0,
        pageCount: 1,
        currentElements: 0,
        totalElements: 0
      }
    };
  },
  methods: {
    init: function() {
      this.token = this.$cookie.get("kpid");
      if (!this.token) {
        window.location.href = "/";
      }
      this.sid = this.$cookie.get("sid");
      this.uid = this.$cookie.get("uid");
    },
    getReview: function(pageNumber = 0) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      let params = new URL(document.location).searchParams;

      let isReview = params.get("isReview");
      let userId = params.get("userId");
      let storeId = params.get("storeId");

      let reviewBuyer = params.get("review-buyer");
      let store = params.get("store-id");

      let url = '';

      if(!userId && !isReview && !storeId && !reviewBuyer && !store){
         url = api + "/api/review/list?userId=" + this.uid + "&isReview=false&page="+pageNumber;
        this.isFormReview = true;
        this.isGetReview = false;
        this.isReviewBuyer = false;
        this.isReviewForStore = false;
      }

      else if(userId != null && isReview == 'false'){
         url = api + "/api/review/list?userId=" + this.uid + "&isReview=false&page="+pageNumber;
         this.isGetReview = false;
         this.isFormReview = true;
         this.isReviewBuyer = false;
        this.isReviewForStore = false;
      }

      else if(userId != null && isReview == 'true'){
         url = api + "/api/review/list?userId=" + this.uid + "&isReview=true&page="+pageNumber;
         this.isFormReview = false;
         this.isGetReview = true;
         this.isReviewBuyer = false;
        this.isReviewForStore = false;
      }

      else if(!userId && !isReview && storeId != null){
         url = api + "/api/review/list?storeId="+this.sid+"&page="+pageNumber;
        this.isFormReview = false;
        this.isGetReview = true;
        this.isReviewBuyer = false;
        this.isReviewForStore = true;
      }

      else if(!userId && !isReview && !storeId && reviewBuyer == 'true' && store != null){
        url = api + "/api/review/user/"+this.sid+"/store?page="+pageNumber;
        this.isReviewBuyer = true;
        this.isFormReview = false;
        this.isGetReview = false;
        this.isReviewForStore = false;
      }

      if (pageNumber > 0) {
        if (url.includes("?")) {
          url += "&page=" + pageNumber;
        } else {
          url += "?page=" + pageNumber;
        }
      }
      this.$http.get(url, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            let totalPages = resp.data.totalPages;
            if (totalPages > 0 && pageNumber + 1 > totalPages) {
              window.location.href = this.onChangePagination(
                resp.data.totalPages
              );
            } else {
              this.pageable = resp.data;
              let currentPage = resp.data.pageable.pageNumber + 1;

              this.pagination.pageCount = totalPages;
              this.pagination.currentElements =
                currentPage == totalPages
                  ? resp.data.totalElements
                  : currentPage * resp.data.pageable.pageSize;
              this.pagination.totalElements = resp.data.totalElements;
            }
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
          alert(resp.data.message);
        }
      );
    },
    sendRatingUserData(rating){

      let payload = {
        reviewId : rating.id,
        storeId : rating.storeId,
        userId : parseInt(this.uid),
        rating : rating.rating,
      };

      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };

      if(rating.rating !== 0){
        this.$http.post(api + "/api/review/user", payload, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.getReview(0);
            }
          },
          function(resp) {
            console.error(resp);
            this.loadingHide();
            alert(resp.data.message);
          }
        );
      }else{
        $('#product_rating_user_error_'+rating.id+'_'+rating.storeId).text('Rating pembeli tidak boleh kosong');
      }

      console.log(payload);
    },
    sendData(feedback){
      console.log(feedback);

      let productReview = [];

      let products = feedback.products;

      Object.keys(products).forEach(function(key) {

        let dataProduct = {
          productId : products[key]['id'],
          productRating : products[key]['productRating'],
          productReview : products[key]['productReview'],
          isAnonymous : products[key]['isAnonymous']
        };

        let errorProductClass = $('#product_rating_error_'+feedback.orderProductId+'_'+feedback.id+'_'+products[key]['id']);
        let errorProductReviewTextClass = $('#product_rating_error_'+feedback.orderProductId+'_'+feedback.id+'_'+products[key]['id']+'_review_text');

        if(products[key]['productRating'] == 0 ){
          errorProductClass.text('Rating produk tidak boleh kosong');
        }else{
          errorProductClass.text('');
        }

        if(products[key]['productReview'] == '' ){
          errorProductReviewTextClass.text('Review produk tidak boleh kosong');
        }else{
          errorProductReviewTextClass.text('');
        }

        productReview.push(dataProduct);

      });

      let isStoreRatingOk = false;


      let ratingStore = $('#store_rating_error_'+feedback.orderProductId+'_'+feedback.id);
      if(feedback.storeRating == 0 ){
        ratingStore.text('Rating toko tidak boleh kosong');
        isStoreRatingOk = false;
      }else{
        isStoreRatingOk = true;
      }


      let isProductError = [];
      productReview.forEach(function(rev,index){

        if(rev.productRating == 0){
          isProductError.push(true);
        }

        if(rev.productUserReview == ''){
          isProductError.push(true);
        }
      });

      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };

      let payload = {
        reviewId : feedback.id,
        orderId : feedback.orderProductId,
        storeRating : feedback.storeRating,
        storeId : feedback.storeId,
        products: productReview,
        reviewUserId : parseInt(this.uid)
      };

      let hasErrorProduct = isProductError.find(this.getErrorProductValiadtion);

      if(!hasErrorProduct && feedback.storeRating !== 0){
        this.$http.post(api + "/api/review", payload, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.getReview(0);
            }
          },
          function(resp) {
            console.error(resp);
            this.loadingHide();
            alert(resp.data.message);
          }
        );
      }else{
        console.log('error');
      }

      console.log(JSON.stringify(payload));
    },
    getPurchase(orderShipmentId) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.form.userId = this.uid;
      this.form.storeId = 0;
      this.$http
        .post(
          api + "/api/purchase/" + orderShipmentId + "/order",
          this.form,
          headers
        )
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.purchase = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
            alert(resp.data.message);
          }
        );
    },
    getSales(orderShipmentId) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.form.userId = 0;
      this.form.storeId = this.sid;
      this.$http
        .post(
          api + "/api/sales/" + orderShipmentId + "/order",
          this.form,
          headers
        )
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.sales = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
            alert(resp.data.message);
          }
        );
    },
    setupPagination() {
      let params = new URL(document.location).searchParams;
      let paramsPage = params.get("page");
      let pageForAPI = 0;
      const patternDigit = /^\d+$/;
      if (
        paramsPage &&
        patternDigit.test(paramsPage) &&
        Number(paramsPage) > 0
      ) {
        pageForAPI = Number(paramsPage) - 1;
        let currentPage = Number(paramsPage);
        this.pagination.currentPage = currentPage;
        this.pagination.pageCount = currentPage;
        this.getReview(pageForAPI);
      } else {
        this.getReview(0);
      }
    },
    getErrorProductValiadtion(value){
      return value == true;
    },
    onChangePagination(value) {
      let path = window.location.href;
      let pageExp = /page=\d+/;
      let url = '';
      if (path.includes("page=")) {
        path = path.replace(pageExp, "page=" + value);
        url = path;
      } else {
        if(path.includes("?")){
          url = path+'&page='+value;
        }else{
          url = path+'?page='+value;
        }
      }

      window.location.href = url;
    }
  },
  created() {
    this.init();
    this.setupPagination();
  },
  mounted() {},
  watch: {
    // property: function() {}
  }
};
</script>
