<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- FAVICON -->
    <link rel="icon" href="<%= BASE_URL %>favicon.png" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic">

    <!--<link rel="stylesheet" href="http://zavoloklom.github.io/material-design-iconic-font/css/docs.md-iconic-font.min.css">-->

    <!-- STYLE -->
    <link
      href="<%= BASE_URL %>assets/lib/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="<%= BASE_URL %>assets/lib/jquery-ui/jquery-ui.min.css"
      rel="stylesheet"
    />
    <link
      href="<%= BASE_URL %>assets/lib/jquery-datetimepicker/jquery.datetimepicker.min.css"
      rel="stylesheet"
    />
    <link
      href="<%= BASE_URL %>assets/lib/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link href="<%= BASE_URL %>assets/css/style.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>assets/css/chat.css" rel="stylesheet" />
    <link href="<%= BASE_URL %>assets/css/slick.min.css" rel="stylesheet" />
    <link
      href="<%= BASE_URL %>assets/css/slick-theme.min.css"
      rel="stylesheet"
    />
    <link
      href="<%= BASE_URL %>assets/lib/summernote-0.8.11/summernote.css"
      rel="stylesheet"
    />

    <title>Ketokpalu</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but ketokpalu doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script src="<%= BASE_URL %>assets/lib/jquery/jquery.min.js"></script>
    <script src="<%= BASE_URL %>assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="<%= BASE_URL %>assets/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="<%= BASE_URL %>assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="<%= BASE_URL %>assets/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/slick.min.js"></script>
    <script src="<%= BASE_URL %>assets/lib/summernote-0.8.11/summernote.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/custom.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"></script>
    <script>
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "5158ce2f-792e-4e31-89d6-f399c331100a",
            });
            OneSignal.getUserId().then(function(userId){
                console.log("OneSignal User ID:", userId);
                localStorage.removeItem("xplayer");
                localStorage.setItem('xplayer', userId);
            });
        });

      $("#purchase-tab").on("click", function(event) {
        $("#myTabContent-order")
          .find(".tab-pane")
          .removeClass("show active");
        $("#myTabContent-purchase")
          .find(".tab-pane")
          .addClass("show active");
      });

      $("#order-tab").on("click", function(event) {
        $("#myTabContent-purchase")
          .find(".tab-pane")
          .removeClass("show active");
        $("#myTabContent-order")
          .find(".tab-pane")
          .addClass("show active");
      });

      $(document).ready(function(){
          hideChat(1);

          $('#prime').click(function() {
              toggleFab();
          });


          //Toggle chat and links
          function toggleFab() {
              $('.prime').toggleClass('fa-comment-o');
              $('.prime').toggleClass('fa-times');
              $('.prime').toggleClass('is-active');
              $('.prime').toggleClass('is-visible');
              $('#prime').toggleClass('is-float');
              $('.chat').toggleClass('is-visible');
              $('.chat').toggleClass('change-zindex');
              $('.fab').toggleClass('is-visible');
              $('.chat_converse').toggleClass('move-zindex');

          }

          $('#chat_fourth_screen').click(function(e) {
              hideChat(4);
          });

          $('#chat_fullscreen_loader').click(function(e) {
              $('.fullscreen').toggleClass('zmdi-window-maximize');
              $('.fullscreen').toggleClass('zmdi-window-restore');
              $('.chat').toggleClass('chat_fullscreen');
              $('.fab').toggleClass('is-hide');
              $('.header_img').toggleClass('change_img');
              $('.img_container').toggleClass('change_img');
              $('.chat_header').toggleClass('chat_header2');
              $('.fab_field').toggleClass('fab_field2');
              $('.chat_converse').toggleClass('chat_converse2');
          });

          $('.reaction').each(function(index, value){
             let $this = $(this);
             if(index == 0 || index == 4){
                 $this.hide();
             }
             console.log($this);
          });

          function hideChat(hide) {
              switch (hide) {
                  case 4:
                      $('#chat_converse').css('display', 'none');
                      $('#chat_body').css('display', 'none');
                      $('#chat_form').css('display', 'none');
                      $('.chat_login').css('display', 'none');
                      $('.chat_fullscreen_loader').css('display', 'block');
                      $('#chat_fullscreen').css('display', 'block');
                      break;
              }
          }
      })
    </script>
  </body>
</html>
