<template>
  <div>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 content-profile">
              <div class="form-group-header count">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active page-header">Forum Articles</a>
                </div>
                <div class="count-list">
                  <span
                    class="count-articles"
                  >{{ pagination.currentElements }} of {{ pagination.totalElements }} Articles</span>
                </div>
              </div>
              <div class="forum-list">
                <template v-if="articles">
                  <forum-article 
                      v-for="(article) in articles" 
                      :key="article.id"
                      :article="article"
                      :show-content="true" 
                    >
                  </forum-article>
                </template>
              </div>
              <bee-pagination
                v-model="pagination.currentPage"
                :page-count="pagination.pageCount"
                @change="onChangePagination"
              ></bee-pagination>
            </div>
            <div class="col-md-4 content-profile">
              <div class="row">
                <div class="col-sm-7 form-group-header">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active page-header">My Articles</a>
                  </div>
                </div>
                <div class="col-sm-5 new-article-button">
                  <button
                    v-if="uid"
                    type="button"
                    class="btn-store"
                    data-toggle="modal"
                    data-target="#addArticle"
                  >Add new Article</button>
                </div>
              </div>
              <div class="forum-list right">
                <template v-if="myArticles">
                  <forum-article 
                      v-for="(article) in myArticles" 
                      :key="article.id"
                      :article="article"
                      :show-content="false" 
                    >
                  </forum-article>
                </template>
                <template v-else>
                  <p>Silahkan login untuk melihat artikel Anda</p>
                </template>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="addArticle" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="col-md-12">
              <div class="row content-profile">
                <div class="col-sm-7 form-group-header">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active page-header">Add New Article</a>
                  </div>
                </div>
                <div class="col-sm-5 new-article-button">
                  <button
                    type="button"
                    class="btn-edit-profile"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">Cancel</span>
                  </button>
                  <button
                    @click="submitArticle"
                    type="button"
                    class="btn-store"
                    data-toggle="modal"
                    data-target="#addArticle"
                  >Submit</button>
                </div>
              </div>
            </div>
            <div class="col-md-12 judul-modal">
              <div class="form-group">
                <label for="title" class="col-sm-12 col-form-label label-cs-text">Title</label>
                <div class="col-sm-12">
                  <input
                    v-model="form.title"
                    type="text"
                    class="form-control input-cs"
                    id="title"
                    placeholder="Title"
                  >
                </div>
              </div>
            </div>
            <div class="col-md-12 judul-modal">
              <label class="col-sm-12 col-form-label label-cs-text">Foto Forum</label>
              <div class="col-sm-6" id="storeImage">
                <img id="imageForum" :src="urlImage">
                <label id="#bb">
                  Pilih Foto Forum
                  <input type="file" id="imgForum" @change="onFileImageChanged">
                </label>
              </div>
            </div>
            <div class="col-md-12 judul-modal">
              <div class="form-group">
                <label for="title" class="col-sm-12 col-form-label label-cs-text">Description</label>
                <div class="col-sm-12">
                  <vue-editor v-model="form.description"  :editor-toolbar="customToolbar"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/config/constants";
import BeePagination from "@/components/general/pagination/BeePagination";
import ForumArticle from '@/components/forum/ForumArticle'
import { VueEditor } from "vue2-editor";

export default {
  name: "forum-list",
  props: [],
  components: {
    "bee-pagination": BeePagination,
    "forum-article": ForumArticle,
    VueEditor
  },
  data() {
    return {
      // data
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        [{ font: [] }],
        ["bold", "italic", "underline"],
        [{ list: "ordered" }, { list: "bullet" }],
        [{ color: [] }, { background: [] }],
        ["link"],
      ],
      token: null,
      uid: null,
      articles: null,
      myArticles: null,
      form: {
        userId: null,
        title: "",
        description: "",
        filename: "",
        file: ""
      },
      urlImage: "",
      pagination: {
        currentPage: 0,
        pageCount: 1,
        currentElements: 0,
        totalElements: 0
      }
    };
  },
  methods: {
    // list of methods
    setupSummerNote() {
      var vm = this;
      $("#description-article").summernote({
        placeholder: "Start Write Here...",
        height: 400,
        callbacks: {
          onChange: function(contents, $editable) {
            vm.form.description = contents;
          }
        }
      });
    },
    getDataArticles(pageNumber = 0) {
      this.loadingShow();
      this.$http.get(api + `/api/forum?page=${pageNumber}`).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            let totalPages = resp.data.totalPages;

            if (pageNumber + 1 > totalPages) {
              window.location.href = `/forum/page/${totalPages}`;
            } else {
              this.articles = resp.data.content;
              let currentPage = resp.data.pageable.pageNumber + 1;

              this.pagination.pageCount = totalPages;
              this.pagination.currentElements =
                currentPage == totalPages
                  ? resp.data.totalElements
                  : currentPage * resp.data.pageable.pageSize;
              this.pagination.totalElements = resp.data.totalElements;
            }
          }
        },
        function(resp) {
          this.loadingHide();
          console.error(resp);
        }
      );
    },
    getMyArticles() {
      if (this.token && this.uid) {
        this.loadingShow();
        this.$http.get(api + `/api/forum/${this.uid}/user`).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.myArticles = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            console.error(resp);
          }
        );
      }
    },
    onFileImageChanged: function(event) {
      let input = event.target;
      if (input.files && input.files[0]) {
        let fileData = input.files[0];
        let reader = new FileReader();
        this.urlImage = URL.createObjectURL(fileData);
        this.form.filename = fileData.name;
        reader.onload = e => {
          this.form.file = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    submitArticle() {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.post(api + `/api/forum/`, this.form, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.articles.unshift(resp.data);
            $("#description-article").summernote("reset");
            $("#imgForum").val("");
            this.form = {
              ...this.form,
              title: "",
              description: "",
              filename: "",
              file: ""
            };
            this.urlImage = "";
          }
        },
        function(resp) {
          this.loadingHide();
          console.error(resp);
        }
      );
    },
    setupPagination() {
      // let uri = window.location.search.substring(1);
      // let params = new URLSearchParams(uri);
      // let paramsPage = params.get('page')
      let paramsPage = this.$route.params.page;
      let pageForAPI = 0;
      const patternDigit = /^\d+$/;
      if (
        paramsPage &&
        patternDigit.test(paramsPage) &&
        Number(paramsPage) > 0
      ) {
        pageForAPI = Number(paramsPage) - 1;
        let currentPage = Number(paramsPage);
        this.pagination.currentPage = currentPage;
        this.pagination.pageCount = currentPage;
        this.getDataArticles(pageForAPI);
      } else {
        window.location.href = "/forum/page/1";
      }
    },
    onChangePagination(value) {
      window.location.href = `/forum/page/${value}`;
    }
  },
  created() {
    // created
    this.token = this.$cookie.get("kpid");
    this.uid = this.$cookie.get("uid");
    this.form.userId = this.$cookie.get("uid");

    this.setupPagination();
  },
  mounted() {
    // mounted
    this.setupSummerNote();
    this.getMyArticles();
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
