<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="forum-breadcumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/forum">Forum</a>
                </li>
                <li
                  class="breadcrumb-item active"
                  aria-current="page"
                >{{ article ? article.title : '' }}</li>
              </ol>
            </div>
            <div class="forum-content">
              <div v-if="article && article.image" class="image-container">
                <img class="forum-image" :src="article ? article.image : '' ">
              </div>
              <div class="content-description">
                <div class="title">
                  <span>{{ article ? article.title : ''}}</span>
                  <br>
                  <small v-if="article">{{ article.createdAt | date('DD MMM YYYY') }}</small>
                </div>
                <div class="description" v-html="article ? article.description: '' "></div>
                <div class="comment">
                  <img src="/assets/img/ic_comment.png">
                  <span>{{ article ? article.commentCount : 0 }} Comments</span>
                </div>

                <div class="input-comment">
                  <textarea
                    class="form-control input-cs"
                    id="input-comment"
                    placeholder="Add comments here…"
                    rows="3"
                    v-model="commentInput"
                  ></textarea>
                  <button class="btn-store pull-right" @click="postComment">Send</button>
                </div>

                <div class="list-comment">
                  <template v-if="comments">
                    <comment-forum v-for="comment in comments" :key="comment.id" :comment="comment"></comment-forum>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 content-profile">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Trending Now</a>
              </div>
            </div>
            <div class="trending">
              <ul class="list-trending">
                <template v-if="trendings">
                  <li v-for="forum in trendings" :key="forum.id">
                    <a :href="`/forum/detail/${forum.id}`">{{ forum.title }}</a>
                  </li>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import CommentForum from '@/components/forum/CommentForum'

export default {
  name: "forum-detail-page",
  components: {
   'comment-forum': CommentForum
  },
  // props: ["id"],
  data() {
    return {
      // data
      id: null,
      token: null,
      uid: null,
      article: null,
      comments: null,
      trendings: null,
      commentInput: ""
    };
  },
  methods: {
    // list of methods
    getArticleDetail() {
      this.loadingShow();
      this.$http.get(api + `/api/forum/${this.id}`).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.article = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.error(resp);
        }
      );
    },
    getComment() {
      this.$http.get(api + `/api/comment/${this.id}/forum`).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.comments = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.error(resp);
        }
      );
    },
    getTrendingForum() {
      this.$http.get(api + `/api/forum/trendingForum`).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.trendings = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.error(resp);
        }
      );
    },
    postComment() {
      if (this.token) {
        this.loadingShow();
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };

        let payload = {
          userId: this.uid,
          comment: this.commentInput,
          forumId: this.id
        };

        this.$http.post(api + "/api/comment/", payload, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.comments.push(resp.data);
              this.commentInput = "";
            }
          },
          function(resp) {
            this.loadingHide();
            console.error(resp);
          }
        );
      }
    }
  },
  created() {
    // created
    this.id = this.$route.params.id
    this.token = this.$cookie.get("kpid");
    this.uid = this.$cookie.get("uid");
  },
  mounted() {
    // mounted
    this.getArticleDetail();
    this.getComment();
    this.getTrendingForum();
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
