<template>
  <main id="main" v-if="token">
    <section id="main-container" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <sidebar-user/>

          <div class="col-lg-10 content-profile">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Toko</a>
              </div>
            </div>

            <div v-if="!store.id" class="text-center detail-profile">
              <div class="logo-store">
                <img src="/assets/img/store.png" alt>
              </div>

              <div class="form-group text-center">
                <div class="page-header-2">Belum memiliki toko</div>
              </div>

              <div class="form-group text-center">
                <div class="text-sz-14">
                  <p>Buat toko anda sekarang. Gratis</p>
                </div>
              </div>

              <div class="form-group text-center">
                <button @click="onClickCreateStore" class="btn btn-secondary btn-store">Buat Toko</button>
              </div>
            </div>

            <div v-else class="row detail-profile">
              <div class="col-lg-10">
                <div class="media">
                  <img
                    v-if="store.profilePicture"
                    class="mr-3 profile-img rounded"
                    :src="store.profilePicture"
                    alt="Generic placeholder image"
                  >
                  <img
                    v-else
                    class="mr-3 profile-img rounded"
                    src="/assets/img/store.png"
                    alt="Generic placeholder image"
                  >
                  <div class="media-body">
                    <div class="form-group my-store">
                      <a :href="'/store/' + store.slug">{{ store.name }}</a>
                    </div>

                    <div class="review">
                      <star-rating :rating="storeRating" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                      <span class="total-reviews price b-80"> ( {{ storeRating }} )</span>
                    </div>

                    <div class="form-group">
                      <div v-if="store.address" class="city-store">{{ store.address }}</div>
                      <div v-else class="city-store">Hanya online</div>
                      <div class="date-created">Dibuat {{ store.createdAtText }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 add-product-center">
                <div class="form-group text-center">
                  <button
                    type="button"
                    @click="redirectAddProduct"
                    class="btn btn-secondary btn-store pull-right"
                  >
                    Tambah
                    Produk
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Produk</a>
              </div>
            </div>
            <template v-if="pageable.content.length > 0">
              <template v-for="product in pageable.content">
                <div :key="product.id" class="row">
                  <div class="col-md-10">
                    <div class="media">
                      <img v-if="product.imageThumb" class="mr-3 image-store rounded" :src="product.imageThumb"
                           alt="Generic placeholder image">
                      <img v-else src="/img/no-image.jpeg" alt="" title="" />
                      <div class="media-body">
                        <div class="form-group my-store"><a :href="'/product/' + product.slug" target="_blank">{{ product.name }}</a></div>
                        <div class="review">
                          <star-rating :rating="product.totalRatingProduct" :read-only="true" :inline="true" :show-rating="false" :increment="1" :star-size="20"></star-rating>
                          <span class="total-reviews price b-80"> ( {{ product.totalRatingProduct }} )</span>
                        </div>
                        <div class="form-group">
                          <div class="price-store">{{ product.priceText }}</div>
                          <div class="date-created">{{ product.categoryName }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" v-if="product.auction">
                    <div>
                      <a class="edit-product-list" href="#" @click="deleteProduct(product.id)"><i class="fa fa-trash"></i>Delete</a>
                    </div>
                  </div>
                  <div class="col-md-2" v-if="!product.auction">
                    <div>
                      <a class="edit-product-list" :href="'/product/' + product.id + '/update'"><i class="fa fa-pencil"></i>Edit</a>
                    </div>
                    <div>
                      <a class="edit-product-list" href="#" @click="deleteProduct(product.id)"><i class="fa fa-trash"></i>Delete</a>
                    </div>
                  </div>
                  <hr>
                </div>
                <br :key="product.id">
              </template>

              <bee-pagination
                v-if="pagination.pageCount > 0"
                v-model="pagination.currentPage"
                :page-count="pagination.pageCount"
                @change="onChangePagination"
              ></bee-pagination>

            </template>

            <template v-else>
              <div class="form-group text-center">
                <div class="page-header-2">Tidak ada produk</div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </section>
    <modal-verified-member @onSuccessSubmit="successSubmit"></modal-verified-member>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarUser from "@/components/commerce/SidebarUser";
import ModalVerifiedMember from "@/components/commerce/ModalVerifiedMember";
import BeePagination from "@/components/general/pagination/BeePagination";
import StarRating from 'vue-star-rating'

export default {
  name: "my-store-page",
  components: {
    SidebarUser,
    BeePagination,
    ModalVerifiedMember,
    StarRating,
  },
  props: {},
  data: function() {
    return {
      storeRating : 0,
      store: {
        id: "",
        createdAtText: "",
        name: "",
        slug: "",
        tagLine: "",
        address: "",
        description: "",
        latitude: "",
        longitude: "",
        postalCode: "",
        profilePicture: "",
        coverPicture: "",
        active: true
      },
      token: "",
      pageable: {
        content: [],
        pageable: {},
        totalPages: 0,
        totalElements: 0,
        last: false,
        size: 10,
        number: 0,
        first: true,
        numberOfElements: 10,
        sort: {},
        empty: false
      },
      pagination: {
        currentPage: 0,
        pageCount: 1,
        currentElements: 0,
        totalElements: 0,
      }
    };
  },
  methods: {
    checkStore: function() {
      this.token = this.$cookie.get("kpid");
      if (this.token) {
        this.loadingShow();
        let accessToken = "Bearer " + this.token;
        this.store.id = this.$cookie.get("sid");
        if (this.store.id) {
          let userId = this.$cookie.get("uid");
          let headers = { headers: { Authorization: accessToken } };
          this.$http.get(api + "/api/store/" + userId + "/user", headers).then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.store.createdAtText = resp.data.createdAtText;
                this.store.name = resp.data.name;
                this.store.slug = resp.data.slug;
                this.store.tagLine = resp.data.tagLine;
                this.store.address = resp.data.address;
                this.store.description = resp.data.description;
                this.store.latitude = resp.data.latitude;
                this.store.longitude = resp.data.longitude;
                this.store.postalCode = resp.data.postalCode;
                this.store.profilePicture = resp.data.profilePicture;
                this.store.coverPicture = resp.data.coverPicture;
                this.store.active = resp.data.active;
              } else {
                window.location.href = "/";
              }
            },
            function(resp) {
              this.loadingHide();
              console.log(resp.data);
              alert(resp.data.message);
            }
          );
        } else {
          return false;
        }
      } else {
        window.location.href = "/";
      }
    },
    onClickCreateStore() {
      let isVerify = this.$cookie.get("vfd");
      if (isVerify !== undefined) {
        if (isVerify == null || isVerify == "reject" || isVerify == "null") {
          // open modal become verified member
          $("#changeStatusVerified").modal("show");
        } else if (isVerify == "pending") {
          alert(
            `Status pengajuan verified member Anda sedang dalam proses. Status saat ini 'Pending'.`
          );
        } else {
          this.redirectCreateStore();
        }
      }
    },
    successSubmit() {
      // console.log('success submit')
    },
    redirectCreateStore() {
      window.location.pathname = "/store/create";
    },
    redirectAddProduct() {
      window.location.pathname = "/product/add";
    },
    viewProductDetail(slug) {
      window.location.href = `/product/${slug}`;
    },
    getStoreProduct: function(pageNumber = 0) {
      this.loadingShow();
      let storeId = this.$cookie.get("sid");
      let url = api + '/api/public/product/' + storeId + '/store-id';
      if (pageNumber > 0) {
        if (url.includes('?')) {
          url += '&page=' + pageNumber
        } else {
          url += '?page=' + pageNumber
        }
      }
      this.$http.get(url).then(function (resp) {
        this.loadingHide()
        if (resp.status == 200) {
          let totalPages = resp.data.totalPages
          if (totalPages > 0 && pageNumber + 1 > totalPages) {
            window.location.href = this.onChangePagination(resp.data.totalPages)
          } else {
            this.pageable = resp.data
            let currentPage = resp.data.pageable.pageNumber + 1

            this.pagination.pageCount = totalPages
            this.pagination.currentElements = currentPage == totalPages ? resp.data.totalElements : currentPage * resp.data.pageable.pageSize
            this.pagination.totalElements =  resp.data.totalElements
          }

          if(resp.data.content.length > 0){
            this.storeRating =  resp.data.content[0].totalRatingStore;
          }
        }
      }, function (resp) {
        this.loadingHide()
        console.log(resp.data)
      });
    },
    setupPagination () {
      let params = (new URL(document.location)).searchParams
      let paramsPage = params.get('page')
      let pageForAPI = 0
      const patternDigit = /^\d+$/;
      if (paramsPage && patternDigit.test(paramsPage) && Number(paramsPage) > 0) {
        pageForAPI = Number(paramsPage) - 1
        let currentPage = Number(paramsPage)
        this.pagination.currentPage = currentPage
        this.pagination.pageCount = currentPage
        this.getStoreProduct(pageForAPI)
      } else {
        this.getStoreProduct(0)
      }
    },
    onChangePagination (value) {
      let path = window.location.href
      var pageExp = /page=\d+/;
      let url = '';
      if (path.includes("page=")) {
        path = path.replace(pageExp, "page=" + value);
        url = path;
        } else {
          if(path.includes("?")){
            url = path+'&page='+value
          }else{
            url = path+'?page='+value
          }
        }
        window.location.href = url
    },
    deleteProduct: function(productId) {
      let conf = confirm("Yakin akan menghapus produk ini?");
      if (!conf) {
        return false;
      }
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http
        .delete(api + "/api/product/" + productId + "/delete", headers)
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              window.location.reload();
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
          }
        );
    },
    getStore: function(userId) {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
        return this.$http
          .get(api + "/api/store/" + userId + "/user", headers)
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.$cookie.set("sid", resp.data.id);
              }
              window.location.href = this.redirectLogin;
            },
            function(resp) {
              this.loadingHide();
              console.log(resp.data);
            }
          );
      },
  },
  created() {
    this.uid = this.$cookie.get('uid')
    this.sid = this.$cookie.get('sid')
    this.token = this.$cookie.get("kpid");
    if(this.sid){
      this.setupPagination();
    }
    // this.getStoreProduct();
    this.checkStore();
  }
};
</script>
