<template>
  <div v-if="token">

    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <sidebar-user/>

            <div class="col-lg-10 content-profile">
              <div class="form-group">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active page-header">Toko</a>
                </div>
              </div>

              <div class="form-group">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/store">Toko</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Edit Toko</li>
                </ol>
              </div>

              <form @submit.prevent="submit" method="post" role="form">
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label label-cs-text">Nama Toko</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control input-cs" id="name"
                           placeholder="Nama Toko" v-model="form.name" readonly>
                    <div class="validation text-danger" v-if="errors.name">{{ errors.name }}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label label-cs-text">Foto
                    profil</label>
                  <div class="col-sm-6" id="storeImage">
                    <img v-if="form.profilePicture" :src="form.profilePicture" />
                    <!-- <img v-if="urlProfile" :src="urlProfile" /> -->
                    <label id="#bb"> Pilih Foto Profil
                      <input type="file" id="imgInp" @change="onFileProfileChanged">
                    </label>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="provinceId"
                         class="col-sm-2 col-form-label label-cs-text">Provinsi</label>
                  <div class="col-sm-6">
                    <select id="provinceId" v-model="form.provinceId" class="form-control input-cs"
                            @change="onChangeProvince">
                      <option value=''>-- Pilih Provinsi --</option>
                      <template v-for="province in provinces">
                        <option :key="province.id" :value="province.id">{{ province.name }}
                        </option>
                      </template>
                    </select>
                  </div>
                </div>

                <div v-if="regencies" class="form-group row">
                  <label for="regencyId" class="col-sm-2 col-form-label label-cs-text">Kota</label>
                  <div class="col-sm-6">
                    <select id="regencyId" v-model="form.regencyId" class="form-control input-cs"
                            @change="onChangeRegency">
                      <option value=''>-- Pilih Kota --</option>
                      <template v-for="regency in regencies">
                        <option :key="regency.id" :value="regency.id">{{ regency.name }}
                        </option>
                      </template>
                    </select>
                  </div>
                </div>

                <div v-if="districts" class="form-group row">
                  <label for="districtId"
                         class="col-sm-2 col-form-label label-cs-text">Kecamatan</label>
                  <div class="col-sm-6">
                    <select id="districtId" v-model="form.districtId" class="form-control input-cs">
                      <option value=''>-- Pilih Kecamatan --</option>
                      <template v-for="district in districts">
                        <option :key="district.id" :value="district.id">{{ district.name }}
                        </option>
                      </template>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="address" class="col-sm-2 col-form-label label-cs-text">Alamat</label>
                  <div class="col-sm-6">
                                        <textarea class="form-control input-cs" id="address" rows="3"
                                                  v-model="form.address"></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="address" class="col-sm-2 col-form-label label-cs-text"></label>
                  <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                             v-model="readAndAgree">
                      <label class="form-check-label text-register" for="inlineCheckbox1">Saya
                        telah membaca dan menyetujui <a href="#">Aturan Privasi</a> </label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label label-cs-text"></label>
                  <div class="col-sm-6">
                    <button :disabled="!readAndAgree" type="submit"
                            class="btn btn-secondary btn-store-2 btn-block">Edit Toko</button>
                  </div>
                </div>
              </form>

            </div>

          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
  import { api } from "@/config/constants";
  import Compressor from 'compressorjs';
  import SidebarUser from '@/components/commerce/SidebarUser'

  export default {
    name: 'StoreEdit',
    components: {
      SidebarUser
    },
    props: {
    },
    data: function() {
      return {
        form: {
          name: '',
          tagline: '',
          address: '',
          description: '',
          latitude: '',
          longitude: '',
          postalCode: '',
          profileFileName: '',
          profilePicture: '',
          provinceId: '',
          regencyId: '',
          districtId: '',
          villageId: ''
        },
        errors: {
          name: '',
        },
        uid: '',
        sid: '',
        isError: false,
        token: '',
        urlProfile: '',
        provinces: '',
        regencies: '',
        districts: '',
        readAndAgree: false
      }
    },
    methods: {
      checkStore: function() {
        this.token = this.$cookie.get('kpid');
        if (!this.token) {
          window.location.href = '/'
        }
        let storeId = this.$cookie.get('sid');
        if (!storeId) {
          window.location.href = '/store'
        }
      },
      onFileProfileChanged: function(event) {
        let input = event.target;
        var blobToFile = null;
        if (input.files && input.files[0]) {
          let fileData = input.files[0];
          let $this = this;

          new Compressor(fileData, {
            quality: 0.6,
            maxWidth : 700,
            maxHeight : 700,
            minWidth : 500,
            minHeight : 500,
            success(result) {
              blobToFile = new File([result], fileData.name);

              let readerOut = new FileReader();
              readerOut.onload = (eOut) => {
                $this.form.profilePicture = eOut.target.result;
              };
              readerOut.readAsDataURL(blobToFile);
              $this.form.profileFileName = blobToFile.name;
            },
            error(err) {
              console.log(err.message);
            }
          });
        }
      },
      getStore: function() {
        let accessToken = 'Bearer ' + this.token;
        let headers = {headers:{'Authorization': accessToken}};
        this.loadingShow()
        this.$http.get(api + '/api/store/' + this.uid + '/user', headers).then(function(resp) {
          if (resp.status == 200) {
            let formData = resp.data
            console.log(this.form);
            this.form.name = formData.name;
            this.form.tagline = formData.tagLine;
            this.form.address = formData.address;
            this.form.description = formData.description;
            this.form.latitude = formData.latitude;
            this.form.longitude = formData.longitude;
            this.form.postalCode = formData.postalCode;
            this.form.profileFileName = formData.profileFileName;
            this.form.profilePicture = formData.profilePicture;
            this.form.provinceId = formData.province.id;
            this.form.regencyId = formData.regency.id;
            this.form.districtId = formData.district.id;
            this.form.villageId = null;
          }
          this.loadProvince()
        }, function(resp) {
          this.loadingHide()
          alert(resp.message)
          console.log(resp.data)
        })
      },
      submit: function() {
        this.isError = false;
        if (!this.form.name) {
          this.errors.name = 'Nama toko harus diisi'
          this.isError = true
        }
        if (!this.isError) {
          this.loadingShow()
          let accessToken = 'Bearer ' + this.token;
          let userId = this.$cookie.get('uid');
          let headers = {headers:{'Authorization': accessToken}};
          this.form.userId = userId;
          this.$http.patch(api + '/api/store/'+this.sid+'/update', this.form, headers).then(function(response) {
            this.loadingHide()
            if (response.status == 200) {
              if (response.data.id) {
                this.$cookie.set('sid', response.data.id)
              }
              window.location.href = '/store'
            }
          }, function (response) {
            this.loadingHide()
            if (response.status == 400) {
              alert(response.data.message)
            } else {
              console.log(response.data)
            }
          });
        }
      },
      getBase64: function(file) {
        return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
        });
      },
      loadProvince: function() {
        this.loadingShow()
        this.regencies = ''
        this.districts = ''
        this.$http.get(api + '/api/public/province').then(function(resp) {
          this.loadingHide()
          if (resp.status == 200) {
            this.provinces = resp.data
            this.loadRegency();
          }
        }, function(resp) {
          this.loadingHide()
          console.log(resp)
        });
      },
      loadRegency: function() {
        if (this.form.provinceId) {
          this.loadingShow()
          this.$http.get(api + '/api/public/regency?provinceId=' + this.form.provinceId).then(function(resp) {
            this.loadingHide()
            if (resp.status == 200) {
              this.regencies = resp.data
              this.loadDistrict();
            }
          }, function(resp) {
            this.loadingHide()
            console.log(resp)
          });
        }
      },
      loadDistrict: function() {
        if (this.form.regencyId) {
          this.loadingShow()
          this.$http.get(api + '/api/public/district?regencyId=' + this.form.regencyId).then(function(resp) {
            this.loadingHide()
            if (resp.status == 200) {
              this.districts = resp.data
            }
          }, function(resp) {
            this.loadingHide()
            console.log(resp)
          });
        }
      },
      onChangeProvince: function() {
        if (this.form.provinceId) {
          this.loadingShow()
          this.regencies = ''
          this.form.regencyId = ''
          this.districts = ''
          this.form.districtId = ''
          this.$http.get(api + '/api/public/regency?provinceId=' + this.form.provinceId).then(function(resp) {
            this.loadingHide()
            if (resp.status == 200) {
              this.regencies = resp.data
              this.onChangeRegency();
            }
          }, function(resp) {
            this.loadingHide()
            console.log(resp)
          });
        }
      },
      onChangeRegency: function() {
        if (this.form.regencyId) {
          this.loadingShow()
          this.districts = ''
          this.form.districtId = ''
          this.$http.get(api + '/api/public/district?regencyId=' + this.form.regencyId).then(function(resp) {
            this.loadingHide()
            if (resp.status == 200) {
              this.districts = resp.data
            }
          }, function(resp) {
            this.loadingHide()
            console.log(resp)
          });
        }
      }
    },
    created() {
      this.uid = this.$cookie.get('uid');
      this.sid = this.$cookie.get('sid');
      this.checkStore();
      console.log(this.checkStore());
      this.getStore();
      this.loadProvince()
    },
  }
</script>
