<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <sidebar-user/>

          <div class="col-lg-10 content-profile">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Toko</a>
              </div>
            </div>

            <div v-if="storeNotFound" class="text-center detail-profile">
              <div class="logo-store">
                <img src="/assets/img/store.png" alt>
              </div>

              <div class="form-group text-center">
                <div class="page-header-2">404</div>
              </div>

              <div class="form-group text-center">
                <div class="text-sz-14">
                  <p>Maaf, Toko tidak ditemukan</p>
                </div>
              </div>
            </div>

            <div v-else class="row detail-profile">
              <div class="col-lg-10">
                <div class="media">
                  <img
                    v-if="store.profilePicture"
                    class="mr-3 profile-img roundeds"
                    :src="store.profilePicture"
                    alt="Generic placeholder image"
                  >
                  <img
                    v-else
                    class="mr-3 profile-img rounded"
                    src="/assets/img/store.png"
                    alt="Generic placeholder image"
                  >
                  <div class="media-body">
                    <div class="form-group my-store">
                      <a :href="'/store/' + store.slug">{{ store.name }}</a>
                    </div>

                    <div class="stars">
                      <star-rating :rating="store.totalRating" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                      <span class="total-reviews price b-80"> ( {{ store.totalRating }} )</span>
                    </div>

                    <div class="form-group">
                      <div v-if="store.address" class="city-store">{{ store.address }}</div>
                      <div v-else class="city-store">Hanya online</div>
                      <div class="date-created">Dibuat {{ store.createdAtText }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                v-if="(pageable.content.length > 0 && showAddProduct) && (store.storeUserId == uid)"
                class="col-lg-2 add-product-center"
              >
                <div v-if="store.storeUserId == uid" class="form-group text-center">
                  <button
                    @click="redirectAddProduct"
                    type="button"
                    class="btn btn-secondary btn-store pull-right"
                  >Tambah Produk</button>
                </div>
              </div>
            </div>

            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Produk</a>
              </div>
            </div>

            <div v-if="pageable.content.length === 0" class="text-center detail-profile">
              <div class="logo-store">
                <img src="/assets/img/store.png" alt>
              </div>

              <div class="form-group text-center">
                <div class="page-header-2">Tidak ada produk</div>
              </div>

              <div class="form-group text-center">
                <div class="text-sz-14">
                  <p>
                    Anda belum menambahkan produk untuk toko ini.
                    <br>Tambahkan produk Anda sekarang
                  </p>
                </div>
              </div>

              <div class="form-group text-center">
                <button
                  @click="redirectAddProduct"
                  type="button"
                  class="btn btn-secondary btn-store"
                >Tambah Produk</button>
              </div>
            </div>

            <div v-else class="wrapper">
              <div class="row product-top">
                <template v-for="product in pageable.content">
                  <div :key="product.id" class="box-slide" :title="product.name">
                    <div class="sale-box" v-if="product.auction">
                      <span>lelang</span>
                    </div>

                    <div class="image-container">
                      <img :src="product.imageThumb">
                    </div>
                    <a :href="'/product/' + product.slug + '?src=store'" target="_blank">
                      <div class="box-description">
                        <span class="title b-80">{{ product.displayName }}</span>

                        <div class="stars">
                          <star-rating :rating="product.totalRatingProduct" :read-only="true" :inline="true" :show-rating="false" :increment="1" :star-size="16"></star-rating>
                          <span class="total-reviews price b-80"> ( {{ product.totalRatingProduct }} )</span>
                        </div>

                        <span class="price b-80">{{ product.priceText }}</span>
                      </div>
                    </a>
                  </div>
                </template>
              </div>

              <div v-if="pageable.content.length > 0">

                <bee-pagination
                  v-if="pagination.pageCount > 0"
                  v-model="pagination.currentPage"
                  :page-count="pagination.pageCount"
                  @change="onChangePagination"
                ></bee-pagination>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarUser from '@/components/commerce/SidebarUser';
import BeePagination from "@/components/general/pagination/BeePagination";
import StarRating from 'vue-star-rating'

export default {
  name: "store-detail-page",
  components: {
    SidebarUser,
    BeePagination,
    StarRating
  },
  data: function() {
    return {
      store: {
        id: '',
        createdAtText: '',
        name: '',
        slug: this.$route.params.slug,
        tagLine: '',
        address: '',
        description: '',
        latitude: '',
        longitude: '',
        postalCode: '',
        profilePicture: '',
        coverPicture: '',
        active: true,
        storeUserId : '',
        totalRating : 0,
        totalReview : 0,
      },
      uid: '',
      sid: '',
      storeNotFound: false,
      showAddProduct: false,
      pageable: {
        content: [],
        pageable: {},
        totalPages: 0,
        totalElements: 0,
        last: false,
        size: 10,
        number: 0,
        first: true,
        numberOfElements: 10,
        sort: {},
        empty: false
      },
      pagination: {
        currentPage: 0,
        pageCount: 1,
        currentElements: 0,
        totalElements: 0,
      }
    };
  },
  methods: {
    checkStore: function() {
      this.loadingShow()
      let storeId = this.$cookie.get('sid');
      this.$http.get(api + '/api/public/store/' + this.slug).then(function (resp) {
        this.loadingHide()
        if (resp.status == 200) {
          this.store.createdAtText = resp.data.createdAtText;
          this.store.name = resp.data.name;
          this.store.slug = resp.data.slug;
          this.store.tagLine = resp.data.tagLine;
          this.store.address = resp.data.address;
          this.store.description = resp.data.description;
          this.store.latitude = resp.data.latitude;
          this.store.longitude = resp.data.longitude;
          this.store.postalCode = resp.data.postalCode;
          this.store.profilePicture = resp.data.profilePicture;
          this.store.coverPicture = resp.data.coverPicture;
          this.store.active = resp.data.active;
          this.store.storeUserId = resp.data.user.id;
          this.store.totalRating = resp.data.totalRating;
          this.store.totalReview = resp.data.totalReview;
          this.showAddProduct = storeId == resp.data.id;
        } else {
          this.storeNotFound = true;
          this.showAddProduct = false;
        }
      }, function (resp) {
        this.loadingHide()
        console.log(resp.data)
      });
    },
    getStoreProduct: function(pageNumber = 0) {
      this.loadingShow()
      let url = api + '/api/public/product/' + this.slug + '/store';
      if (pageNumber > 0) {
        if (url.includes('?')) {
          url += '&page=' + pageNumber
        } else {
          url += '?page=' + pageNumber
        }
      }
      this.$http.get(url).then(function (resp) {
        this.loadingHide()
        if (resp.status == 200) {
          let totalPages = resp.data.totalPages
          if (totalPages > 0 && pageNumber + 1 > totalPages) {
            window.location.href = this.onChangePagination(resp.data.totalPages)
          } else {
            this.pageable = resp.data
            let currentPage = resp.data.pageable.pageNumber + 1

            this.pagination.pageCount = totalPages
            this.pagination.currentElements = currentPage == totalPages ? resp.data.totalElements : currentPage * resp.data.pageable.pageSize
            this.pagination.totalElements =  resp.data.totalElements
          }
        }
      }, function (resp) {
        this.loadingHide()
        console.log(resp.data)
      });
    },
    setupPagination () {
      let params = (new URL(document.location)).searchParams
      let paramsPage = params.get('page')
      let pageForAPI = 0
      const patternDigit = /^\d+$/;
      if (paramsPage && patternDigit.test(paramsPage) && Number(paramsPage) > 0) {
        pageForAPI = Number(paramsPage) - 1
        let currentPage = Number(paramsPage)
        this.pagination.currentPage = currentPage
        this.pagination.pageCount = currentPage
        this.getStoreProduct(pageForAPI)
      } else {
        this.getStoreProduct(0)
      }
    },
    onChangePagination (value) {
      let path = window.location.href;
      var pageExp = /page=\d+/;
      let url = '';
      if (path.includes("page=")) {
        path = path.replace(pageExp, "page=" + value);
        url = path;
      } else {
        if(path.includes("?")){
          url = path+'&page='+value
        }else{
          url = path+'?page='+value
        }
      }
      window.location.href = url
    },
    redirectAddProduct() {
      window.location.pathname = "/product/add";
    }
  },
  created() {
    this.slug = this.$route.params.slug;
    this.uid = this.$cookie.get('uid');
    this.sid = this.$cookie.get('sid');
    this.setupPagination();
    this.checkStore();
    console.log();
    // this.getStoreProduct();
  }
};
</script>
