<template>
  <div>
    <footer id="footer-1">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="list-footer ft-info">
              <div class="form-group">INFORMATION</div>
              <div class="menu-footer-list">
                <li>
                  <a href="/static/about-us" class="active">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> About Us
                  </a>
                </li>
                <li>
                  <a href="/static/contact-us" class>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> Contact Us
                  </a>
                </li>
                <li>
                  <a href="/static/privacy-policy" class>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> Privacy Policy
                  </a>
                </li>
                <li>
                  <a href="/static/terms-and-conditions" class>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> Terms & Conditions
                  </a>
                </li>
                <li>
                  <a href="/static/sitemap" class>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> Site Map
                  </a>
                </li>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="list-footer ft-account">
              <div class="form-group">MY ACCOUNT</div>
              <div class="menu-footer-list">
                <li>
                  <a href="/profile" class="active">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> My Account
                  </a>
                </li>
                <li>
                  <a href="/transaction/purchase" class>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> Order History
                  </a>
                </li>
                <li>
                  <a href="/wishlist" class>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> Wish List
                  </a>
                </li>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="list-footer">
              <div class="form-group">ADDRESS</div>
              <p class="menu-footer-list">
                PT. Ketok Palu Asia
                <br>Jalan Mangga Besar IV-I, Blok Z No.14, Tamansari, Jakarta Barat, DKI Jakarta, Indonesia, 11150
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="ft-social">
          <div class="row">
            <div class="col-md-3">
              <div class="list-footer form-group">FOLLOW US</div>
              <div class="list-social-md float-left">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-google" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="list-footer-img image-store">
                <!-- <img src="/img/apple-st.png" alt="">
                <img src="/img/google-pl.png" alt="">-->
              </div>
            </div>
            <div class="col-md-3">
              <div class="list-footer form-group">PAYMENT METHOD</div>
              <div class="list-pay-md float-left">
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright
          <strong>KetokPalu</strong>. All Rights Reserved
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "app-footer",
  props: [],
  components: {
    // components
  },
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
