<template>
  <section id="topbar" class="d-none d-lg-block">
    <div class="loading" style="display: none"></div>
    <div class="container-fluid clearfix">
      <div class="contact-info float-left"></div>
      <div class="social-links float-right">
        <a href="/wishlist" class="heart">
          <i class="fa fa-heart"></i> Wishlist
        </a>
        <a href="/static/contact-us" class="phone">
          <i class="fa fa-phone"></i> Contact Us
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Topbar",
  props: [],
  data() {
    return {
      // data
    };
  }
};
</script>
