<template>
  <div class="box-comment">
    <div class="profile-image">
      <img src="/assets/img/avatar-circle.png">
      <div class="profile-name">
        <span>{{ comment.user.firstname }} {{ comment.user.lastname }}</span>
        <br>
        <small>32 Juni 2019</small>
      </div>
    </div>
    <div class="comment-description">
      <p>{{ comment.comment }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: "comment-forum",
    props: {
      comment: {
        type: Object,
        default: function () {
          return {
            id: 0,
            user: {
              firstname: "",
              lastname: "",
            },
            comment: "",
          }
        }
      }
    },
    data() {
      return {
        // data
      }
    },
    methods: {
      // list of methods
    },
    created() {
      // created
      console.log(this.comment.user);
    },
    mounted() {
      // mounted
    },
    watch: {
      // watcher list
      property: function() {
      }
    }
  };
</script>
