<template>
  <div class="row media">
    <div class="title">
      <span class="b-80">
        <a :href="`/forum/detail/${article.id}`">{{ article.title }}</a>
      </span>
      <br>
      <small>{{ article.createdAt | date('DD MMM YYYY')}}</small>
      <div v-if="showContent" class="description" v-html="article.description"></div>
      <span class="media-link">
        <a :href="`/forum/detail/${article.id}`">Read More</a>
      </span>
      <div class="comment">
        <img src="/assets/img/ic_comment.png">
        <span>{{ article.commentCount }} Comments</span>
      </div>
    </div>
    <div class="image">
      <img :src="article.image">
    </div>
  </div>
</template>

<script>
export default {
  name: "forum-article",
  props: {
    showContent: {
      type: Boolean
    },
    article: {
      type: Object,
      default: function() {
        return {
          id: 0,
          title: "",
          description: "",
          commentCount: 0,
          image: ""
        };
      }
    }
  },
  // props: ['showContent', 'article'],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
