<template>
  <div class="box-slide" v-if="product">
    <div class="sale-box" v-if="product.auction">
      <span>auction</span>
    </div>
    <div class="image-container">
      <a :href="`/product/${product.slug}`">
        <img v-if="product.productContents.length > 0 && product.productContents[0].fullpath" :src="product.productContents[0].fullpath">
        <img v-else src="/img/no-image.jpeg" alt="" title="" />
      </a>
    </div>
    <a :href="`/product/${product.slug}`">
      <div class="box-description">
        <span class="title b-80" data-toggle="tooltip" :title="product.name">{{ product.name | cut(15) }}</span>
        <div class="stars">
          <star-rating :rating="product.productDetail.totalRating" :read-only="true" :inline="true" :show-rating="false" :increment="1" :star-size="16"></star-rating>
          <span class="total-reviews price b-80"> ( {{ product.productDetail.totalRating }} )</span>
        </div>
        <span v-if="product.auction" class="price b-80">
            {{ product.priceText }}
        </span>
        <span v-else class="price b-80">
            {{ product.productVariant.priceText ? product.productVariant.priceText : product.productVariant.price }}
        </span>
      </div>
    </a>
    <button
      v-if="enableDeleteWishlist"
      type="button"
      class="btn-add-cart"
      @click="deleteWishlist"
    >Delete Wishlist</button>
  </div>
</template>

<script>
import StarRating from 'vue-star-rating'
export default {
  name: "card-product",
  components: {
    StarRating
  },
  props: ["product", "enableDeleteWishlist"],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
    deleteWishlist() {
      this.$emit("deletefromwishlist");
    }
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
