<template>
  <div class="col-md-4">
    <div class="box-slide-big">
      <div class="image-container">
        <a :href="`/store/${store.slug}`">
          <img :src="store.profilePicture">
        </a>
      </div>
      <a :href="`/store/${store.slug}`">
        <div class="box-description">
          <span class="title b-80">{{ store.name }}</span>
          <star-rating :rating="4" :read-only="true" :show-rating="false" :increment="1" :star-size="16"></star-rating>
          <span class="location b-80">
            <i class="fa fa-map-marker"></i> Jakarta
          </span>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import StarRating from 'vue-star-rating'
export default {
  name: "card-store",
  components: {
    StarRating
  },
  props: ["store"],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
