<template>
  <div class="modal fade" id="changeStatusVerified" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            ref="buttonModalClose"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="b-80">
            <img src="/assets/img/ic_verified.png">Become Verified User
          </h5>
          <span
            class="normal-size"
          >To create store & bid all products you must be a verified seller first, please follow the procedure bellow.</span>
          <div class="modal-upload-image">
            <div class="group-modal">
              <div class="box-number">
                <div class="box-border">
                  <span>1</span>
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="productImage"
                  class="col-form-label label-cs-text"
                >Upload Your ID Card (KTP)</label>
                <div id="storeImage">
                  <img id="imageStore">
                  <label id="#add-img">
                    Select Image
                    <input
                      type="file"
                      id="files"
                      name="files"
                      @change="onKTPFileImageChanged"
                      multiple
                    >
                  </label>
                </div>
              </div>
            </div>
            <span>File: {{ ktpFileName ? ktpFileName : '-' }}</span>
            <div class="group-modal">
              <div class="box-number">
                <div class="box-border">
                  <span>2</span>
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="productImage"
                  class="col-form-label label-cs-text"
                >Upload Your ID Card (KTP) + Selfie</label>
                <div id="storeImage">
                  <img id="imageStore">
                  <label id="#add-img">
                    Select Image
                    <input
                      type="file"
                      id="files"
                      name="files"
                      @change="onSelfieFileImageChanged"
                      multiple
                    >
                  </label>
                </div>
              </div>
            </div>
            <span>File: {{ selfieFileName ? selfieFileName : '-' }}</span>

            <br>

            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" v-model="readAndAgree" @click="removeErrorText">
                <label class="form-check-label text-register" style="text-align:left" for="inlineCheckbox2">
                  Setelah klik submit, silakan cek email Anda untuk konfirmasi kami bahwa foto ktp dan selfie Anda telah kami terima. Jika Anda belum menerima email konfirmasi dari kami, silakan dicoba kembali atau hubungi kami di admin@ketokpalu.com
                </label>
              </div>
              <h6 id="error-verified-text" class="text-danger text-center">{{ errorText }}</h6>

            </div>

          </div>
          <div class="modal-footer">
            <button class="btn-modal-sumbit" @click="onClickSubmit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/config/constants";

export default {
  name: "modal-verified-member",
  props: ["source"],
  data() {
    return {
      // data
      ktpUrlImage: "",
      ktpImage: "",
      ktpFileName: "",
      selfieUrlImage: "",
      selfieImage: "",
      selfieFileName: "",
      readAndAgree: false,
      errorText :''
    };
  },
  methods: {
    // list of methods
    onKTPFileImageChanged: function(event) {
      let input = event.target;
      if (input.files && input.files[0]) {
        let fileData = input.files[0];
        let reader = new FileReader();
        this.ktpUrlImage = URL.createObjectURL(fileData);
        this.ktpFileName = fileData.name;
        reader.onload = e => {
          this.ktpImage = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    onSelfieFileImageChanged: function(event) {
      let input = event.target;
      if (input.files && input.files[0]) {
        let fileData = input.files[0];
        let reader = new FileReader();
        this.selfieUrlImage = URL.createObjectURL(fileData);
        this.selfieFileName = fileData.name;
        reader.onload = e => {
          this.selfieImage = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
    onClickSubmit () {
      let token = this.$cookie.get('kpid');
      let accessToken = 'Bearer ' + token;
      let userId = this.$cookie.get('uid');
      if(userId) {
        this.loadingShow()
        let headers = {headers:{'Authorization': accessToken}};
        let payload = {
          userId,
          fileKtp: this.ktpImage,
          fileSelfie: this.selfieImage
        }
        if(!this.readAndAgree){
          this.errorText = 'Silahkan centang check box pemberitahuan kami mengenai registrasi di sisi kiri tombol Submit';
          this.loadingHide()
        }else{
          this.$refs.buttonModalClose.click()
          this.$http.post(api + '/api/userVerify', payload, headers).then(function(response) {
            this.loadingHide()
            if (response.status == 200) {
              // this.user.user.isVerify = 'pending'
              this.$emit('onSuccessSubmit')
              this.$cookie.set('vfd', 'pending');

              this.ktpUrlImage    = '';
              this.ktpImage       = '';
              this.ktpFileName    = '';
              this.selfieUrlImage = '';
              this.selfieImage    = '';
              this.selfieFileName = '';
              alert('Sukses submit dokumen verifikasi')
            }
          }, function (response) {
            this.loadingHide()
            console.error(response)
          });
        }
      } else {
        alert('Terjadi kesalahan')
      }
    },
    removeErrorText(){
      this.errorText = '';
    }
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    property: function() {}
  }
};
</script>
