<template>
  <div class="col-md-2">
    <div class="side-menu-box">
      <ul id="side-menu">
        <li v-for="(category, index) in categories" :key="index">
          <span class="caret">
            {{ category ? category.name : ''}}
            <i class="fa fa-chevron-down"></i>
          </span>
          <ul v-if="category.children && category.children.length > 0" class="nested">
            <li v-for="(child, index) in category.children" :key="index">
              <span class="caret">
                {{ child.name }}
                <i class="fa fa-chevron-down"></i>
              </span>
              <ul class="nested" v-if="child.children && child.children.length > 0">
                <li v-for="(grandchild, index) in child.children" :key="index">
                  <a
                    @click="onClickCategory(grandchild)"
                    :href="'/category/' + grandchild.id"
                  >{{ grandchild.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { api } from "@/config/constants";

export default {
  name: "sidebar-category",
  props: [],
  data() {
    return {
      // data
      categories: null
    };
  },
  methods: {
    // list of methods
    getDataCategories() {
      this.loadingShow();
      this.$http.get(api + "/api/category/all").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.categories = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    onClickCategory(category) {
      localStorage.setItem("catName", category.name);
    }
  },
  created() {
    // created
    this.getDataCategories();
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
