<template>
  <div class="col-lg-2 about-img">
    <div class="my-account-list">
      <li>
        <a href="/profile" class>Akun</a>
      </li>
      <li>
        <a href="/store" class>Toko</a>
      </li>
      <li v-if="sid">
        <a href="/store/edit" class="">Edit Toko</a>
      </li>
      <li v-if="sid">
        <a href="/bank" class>Rekening</a>
      </li>
      <li v-if="sid">
        <a href="/shipment" class>Pengiriman</a>
      </li>
      <li>
        <a href="/transaction/purchase" class>Transaksi Pembelian</a>
      </li>
      <li v-if="sid">
        <a href="/transaction/sales" class>Transaksi Penjualan</a>
      </li>
      <!--<li>-->
        <!--<a href="/messages" class>Pesan</a>-->
      <!--</li>-->
      <li>
        <a href="/rating-review" class>Rating Ulasan</a>
      </li>
      <li>
        <a href="/bid/history" class="">Transaksi Bid</a>
      </li>
    </div>
  </div>
</template>

<script>
export default {
  name: "sidebar-user",
  props: [],
  data() {
    return {
      // data
      sid: ""
    };
  },
  created() {
    // created
    this.sid = this.$cookie.get("sid");
  },
  mounted() {
    // mounted
  },
  methods: {
    // list of methods
  },
  watch: {
    // watcher list
  }
};
</script>
