<template>
  <header class="sticky-top">
    <nav class="navbar-expand-lg nav-bg-color">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg nav-bg-color">
          <a class="navbar-brand" id="logo" href="/">
            <img src="/assets/img/logo.png">
          </a>
          <button
            class="navbar-toggler custom-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-toggle"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon">
              <i class="fa fa-navicon"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!-- search -->
              <div class="input-group main-search">
                <input
                  v-model="searchQuery"
                  type="text"
                  class="form-control search-box"
                  placeholder="Search something here…"
                >
                <div class="input-group-append">
                  <button
                    @click="onClickSearch"
                    class="btn btn-secondary btn-search"
                    type="button"
                  >Search</button>
                </div>
              </div>

              <login-register :redirect-login="'/'"></login-register>

              <div>
                <button
                  @click="checkout"
                  class="btn btn-login-reg"
                  type="button"
                  id="about-us"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <div class="img-profile-top">
                    <div class="image-border">
                      <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="text-account">
                      <span>My Cart</span>
                      <span class="bottom-2 b-40">{{ cart.item }} Item | {{ cart.priceText }}</span>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </nav>

        <nav class="navbar navbar-expand-lg nav-bg-color">
          <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup-2">
            <div class="navbar-nav">
              <div class="dropdown">
                <button
                  @click="manualToggleDropdown"
                  class="btn btn-category"
                  type="button"
                  id="all-category"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>{{ selectedCategoryName }}</span>
                  <i class="fa fa-angle-down pull-right"></i>
                </button>
                <div
                  class="dropdown-menu side-menu-box"
                  aria-labelledby="list-category"
                  id="list-category"
                >
                  <ul id="side-menu">
                    <li v-for="(category, index) in categories" :key="index">
                      <span class="caret">
                        {{ category ? category.name : ''}}
                        <i class="fa fa-chevron-down"></i>
                      </span>
                      <ul v-if="category.children && category.children.length > 0" class="nested">
                        <li v-for="(child, index) in category.children" :key="index">
                          <span class="caret">
                            {{ child.name }}
                            <i class="fa fa-chevron-down"></i>
                          </span>
                          <ul class="nested" v-if="child.children && child.children.length > 0">
                            <li v-for="(grandchild, index) in child.children" :key="index">
                              <a
                                @click="selectCategory(grandchild)"
                                href="javascript:void(0)"
                              >{{ grandchild.name }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <button
                @click="redirectHowTo"
                class="btn btn-category-2"
                type="button"
                id="about-us"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span>HOW TO</span>
              </button>
              <button
                @click="redirectForum"
                class="btn btn-category-2"
                type="button"
                id="about-us"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span>FORUM</span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </nav>
  </header>
</template>

<script>
import { api } from "@/config/constants";
import LoginRegister from "@/components/general/header/LoginRegister";

export default {
  name: "commerce-header",
  // props: ['accesstoken'],
  components: {
    "login-register": LoginRegister
  },
  data: function() {
    return {
      accesstoken: null,
      token: "",
      uid: "",
      cart: {
        item: 0,
        price: 0,
        priceText: "Rp. 0"
      },
      user: {},
      categories: null,
      searchQuery: "",
      selectedCategoryName: "All Categories",
      selectedCategory: null
    };
  },
  methods: {
    setupDropDown() {
      var toggler = document.getElementsByClassName("caret");
      var i;

      for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
          if (
            this.parentElement &&
            this.parentElement.querySelector(".nested")
          ) {
            this.parentElement
              .querySelector(".nested")
              .classList.toggle("active");
          }
          this.classList.toggle("caret-down");
        });
      }
    },
    getUserId: function(headers) {
      return this.$http.get(api + "/api/user", headers).then(
        function(resp) {
          if (resp.status == 200) {
            this.$cookie.set("uid", resp.data);
            this.uid = resp.data;
            window.location.href = "/";
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getAllCategory: function() {
      this.$http.get(api + "/api/public/category").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.categories = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getCart: function() {
      if (this.uid) {
        this.loadingShow();
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.$http
          .get(api + "/api/cart/" + this.uid + "/total-count", headers)
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.cart = resp.data;
              }
            },
            function(resp) {
              this.loadingHide();
              console.log(resp);
            }
          );
      }
    },
    checkout: function() {
      if (this.cart.item > 0) {
        window.location.href = "/product/checkout";
      }
    },
    onClickSearch() {
      if (this.searchQuery !== "") {
        let query = this.searchQuery.replace(/<[^>]*>/g, "");
        localStorage.setItem("searchQuery", query);
        if (this.selectedCategory) {
          localStorage.setItem("categoryIdSearchQuery", this.selectedCategory);
          localStorage.setItem(
            "categoryIdSearchQueryName",
            this.selectedCategoryName
          );
        } else {
          localStorage.removeItem("categoryIdSearchQuery");
          localStorage.removeItem("categoryIdSearchQueryName");
        }

        window.location.href = "/search";
      } else {
        alert("Please enter keywords you want to search");
      }
    },
    redirectForum() {
      window.open("/forum", "_blank");
    },
    redirectHowTo() {
      window.open("/static/how-to", "_blank");
    },
    selectCategory(category) {
      this.selectedCategory = category.id;
      this.selectedCategoryName = category.name;
      this.manualToggleDropdown();
    },
    manualToggleDropdown() {
      let dropdownMenu = document.getElementById("list-category");
      dropdownMenu.classList.toggle("show");
    },
    getDataCategories() {
      this.loadingShow();
      this.$http.get(api + "/api/category/all").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.categories = resp.data;
            setTimeout(() => this.setupDropDown(), 300);
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    }
  },
  mounted: function() {
    if (this.accesstoken !== "" && this.accesstoken !== undefined) {
      // const accessToken = this.accesstoken;
      let headers = {
        headers: { Authorization: "Bearer " + this.accesstoken }
      };
      this.$cookie.set("kpid", this.accesstoken);
      this.token = this.accesstoken;
      this.getUserId(headers);
    } else {
      this.storeId = this.$cookie.get("sid");
      this.token = this.$cookie.get("kpid");
      this.uid = this.$cookie.get("uid");
      this.getCart();
      // this.getUserById()
      // this.getAllCategory()
    }
    this.getDataCategories();
  },
  created: function() {
    this.accesstoken = this.$route.query.token;
  }
};
</script>
