<template>
  <header class="sticky-top">
    <nav class="navbar-expand-lg nav-bg-color">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg nav-bg-color">
          <a class="navbar-brand" id="logo" :href="redirectLogin">
            <img src="/assets/img/logo.png">
          </a>
          <button
            class="navbar-toggler custom-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-toggle"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse navbar-toggle justify-content-end"
            id="navbarNavAltMarkup"
          >
            <div class="navbar-nav">
              <!-- search -->

              <div v-if="enableSearch" class="input-group main-search">
                <input
                  type="text"
                  class="form-control search-box"
                  placeholder="Search something here…"
                >
                <div class="input-group-append">
                  <button class="btn btn-secondary btn-search" type="button">Search</button>
                </div>
              </div>

              <!-- dropdown -->
              <login-register :redirect-login="redirectLogin"></login-register>

              <div>
                <button
                  class="btn btn-login-reg"
                  type="button"
                  id="about-us"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <div class="img-profile-top">
                    <div class="image-border">
                      <i class="fa fa-home"></i>
                    </div>
                    <div class="text-account">
                      <span class="after-login" @click="openHome">Back to Marketplace</span>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </nav>
  </header>
</template>

<script>
import LoginRegister from "@/components/general/header/LoginRegister";

export default {
  name: "forum-header",
  components: {
    "login-register": LoginRegister
  },
  props: ["enableSearch", "redirectLogin"],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
    openHome() {
      window.open("/", "_blank");
    }
  },
  created() {
    // created
  },
  mounted() {
    // mounted
    // this.loadingHide()
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
