<template>
  <div class="dropdown">
    <button
      v-if="user.fullname"
      class="btn btn-login-reg"
      type="button"
      id="login-register"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <div class="img-profile-top">
        <div class="image-border">
          <i class="fa fa-user"></i>
        </div>
        <div class="text-account">
          <span class="after-login">{{ user.fullname }}</span>
        </div>
      </div>
    </button>
    <button
      v-else
      class="btn btn-login-reg"
      type="button"
      id="login-register"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <div class="img-profile-top">
        <div class="image-border">
          <i class="fa fa-user"></i>
        </div>
        <div class="text-account">
          <span>Akun Saya</span>
          <span class="bottom-2 b-40">Login/Register</span>
        </div>
      </div>
    </button>

    <div
      v-if="user.fullname"
      class="dropdown-menu"
      id="after-login-account"
      aria-labelledby="login-register"
    >
      <ul class="list-profile-menu">
        <li>
          <a href="/profile">Akun Saya</a>
        </li>
        <li>
          <a href="/store">Toko Saya</a>
        </li>
        <li>
          <a href="/message/list">Pesan Masuk</a>
        </li>
        <li>
          <a href="/wishlist">Wishlist Saya</a>
        </li>
        <li>
          <a href="/transaction/purchase">Transaksi Pembelian</a>
        </li>
        <li>
          <a href="/transaction/sales">Transaksi Penjualan</a>
        </li>
        <li>
          <a href="/rating-review">Rating Ulasan</a>
        </li>
        <hr>
        <li>
          <a href="#" v-on:click="logout">Logout</a>
        </li>
      </ul>
    </div>

    <form v-else @submit.prevent="login" method="post" role="form">
      <div class="dropdown-menu" id="dropdown-login" aria-labelledby="login-register">
        <div class="form-group dropdown-dt" v-if="errors.loginError">
          <div class="text-center" v-bind:class="alertClass">{{ errors.loginError }}</div>
        </div>

        <div class="form-group dropdown-dt">
          <input type="text" class="form-control reg-form" placeholder="Email" v-model="form.email">
          <div class="validation text-danger" v-if="errors.email">{{ errors.email }}</div>
        </div>

        <div class="form-group dropdown-dt">
          <div class="input-group" id="show_hide_password_main">
            <input
              :type="passwordFieldType"
              placeholder="Password"
              class="form-control reg-form"
              data-toggle="password"
              v-model="form.password"
            >
            <div class="input-group-append">
              <span class="input-group-text reg-form" v-on:click="showPassword">
                <a href="#">
                  <i
                    class="fa"
                    v-bind:class="{'fa-eye-slash': passwordIconShow, 'fa-eye': !passwordIconShow}"
                    aria-hidden="true"
                  ></i>
                </a>
              </span>
            </div>
          </div>
          <div class="validation text-danger" v-if="errors.password">{{ errors.password }}</div>
          <div class="form-check">
            <div class="pull-left">
              <input
                class="form-check-input"
                type="checkbox"
                id="check_login"
                v-bind:value="true"
                v-model="form.remember"
              >
              <label class="form-check-label text-register" for="check_login">Ingat saya</label>
            </div>
            <div class="pull-right">
              <a class="b-80" href="/forgot-password">Forgot ?</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="text-center dropdown-dt">
            <button class="btn btn-secondary btn-register" type="submit">Login KetokPalu</button>
          </div>
        </div>

        <div class="form-group">
          <hr class="hr-text" data-content="atau Login dengan">
        </div>

        <!-- <div class="form-group dropdown-dt">
          <div class="text-center">
              <button class="btn btn-secondary btn-social" @click="facebookLogin" type="button"><img src="/img/ic_facebook.png">Facebook</button>
          </div>
        </div>-->

        <div class="form-group dropdown-dt">
          <div class="text-center">
            <button class="btn btn-secondary btn-social" @click="googleLogin" type="button">
              <img src="/assets/img/ic_google.png">Google
            </button>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <label class="form-check-label text-register">
              Belum punya akun?
              <a href="/register">Register</a>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
  import { api, baseUrl } from "@/config/constants";

  export default {
    name: "login-register",
    props: ["redirectLogin"],
    data() {
      return {
        // data
        xPlayer : "",
        hasStore : "empty",
        form: {
          email: "",
          password: "",
          remember: false,
        },
        token: "",
        uid: "",
        user: {
          fullname: ""
        },
        errors: {
          email: "",
          password: "",
          loginError: ""
        },
        isError: false,
        passwordFieldType: "password",
        passwordIconShow: true,
        alertClass: "",
        storeId: ""
      };
    },
    methods: {
      // list of methods
      googleLogin: function() {
        window.location.href =
          api + `/oauth2/authorize/google?redirect_uri=${baseUrl}`;
      },
      facebookLogin: function() {
        window.location.href =
          api +
          "/oauth2/authorize/facebook?redirect_uri=http://117.53.44.207:8003/";
      },
      logout: function() {
        this.$cookie.flush();
        window.location.href = this.redirectLogin;
      },
      login: function() {
        this.isError = false;
        if (!this.form.email) {
          this.errors.email = "Email harus diisi";
          this.isError = true;
        }
        if (!this.form.password) {
          this.errors.password = "Password harus diisi";
          this.isError = true;
        }
        this.errors.loginError = "";
        this.alertClass = "";

        let headerLogin = {
          headers: {
            'X-Player-Web': this.xPlayer,
          }
        };
        if (!this.isError) {
          this.$http.post(api + "/api/auth/signin", this.form,headerLogin).then(
            function(response) {
              if (response.status == 200) {
                let accessToken = response.data.accessToken;
                let headers = {
                  headers: {
                    Authorization: "Bearer " + accessToken,
                  }
                };
                console.log("this", this);
                this.$cookie.set("kpid", accessToken);

                this.getUserId(headers);
              } else {
                alert("Username atau password tidak sesuai");
              }
            },
            function(response) {
              this.loadingHide();
              alert("Username atau password tidak sesuai");
            }
          );
        }
      },
      showPassword: function() {
        this.passwordFieldType =
          this.passwordFieldType == "password" ? "text" : "password";
        this.passwordIconShow =
          this.passwordFieldType == "password" ? true : false;
      },
      getUserId: function(headers) {
        return this.$http.get(api + "/api/user", headers).then(
          function(resp) {
            if (resp.status == 200) {
              this.$cookie.set("uid", resp.data);
              this.getStore(headers, resp.data,true);
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
          }
        );
      },
      getStore: function(headers, userId, needReload) {
        return this.$http
          .get(api + "/api/store/" + userId + "/user", headers)
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.$cookie.set("sid", resp.data.id);
                this.$cookie.set("hasStore", "yes");
              }else{
                this.$cookie.set("hasStore", "no");
              }

              if(needReload){
                window.location.href = this.redirectLogin;
              }
            },
            function(resp) {
              this.loadingHide();
              console.log(resp.data);
            }
          );
      },
      getUserById: function() {
        if (this.uid) {
          let accessToken = "Bearer " + this.token;
          let headers = { headers: { Authorization: accessToken } };
          this.$http.get(api + "/api/user/" + this.uid, headers).then(
            function(resp) {
              if (resp.status == 200) {
                this.user.fullname = resp.data.fullname;
                this.$cookie.set("vfd", resp.data.isVerify);

                if(this.$cookie.get("sid") == null && this.$cookie.get("hasStore") == null ){
                  this.getStore(headers, this.uid, false);
                }
              }
            },
            function(resp) {
              console.log(resp.data);
            }
          );
        }
      }
    },
    created() {
      // created
      this.storeId = this.$cookie.get("sid");
      this.token = this.$cookie.get("kpid");
      this.uid = this.$cookie.get("uid");
      this.getUserById();
      this.xPlayer = localStorage.getItem('xplayer');
    },
    mounted() {
      // mounted
    },
    watch: {
      // watcher list
      // property: function() {}
    }
  };
</script>
