<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row detail-page">
          <div class="col-md-4">
            <div v-if="product.productContents" class="image-detail">
              <!--<div class="image-parent">-->
              <!--<div id="image">-->
              <!--<img-->
              <!--v-if="product.contentThumb"-->
              <!--:src="product.contentThumb.fullpath"-->
              <!--alt-->
              <!--border="0"-->
              <!--&gt;-->
              <!--<img v-else src alt border="0">-->
              <!--</div>-->
              <!--</div>-->

              <!--<template>-->
              <!--<div class="col-md-12">-->
              <!--<VueSlickCarousel :arrows="true" :variableWidth="true" :centerMode="false" :swipeToSlide="true" :infinite="false">-->
              <!--<a-->
              <!--v-for="content in product.productContents"-->
              <!--:key="content.id"-->
              <!--href="javascript:void(0)"-->
              <!--:rel="content.fullpath"-->
              <!--class="image"-->
              <!--&gt;-->
              <!--<div class="slick-carrousel-inner">-->
              <!--<img :src="content.fullpath" class="thumb" border="0">-->
              <!--</div>-->

              <!--</a>-->
              <!--</VueSlickCarousel>-->
              <!--</div>-->
              <!--</template>-->

              <template>
                <agile ref="main" :options="options1" :as-nav-for="asNavFor1">
                  <div  v-for="(slide,index) in product.productContents" :key="index" :class="`slide--${index}`">
                    <img :src="slide.fullpath" class="image-parent">
                  </div>
                </agile>
                <agile class="thumbnails" ref="thumbnails" :options="options2" :as-nav-for="asNavFor2">
                  <div class="slide slide--thumbniail image-thumbnail" v-for="(slide,index) in product.productContents" :key="index"
                       :class="`slide--${index}`" @click="$refs.main.goTo(index)">
                    <img :src="slide.fullpath">
                  </div>
                  <template slot="prevButton" class="prev-button"> <i class="fa fa-chevron-circle-left"></i> </template>
                  <template slot="nextButton" class="next-button"> <i class="fa fa-chevron-circle-right"></i> </template>
                  <div class="navigation-carousel">
                  </div>
                </agile>
              </template>

            </div>
          </div>

          <div class="col-md-8">
            <div class="detail-description">
              <div class="row detail-title b-80">
                <div class="col-md-9 title">
                  <span>{{ product.name }}</span>

                  <div class="review">
                    <star-rating :rating="totalRating" :read-only="true" :inline="true" :show-rating="false" :increment="1" :star-size="16"></star-rating>
                    <span class="total-reviews price b-80"> ( {{ totalRating }} )</span>
                  </div>

                </div>
                <div class="col-md-3 share-group">
                  <div class="dropdown show">
                    <a class="btn btn-share dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-share-alt"></i>Share
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <social-sharing :url="thisUrl" :title="product.name" :description="product.description" v-cloak inline-template>
                        <div>
                          <div class="share-social">
                            <network network="facebook">
                              <i class="fa fa-fw fa-facebook"></i> Facebook
                            </network>
                          </div>
                          <div class="share-social">
                            <network network="twitter">
                              <i class="fa fa-fw fa-twitter"></i> Twitter
                            </network>
                          </div>
                          <div class="share-social">
                            <network network="email" id="email">
                              <i class="fa fa-fw fa-envelope"></i> Email
                            </network>
                          </div>
                        </div>
                      </social-sharing>
                    </div>
                  </div>
                </div>
              </div>

              <div class="detail-price">
                <span class="real">{{ product.priceText }}</span>
              </div>
              <div class="description">
                <p v-html="product.description">{{ product.description }}</p>
                <div class="font-weight-bold">Berat : {{ product.weight }}gr</div>
              </div>
              <div class="button-group">
                <button
                  v-if="product.productDetail"
                  class="btn btn-whislist b-80"
                  @click="addWishlist(product.id)"
                  :class="{ 'red-border': product.wishlist && product.wishlist.wishlisted }"
                >
                  <i
                    class="fa fa-heart-o"
                    :class="{ 'red-color': product.wishlist && product.wishlist.wishlisted }"
                  ></i>
                  {{ product.productDetail.totalWishlist }} Wishlist
                </button>
                <button v-else class="btn btn-whislist b-80" @click="addWishlist(product.id)">
                  <i class="fa fa-heart-o"></i>0 Wishlist
                </button>
                <template v-if="!product.auction && product.createdBy != uid">
                  <button @click="addCart('/product/checkout')" class="btn btn-buy b-80">Beli</button>
                  <button @click="addCart('')" class="btn btn-cart-detail b-80">Tambah ke Keranjang</button>
                </template>
              </div>
            </div>
          </div>
        </div>

        <div v-if="pageable.content.length > 0" class="bid-list rating-list">
          <div class="row">
            <div class="col-md-12 form-group-header mb-30">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Ulasan</a>
              </div>
              <br>
              <div>Total Ulasan ( {{ totalReview }} )</div>
            </div>
          </div>
          <div class="row">

            <div v-for="(review,index) in pageable.content" class="col-md-12" :key="index">
              <div class="media">
                <div class="media-left">
                  <img v-if="review.reviewImage != '' " :src="review.reviewImage" class="media-object" style="width:60px">
                  <img v-else src="/assets/img/blank-profile-picture.png" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                  <div class="media-heading">{{ review.reviewBy }}</div>
                  <div class="review">
                    <star-rating :rating="review.productRating" :read-only="true" :show-rating="false" :increment="1" :star-size="16"></star-rating>
                  </div>
                  <div class="review-date">( {{ review.dateReview }} )</div>

                  <p>{{ review.productReview }}</p>
                </div>
              </div>

              <hr>
            </div>

            <!--<div class="col-md-12">-->
              <!--<ul class="pagination">-->
                <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></span></a></li>-->
                <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-left"></i></span></a></li>-->
                <!--<li class="page-item  "><a class="page-link "> 1 </a></li>-->
                <!--<li class="page-item  "><a class="page-link "> 2 </a></li>-->
                <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i></span></a></li>-->
                <!--<li class="page-item "><a href="javascript:void(0)" class="page-link "><span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span></a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <div class="col-md-12" v-if="pageable.content.length > 0">

              <bee-pagination
                v-if="pagination.pageCount > 0"
                v-model="pagination.currentPage"
                :page-count="pagination.pageCount"
                @change="onChangePagination"
              ></bee-pagination>
            </div>

          </div>
        </div>

        <div v-if="product.auction" class="time-server">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="digital-clock">
                <div class="digital-clock-date">Jam Server : {{ date }} {{ time }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="bid-list">
          <div class="row">
            <div v-if="product.auction" class="col-md-8">
              <div class="row">
                <div class="col-md-6 form-group-header mb-30">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active page-header">Daftar Peserta Lelang</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <countdown ref="countdown" :auto-start="true" :time="timeRange">
                    <template slot-scope="props">
                      <div class="timer">
                        <div class="box-timer">
                          <span>{{ props.days }}</span>
                          <p>Days</p>
                        </div>
                        <div class="box-timer">
                          <span>{{ props.hours }}</span>
                          <p>Hrs</p>
                        </div>
                        <div class="box-timer">
                          <span>{{ props.minutes }}</span>
                          <p>Mns</p>
                        </div>
                        <div class="box-timer">
                          <span>{{ props.seconds }}</span>
                          <p>scnd</p>
                        </div>
                      </div>
                    </template>
                  </countdown>
                </div>
                <template
                  v-if="token && product.auction && product.productAuction && product.createdBy != uid"
                >
                  <button
                    v-if="product.productAuction.start == false"
                    class="col-md-3 btn-bid btn"
                  >Belum dimulai</button>
                  <button
                    v-else-if="product.productAuction.start === true && product.productAuction.end === false"
                    class="col-md-3 btn-bid btn"
                    @click="onClickBid"
                  >
                    Bid
                  </button>
                  <button v-else class="col-md-3 btn-bid btn">Lelang selesai</button>
                </template>
              </div>
              <template v-if="product.productBids">
                <div v-for="(bid, index) in product.productBids" :key="bid.id" class="list-person">
                  <div class="border-number">
                    <span class="number">#{{ index + 1 }}</span>
                  </div>
                  <div class="person-image">
                    <img src="/assets/img/blank-profile-picture.png" alt="">
                  </div>
                  <div class="list-name">
                    <span v-if="bid.user && bid.user.fullname" class="name b-80">{{ bid.user.fullname }}</span>
                    <span v-else class="name b-80"></span>
                    <span class="date pull-right">{{ bid.createdAtText }}</span>
                    <p class="price b-80">{{ bid.valueText }}</p>
                  </div>
                </div>
              </template>
            </div>
            <div v-else class="col-md-8"></div>

            <div class="col-md-4">
              <div class="form-group-header mb-30">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active page-header">Toko</a>
                </div>
              </div>
              <div class="store-desc">
                <div class="store-image">
                  <img
                    v-if="product.store && product.store.profilePicture"
                    :src="product.store.profilePicture"
                  >
                  <img v-else src="/assets/img/store.png" alt>
                </div>
                <div class="store-name">
                  <span v-if="product.store && product.store.name" class="name">
                    <a :href="'/store/' + product.store.slug">{{ product.store.name }}</a>
                  </span>
                  <span v-else class="name"></span>

                  <div class="review">
                    <star-rating :rating="totalStoreRating" :read-only="true" :inline="true" :show-rating="false" :increment="0.1" :star-size="16"></star-rating>
                    <span class="total-reviews price b-80"> ( {{ totalStoreRating }} )</span>
                  </div>

                  <p
                    v-if="product.store && product.store.address"
                    class="place"
                  >{{ product.store.address }}</p>
                  <p v-else class="place"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- The Modal -->
    <div v-if="token && product.auction" class="modal" id="bidNow">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
            <h6 class="b-80">Bid For</h6>
            <div class="product-modal">
              <div class="image-product">
                <img v-if="product.contentThumb" :src="product.contentThumb.fullpath" alt>
                <img v-else src alt>
              </div>
              <div class="product-description">
                <span class="title">{{ product.name }}</span>
                <br>
                <small>Harga Asli</small>
                <span class="price">{{ product.productVariant.priceText }}</span>
                <br>
                <small>Penawaran tertinggi</small>
                <span v-if="product.highestBid" class="price">{{ product.highestBid.valueText }}</span>
                <span v-else class="price">Rp. 0</span>
              </div>
            </div>
            <div class="product-input">
              <hr>
              <div class="form-group choose-bid">
                <h6 class="col-sm-5 b-80">Bidding Type</h6>
                <div class="row group-check">
                  <label class="radio-check"><span class="font-weight-bold">Manual</span>
                    <input v-model="bidtype" value="manual" type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>

                  <div class="tooltip"><i class="fa fa-info-circle"></i>
                    <span class="tooltiptext">
                      Bid manual adalah opsi bagi pembeli untuk memasukkan bid secara manual.
                      Keuntungan bid manual adalah pembeli bisa langsung memasukkan bid dengan nominal tinggi untuk ‘menggertak’ peserta lelang yang lain hingga urung melanjutkan lelang dan pembeli bisa dengan mudah mendapatkan barang yang diinginkan.
                      Selain itu, bid manual juga memungkinkan pembeli untuk mendapatkan barang yang diinginkan berapapun nominalnya</span>
                  </div>

                  <label class="radio-check"><span class="font-weight-bold">Auto</span>
                    <input v-model="bidtype" type="radio" value="auto" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <div class="tooltip"><i class="fa fa-info-circle"></i>
                    <span class="tooltiptext">
                      Bid otomatis adalah opsi bagi pembeli untuk memasukkan bid secara otomatis (dengan bantuan sistem).
                      Artinya, di awal lelang pembeli cukup memasukkan batas atas bid (nominal bid tertinggi) untuk barang yang diinginkan.
                      Setelah itu, sistem akan memasukkan bid secara bertahap seturut perkembangan lelang.
                      Pembeli bisa mengubah nominal bid tertingginya jika bid terakhir dalam lelang telah melebihi batas atas bid yang ditetapkan pembeli.</span>
                  </div>
                </div>
              </div>

              <hr>
              <div class="table-scrollbar">
                <h5 class="text-center">Tabel Kelipatan Bidding</h5>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Dari (Rp)</th>
                    <th>Sampai (Rp)</th>
                    <th>Step (Rp)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(dataIncrement,index) in productIncrement" :key="index">
                    <td>{{ formatPrice(dataIncrement.min) }}</td>
                    <td>{{ formatPrice(dataIncrement.max) }}</td>
                    <td>{{ formatPrice( dataIncrement.increment) }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <h6 class="b-80">Masukan penawaran anda</h6>
              <div class="badge-bid">
                <span
                  v-for="(priceBid, index) in product.rangePrice"
                  @click="setBid(priceBid)"
                  :key="index"
                >{{ priceBid }}</span>
              </div>
              <form @submit.prevent="submitBid" method="post">
                <div class="input-group">
                  <money
                    v-model="bid.value"
                    v-bind="money"
                    v-on:change="clearBid"
                    class="form-control"
                  ></money>
                  <button
                    :disabled="bid.value == 0 || bid.value == ''"
                    class="btn-submit btn"
                  >Submit</button>
                </div>
                <div class="validation text-danger" v-if="errors.bid.value">{{ errors.bid.value }}</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal bid -->

    <!-- modal verified member -->
    <modal-verified-member @onSuccessSubmit="successSubmit"></modal-verified-member>


    <div v-if="product.createdBy != uid" class="chat">

      <div class="chat_header">
        <div class="chat_option">
          <span id="chat_head">{{ messageDetails.name }}</span>
          <span id="chat_fullscreen_loader" class="chat_fullscreen_loader">
              <i class="fullscreen zmdi zmdi-window-maximize"></i>
            </span>
        </div>
      </div>

      <div id="chat_fullscreen" class="chat_conversion chat_converse">

        <div v-if="messageDetails.loadMore" class="load-more-message text-center">
          <p class="text-center load-more-button text-center" @click="getMessageDetailWithLimit">Muat lainnya <i class="fa fa-refresh" aria-hidden="true"></i></p>
        </div>

        <div v-for="(message,index) in messageDetails.messageList" :key="index">

          <div v-if="message.type == 'receiver'">

            <div v-if="message.messageImage">
                  <span class="chat_msg_item incoming_message">
                     <div v-if="message.messageImage" class="chat_avatar">
                       <img v-if="messageDetails.image != ''" :src="messageDetails.image" alt="">
                       <img v-else src="/assets/img/store.png">
                     </div>

                    <div v-if="message.messageImage" class="image-message">
                       <img :src="message.messageImage"/>
                    </div>
                  </span>
            </div>

            <div v-if="message.message">
                    <span class="chat_msg_item incoming_message">
                       <div v-if="!message.messageImage" class="chat_avatar">
                          <img v-if="messageDetails.image != ''" :src="messageDetails.image" alt="">
                          <img v-else src="/assets/img/store.png">
                       </div>

                      {{ message.message }}
                    </span>
            </div>

            <span class="status-incoming">
                  {{ message.date }}
                </span>
          </div>

          <div v-else>
            <div v-if="message.messageImage" class="chat_msg_item outgoing_message image-message">
              <img :src="message.messageImage"/>
            </div>

            <span v-if="message.message" class="chat_msg_item outgoing_message">
                  {{ message.message }}
                </span>

            <span class="status-outgoing">
                  {{ message.date }}
                </span>
          </div>

        </div>

      </div>
      <div class="fab_field">
        <a id="fab_send" class="fab" @click="addMessage">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </a>
        <textarea id="chatSend" v-model="postMessage.message" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>
      </div>
    </div>

    <div v-if="uid && product.createdBy != uid" class="fabs">
      <a id="prime" class="fab" @click="getMessageDetail">
        <i class="prime fa fa-comment-o icon-white" aria-hidden="true"></i>
      </a>
    </div>


  </main>
</template>

<script>
  import { api } from "@/config/constants";
  import ModalVerifiedMember from '@/components/commerce/ModalVerifiedMember'
  import { VueAgile } from 'vue-agile'

  // vendor
  import { Money } from "v-money";
  import moment from "moment-timezone";
  moment.tz.setDefault('Asia/Jakarta');
  moment.tz(moment(), 'Asia/Jakarta').format('DD/MM/YYYY HH:mm');
  import VueCountdown from "@chenfengyuan/vue-countdown";
  import StarRating from 'vue-star-rating'
  import BeePagination from "@/components/general/pagination/BeePagination";
  // import VueSlickCarousel from 'vue-slick-carousel'
  // import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  // optional style for arrows & dots
  // import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'


  export default {
    name: "product-detail",
    components: {
      Money,
      'countdown': VueCountdown,
      ModalVerifiedMember,
      // VueSlickCarousel,
      agile: VueAgile,
      StarRating,
      BeePagination,
    },
    props: {
      // slug: {
      //   type: String,
      //   required: true
      // }
    },
    data: function() {
      return {
        postMessage : {
          message : "",
          type : "sender",
          messageImage : "",
          messageImageBase64 : "",
          messageFrom : "local"
        },
        countLoad : 10,
        totalRating : 0,
        totalReview : 0,
        productId : 0,
        totalStoreRating : 0,
        messageDetails : {

        },
        time: '',
        date: '',
        week : [
          'Minggu',
          'Senin',
          'Selasa',
          'Rabu',
          'Kamis',
          'Jumat',
          'Sabtu'
        ],
        asNavFor1: [],
        asNavFor2: [],
        product: "",
        productIncrement: '',
        bid: {
          productId: "",
          userId: "",
          value: ""
        },
        errors: {
          bid: {
            value: ""
          }
        },
        token: "",
        uid: "",
        sid: "",
        cart: {
          userId: "",
          productId: "",
          quantity: 1
        },
        cartData: {
          item: 0,
          price: 0,
          priceText: "Rp. 0"
        },
        money: {
          decimal: ",",
          thousands: ".",
          prefix: "Rp ",
          suffix: "",
          precision: 0,
          masked: false
        },
        timeRange: 0,
        // biddingType: "auto",
        bidtype : 'auto',
        thisUrl : window.location.href,
        options1: {
          autoplay: false,
          dots: false,
          fade: true,
          navButtons: false
        },
        options2: {
          autoplay: false,
          centerMode: false,
          dots: false,
          navButtons: false,
          slidesToShow: 4,
          infinite:false,
          responsive: [
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 3
              }
            },

            {
              breakpoint: 900,
              settings: {
                navButtons: true,
                dots: false,
                infinite: false
              }
            }
          ]

        },
        pageable: {
          content: [],
          pageable: {},
          totalPages: 0,
          totalElements: 0,
          last: false,
          size: 10,
          number: 0,
          first: true,
          numberOfElements: 10,
          sort: {},
          empty: false
        },
        pagination: {
          currentPage: 0,
          pageCount: 1,
          currentElements: 0,
          totalElements: 0,
        }
      };
    },
    methods: {
      // onClickBiddingType(biddingType) {
      //   this.biddingType = biddingType;
      // },
      onClickBid() {
        let isVerify = this.$cookie.get("vfd");
        if (isVerify !== undefined) {
          if (isVerify == null || isVerify == "reject" || isVerify == "null") {
            // open modal become verified member
            $("#changeStatusVerified").modal("show");
          } else if (isVerify == "pending") {
            alert(
              `Status pengajuan verified member Anda sedang dalam proses. Status saat ini 'Pending'.`
            );
          } else {
            $("#bidNow").modal("show");
          }
        }
      },
      successSubmit() {
        // console.log('success submit')
      },
      getProduct: function() {
        let url = api + "/api/public/product/" + this.$route.params.slug;
        if (this.uid) {
          url += `?userId=${this.uid}`;
        }
        this.$http.get(url).then(
          function(resp) {
            if (resp.status == 200) {
              this.product = resp.data;
              this.totalRating = resp.data.productDetail.totalRating;
              this.totalReview = resp.data.productDetail.totalReview;
              this.totalStoreRating = resp.data.store.totalRating;
              this.productId = resp.data.id;
              setTimeout(() => {
                // this.setupCarousel();
              }, 500);
              if (resp.data.auction) {
                let timeStart = moment(this.getServerTime()).valueOf();
                let timeEnd = moment(
                  resp.data.productAuction.endAtText
                ).valueOf();
                if (timeEnd - timeStart > 0) this.timeRange = timeEnd - timeStart;
              }

              this.setupPagination();
            }
          },
          function(resp) {
            console.log(resp.data);
          }
        );
      },
      getReviews: function(pageNumber = 0) {
        let url = api + "/api/public/review/list-product/" + this.productId+'?page='+pageNumber;
        this.$http.get(url).then(
          function(resp) {
            if (resp.status == 200) {
              let totalPages = resp.data.totalPages;
              if (totalPages > 0 && pageNumber + 1 > totalPages) {
                window.location.href = this.onChangePagination(resp.data.totalPages)
              } else {
                this.pageable = resp.data;
                let currentPage = resp.data.pageable.pageNumber + 1;

                this.pagination.pageCount = totalPages;
                this.pagination.currentElements = currentPage == totalPages ? resp.data.totalElements : currentPage * resp.data.pageable.pageSize;
                this.pagination.totalElements =  resp.data.totalElements;
              }
            }
          },
          function(resp) {
            console.log(resp.data);
          }
        );
      },
      setupPagination () {
        let params = (new URL(document.location)).searchParams;
        let paramsPage = params.get('page');
        let pageForAPI = 0;
        const patternDigit = /^\d+$/;
        if (paramsPage && patternDigit.test(paramsPage) && Number(paramsPage) > 0) {
          pageForAPI = Number(paramsPage) - 1;
          let currentPage = Number(paramsPage);
          this.pagination.currentPage = currentPage;
          this.pagination.pageCount = currentPage;
          this.getReviews(pageForAPI)
        } else {
          this.getReviews(0)
        }
      },
      onChangePagination (value) {
        let path = window.location.href;
        var pageExp = /page=\d+/;
        let url = '';
        if (path.includes("page=")) {
          path = path.replace(pageExp, "page=" + value);
          url = path;
        } else {
          if(path.includes("?")){
            url = path+'&page='+value
          }else{
            url = path+'?page='+value
          }
        }
        window.location.href = url
      },
      submitBid() {
        if (this.bidtype == 'manual') this.createBid();
        else this.createAutoBid();
      },
      createAutoBid() {
        this.loadingShow();
        $("#bidNow").modal("toggle");
        let payload = {
          userId: this.$cookie.get("uid"),
          productId: this.product.id,
          limit: this.bid.value
        };

        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };

        this.$http.post(api + "/api/bid/automatic", payload, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              window.location.reload();
            }
          },
          function(resp) {
            console.error(resp);
            this.loadingHide();
            alert(resp.data.message);
          }
        );
      },
      createBid: function() {
        if (!this.token) {
          let currentUrl = window.location.href;
          window.location.href =
            "/login?redirect=" + encodeURIComponent(currentUrl);
        }

        if (!this.bid.value) {
          this.errors.bid.value = "Nilai lelang harus diisi";
          return false;
        }
        this.bid.value = parseInt(this.bid.value);
        let highestValue = this.product.highestBid
          ? this.product.highestBid.value
          : 0;
        if (this.bid.value <= highestValue) {
          this.errors.bid.value = "Nilai lelang harus diatas penawaran tertinggi";
          return false;
        }

        this.bid.productId = this.product.id;
        this.bid.userId = this.$cookie.get("uid");
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.loadingShow();
        $("#bidNow").modal("toggle");
        this.$http.post(api + "/api/bid", this.bid, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 201) {
              window.location.reload();
            }
          },
          function(resp) {
            this.loadingHide();
            alert(resp.data.message);
          }
        );
      },
      clearBid: function() {
        this.errors.bid.value = "";
      },
      parseDate: function(strDate) {
        (dateTimeParts = strDate.split(" ")),
          (timeParts = dateTimeParts[1].split(":")),
          (dateParts = dateTimeParts[0].split("-")),
          date;

        date = new Date(
          dateParts[2],
          parseInt(dateParts[1], 10) - 1,
          dateParts[0],
          timeParts[0],
          timeParts[1]
        );
        return date;
      },
      addCart: function(redirect) {
        if (!this.token) {
          let currentUrl = window.location.href;
          window.location.href =
            "/login?redirect=" + encodeURIComponent(currentUrl);
        }

        this.loadingShow();
        this.cart.userId = this.$cookie.get("uid");
        this.cart.productId = this.product.id;
        this.cart.quantity = 1;
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.$http.post(api + "/api/cart", this.cart, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              if (redirect) {
                window.location.href = redirect;
              } else {
                alert("Produk ditambahkan kedalam keranjang belanja");
                window.location.reload();
              }
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
          }
        );
      },
      setBid(value) {
        this.bid.value = value;
      },
      addWishlist(productId) {
        if (this.product.wishlist && this.product.wishlist.wishlisted) {
          alert("Produk sudah pernah ditambahkan ke wishlist");
        } else {
          let accessToken = "Bearer " + this.token;
          let headers = { headers: { Authorization: accessToken } };
          this.$http
            .post(api + "/api/wishlist", { userId: this.uid, productId }, headers)
            .then(
              function(resp) {
                this.loadingHide();
                if (resp.status == 200) {
                  this.product.productDetail.totalWishlist += 1;
                  this.product.wishlist = {
                    wishlisted: true
                  };
                } else {
                  alert("Gagal menambahkan ke wishlist");
                }
              },
              function(resp) {
                this.loadingHide();
                console.log(resp.data);
                alert("Gagal menambahkan ke wishlist");
              }
            );
        }
      },
      formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      loadImage(fullPath){
        this.product.contentThumb.fullpath = fullPath;
      },
      getBidIncrement: function() {
        let accessToken = 'Bearer ' + this.token
        let headers = {headers:{'Authorization': accessToken}};
        let payload = [];

        let url = api + '/api/bid/increment/';
        this.$http.get(url,payload, headers).then(function (resp) {
          if (resp.status == 200) {
            this.productIncrement = resp.data
          }
        }, function(resp) {
          console.log(resp.data)
        });
      },
      addMessage : function(){
        let dateFormat = moment(this.getServerTime()).format('MM-DD-YYYY HH:mm:ss');
        let messageDetail = this.messageDetails;
        let data = {
          message : this.postMessage.message,
          type : this.postMessage.type,
          date : dateFormat,
          messageFrom : this.uid,
          messageTo:messageDetail.opponentUserId,
          messageParentId : messageDetail.parentChatId
        };
        console.log(data);
        console.log(messageDetail);

        if(this.postMessage.message.length || this.postMessage.messageImage){
          this.messageDetails.messageList.push(data);
          this.resetMessageForm();

          this.scrollBottom();
        }

        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };

        console.log(this.postMessage.message);

        let payload = {
          messageFrom : data.messageFrom,
          messageTo : data.messageTo,
          message : data.message,
          messageImage : "",
          messageParentId : data.messageParentId
        };

        console.log(payload);

        if(data.message != ""){
          this.$http.post(api + "/api/chat/detail", payload, headers).then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.getMessageDetail(data.messageParentId);
              }
            },
            function(resp) {
              console.error(resp);
              this.loadingHide();
              alert(resp.data.message);
            }
          );
        }else{
          alert("harap masukkan pesan");
        }

        $('#myModal').modal('hide');
      },
      getMessageDetail: function() {
        this.resetMessageForm();
        console.log(this.product);
        let accessToken = 'Bearer ' + this.token;
        let headers = {headers:{'Authorization': accessToken}};

        let url = api + '/api/chat/list-mini-chat/'+this.uid+'/'+this.product.store.id+"?limit=10";
        this.$http.get(url, headers).then(function (resp) {
          if (resp.status == 200) {
            console.log(resp.data);
            this.messageDetails = resp.data
          }
        }, function(resp) {
          console.log(resp.data)
        });

        this.scrollBottom();
      },
      getMessageDetailWithLimit: function() {
        this.resetMessageForm();
        console.log(this.product);
        let accessToken = 'Bearer ' + this.token;
        let headers = {headers:{'Authorization': accessToken}};

        this.countLoad = this.countLoad + 10;
        let limit = this.countLoad;

        let url = api + '/api/chat/list-mini-chat/'+this.uid+'/'+this.product.store.id+"?limit="+limit;
        this.$http.get(url, headers).then(function (resp) {
          if (resp.status == 200) {
            console.log(resp.data);
            this.messageDetails = resp.data
          }
        }, function(resp) {
          console.log(resp.data)
        });
      },
      resetMessageForm : function(){
        this.postMessage.message = "";
        this.postMessage.type = "sender";
        this.postMessage.messageImage = "";
        this.postMessage.messageBase64 = null;
      },
      scrollBottom : function(){
        $('#chat_fullscreen').animate({
          scrollTop: $('#chat_fullscreen').offset().top - -10000
        }, 500);
      },
      resetFormMessage : function(){
        this.postMessage.messageImage = null;
        this.postMessage.messageBase64 = null;
        this.postMessage.message = "";
      },
      updateTime() {
        // let cd = moment().toDate();
        // let cd = moment().format('MM-DD-YYYY HH:mm:ss');

        this.time = moment(this.getServerTime()).format("HH:mm:ss");
        this.date = moment(this.getServerTime()).locale("id").format("dddd DD MMMM YYYY");

        // this.time = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2);
        // this.date = this.week[cd.getDay()] + ' ' + this.zeroPadding(cd.getDate(), 2) + '-' + this.zeroPadding(cd.getMonth()+1, 2) + '-' + this.zeroPadding(cd.getFullYear(), 4);
      },
      zeroPadding(num, digit) {
        let zero = '';
        for(let i = 0; i < digit; i++) {
          zero += '0';
        }
        return (zero + num).slice(-digit);
      }
    },
    created: function() {
      this.token = this.$cookie.get("kpid");
      this.uid = this.$cookie.get("uid");
      this.sid = this.$cookie.get("sid");

      setInterval(this.updateTime, 1000);
    },
    mounted: function() {
      this.getProduct();
      this.getBidIncrement();

      this.asNavFor1.push(this.$refs.thumbnails);
      this.asNavFor2.push(this.$refs.main);

      this.scrollBottom();

    },
    computed: {}
  };
</script>
<style scoped>
  .red-color  {
    color: red
  }

  .image-parent {
    margin-bottom: 30px;
  }

  .red-border {
    border-color: red
  }
  .slick-list{
    margin-top:20px;
  }

  .slick-carrousel-inner {
    width: 70px;
    height: 70px;
    overflow: hidden;
  }

  img.thumb {
    width: 70px;
    height: 70px;
    object-fit:cover;
  }

  .thumbnails {
    margin: 0 -5px;
    width: calc(100% + 10px);
  }

  .prev-button{
    position:absolute;
    right: 30px;
  }

</style>
