<template>
  <main id="main" v-if="token">
    <section id="main-container" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <sidebar-user/>
          <div class="col-lg-10 content-profile">
            <div class="form-group">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a v-if="productid" class="nav-item nav-link active page-header">Update Produk</a>
                <a v-else class="nav-item nav-link active page-header">Tambah Produk</a>
              </div>
            </div>
            <div class="form-group">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/store">Toko</a>
                </li>
                <li
                  v-if="productid"
                  class="breadcrumb-item active"
                  aria-current="page"
                >Update Produk</li>
                <li v-else class="breadcrumb-item active" aria-current="page">Tambah Produk</li>
              </ol>
            </div>
            <form @submit.prevent="submit" method="post" role="form">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text">Nama
                  Produk</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control input-cs" v-model="form.name"
                         placeholder="Nama Produk" max="255">
                  <div class="validation text-danger" v-if="errors.name">{{ errors.name }}</div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text">Gambar
                  Produk</label>
                <div class="col-sm-6" id="storeImage">
                  <template v-for="content in form.contents">
                              <span class="pip" :key="content.id">
                              <img class="imageThumb form-group" :src="content.url" />
                              <span class="remove ml-1 mr-3" @click="onFileRemove(content.url)"><i
                                class="fa fa-trash" aria-hidden="true"></i></span>
                              </span>
                  </template>
                  <label v-if="form.contents.length < 5"> Select Image
                    <input type="file" multiple name="files[]" id="files"
                           @change="onFileChanged">
                  </label>
                  <div class="validation text-danger" v-if="errors.contents">{{ errors.contents }}
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text">Produk lelang</label>
                <template v-if="productid">
                  <div class="col-sm-10">
                    <label class="label-radio" v-if="form.auction">Ya, ini produk lelang</label>
                    <label class="label-radio" v-else>Tidak, penjualan normal</label>
                  </div>
                </template>
                <template v-else>
                  <div class="col-sm-10">
                    <input type="radio" id="auction_n" v-bind:value="false" v-model="form.auction" @change="setStockAuction">
                    <label class="label-radio" for="auction_n">Tidak, penjualan normal</label>
                    &nbsp;
                    <input type="radio" id="auction_y" v-bind:value="true" v-model="form.auction" @change="setStockAuction">
                    <label class="label-radio" for="auction_y">Ya, ini produk lelang</label>
                  </div>
                </template>
              </div>
              <template v-if="form.auction">
                <div class="form-group row">
                  <template v-if="productid">
                    <label class="col-sm-2 col-form-label label-cs-text">Dimulai tanggal</label>
                    <div class="col-sm-3">
                      {{ formView.startAtText }}
                    </div>
                  </template>
                  <template v-else>
                    <label for="startAt" class="col-sm-2 col-form-label label-cs-text">Dimulai dalam</label>
                    <div class="col-sm-3">
                      <div class="input-group" id="startAt">
                        <select class="form-control input-cs" v-model="form.startAt">
                          <template v-for="(value, key) in bidStart">
                            <option :key="key" :value="key">{{ value }} </option>
                          </template>
                        </select>
                        <div class="input-group-append">
                                       <span class="input-group-text reg-form">
                                       <i class="fa fa-angle-down" aria-hidden="true"></i>
                                       </span>
                        </div>
                      </div>
                      <div class="validation text-danger" v-if="errors.startAt">{{ errors.startAt }}
                      </div>
                    </div>
                  </template>
                </div>
                <div class="form-group row">
                  <template v-if="productid">
                    <label class="col-sm-2 col-form-label label-cs-text">Sampai dengan</label>
                    <div class="col-sm-3">
                      {{ formView.endAtText }}
                    </div>
                  </template>
                  <template v-else>
                    <label class="col-sm-2 col-form-label label-cs-text">Selama</label>
                    <div class="col-sm-3">
                      <div class="input-group" id="endAt">
                        <select class="form-control input-cs" v-model="form.endAt">
                          <template v-for="(value, key) in bidEndDays">
                            <option :key="key" :value="key">{{ value }} </option>
                          </template>
                        </select>
                        <div class="input-group-append">
                                       <span class="input-group-text reg-form">
                                       <i class="fa fa-angle-down" aria-hidden="true"></i>
                                       </span>
                        </div>
                      </div>
                      <div class="validation text-danger" v-if="errors.endAt">{{ errors.endAt }}</div>
                    </div>
                    <div class="col-sm-2">
                      <div class="input-group" id="endAtHour">
                        <select class="form-control input-cs" v-model="form.endAtHour">
                          <template v-for="(value, key) in bidEndHours">
                            <option :key="key" :value="key">{{ value }} </option>
                          </template>
                        </select>
                        <div class="input-group-append">
                                       <span class="input-group-text reg-form">
                                       <i class="fa fa-angle-down" aria-hidden="true"></i>
                                       </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="input-group" id="endAtMinute">
                        <select class="form-control input-cs" v-model="form.endAtMinute">
                          <template v-for="(value, key) in bidEndMinutes">
                            <option :key="key" :value="key">{{ value }} </option>
                          </template>
                        </select>
                        <div class="input-group-append">
                                       <span class="input-group-text reg-form">
                                       <i class="fa fa-angle-down" aria-hidden="true"></i>
                                       </span>
                        </div>
                      </div>
                    </div>
                  </template>
                </div>
              </template>
              <div class="form-group row" v-if="formView.contents.length > 0">
                <label class="col-sm-2 col-form-label label-cs-text"></label>
                <div class="col-sm-6" id="storeImage">
                  <template v-for="content in formView.contents">
                              <span class="pip" :key="content.id">
                              <img v-if="content.fullpath" class="imageThumb form-group" :src="content.fullpath" />
                              <img v-else class="imageThumb form-group" alt="Tidak ada foto" />
                              <span class="remove ml-1 mr-3" @click="deleteImage(content.id)"><i
                                class="fa fa-trash" aria-hidden="true"></i></span>
                              </span>
                  </template>
                </div>
              </div>
              <div class="form-group row">
                <label for="stock" class="col-sm-2 col-form-label label-cs-text">Stok</label>
                <div class="col-sm-2">
                  <input v-if="form.auction" type="number" id="stock" class="form-control input-cs"
                         v-model="form.variant.stock" placeholder="0" readonly="readonly">
                  <input v-else type="number" id="stock" class="form-control input-cs"
                         v-model="form.variant.stock" placeholder="0">
                </div>
              </div>
              <div class="form-group row">
                <label for="weight" class="col-sm-2 col-form-label label-cs-text">Berat (Gram)</label>
                <div class="col-sm-2">
                  <input type="number" id="weight" class="form-control input-cs"
                         v-model="form.weight" placeholder="0">
                  <div class="validation text-danger" v-if="errors.weight">{{ errors.weight }}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label label-cs-text">Harga</label>
                <div class="col-sm-3">
                  <input type="number" id="price" class="form-control input-cs"
                         v-model="form.variant.price" placeholder="0">
                  <div class="validation text-danger" v-if="errors.price">{{ errors.price }}</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="categories"
                       class="col-sm-2 col-form-label label-cs-text">Kategori</label>
                <div class="col-sm-6">
                  <div class="input-group" id="categories">
                    <select @change="onChangeCategory0($event.target.value)" class="form-control input-cs" v-model="form.categoryId0">
                      <option value="">-- Pilih Kategori --</option>
                      <template v-for="cat in categories0">
                        <option :key="cat.id" :value="cat.id">{{ cat.name }} </option>
                      </template>
                    </select>
                    <div class="input-group-append">
                                 <span class="input-group-text reg-form">
                                 <i class="fa fa-angle-down" aria-hidden="true"></i>
                                 </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text"></label>
                <div class="col-sm-6">
                  <div class="input-group" id="categories1">
                    <select @change="onChangeCategory1($event.target.value)" class="form-control input-cs" v-model="form.categoryId1">
                      <option value="">-- Pilih Kategori --</option>
                      <template v-for="cat in categories1">
                        <option :key="cat.id" :value="cat.id">{{ cat.name }} </option>
                      </template>
                    </select>
                    <div class="input-group-append">
                                 <span class="input-group-text reg-form">
                                 <i class="fa fa-angle-down" aria-hidden="true"></i>
                                 </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text"></label>
                <div class="col-sm-6">
                  <div class="input-group" id="categoryId">
                    <select class="form-control input-cs" v-model="form.categoryId">
                      <option value="">-- Pilih Kategori --</option>
                      <template v-for="cat in categories">
                        <option :key="cat.id" :value="cat.id">{{ cat.name }} </option>
                      </template>
                    </select>
                    <div class="input-group-append">
                                 <span class="input-group-text reg-form">
                                 <i class="fa fa-angle-down" aria-hidden="true"></i>
                                 </span>
                    </div>
                  </div>
                  <div class="validation text-danger" v-if="errors.categoryId">
                    {{ errors.categoryId }}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text">Deskripsi
                  Barang</label>
                <div class="col-sm-10">
                  <div class="form-group">
                    <vue-editor v-model="form.description"  :editor-toolbar="customToolbar"/>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text">Kondisi Barang</label>
                <div class="col-sm-10">
                  <input type="radio" id="condition_y" v-bind:value="true" v-model="form.condition">
                  <label class="label-radio" for="condition_y">Baru</label>
                  <input class="label-radio" type="radio" id="condition_n" v-bind:value="false" v-model="form.condition">
                  <label for="condition_n">Bekas</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text">Original</label>
                <div class="col-sm-10">
                  <input type="radio" id="original_y" v-bind:value="true" v-model="form.variant.original">
                  <label class="label-radio" for="original_y">Ya</label>
                  <input type="radio" id="original_n" v-bind:value="false" v-model="form.variant.original">
                  <label class="label-radio" for="original_n">Tidak</label>
                </div>
              </div>
              <div class="form-group row">
                <label for="sku" class="col-sm-2 col-form-label label-cs-text">SKU</label>
                <div class="col-sm-3">
                  <input type="text" id="sku" class="form-control input-cs" v-model="form.variant.sku" placeholder="SKU">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label label-cs-text"></label>
                <div class="col-sm-6">
                  <button v-if="productid" type="submit" class="btn btn-secondary btn-store-2 btn-block">
                    Update Produk
                  </button>
                  <button v-else type="submit" class="btn btn-secondary btn-store-2 btn-block">
                    Tambah Produk
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
  import { api } from "@/config/constants";
  import SidebarUser from "@/components/commerce/SidebarUser";
  import { VueEditor } from "vue2-editor";
  import Compressor from 'compressorjs';

  export default {
    name: "product-create-page",
    components: {
      SidebarUser,
      VueEditor
    },
    data: function() {
      return {
        productid: null,
        customToolbar: [
          [{ header: [false, 1, 2, 3, 4, 5, 6] }],
          [{ font: [] }],
          ["bold", "italic", "underline"],
          [{ list: "ordered" }, { list: "bullet" }],
          [{ color: [] }, { background: [] }],
          ["link"],
        ],
        formView: {
          startAtText: "",
          endAtText: "",
          contents: []
        },
        form: {
          storeId: "",
          name: "",
          categoryId0: "",
          categoryId1: "",
          categoryId: "",
          description: "",
          publish: true,
          auction: true,
          condition: true,
          weight: 0,
          userId: "",
          contents: [],
          variant: {
            name: "",
            sku: "",
            price: 0,
            stock: 0,
            original: true,
            minOrder: 1
          },
          startAt: 0,
          endAt: 1,
          endAtHour: 0,
          endAtMinute: 0
        },
        readonly: "",
        bidStart: {
          0: "Saat ini",
          5: "5 menit",
          10: "10 menit",
          15: "15 menit",
          20: "20 menit",
          25: "25 menit",
          30: "30 menit",
          35: "35 menit",
          40: "40 menit",
          45: "45 menit",
          50: "50 menit",
          55: "55 menit",
          60: "60 menit"
        },
        bidEndDays: {
          1: "1 hari",
          3: "3 hari",
          5: "5 hari",
          7: "7 hari",
          10: "10 hari",
        },
        bidEndHours: {
          0: "0 jam",
          1: "1 jam",
          2: "2 jam",
          3: "3 jam",
          4: "4 jam",
          5: "5 jam",
          6: "6 jam",
          7: "7 jam",
          8: "8 jam",
          9: "9 jam",
          10: "10 jam",
          11: "11 jam",
          12: "12 jam",
          13: "13 jam",
          14: "14 jam",
          15: "15 jam",
          16: "16 jam",
          17: "17 jam",
          18: "18 jam",
          19: "19 jam",
          20: "20 jam",
          21: "21 jam",
          22: "22 jam",
          23: "23 jam"
        },
        bidEndMinutes: {
          0: "0 menit",
          5: "5 menit",
          10: "10 menit",
          15: "15 menit",
          20: "20 menit",
          25: "25 menit",
          30: "30 menit",
          35: "35 menit",
          40: "40 menit",
          45: "45 menit",
          50: "50 menit",
          55: "55 menit"
        },
        token: "",
        headers: "",
        categories0: "",
        categories1: "",
        categories: "",
        isError: false,
        errors: {
          name: "",
          categoryId: "",
          weight: "",
          contents: "",
          price: "",
          startAt: "",
          endAt: ""
        }
      };
    },
    methods: {
      init: function() {
        this.token = this.$cookie.get("kpid");
        if (!this.token) {
          window.location.href = "/";
        }
        let accessToken = "Bearer " + this.token;
        this.headers = { headers: { Authorization: accessToken } };

        let userId = this.$cookie.get("uid");
        this.form.storeId = this.$cookie.get("sid");
        this.form.userId = userId;
        this.loadingShow();
        this.$http.get(api + "/api/public/category/parent").then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.categories0 = resp.data;

              if (this.productid) {
                this.getProduct();
              }
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp.data);
            alert(resp.data.message);
          }
        );
      },
      setStockAuction: function() {
        if (this.form.auction) {
          this.form.variant.stock = 1;
        }
      },
      submit: function() {
        this.isError = false;
        this.clearError();
        if (!this.form.name) {
          this.errors.name = "Nama produk harus diisi";
          this.isError = true;
        }
        if (this.form.categoryId == "") {
          this.errors.categoryId = "Kategori harus diisi";
          this.isError = true;
        }
        if (!this.productid && this.form.contents.length < 1) {
          this.errors.contents = "Gambar produk harus diisi";
          this.isError = true;
        }
        if (this.form.weight < 100) {
          this.form.weight = 1
        }
        if (this.form.variant.price <= 0) {
          this.errors.price = "Harga harus lebih besar dari 0";
          this.isError = true;
        }
        if (this.form.auction) {
          if (this.form.startAt < 0) {
            this.errors.startAt = "Waktu mulai lelang minimal 0";
            this.isError = true;
          }
          if (this.form.startAt > 60) {
            this.errors.startAt = "Waktu mulai lelang maksimal 60";
            this.isError = true;
          }

          if (!this.form.endAt) {
            this.errors.endAt = "Selesai lelang harus diisi";
            this.isError = true;
          }
          if (this.form.endAt <= 0) {
            this.errors.endAt = "Selesai lelang minimal 1 hari";
            this.isError = true;
          }
        }

        if (!this.isError) {
          this.loadingShow();
          if (this.productid) {
            this.$http
              .patch(
                api + "/api/product/" + this.productid + "/update",
                this.form,
                this.headers
              )
              .then(
                function(resp) {
                  this.loadingHide();
                  if (resp.status == 200) {
                    window.location.href = "/store";
                  } else {
                    alert(resp.data.message);
                  }
                },
                function(resp) {
                  this.loadingHide();
                  alert(resp.data.message);
                }
              );
          } else {
            this.$http.post(api + "/api/product", this.form, this.headers).then(
              function(resp) {
                this.loadingHide();
                if (resp.status == 201) {
                  window.location.href = "/store";
                } else {
                  alert(resp.data.message);
                }
              },
              function(resp) {
                this.loadingHide();
                alert(resp.data.message);
              }
            );
          }
        }
      },
      onFileChanged: function(event) {
        let input = event.target;
        let content = {};
        content.fileName = '';
        content.url = '';
        content.fileName = '';

        let contentOut = {};
        contentOut.fileName = '';
        contentOut.url = '';
        contentOut.fileName = '';

        let contents = [];
        var count = Object.keys(input.files).length;

        for(let i = 0; i < count; i++){
          let data = {};

          let imageData = input.files[i];
          data.file = imageData;
          data.fileName = imageData.name;
          data.url = URL.createObjectURL(imageData);
          data.fileName = imageData.name;

          contents.push(data);
        }

        let contentOuts = [];
        for(let j = 0; j < contents.length; j++){
          if(j >= 5){
            return;
          }
          if (contents[j].file && contents[j].file) {
            let fileData = contents[j].file;
            let reader = new FileReader();
            content.url = URL.createObjectURL(fileData);
            content.fileName = fileData.name;
            reader.onload = (e) => {
              content.file = e.target.result;
            };

            let $this = this;

            new Compressor(fileData, {
              quality: 0.6,
              maxWidth : 700,
              maxHeight : 700,
              minWidth : 500,
              minHeight : 500,
              success(result) {
                let dataOutput = {};
                let blobToFile = new File([result], fileData.name);
                dataOutput.url = URL.createObjectURL(blobToFile);
                dataOutput.fileName = blobToFile.name;

                contentOuts.push(dataOutput);

                let readerOut = new FileReader();
                contentOuts.url = URL.createObjectURL(blobToFile);
                contentOuts.fileName = blobToFile.name;
                readerOut.onload = (eOut) => {
                  contentOuts.file = eOut.target.result;
                  dataOutput.file = eOut.target.result;
                };

                readerOut.readAsDataURL(blobToFile);
                $this.form.contents.push(dataOutput);
              },
              error(err) {
                console.log(err.message);
              }
            });
          }
        }
      },
      onFileRemove: function(url) {
        for (let i = this.form.contents.length - 1; i >= 0; i--) {
          if (this.form.contents[i].url == url) {
            this.form.contents.splice(i, 1)
          }
        }
      },
      getProduct: function() {
        this.$http.get(api + "/api/product/" + this.productid, this.headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.form.storeId = resp.data.store.id;
              this.form.name = resp.data.name;
              this.form.categoryId0 = resp.data.category.parent.parent.id;
              this.form.categoryId1 = resp.data.category.parent.id;
              this.form.description = resp.data.description;
              this.form.publish = resp.data.publish;
              this.form.auction = resp.data.auction;
              this.form.condition = resp.data.condition;
              this.form.weight = resp.data.weight;
              this.form.userId = resp.data.createdBy;
              this.form.variant.name = resp.data.productVariant.name;
              this.form.variant.sku = resp.data.productVariant.sku;
              this.form.variant.price = resp.data.productVariant.price;
              this.form.variant.stock = resp.data.productVariant.stock;
              this.form.variant.original = resp.data.productVariant.original;
              this.form.variant.minOrder = resp.data.productVariant.minOrder;

              this.formView.contents = resp.data.productContents;
              // this.formView.startAtText = resp.data.productAuction.startAtText;
              // this.formView.endAtText = resp.data.productAuction.endAtText;

              if (this.form.categoryId0) {
                this.onChangeCategory0(this.form.categoryId0);
                if (this.form.categoryId1) {
                  this.onChangeCategory1(this.form.categoryId1);
                  this.form.categoryId = resp.data.category.id;
                }
              }
            }
          },
          function(resp) {
            this.loadingHide();
            alert(resp.data.message);
          }
        );
      },
      onChangeCategory0: function(categoryId) {
        if (categoryId) {
          this.categories1 = "";
          this.categoryId1 = "";
          this.categories = "";
          this.form.categoryId = "";
          this.loadingShow();
          this.$http
            .get(api + "/api/public/category/" + categoryId + "/parent")
            .then(
              function(resp) {
                this.loadingHide();
                if (resp.status == 200) {
                  this.categories1 = resp.data;
                }
              },
              function(resp) {
                this.loadingHide();
                console.log(resp);
              }
            );
        }
      },
      onChangeCategory1: function(categoryId) {
        if (categoryId) {
          this.categories = "";
          this.form.categoryId = "";
          this.loadingShow();
          this.$http
            .get(api + "/api/public/category/" + categoryId + "/parent")
            .then(
              function(resp) {
                this.loadingHide();
                if (resp.status == 200) {
                  this.categories = resp.data;
                }
              },
              function(resp) {
                this.loadingHide();
                console.log(resp);
              }
            );
        }
      },
      deleteImage: function(imageId) {
        if (!imageId) {
          return false;
        }
        if (
          confirm("Perhatian! Gambar akan dihapus permanen. Yakin akan dihapus?")
        ) {
          this.loadingShow();
        }
        this.$http
          .delete(
            api + "/api/product/" + imageId + "/product-image",
            this.headers
          )
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                window.location.reload();
              }
            },
            function(resp) {
              this.loadingHide();
              alert(resp.data.message);
              console.log(resp);
            }
          );
      },
      clearError: function() {
        this.errors.name = "";
        this.errors.categoryId = "";
        this.errors.weight = "";
        this.errors.contents = "";
        this.errors.price = "";
        this.errors.startAt = "";
        this.errors.endAt = "";
      }
    },
    created() {
      this.productid = this.$route.params.id;
      this.init();

      if (this.form.auction) {
        this.form.variant.stock = 1;
      }
    }
  };
</script>
