<template>
  <div>
    <main id="main">
      <section class="wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="ht-head-text">
                <div class="jumbotron text-center">
                  <h1 class="display-3">Attention!</h1>
                  <p class="lead">
                    <strong>Dear Customer, You haven't completed the payment process.</strong>
                  </p>
                  <hr>
                  <p class="lead">
                    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
  export default {
    name: "payment-unfinish",
    props: [],
    data() {
      return {
        // data
      };
    },
    methods: {
      // list of methods
    },
    created() {
      // created
    },
    mounted() {
      // mounted
    },
    watch: {
      // watcher list
      property: function() {}
    }
  };
</script>

<style scoped>
  .dl-icon {
    vertical-align: baseline;
    width: 25px;
    margin-left: 15px;
    cursor: pointer;
  }
</style>
