<template>
  <div>
    <topbar></topbar>
    <payment-header></payment-header>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import Topbar from "@/components/general/Topbar";
  import Footer from "@/components/general/Footer";
  import PaymentHeader from '@/components/general/header/PaymentHeader'
  export default {
    name: "payment-page",
    components: {
      // components
      Topbar,
      'app-footer':Footer,
      'payment-header': PaymentHeader
    },
    props: [],
    data() {
      return {
        // data
      };
    },
    methods: {
      // list of methods
    },
    created() {
      // created
    },
    mounted() {
      // mounted
    },
    watch: {
      // watcher list
      // property: function() {}
    }
  };
</script>
