<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <div class="media">
          <img
            class="mr-3 image-store rounded"
            :src="item.productThumb"
            alt="Generic placeholder image"
          >
          <div class="media-body">
            <div class="form-group my-checkout">{{ item.productName }}</div>
            <div class="form-group">
              <div class="price-store">{{ item.priceText }}</div>
              <div class="qty">
                <span class="love">
                  <i class="fa fa-heart"></i>
                </span>
                <span v-if="!item.auction" class="minus" @click="minusHandler(item.id)">
                  <i class="fa fa-minus"></i>
                </span>
                <input v-if="!item.auction" type="number" class="count" name="qty" v-model="item.quantity" @change="changeHandler(item.id,item.quantity)">
                <input v-else type="text" readonly class="count" name="qty" v-model="item.quantity">
                <span v-if="!item.auction" @click="plusHandler(item.id)" class="plus">
                  <i class="fa fa-plus"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <div v-if="!item.auction" class="pull-right">
          <a class="b-80" href="#" @click="deleteItem(item.id)">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </div>
    </div>
    <hr>
  </div>
</template>

<script>
import { api } from "@/config/constants";

export default {
  name: "cart-item",
  props: ["item"],
  data() {
    return {
      // data
      token: ""
    };
  },
  created() {
    // created
    this.token = this.$cookie.get("kpid");
  },
  mounted() {
    // mounted
  },
  methods: {
    // list of methods
    changeHandler: function(cartId,qty) {
      this.item.quantity = qty;
      let accessToken = 'Bearer ' + this.token;
      let headers = {headers:{'Authorization': accessToken}};
      let params = {'quantity': this.item.quantity, 'userId': this.uid};
      this.loadingShow();
      this.$http.put(api + '/api/cart/' + cartId, params, headers).then(function(resp) {
        this.loadingHide();
        window.location.reload()
      }, function(resp) {
        this.loadingHide();
        alert(resp.data.message);
        console.log(resp.data)
      })
    },
    plusHandler: function(cartId) {
      this.item.quantity += 1;
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      let params = { quantity: this.item.quantity, userId: this.uid };
      this.loadingShow();
      this.$http.put(api + "/api/cart/" + cartId, params, headers).then(
        function(resp) {
          this.loadingHide();
          window.location.reload();
        },
        function(resp) {
          this.loadingHide();
          alert(resp.data.message);
          console.log(resp.data);
        }
      );
    },
    minusHandler: function(cartId) {
      this.item.quantity -= 1;
      if (this.item.quantity < 1) {
        return false;
      }
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      let params = { quantity: this.item.quantity, userId: this.uid };
      this.loadingShow();
      this.$http.put(api + "/api/cart/" + cartId, params, headers).then(
        function(resp) {
          this.loadingHide();
          window.location.reload();
        },
        function(resp) {
          this.loadingHide();
          alert(resp.data.message);
          console.log(resp.data);
        }
      );
    },
    deleteItem: function(cartId) {
      if (!confirm("Yakin akan dihapus?")) {
        return false;
      }
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.delete(api + "/api/cart/" + cartId, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200 && resp.data == true) {
            window.location.reload();
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    }
  },
  computed: {
    qty: function() {
      return this.item.quantity;
    }
  },
  watch: {
    // watcher list
    qty: function() {
      if (this.item.quantity < 1) {
        alert("Quantity minimal adalah 1");
        this.item.quantity = 1;
      }

      this.item.totalPrice = this.item.quantity * this.item.price;
      this.item.totalWeight = this.item.quantity * this.item.weight;
    }
  }
};
</script>
