<template>
  <div class="row mb-3">
    <div class="col-md-3">Ongkos Kirim</div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group">
          <select
            class="form-control input-cs"
            v-model="shipmentId"
            @change="getShipmentDetails(cart.storeId)"
          >
            <option value>-- Pilih Pengiriman --</option>
            <template v-for="shipment in shipments">
              <option :key="shipment.id" :value="shipment.id">{{ shipment.name }}</option>
            </template>
          </select>
          <div class="input-group-append">
            <span class="input-group-text reg-form">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group">
          <select
            class="form-control input-cs"
            v-model="shipmentDetailId"
            @change="getShipmentCost(cart.storeId)"
          >
            <option value>-- Pilih Layanan --</option>
            <template v-for="shipmentDetail in shipmentDetails">
              <option :key="shipmentDetail.id" :value="shipmentDetail.id">{{ shipmentDetail.name }}</option>
            </template>
          </select>
          <div class="input-group-append">
            <span class="input-group-text reg-form">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-3"
      v-if="shipmentCost.shippingCost.valueText"
    >{{ shipmentCost.shippingCost.valueText }}</div>
  </div>
</template>

<script>
import { api } from "@/config/constants";

export default {
  name: "cart-shipment",
  props: ["cart", "receiver", "setShipmentDetailId"],
  data() {
    return {
      // data
      shipments: [],
      shipmentDetails: [],
      shipmentId: '',
      shipmentDetailId: '',
      token: '',
      sid: '',
      uid: '',
      costText: '',
      form: {
        storeId: '',
        shipperId: '',
        userId: ''
      },
      formCost: {
        storeId: '',
        shipperId: '',
        shipperDetailId: '',
        userId: '',
        weight: 0,
        userReceiverId: ''
      },
      shipmentCost: {
        shippingCost: {
          value: 0,
          etd: '',
          note: '',
          valueText: ''
        },
        origin: '',
        destination: ''
      }
    }
  },
  methods: {
    getShipments: function(storeId) {
      if (!storeId) {
        return false
      }
      let accessToken = 'Bearer ' + this.token;
      let headers = {headers:{'Authorization': accessToken}};
      this.loadingShow()
      this.$http.get(api + '/api/shipment/' + storeId + '/store/list', headers).then(function(resp) {
        this.loadingHide()
        if (resp.status == 200) {
          this.shipments = resp.data;
          if(this.shipmentId == ''){
            this.shipments.forEach(obj => {
              if(obj.code == 'jne'){
                console.log('set jne default');
                this.shipmentId = obj.id;
                this.getShipmentDetails(this.cart.storeId)
              }
            });
          }
        }
      }, function(resp) {
        this.loadingHide();
        console.log(resp.data);
        alert(resp.message)
      })
    },
    getShipmentDetails: function(storeId) {
      this.shipmentDetails = [];
      this.shipmentDetailId = '';
      this.shipmentCost = {
        shippingCost: {
          value: 0,
          etd: '',
          note: '',
          valueText: ''
        },
        origin: '',
        destination: ''
      };
      if (this.cart && this.cart.cartShipment) {
        this.cart.cartShipment.shipmentCost = 0;
        this.cart.cartShipment.shipmentCostText = '';
      }

      if (!storeId) {
        return false
      }

      let accessToken = 'Bearer ' + this.token;
      let headers = {headers:{'Authorization': accessToken}};
      this.loadingShow();
      this.form.storeId = storeId;
      this.form.shipperId = this.shipmentId;
      this.form.userId = this.uid;
      this.$http.post(api + '/api/shipment/detail', this.form, headers).then(function(resp) {
        this.loadingHide();
        if (resp.status == 200) {
          this.shipmentDetails = resp.data
        }
      }, function(resp) {
        this.loadingHide();
        console.log(resp.data);
        alert(resp.message)
      })
    },
    getShipmentCost: function(storeId) {
      console.log(this.shipmentId);
      console.log(storeId);
      this.shipmentCost = {
        shippingCost: {
          value: 0,
          etd: '',
          note: '',
          valueText: ''
        },
        origin: '',
        destination: ''
      };
      if (this.cart && this.cart.cartShipment) {
        this.cart.cartShipment.shipmentCost = 0;
        this.cart.cartShipment.shipmentCostText = ''
      } else if(!this.cart.cartShipment){
        this.cart.cartShipment = {
          shipmentCost : 0,
          shipmentCostText : ''
        };
      }

      if (!storeId || !this.shipmentId || !this.getShipmentWeight || !this.receiver.id) {
        return false
      }
      this.setShipmentDetailId(storeId, this.shipmentDetailId);

      let accessToken = 'Bearer ' + this.token;
      let headers = {headers:{'Authorization': accessToken}};
      this.loadingShow();
      this.formCost.storeId = storeId;
      this.formCost.shipperId = this.shipmentId;
      this.formCost.shipperDetailId = this.shipmentDetailId;
      this.formCost.weight = this.getShipmentWeight;
      this.formCost.userReceiverId = this.receiver.id;
      this.formCost.userId = this.uid;
      this.$http.post(api + '/api/shipment/cost', this.formCost, headers).then(function(resp) {
        this.loadingHide();
        if (resp.status == 200) {
          this.shipmentCost = resp.data;
          if (this.shipmentCost.shippingCost) {
            this.cart.cartShipment.shipmentCost = this.shipmentCost.shippingCost.value;
            this.cart.cartShipment.shipmentCostText = this.shipmentCost.shippingCost.valueText
          }
        }
      }, function(resp) {
        this.loadingHide();
        console.log(resp.data);
        //set seleted to null
        this.shipmentDetailId = '';
        alert(resp.data.message)
      })
    }
  },
  created() {
    // created
    this.token = this.$cookie.get("kpid");
    this.sid = this.$cookie.get("sid");
    this.uid = this.$cookie.get("uid");
  },
  mounted() {
    // mounted
    console.log(this.cart);
    if (this.cart.cartShipment) {
      this.shipmentId = this.cart.cartShipment.shipperId ? this.cart.cartShipment.shipperId : '';
      this.shipmentDetailId = this.cart.cartShipment.shipperDetailId ? this.cart.cartShipment.shipperDetailId : '';
    }
    let storeId = this.cart.storeId ? this.cart.storeId : '';
    this.getShipments(storeId);
    this.getShipmentDetails(storeId);
    this.getShipmentCost(storeId)
  },
  computed: {
    // computed
    getShipmentWeight: function() {
      let totalWeight = 0;
      if (this.cart) {
        for (let cartItem of this.cart.cartItems) {
          totalWeight += cartItem.totalWeight;
        }
      }

      return totalWeight;
    }
  },
  watch: {
    // watcher list
    getShipmentWeight: function() {
      if (this.cart.cartShipment) {
        this.cart.cartShipment.shipmentWeight = totalWeight;
      }
    }
  }
  };
</script>
