<template>
  <div>
    <div v-for="cart in carts" :key="cart.storeName">
      <div style="border-bottom: 1px solid black; margin-bottom: 30px;">
        <div class="row mb-3">
          <div class="col-md-6">
            <h4>{{ cart.storeName }}</h4>
          </div>
        </div>

        <template v-for="item in cart.cartItems">
          <cart-item :key="item.id" :item="item"></cart-item>
        </template>

        <cart-shipment :cart="cart" :receiver="receiver" :setShipmentDetailId="setShipmentDetailId"></cart-shipment>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/config/constants";
import CartItem from "./CartItem";
import CartShipment from "./CartShipment";

export default {
  name: "cart",
  props: ["carts", "receiver", "setShipmentDetailId"],
  components: {
    CartItem,
    CartShipment
  },
  data() {
    return {
      // data
    };
  },
  methods: {
    // method
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
