<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 content-profile">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Checkout</a>
              </div>
            </div>

            <cart :carts="carts" :receiver="receiver" :setShipmentDetailId="setShipmentDetailId"></cart>

            <!-- delivery detail -->
            <div class="content-profile">
              <div class="form-group-header">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active page-header">Alamat Pengiriman</a>
                </div>
              </div>
            </div>

            <div class="delivery-detail">
              <div class="row mb-3">
                <div class="col-md-12">
                  <button
                    type="button"
                    class="btn-store"
                    data-toggle="modal"
                    data-target="#addAddress"
                    @click="clearAttribute"
                  >Tambah Alamat Baru</button>
                  <button
                    type="button"
                    class="btn-store"
                    data-toggle="modal"
                    data-target="#selectAddress"
                  >Pilih Alamat Lain</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" v-if="receiver.name">
                  <div>
                    <b>{{ receiver.name }}</b>
                    ({{ receiver.addressType }})
                    <span v-if="receiver.default == true" class="badge badge-success">Utama</span>
                  </div>
                  <div>{{ receiver.phone }}</div>
                  <div>{{ receiver.address }}</div>
                  <div>{{ receiver.subdistrictName }}, {{ receiver.city }}, {{ receiver.postalCode }}, {{ receiver.province }}</div>
                </div>
                <div class="col-md-12" v-else>
                  <div class="text-danger">Alamat pengiriman belum ditambahkan</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 content-profile">
            <div class="form-group-header">
              <div class="nav nav-tabs checkout-total" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Total</a>
              </div>
              <!--                         <form> -->
              <div class="detail-checkout">
                <div class="price-list-detail">
                  <div class="row price-group">
                    <div class="col-sm-6">
                      <span>Harga</span>
                    </div>
                    <div class="col-sm-6 text-right">
                      <span>{{ totalProductPrice | currency }}</span>
                    </div>
                  </div>
                  <div class="row price-group">
                    <div class="col-sm-6">
                      <span>Ongkos Kirim</span>
                    </div>
                    <div class="col-sm-6 text-right">
                      <span>{{ shippingCost | currency }}</span>
                    </div>
                  </div>
                  <div class="row price-group">
                    <div class="col-sm-6">
                      <span>Diskon</span>
                    </div>
                    <div class="col-sm-6 text-right">
                      <span>{{ discount | currency }}</span>
                    </div>
                  </div>
                  <div class="row price-group">
                    <div class="col-sm-6">
                      <span>Pembayaran</span>
                    </div>
                    <div class="col-sm-6 text-right">
                      <select  v-model="order.paymentMethod" name="payment_type" @change="setPaymentType" id="payment_type">
                        <option value="bank_transfer">Bank Transfer</option>
                        <option value="credit_card">Kartu Kredit</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div v-if="order.paymentMethod == 'credit_card'" class="price-list-total">
                  <div class="row price-group">
                    <div class="col-sm-6">
                      <span>Biaya Kartu Kredit</span>
                    </div>
                    <div class="col-sm-6 text-right">
                      <span class="price b-80">{{ getCreditCardFee | currency }}</span>
                    </div>
                  </div>
                </div>
                <div class="price-list-total">
                  <div class="row price-group">
                    <div class="col-sm-6">
                      <span class="b-80">Subtotal</span>
                    </div>
                    <div class="col-sm-6 text-right">
                      <span class="price b-80">{{ grandTotal | currency }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn-store btn-block" @click="setAndValidateOrder">
                <!-- data-toggle="modal"
                data-target="#selectPayment"-->
                Bayar Sekarang
              </button>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Add Address Modal -->
    <div
      class="modal fade"
      id="selectAddress"
      name="selectAddress"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pilih Alamat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div v-if="listReceiver.length > 0" class="form-group">
              <template v-for="(rec, index) in listReceiver">
                <div class="row mb-2" :key="index">
                  <div class="col-md-1 text-center">
                    <input
                      v-if="receiver.id == rec.id"
                      name="receiverId"
                      type="radio"
                      :value="rec.id"
                      checked
                    >
                    <input
                      v-else
                      type="radio"
                      name="receiverId"
                      :value="rec.id"
                      @click="selectReceiver(rec)"
                    >
                  </div>
                  <div class="col-md-11" :key="rec.id">
                    <div class="my-checkout">
                      <b>{{ rec.name }}</b>
                      ({{ rec.addressType }})
                      <span v-if="rec.default == true" class="badge badge-success">Utama</span>
                    </div>
                    <div class="my-checkout">{{ rec.phone }}</div>
                    <div class="my-checkout">{{ rec.address }}</div>
                    <div
                      class="my-checkout"
                    >{{ receiver.subdistrictName }}, {{ receiver.city }}, {{ receiver.postalCode }}, {{ receiver.province }}</div>
                  </div>
                  <hr>
                </div>
              </template>
            </div>
            <div v-else class="row mb-2">
              <div class="col-md-12">Tidak ada alamat</div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn-store" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->

    <!-- Select Address Modal -->
    <div
      class="modal fade"
      id="addAddress"
      name="addAddress"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tambah Alamat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form @submit.prevent="addAddress" method="post" role="form">
            <div class="modal-body">
              <div class="row mb-2">
                <div class="col-md-12">
                  <input
                    type="text"
                    v-model="form.addressType"
                    class="form-control input-cs"
                    placeholder="Jenis alamat (rumah, kantor, dll)"
                  >
                  <div class="text-danger" v-if="errors.addressType">{{ errors.addressType }}</div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <input
                    type="text"
                    v-model="form.name"
                    class="form-control input-cs"
                    id="fullName"
                    placeholder="Nama"
                  >
                  <div class="text-danger" v-if="errors.name">{{ errors.name }}</div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    v-model="form.phone"
                    class="form-control input-cs"
                    id="phone"
                    placeholder="Telepon"
                  >
                  <div class="text-danger" v-if="errors.phone">{{ errors.phone }}</div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-12">
                  <input
                    type="text"
                    v-model="form.address"
                    class="form-control input-cs"
                    placeholder="Alamat"
                  >
                  <div class="text-danger" v-if="errors.address">{{ errors.address }}</div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="input-group">
                    <select
                      class="form-control input-cs"
                      v-model="form.provinceId"
                      @change="getCity"
                    >
                      <option value>-- Provinsi --</option>
                      <template v-for="province in provinces">
                        <option
                          :key="province.province_id"
                          :value="province.province_id"
                        >{{ province.province }}</option>
                      </template>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text reg-form">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                  <div class="text-danger" v-if="errors.provinceId">{{ errors.provinceId }}</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <select
                      class="form-control input-cs"
                      v-model="form.cityId"
                      @change="getSubdistrict"
                    >
                      <option value>-- Kota --</option>
                      <template v-for="city in cities">
                        <option
                          :key="city.city_id"
                          :value="city.city_id"
                        >{{ city.city_name }} ({{ city.type }})</option>
                      </template>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text reg-form">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                  <div class="text-danger" v-if="errors.cityId">{{ errors.cityId }}</div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="input-group">
                    <select class="form-control input-cs" v-model="form.subdistrictId">
                      <option value>-- Kecamatan --</option>
                      <template v-for="subdistrict in subdistricts">
                        <option
                          :key="subdistrict.subdistrict_id"
                          :value="subdistrict.subdistrict_id"
                        >{{ subdistrict.subdistrict_name }}</option>
                      </template>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text reg-form">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                  <div class="text-danger" v-if="errors.districtId">{{ errors.districtId }}</div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control input-cs"
                    placeholder="Kode pos"
                    v-model="form.postalCode"
                  >
                  <div class="text-danger" v-if="errors.postalCode">{{ errors.postalCode }}</div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button
                type="submit"
                class="btn-store"
                :data-dismiss="addressDismiss"
              >Tambah dan Gunakan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end of modal -->

    <!-- Payment Modal -->
    <div
      class="modal fade"
      id="selectPayment"
      name="paymentMethod"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cara Pembayaran</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="row">
              <template v-for="payment in paymentMethods">
                <div class="pay-border" :key="payment.id">
                  <div>
                    <img :src="payment.icon">
                  </div>
                  <div>
                    <label>
                      <input
                        type="radio"
                        name="paymentMethodId"
                        :value="payment.id"
                        v-model="paymentMethod.id"
                        @click="selectPayment(payment)"
                      >
                      <span>{{ payment.name }}</span>
                    </label>
                  </div>
                </div>
              </template>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn-store" @click="transaction" data-dismiss="modal">Bayar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->
  </main>
</template>

<script>
import { api } from "@/config/constants";
import Cart from './Cart'

export default {
  name: "product-checkout-page",
  components: {
    Cart
  },
  data: function() {
    return {
      carts: [],
      discount: 0,
      token: "",
      uid: "",
      paymentMethods: [],
      paymentMethod: {
        id: "",
        bankName: "",
        bankSortName: "",
        icon: ""
      },
      listReceiver: [],
      receiver: {
        id: "",
        addressType: "",
        address: "",
        name: "",
        phone: "",
        province: "",
        city: "",
        subdistrict: "",
        postalCode: "",
        longitude: "",
        latitude: "",
        default: ""
      },
      form: {
        userId: "",
        addressType: "",
        address: "",
        name: "",
        phone: "",
        isDefault: true,
        provinceId: "",
        cityId: "",
        subdistrictId: "",
        postalCode: "",
        longitude: "",
        latitude: ""
      },
      errors: {
        addressType: "",
        address: "",
        name: "",
        phone: "",
        provinceId: "",
        cityId: "",
        subdistrictId: "",
        postalCode: ""
      },
      item: {
        productId: "",
        quantity: 1
      },
      storeProduct: {
        storeId: "",
        shipmentDetailId: "",
        items: []
      },
      order: {
        userId: "",
        userReceiverId: "",
        // paymentMethodId: "",
        storeProducts: [],
        paymentMethod : "bank_transfer",
        creditCardPercentageFee : 3,
        creditCardFee : 0,
        grandTotal : 0,
        shippingCost : 0,
        totalProductPrice : 0
      },
      provinces: "",
      cities: "",
      subdistricts: "",
      isError: false,
      addressDismiss: ""
    };
  },
  methods: {
    getCartItem: function() {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.get(api + "/api/cart/" + this.uid + "/user", headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.carts = resp.data;
            this.setOrderProducts();
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getPaymentMethod: function() {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.get(api + "/api/payment-method", headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.paymentMethods = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          alert(resp.data.message);
          console.log(resp.data);
        }
      );
    },
    selectPayment: function(payment) {
      this.paymentMethod = payment;
    },
    getProvince: function() {
      this.loadingShow();
      this.cities = "";
      this.subdistricts = "";
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.get(api + "/api/shipment/province", headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.provinces = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp);
        }
      );
    },
    getCity: function() {
      if (this.form.provinceId) {
        this.loadingShow();
        this.cities = "";
        this.form.cityId = "";
        this.subdistricts = "";
        this.form.districtId = "";
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.$http
          .get(
            api + "/api/shipment/city/" + this.form.provinceId + "/province",
            headers
          )
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.cities = resp.data;
              }
            },
            function(resp) {
              this.loadingHide();
              console.log(resp);
            }
          );
      }
    },
    getSubdistrict: function() {
      if (this.form.cityId) {
        this.loadingShow();
        this.subdistricts = "";
        this.form.subdistrictId = "";
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.$http
          .get(
            api + "/api/shipment/subdistrict/" + this.form.cityId + "/city",
            headers
          )
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.subdistricts = resp.data;
              }
            },
            function(resp) {
              this.loadingHide();
              console.log(resp);
            }
          );
      }
    },
    addAddress: function() {
      this.isError = false;
      if (!this.form.name) {
        this.errors.name = "Nama harus diisi";
        this.isError = true;
      }
      if (!this.form.phone) {
        this.errors.phone = "Telepon harus diisi";
        this.isError = true;
      }
      if (!this.form.addressType) {
        this.errors.addressType = "Jenis alamat harus diisi";
        this.isError = true;
      }
      if (!this.form.address) {
        this.errors.address = "Alamat harus diisi";
        this.isError = true;
      }
      if (!this.form.provinceId) {
        this.errors.provinceId = "Provinsi harus diisi";
        this.isError = true;
      }
      if (!this.form.cityId) {
        this.errors.cityId = "Kota harus diisi";
        this.isError = true;
      }
      if (!this.form.subdistrictId) {
        this.errors.districtId = "Kecamatan harus diisi";
        this.isError = true;
      }
      if (!this.form.postalCode) {
        this.errors.postalCode = "Kode pos harus diisi";
        this.isError = true;
      }
      if (!this.isError) {
        this.addressDismiss = "modal";
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.form.userId = this.uid;
        this.$http.post(api + "/api/receiver", this.form, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              window.location.reload();
            }
          },
          function(resp) {
            this.loadingHide();
            this.addressDismiss = "";
            console.log(resp);
            alert(resp.data.message);
          }
        );
      }
    },
    clearAttribute: function() {
      this.form.userId = "";
      this.form.addressType = "";
      this.form.address = "";
      this.form.name = "";
      this.form.phone = "";
      this.form.provinceId = "";
      this.form.cityId = "";
      this.form.subdistrictId = "";
      this.form.postalCode = "";
      this.form.longitude = "";
      this.form.latitude = "";

      this.errors.addressType = "";
      this.errors.address = "";
      this.errors.name = "";
      this.errors.phone = "";
      this.errors.provinceId = "";
      this.errors.cityId = "";
      this.errors.districtId = "";
      this.errors.postalCode = "";

      this.cities = "";
      this.subdistricts = "";
    },
    getReceiverList: function() {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.get(api + "/api/receiver/" + this.uid + "/user", headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.listReceiver = resp.data;
            this.getDefaultReceiver();
          }
        },
        function(resp) {
          this.loadingHide();
          alert(resp.data.message);
          console.log(resp.data);
        }
      );
    },
    getDefaultReceiver: function() {
      if (this.listReceiver.length > 0) {
        for (let key in this.listReceiver) {
          let obj = this.listReceiver[key];
          if (obj.default == true) {
            this.receiver = obj;
            this.order.userReceiverId = obj.id;
          }
        }
      }
    },
    selectReceiver: function(receiver) {
      this.receiver = receiver;
      this.order.userReceiverId = receiver.id;
    },
    transaction: function() {
      if (this.paymentMethod.id) {
        this.order.paymentMethodId = this.paymentMethod.id;
        this.createTransaction();
        // 				this.deleteAllCartItem()
      }
    },
    deleteAllCartItem: function(url) {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.delete(api + "/api/cart/" + this.uid + "/user", headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200 && resp.data == true) {
            this.carts = [];
            // window.location.href = url
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    setOrderProducts: function() {
      let carts = [...this.carts];
      let i = 0;
      for (let store of carts) {
        let storeProduct = {};
        storeProduct.storeId = store.storeId;
        storeProduct.shipmentDetailId = store.cartShipment
          ? store.cartShipment.shipperDetailId
          : "";
        let items = [];
        let j = 0;
        for (let product of store.cartItems) {
          let item = {};
          item.productId = product.productId;
          item.quantity = product.quantity;
          items[j] = item;
          j++;
        }
        storeProduct.items = items;
        this.order.storeProducts[i] = storeProduct;
        i++;
      }
    },
    setShipmentDetailId: function(storeId, shipmentDetailId) {
      let storeProducts = this.order.storeProducts;
      let i = 0;
      for (let storeProduct of storeProducts) {
        if (storeId == storeProduct.storeId) {
          this.order.storeProducts[i].shipmentDetailId = shipmentDetailId;
        }
        i++;
      }
    },
    setAndValidateOrder() {
      console.log("x");
      let valid = true;
      for (let sp of this.order.storeProducts) {
        if (sp.shipmentDetailId == "" || !sp.shipmentDetailId) {
          alert("Silahkan pilih pengiriman");
          valid = false;
          break;
        }
      }

      if (valid) {
        // this.order.paymentMethodId =
        //   this.paymentMethods.length > 0 ? this.paymentMethods[0].id : 1;
        this.createTransaction();
      }
    },
    createTransaction: function() {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.order.grandTotal = this.getGrandTotal;
      this.order.creditCardFee = this.getCreditCardFee;
      this.order.totalProductPrice = this.totalProductPrice;
      this.order.shippingCost = this.shippingCost;
      this.loadingShow();
      this.$http.post(api + "/api/order", this.order, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            let url = resp.data.redirect_url;
            console.log(resp);
            // window.open(url, "_blank");
            document.location = url;
            // this.deleteAllCartItem(url);
          }
        },
        function(resp) {
          this.loadingHide();
          alert(resp.data.message);
          console.log(resp.data);
        }
      );
    },
    setPaymentType : function(){
      console.log(this.order.paymentMethod);
    }
  },
  created() {
    this.token = this.$cookie.get("kpid");
    this.uid = this.$cookie.get("uid");
    if (!this.token) {
      window.location.href = "/";
    }

    this.getCartItem();
    this.getPaymentMethod();
    this.getProvince();
    this.getReceiverList();
    this.order.userId = this.uid;
  },
  mounted() {
    // mounted
  },
  computed: {
    // a computed getter
    totalProductPrice: function() {
      let carts = [...this.carts];
      let totalPrice = 0;
      for (let store of carts) {
        for (let product of store.cartItems) {
          totalPrice += product.totalPrice;
        }
      }
      return totalPrice;
    },
    getCreditCardFee: function() {
        let result = this.totalProductPrice + this.shippingCost - this.discount;
        result = ((this.order.creditCardPercentageFee / 100) * result);

        return result;
    },
    getGrandTotal: function() {
        let result = this.totalProductPrice + this.shippingCost - this.discount;

        if(this.order.paymentMethod == 'credit_card'){
            result = ((this.order.creditCardPercentageFee / 100) * result) + result;
        }
        return result;
      },
    grandTotal: function() {
      let result = this.totalProductPrice + this.shippingCost - this.discount;

      if(this.order.paymentMethod == 'credit_card'){
          result = ((this.order.creditCardPercentageFee / 100) * result) + result;
      }
      return result;
    },
    shippingCost: function() {
      let carts = [...this.carts];
      let totalShipping = 0;
      for (let store of carts) {
        if (store.cartShipment) {
          totalShipping += store.cartShipment.shipmentCost;
        }
      }
      return totalShipping;
    }
  },
  watch: {
    // watcher list
  }
};
</script>
