.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 10px;
	padding-right: 10px;
}
/* ----------------------------------------------
GENERAL
------------------------------------------------- */
html {
	font-size: 10px;
}

@media (max-width: 991px) {
	html {
		font-size: 9.5px;
	}
}
body {
	background-color: #fefefe;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.6;
	color: #444;
	background: #fcfcfc;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	position: relative;
	line-height: 1.32;
	font-weight: 600;
	letter-spacing: -0.009em;
}

h1 {font-size: 3.7rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.8rem;}
h4 {font-size: 2.4rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.4rem;}

h1,
h2,
h3,
h4,
h5,
h6,
.no-auto-hyphenation,
table {
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
	hyphens: manual;
}

a {
	color:inherit;
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
a:hover,
a:focus {
	color:#444;
	text-decoration: none;
}

b,
strong {
	font-weight: 600;
}

h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {font-weight: 600;}
.strong{
	font-weight: 600;
}
.heading{
	display: block;
	color: #333;
	font-weight: 600;
	font-size: 2.6rem;
	margin: 30px 0 15px;
}
.btnmore{
	display: block;
	font-weight: 600;
	font-size: 1.6rem;
}
.btnmore i{
	font-size: 9pt;
}
.orange{
	color: #ff8d03;
}
.breadcumbs{
	display: block;
	margin: 15px 0 10px;
}
.breadcumbs a{
	color: #aaa;
	font-size: 13px;
	font-weight: 400;
	cursor: pointer;
}
.breadcumbs a:hover{
	color: #f28500;
}
.breadcumbs a::after{
	color: #aaa;
	content: '>';
	position: relative;
	top: 1px;
	margin: 0 10px;
	font-size: 11px;
	font-weight: 600;
}
.breadcumbs a:last-child::after{
	content: '';
}
img {max-width: 100%;height: auto;}

ul,
ol {margin-bottom: 2.5rem;padding-left: 3.4rem;}

ul>li>ul,
ul>li>ol,
ol>li>ol,
ol>li>ul {
	padding-left: 2.2rem;
}

@media (max-width: 991px) {
	.add-padding-on-small-resolutions {
		padding-left: 3.0rem;
		padding-right: 3.0rem;
	}
}

.container-fluid-with-max-width {
	max-width: 1388px;
	padding: 0 44px;
}

.container-fluid-with-max-width-content {
	max-width: 1388px;
	padding: 0 60px;
}

@media (max-width: 600px) {
	.container-fluid-with-max-width {
		padding: 0 30px;
	}
	.container-fluid-with-max-width-content{
		padding: 0 35px;
	}
}

@media (min-width: 500px) {
	.hide-below-500 {
		display: none;
	}
}

@media (max-width: 499px) {
	.show-above-500 {
		display: none;
	}
}


/* ----------------------------------------------
HEADER AND MENU
------------------------------------------------- */
.wrapsubheader{
	background: #292929;
	color: #fff;
}
.subheader{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
}
.tagline{
	font-size: 12px;
	font-weight: 400;
}
.tagline span{
	margin: 0 5px;
}
.subheader a.sublink{
	position: relative;
	font-weight: 400;
	color: #fff;
	font-size: 12px;
	margin-left: 10px;
	cursor: pointer;
}
.subheader a.sublink:last-child{
	margin-left: 5px;
}
.subheader a.sublink:hover{
	color: #f28500;
}
 .subheader a.sublink.active{
	color: #eee;
}
.subheader a.sublink i{
	font-size: 15px;
	padding-right: 2px;
}
.subheader a.sublink .activepoint{
	position: absolute;
	font-size: 9px;
	top: -5px;
	right: -15px;
}
.subheader a.sublink .activepoint span{
	font: bold 11px Arial;
	color: #fff;
	background: #f28500;
	padding: 1px 4px 1px 4px;
	border-radius: 2px;
}
@media (max-width: 991px) {
	.subheader a.sublink span{
		display: none;
	}
	.subheader a.sublink .activepoint span{
		display: block;
	}
}
.section-menu-stripe {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	box-shadow: 1px 4px 12px -8px rgba(0,0,0,.6);
	z-index: 9;
}
.menu-stripe-wrapper {
	padding: 0;
}
@media (min-width: 992px) {
	.menu-stripe-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
.menu-stripe-center nav .navbar-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.navbar-header:before,
.navbar-header:after {
	content: normal;
}
.menu-stripe-left,
.menu-stripe-center{
	padding-top: 5px;
	padding-bottom: 7px;
}
.menu-stripe-left {
	order:1;
}
.menu-stripe-center {
	order:2;
}
/*.menu-stripe-flex-wrapped .menu-stripe-center {
	order:3;
}*/
@media (max-width: 991px) {
	.menu-stripe-left{
		display: none;
	}
}

@media (min-width: 992px) {
	.menu-stripe-left {
		padding-right: 3.4rem;
	}
}

.narrator-navbar {
	background-color: transparent;
}

.navbar-default .navbar-collapse {
	border-color: #e2e2e2;
}

.navbar-nav {
	float: none;
}

@media (max-width: 991px) {
	.navbar-nav {
		padding-top: 1.2rem;
		padding-bottom: 0;
	}
}
.narrator-navbar {
	position: relative;
	top: 1px;
	z-index: 110;
	border: none;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 13.3px;
	letter-spacing: normal;
}

.narrator-navbar .nav>li>a {
	display: inline-block;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	cursor: pointer;
}
.narrator-navbar .nav>li>a.drop::after {
	position: absolute;
	content: "";
	top: 20px;
	right: 5px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-color:#ccc transparent transparent transparent;
}
/* ----------------------------------------------
Search
------------------------------------------------- */
.search{
	padding-left: 10px;
}
.search input{
	border: 1px solid #ddd;
	padding: 10px 15px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.search button{
	border: 1px solid #ff8d03;
	padding: 10px 25px;
	color: #fff;
	font-weight: 600;
	background: #ff8d03;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
 /* custom-select */
.custom-select {
	width: 145px;
	position: relative;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
}
.custom-select::after {
	position: absolute;
	content: "";
	top: 20px;
	right: 5px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-color:#ccc transparent transparent transparent;
}
.custom-select select {
	margin-left: -4px;
	color: #aaa;
	padding: 10px 30px 10px 10px;
	border: 1px solid #ddd;
	/*border-left: 0px;*/
	border-right: 0px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; 
 }
.select-selected {
  background-color: #fff;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #ccc transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ccc transparent;
  top: 15px;
}
.select-selected {
  color: #a1a1a1;
  padding: 10px 10px;
  border: 1px solid #ddd;
  border-color: #ddd transparent #ddd #ddd;
  border-right: 0px;
  cursor: pointer;
}
.select-items div{
	padding: 3px 10px;
	border: 0px;
	border-bottom: 0px;
}
.select-items {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  margin-top: -1px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 
@media (max-width: 1080px) {
	.search{
			float: unset !important;
			padding: 8px 0;
			display: block;
		}
}
.narrator-navbar .nav>li:first-child>a {
	padding-left: 0;
}

.narrator-navbar .nav>li:last-child>a {
	padding-right: 0;
}

@media (min-width: 992px) {
	.narrator-navbar {
		padding: 0;
	}
	.narrator-navbar .nav>li.menu-item {
		display: inline-block;
	}
	.narrator-navbar .nav>li.menu-item:before {
		display: inline-block;
		content: '';
		height: 10px;
		width: 1px;
		background: #d6d6d6;
	}
	.narrator-navbar .nav>li.menu-item:first-child:before {
		display: none;
	}
}

@media (max-width: 991px) {
	.narrator-navbar .nav>li>a {
		padding-top: .6rem;
		padding-bottom: .6rem;
	}

}
@media (max-width: 460px) {
	.search input{
		width: 100%;
	}
	.custom-select select{
		width: 100%;
		margin-left: 0px;
	}
	.search button{
	width: 100%;
	margin-left: 0px;
	}
	.custom-select{
	width: 100%;
	display: block;
	margin: 4px 0px;
	}
	.select-items {
	position: relative;
	}
	.select-selected{
		border-color: #ddd #ddd #ddd #ddd;
		border-right-color: #ddd;
		border-right: 1px solid #ddd;
	}
}
.narrator-navbar .navbar-nav>li>a,
.narrator-navbar .navbar-nav>.active>a:focus {
	color: #444;
}

.narrator-navbar .nav > li > a.active {
	color: #f28500;
}
.site-logo a {
	display: inline-block;
	line-height: 1.3;
	text-transform: uppercase;
	font-size: 2.3rem;
	font-weight: 500;
	color: #333;
	letter-spacing: .22em;
	text-decoration: none;
}


.site-logo.image-logo-wrapper a {
	display: block;
	line-height: 1;
}

.text-logo-wrapper {
	position: relative;
	top: .2rem;
	max-width: 140px;
}

.text-logo {
	word-break: break-word;
	hyphens: none;
}

@media (max-width: 991px) {
	.logo-desktop {
		display: none;
	}
}

@media (min-width: 992px) {
	.logo-mobile {
		display: none;
	}
}

.menu-stripe-right {
	font-size: 13.6px;
	font-weight: 400;
	letter-spacing: .08em;
}

.narrator-navbar .navbar-toggle {
	border: 0;
	padding-right: 0;
	margin:0;
}

.narrator-navbar .navbar-toggle:hover,
.narrator-navbar .navbar-toggle:focus {
	background-color: transparent;
}

.narrator-navbar .navbar-toggle .icon-bar {
	background-color: #333;
}
@media (max-width: 1080px) {
	.menu-stripe-left, .menu-stripe-center{
		width: 100%;
	}
}
@media (max-width: 991px) {
	.narrator-navbar .navbar-nav>li>a {
		padding: 8px 0;
		width: 100%;
	}
}

.narrator-navbar .navbar-collapse {
	border: none;
}

@media (max-width: 991px) {
	.icon-links-in-collapsed-navbar {
		margin: 12px 0 0 -16px;
	}
}

@media (min-width: 992px) {
	.icon-links-in-collapsed-navbar {
		display: none;
	}
}


.narrator-navbar .navbar-nav>.active>a,
.narrator-navbar .navbar-nav>.active>a:hover,
.narrator-navbar .navbar-nav>.active>a:focus {
	color: #f28500;
	background-color: transparent;
}

.narrator-navbar .navbar-nav>li>a:hover,
.narrator-navbar .navbar-nav>li>a:focus {
	color: #f28500;
}

.narrator-navbar .navbar-nav>.open>a,
.narrator-navbar .navbar-nav>.open>a:hover,
.narrator-navbar .navbar-nav>.open>a:focus {
	color: #f28500;
	background-color: transparent;
}

.narrator-navbar .navbar-nav>.open>a,
.narrator-navbar .navbar-nav>.open>a:hover,
.narrator-navbar .navbar-nav>.open>a:focus {
	color: #f28500;
	background-color: transparent;
}


/* ----------------------------------------------
CONTENT
------------------------------------------------- */
.big-latest-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 991px) {
	.big-latest-row {
		display: block;
	}
}
.big-latest-textual-side {
	margin-right: -44px;
	padding: 9.0rem 18%;
	text-align: center;
}
@media (max-width: 991px) {
	.big-latest-textual-side {
		margin-right: 0;
		padding: 3.2rem 0 3.8rem;
	}
}
.post-card {
	padding-bottom: 7.2rem;
}
.post-card.big {
	padding: 0;
	height: 100%;
}
.big-latest-back {
	background: #f5f5f5;
	height: 100%;
}
.product-hor{
	cursor: pointer;
	background-color:#fff;
	border: 1px solid #e3e3e3;
	margin-bottom: 15px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product-ver{
	cursor: pointer;
	background-color:#fff;
	border: 1px solid #e3e3e3;
	margin-bottom: 15px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	position: relative;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.product-ver .contentpro{
	width: 90%;
}
.product-ver .imgpro{
	width: 100%;
}
.product-ver .contentpro{
	padding: 10% 0;
}
.contentcountdown{
	display: block;
	text-align: inherit;
}
.side-menu-box {
	margin-bottom: 10px;
	line-height: 2;
}
.side-menu-box ul{
	list-style: none;
	padding-left: 0px;
}
.side-menu-box ul ul{
	padding-left: 10px;
	position: relative;
}
.side-menu-box ul ul li a{
	position: relative;
	width: max-content;
	margin-top: 5px;
	margin-bottom: 0px;
}
.side-menu-box ul ul li a.sub::after {
	position: absolute;
	content: "";
	top: 9px;
	right: -16px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-color:#aaa transparent transparent transparent;
}
.side-menu-box ul li .strong{
	position: relative;
	cursor: pointer;
}
.side-menu-box ul li .heading{
	width: max-content;
	font-weight: 600;
	font-size: 1.5rem;
	margin: 0;
	cursor: pointer;
}
.side-menu-box ul li .heading:hover{
	color: #333;
}
.side-menu-box ul li .strong::after {
	position: absolute;
	content: "";
	top: 9px;
	right: -16px;
	width: 0;
	height: 0;
	border: 4px solid 
	transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-color:#aaa transparent transparent transparent;
}
.open > .dropdown-menu{
	position: relative;
	width: 100%;
	padding-left: 10px;
}
.dropdown-menu{
	border: none;
	border-radius: 4px;
	background: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
}
.dropdown-menu > li > a{
	padding: 0px;
	margin: 5px 0;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: #f28500;
	background-color: transparent;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
	color: #f28500;
	background-color: transparent;
}
.dropdown-menu {
	min-width: 135px;
}
.navbar-nav>li>.dropdown-menu {
	position: absolute;
	left: 2px;
	border-radius: 4px;
	padding: 1rem;
	border: 1px solid #eee;
	background: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-nav>li>.dropdown-menu>li>a{
	font-size: 13px;
	color: #777;
	margin: 5px 0;
}
.sticky{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
.imgpro{
	text-align: center;
	width: 40%;
	height: 160px;
	padding: 0px;
}
.imgpro img{
	width: auto;
	height: 100%;
	object-fit: cover;
}
.contentpro{
	width: 50%;
	padding: 5%;
}
.tagcagor{
	font-weight: 400;
	color: #aaa;
}
.contentpro .heading{
	font-size: 1.6rem;
	margin: 10px 0;
}
.contentpro .price{
	text-align: inherit;
}
.contentpro .price .amount{
	font-weight: 600;
	font-size: 1.4rem;
	color: #333;
}
.contentpro .price del .amount{
	font-weight: 400;
	font-size: 1rem;
	color: #bbb;
	margin-right:10px;
}
@media (max-width: 991px) {
	.product-hor{
	cursor: pointer;
	background-color:#fff;
	border: 1px solid #e3e3e3;
	margin-bottom: 15px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	position: relative;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	}
	.product-hor .contentpro{
	width: 100%;
	}
	.product-hor .imgpro{
		width: 100%;
	}
}
.contentcountdown .heading{
	font-size: 1.3rem;
	line-height: 3;
	margin-right: 10px !important;
}
.contentcountdown .countdownbox{
	display: flex;
	justify-content: space-between;
	max-width: 260px;
	background: #fff;
}
.contentcountdown .countdownbox .mainbox{
	padding: 6px 14px;
	border-radius: 4px;
	color: #fff;
	background: #ff8d03;
	text-align: center;
	line-height: 1;
}
.mainbox .time{
	font-size: 2.1rem;
	font-weight: 600;
	margin-bottom: 2px;
}
.mainbox .text{
	font-size: 1.1rem;
	font-weight: 400;
}
.contentcountdown .btn{
	font-size: 1.1rem;
	font-weight: 600;
	color:#fff;
	background:#333;
	border-radius: 30px;
	padding: 6px 19px;
	margin: 15px 0;
	letter-spacing: .3px;
	text-transform: uppercase;
}
/* ----------------------------------------------
IMAGES
------------------------------------------------- */
.aligncenter,
.alignnone,
.alignleft,
.alignright {
	max-width: 100%;
	max-height: 95%;
	height:auto;
	width:auto;
}

.aligncenter,
.alignnone {
	display: block;
	margin: 4.8rem auto 4.6rem;
}

.alignleft,
.alignright {
	position: relative;
	top: .7rem;
	margin-bottom: 3.0rem;
}

.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 0;
}

.alignleft {
	float:left;
	margin-right: 3.4rem;
}

.alignright {
	float: right;
	margin-left: 2.3rem;
}

@media (max-width: 991px) {
	.alignleft,
	.alignright {
		position: static;
		float: none;
		display: block;
		margin: 4.8rem auto 4.6rem;
	}
}

.alignright a,
.alignleft a,
.aligncenter a,
.alignnone a {
	display: inline-block;
}

.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: center;
}

.alignright {
	text-align: center;
}

.alignnone {
	text-align: center;
}





/* ----------------------------------------------
FOOTER
------------------------------------------------- */

.section-footer {
	font-size: 1.3rem;
	font-weight: 400;
	color: #ddd;
	margin-top: 3rem;
	padding: 0;
}

.section-footer a {
	color: #ddd;
	border-bottom: 1px solid transparent;
}

.section-footer a:hover {
	color: #504d4d;
}

.section-footer a i{
	color: #eee;
	font-size: 14px;
	margin-right: 10px;
}

.section-footer a.card i{
	color: #f28500;
	font-size: 31px;
	margin-right: 5px;
}


.section-footer h1,
.section-footer h2,
.section-footer h3,
.section-footer h4,
.section-footer h5,
.section-footer h6 {
	color: #231f20;
}

#footer input[type="submit"],
#footer .button-link,
#footer button {
	padding: 1.3rem 2.5rem 1.1rem 2.6rem;
	font-size: 1.4rem;
	background-color: #a9a9a9;
}

#footer input[type="submit"]:hover,
#footer .button-link:hover,
#footer button:hover {
	background-color: #000;
}

.footer-pane {
	padding-bottom: 1.2rem;
	color: #eee;
	background-color: #2E2E2E;
}
.bg-black{
	color: #eee;
	background: #292929;
}
.copyright {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .04em;
	font-weight: 400;
	padding: 1.4rem 0 1.5rem;
}

.copyright a {
	color: #333;
}

.copyright-spacy {
	padding: 3.1rem 0 3.2rem;
}
.widgetized-area {
		max-width: max-content;
		margin: 0 auto;
	}
.widget {
	width: auto;
	margin: 0 auto
	font-size: 1.33rem;
	letter-spacing: normal;
	margin-top: 1.3rem;
	margin-bottom: 2.5rem;
	padding-bottom: .4rem;
}
#bottom-widgets {
	padding: 2.6rem 2% 0;
	line-height: 1.6;
}
@media (max-width: 968px) {
	.widgetized-area {
		max-width: 300px;
		margin: 15px;
	}
	.widget{
		width: auto;
	}
	.widget input {
		max-width: 250px!important;
	}
	#bottom-widgets {
		padding: 2.6rem 0 0;
	}
}
.widget h4 {
	color: #fff;
	margin: 0 0 1rem;
	letter-spacing: normal;
	font-weight: 700;
	font-size: 1.6rem;
}
.widget ul,
.widget ol {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: -.1rem;
	padding-left: 0;
}

.widget ul li,
.widget ol li {
	padding-bottom: .4rem;
}

.widget > *:not(ul) > ul,
.widget > *:not(ol) > ul,
.widget > *:not(ul) > ol,
.widget > *:not(ol) > ol {
	padding: 0;
}

.widget ul > li > ul,
.widget ul > li > ol,
.widget ol > li > ol,
.widget ol > li > ul {
	padding-left: 1.0rem;
}

.widget .sub-menu>li:first-child {
	padding-top: .2rem;
}

.widget .sub-menu {
	padding-bottom: .4rem;
}

.widget .menu-has-grandchildren > li {
	padding-bottom: .8rem;
}

.widget ul.menu-has-grandchildren>li:last-child,
.widget ol.menu-has-grandchildren>li:last-child {
	padding-bottom: .6rem;
}

.widget p {
	margin-bottom: 2.0rem;
}

.widget p:last-child {
	margin-bottom: .6rem;
}

.widget img {
	margin: 0 0 1.0rem;
	height: auto;
}

.widget img:last-child {
	margin: 0;
}
.auction{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 10px;
	font-weight: 600;
	color: #fff;
	background: #ff8d03;
	border-radius: 100px;
	padding: 4px;
	width: max-content;
	height: auto;
	/*box-shadow: rgba(0,0,0,.06) 0 2px 4px 0 !important;*/
}
@media (max-width: 768px) {
	.contentcountdown .countdownbox{
		margin: 5px auto;
	}
	.sticky{
		position: relative;
	}
}
/* ----------------------------------------------
Detail
------------------------------------------------- */
.detailbg{
	margin: 5px 0;
	background: #fff;
	padding: 30px;
	border:1px solid #fefefe;
}
.detailbg .heading{
	margin: 5px 0;
	font-weight: 600;
}
.detailbg .price{
	font-size: 2.3rem;
	color: #ff8d03;
	font-weight: 600;
	margin: 0;
}
.detailbg .tag{
	margin: 5px 0;
	color: #aaa;
}
.detail{
	position: relative;
	padding: 10px 0;
}
.detail h5{
	margin-bottom: 0px;
}
.detailbg .icon{
	position: absolute;
	top: 0px;
	right: 10px;
}
.icon a{
	display: inline-block;
	margin-left: 2px;
	border-radius: 28px;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 26px;
	border: 1px solid #eee;
}
.buttondetail{
	display: block;
	margin-top: 15px;
}
.buttondetail a{
	font-weight: 600;
	font-weight: 12px;
	letter-spacing: .3px;
	display: inline-block;
	margin-right: 2px;
	border-radius: 39px;
	width: 170px;
	height: 40px;
	text-align: center;
	line-height: 37px;
	border: 1px solid #ddd;
}
a.buynow{
	color: #fff;
	background: #ff8d03;
	border: 1px solid #ff8d03;
}
.auctionlist{
	margin: 60px 0 30px;
}
.auctionlist .d-inline{
	display: inline-block;
}
.auctionlist .contentcountdown.d-inline{
	float: right;
}
.auctionlist .contentcountdown.d-inline .mainbox{
	margin-left: 5px;
}
.auctionlist .list{
	display: block;
	padding: 30px 0;
	border-top: 1px solid #eee;
}
.auctionlist .list.mt30{
	margin-top: 30px;
}
.auctionlist .list .user{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 20px;
}
.list .user .number{
	width: 26px;
	height: 26px;
	line-height: 26px;
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	color: #fff;
	background: #444;
	border-radius: 4px;
	margin-right: 5%;
}
.list .user .imguser{
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 80px;
	margin-right: 2%;
}
.list .user .imguser img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.list .user .nameuser{
	margin-right: auto;
}
.user .nameuser .name{
	font-size: 1.5rem;
	font-weight: 600;
}
.user .nameuser .bidprice{
	color: #f28500;
}
.outer { margin:0 auto; max-width:800px;}
#big .item { background: #ec6e46; margin:2px; color: #FFF; border-radius: 3px; text-align: center; }
#thumbs .item { background: #C9C9C9; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer; }
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item { background:#FF5722; }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; }

@media (max-width: 555px) {
	.auctionlist .list.mt30 {
		margin-top: 60px;
	}
	.auctionlist .contentcountdown.d-inline{
		float: left;
	}
	.buttondetail a{
		margin: 4px 0;
	}
	.list .user .imguser{
		height: 70px;
	}
}
.store{
	width: 50%;
	height: 120px;
	text-align: center;
	margin: 15px auto;
}
.store img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.storename{
	color: #f28500;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
}
.storecity{
	text-align: center;
	color: #bbb;
}
.storecity i{
	font-size: 12px;
	margin-right: 2px;
}
/* ----------------------------------------------
OWL
------------------------------------------------- */
.owl-big .item {
  background: none;
  color: #ffffff;
  text-align: center;
  margin: 0px;
}
.owl-big.owl-theme {
  position: relative;
}
.owl-big.owl-theme .owl-next,
.owl-big.owl-theme .owl-prev {
  position: absolute;
  top: 40%;
  margin-top: -20px;
}
.owl-big.owl-theme .owl-prev {
  left: 10px;
}
.owl-big.owl-theme .owl-next {
  right: 10px;
}
/* owl */
.owl-theme .owl-nav{
    margin-top: 0px;
}
.owl-carousel .owl-item img{
    width: auto;
    margin: 0 auto;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
border-radius: 0px;
margin:0px;
}
.owl-prev {
width: 40px;
height: 40px;
position: absolute;
left: 0px;
display: block !important;
border:0px solid black;
background: rgba(0,0,0,0) !important;
border-radius: 50px;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.owl-next {
width: 40px;
height: 40px;
position: absolute;
right: -1px;
display: block !important;
border:0px solid black;
background: rgba(0,0,0,0) !important;
border-radius: 50px;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.owl-prev:hover, .owl-next:hover{
background: rgba(0,0,0,0) !important;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.owl-prev i, .owl-next i { 
 font-size: 34pt;
 font-weight: bold;
 color: #fff;
 padding-top: 0px;
 text-shadow: 0px 2px 1px rgba(0, 0, 0, .1); 
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
.owl-prev:hover i, .owl-next:hover i{
color: #fff;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.owl-nav {
opacity: 1;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.owl-carousel:hover .owl-nav {
opacity: 1;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

@media (max-width: 468px) {
	.owl-big.owl-theme .owl-next, .owl-big.owl-theme .owl-prev{
		top: 30%
	}
}