<template>
  <div>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <sidebar-category-auction></sidebar-category-auction>
            <div class="col-md-10">
              <div class="category-product">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active page-header">Auction Category {{ catName }}</a>
                </div>
                <div class="wrapper">
                  <div class="row" v-if="products">
                    <template v-if="products.length > 0">
                      <div
                        class="col-md-6"
                        v-for="(product, index) in products"
                        :key="index"
                      >
                        <div class="box-slide-big">
                          <div class="image-container">
                            <img :src="product.productContents[0].fullpath">
                          </div>
                          <div class="box-description">
                            <span class="title b-80" data-toggle="tooltip" :title="product.name">{{ product.name | cut(26) }}</span>
                            <br>
                            <span v-if="product.auction" class="price b-80">{{ product.priceText }}</span>
                            <span
                              v-else
                              class="price b-80"
                            >{{ product.productVariant.priceText ? product.productVariant.priceText : product.productVariant.price }}</span>
                            <p class="decs">{{ product.description | stripTagsAndLimit(51)}}</p>
                            <span class="b-80">Hurry Up! Offer Ends in:</span>
                            <countdown :auto-start="true" :time="product.timeRange">
                              <template slot-scope="props">
                                <div class="timer">
                                  <div class="box-timer">
                                    <span>{{props.days}}</span>
                                    <p>Days</p>
                                  </div>
                                  <div class="box-timer">
                                    <span>{{ props.hours }}</span>
                                    <p>Hrs</p>
                                  </div>
                                  <div class="box-timer">
                                    <span>{{ props.minutes}}</span>
                                    <p>Mns</p>
                                  </div>
                                  <div class="box-timer">
                                    <span>{{ props.seconds }}</span>
                                    <p>scnd</p>
                                  </div>
                                </div>
                              </template>
                            </countdown>
                            <a :href="productUrl(product.slug)"
                               class="btn-add-cart"
                            >See Detail</a>
                          </div>
                        </div>
                      </div>
                    </template>
                    <template v-else>
                      <div class="col-md-12">
                        <div class="box-slide-big content-center-flex">
                          <span>No Product Auctions</span>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
                <!-- end wrapper -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
  import { api } from "@/config/constants";
  import moment from "moment-timezone";
  moment.tz.setDefault('Asia/Jakarta');
  moment.tz(moment(), 'Asia/Jakarta').format('DD/MM/YYYY HH:mm');
  import SidebarCategoryAuction from '@/components/commerce/SidebarCategoryAuction';
  import VueCountdown from "@chenfengyuan/vue-countdown";

  export default {
    name: "category-detail-page",
    components: {
      SidebarCategoryAuction,
      'countdown': VueCountdown
    },
    // props: ['id'],
    data() {
      return {
        // data
        catName: '',
        products: null,
        id : ''
      }
    },
    methods: {
      // list of methods
      getDataProducts() {
        this.loadingShow();
        this.$http.get(api + `/api/public/productAuction?categoryId=${this.id}`).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              let productsData = resp.data;
              console.log(productsData);

              for (let p of productsData) {
                let timeStart = moment().valueOf();
                let timeEnd = moment(p.productAuction.endAtText).valueOf();
                let timeRange = 0;
                if (timeEnd - timeStart > 0) timeRange = timeEnd - timeStart;

                p.timeRange = timeRange;
              }
              this.products = productsData;
            }
          },
          function(resp) {
            this.loadingHide();
            console.error(resp.data);
          }
        );
      },
      productUrl(slug){
        return `/product/${slug}`;
      },
    },
    created() {
      // created
      let catName = localStorage.getItem('catName')
      if(catName) this.catName = catName
      this.id = this.$route.params.id;
    },
    mounted() {
      // mounted
      this.getDataProducts()
    },
    watch: {
      // watcher list
      property: function() {
      }
    }
  };
</script>
