<template>
  <div>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <sidebar-category-auction></sidebar-category-auction>
            <div class="col-md-10">
              <div class="row form-group">
                <div class="col-md-9">
                  <div class="form-group-header">
                    <div class="nav nav-tabs" id="nav-search-tab" role="tablist">
                      <a class="nav-item nav-link active page-header">List Auction Product</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-content" id="srTabContent">
                <!-- tab-sr-product -->
                <div
                  class="tab-pane fade show active mb-30"
                  id="sr-product"
                  role="tabpanel"
                  aria-labelledby="sr-product-tab"
                >
                  <div class="wrapper">
                    <div class="row" v-if="products">
                      <template v-if="products.length > 0">
                        <div
                          class="col-md-6"
                          v-for="(product, index) in products"
                          :key="index"
                        >
                          <div class="box-slide-big">
                            <div class="image-container">
                              <img :src="product.productContents[0].fullpath">
                            </div>
                            <div class="box-description">
                              <span class="title b-80" data-toggle="tooltip" :title="product.name">{{ product.name | cut(26) }}</span>
                              <br>
                              <span v-if="product.auction" class="price b-80">{{ product.priceText }}</span>
                              <span
                                v-else
                                class="price b-80"
                              >{{ product.productVariant.priceText ? product.productVariant.priceText : product.productVariant.price }}</span>
                              <p class="decs">{{ product.description | stripTagsAndLimit(51)}}</p>
                              <span class="b-80">Hurry Up! Offer Ends in:</span>
                              <countdown :auto-start="true" :time="product.timeRange">
                                <template slot-scope="props">
                                  <div class="timer">
                                    <div class="box-timer">
                                      <span>{{props.days}}</span>
                                      <p>Days</p>
                                    </div>
                                    <div class="box-timer">
                                      <span>{{ props.hours }}</span>
                                      <p>Hrs</p>
                                    </div>
                                    <div class="box-timer">
                                      <span>{{ props.minutes}}</span>
                                      <p>Mns</p>
                                    </div>
                                    <div class="box-timer">
                                      <span>{{ props.seconds }}</span>
                                      <p>scnd</p>
                                    </div>
                                  </div>
                                </template>
                              </countdown>
                              <button
                                @click="viewProductDetail(product.slug)"
                                class="btn-add-cart"
                              >See Detail</button>
                            </div>
                          </div>
                        </div>
                      </template>
                      <template v-else>
                        <div class="col-md-12">
                          <div class="box-slide-big content-center-flex">
                            <span>No Product Auctions</span>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>

                </div>

                <!-- tab-sr-store -->
                <div
                  class="tab-pane fade show mb-30"
                  id="sr-store"
                  role="tabpanel"
                  aria-labelledby="sr-store-tab"
                >

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
  import { api } from "@/config/constants";
  import moment from "moment-timezone";
  moment.tz.setDefault('Asia/Jakarta');
  moment.tz(moment(), 'Asia/Jakarta').format('DD/MM/YYYY HH:mm');
  import SidebarCategoryAuction from '@/components/commerce/SidebarCategoryAuction'
  import VueCountdown from "@chenfengyuan/vue-countdown";

  export default {
    name: "search-auction-page",
    components: {
      SidebarCategoryAuction,
      'countdown': VueCountdown
    },
    props: [],
    data() {
      return {
        // data
        products: [],
      };
    },
    methods: {
      // list of methods
      getProductSearchResult() {
        this.loadingShow();
        let query = localStorage.getItem("searchQueryAuction");
        let categoryId = localStorage.getItem("categoryIdSearchQueryAuction");
        let url = api + `/api/public/productAuction?product=${query}`
        if(categoryId) url += `&categoryId=${categoryId}`
        this.$http.get(url).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              let productsData = resp.data;

              for (let p of productsData) {
                let timeStart = moment().valueOf();
                let timeEnd = moment(p.productAuction.endAtText).valueOf();
                let timeRange = 0;
                if (timeEnd - timeStart > 0) timeRange = timeEnd - timeStart;

                p.timeRange = timeRange;
              }
              this.products = productsData;
            }
          },
          function(resp) {
            this.loadingHide();
            console.error(resp.data);
          }
        );
      },
      viewProductDetail(slug) {
        window.location.href = `/product/${slug}`;
      }
    },
    created() {
      // created
    },
    mounted() {
      // mounted
      this.getProductSearchResult();
    },
    watch: {
      // watcher list
      property: function() {}
    }
  };
</script>
