<template>
  <div>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <sidebar-user/>

            <div class="col-lg-10 content-profile">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group-header">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active page-header">Transaksi Bid</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-content" id="myTabContent">
                <div class="row" >
                  <div class="col-md-6" v-for="history in bidHistory" :key="history.id">
                    <div class="media">
                      <img v-if="history.contentThumb" :src="history.contentThumb.fullpath" alt="Generic placeholder image" class="mr-3 image-store rounded">
                      <img v-else src="/img/no-image.jpeg" alt="" title="" />
                      <div class="media-body">
                        <div class="form-group my-store">
                          <a :href="`/product/${history.slug}`">{{ history.name | cut(25) }}</a>
                        </div>
                        <div class="form-group">
                          <div class="price-store"> {{ history.priceText }}
                          </div>

                          <div class="price-store text-danger"> {{ dateDiff(history.productAuction.endAtText) }}
                          </div>

                          <div class="date-created">{{ history.category.name }}</div>
                        </div>
                      </div>
                    </div>
                    <hr>

                  </div>
                  <!---->
                </div>

              </div>
            </div>

          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
  import moment from "moment-timezone";
  moment.tz.setDefault('Asia/Jakarta');
  moment.tz(moment(), 'Asia/Jakarta').format('DD/MM/YYYY HH:mm');
  import { api } from "@/config/constants";
  import SidebarUser from '@/components/commerce/SidebarUser'

  export default {
    name: "BidHistory",
    components: {
      SidebarUser
    },
    props: [],
    data() {
      return {
        bidHistory: null,
        token: '',
      }
    },
    methods: {
      init: function() {
        this.loadingShow()
        this.token = this.$cookie.get('kpid');
        let userId = this.$cookie.get('uid');
        if (!this.token || !userId) {
          window.location.href = '/'
        }
        let accessToken = 'Bearer ' + this.token;
        let headers = {headers:{'Authorization': accessToken}};
        this.$http.get(api + '/api/bid/' + userId + '/monitoringProduct', headers).then(function(resp) {
          this.loadingHide()
          if (resp.status == 200) {
            this.bidHistory = resp.data
          }
        }, function(resp) {
          this.loadingHide()
          console.log(resp.data)
        })
      },
      dateDiff(endDate){
        let duration = moment(endDate,'YYYY-MM-DD HH:mm:ss') -  moment().local();
        let s = Math.floor( (duration/1000) % 60 );
        let m = Math.floor( (duration/1000/60) % 60 );
        let h = Math.floor( (duration/(1000*60*60)) % 24 );
        let d = Math.floor( duration/(1000*60*60*24) );

        let day = d < 0 ? 0 : d;
        let hour = h < 0 ? 0 : h;
        let minutes = m < 0 ? 0 : m;
        let second = s < 0 ? 0 : s;

        let result = day + ' hari ' + hour + ' jam ' + minutes + ' menit ' + second  + ' detik';

        return result;
      }
    },
    created() {
      this.init()
    },
    mounted() {
      // mounted
    },
    watch: {
      // watcher list
      property: function() {
      }
    }
  };
</script>
