<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <sidebar-category></sidebar-category>
          <div class="col-md-10">
            <div class="category-product">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Category {{ catName }}</a>
              </div>
              <div class="wrapper">
                <div class="row product-top" v-if="products">
                  <card-product
                    v-for="(product, index) in products"
                    :key="index"
                    :product="product"
                  ></card-product>
                </div>
              </div>
              <!-- end wrapper -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import CardProduct from "@/components/commerce/CardProduct";
import SidebarCategory from "@/components/commerce/SidebarCategory";

export default {
  name: "category-detail-page",
  components: {
    CardProduct,
    SidebarCategory
  },
  data() {
    return {
      // data
      catName: "",
      products: null
    };
  },
  methods: {
    // list of methods
    getDataProducts() {
      this.loadingShow();
      this.$http
        .get(api + `/api/productStore?categoryId=${this.$route.params.id}`)
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.products = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            console.error(resp);
          }
        );
    }
  },
  created() {
    // created
    let catName = localStorage.getItem("catName");
    if (catName) this.catName = catName;
  },
  mounted() {
    // mounted
    this.getDataProducts();
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
