<template>
  <div>
    <topbar></topbar>
    <commerce-header></commerce-header>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Topbar from "@/components/general/Topbar";
import Footer from "@/components/general/Footer";
import CommerceHeader from "@/components/general/header/CommerceHeader";
export default {
  name: "commerce-page",
  components: {
    // components
    Topbar,
    'app-footer':Footer,
    "commerce-header": CommerceHeader
  },
  props: [],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
