<template>
  <main id="main">
    <section id="main-container" class="">
      <div class="container-fluid">
        <div class="row">
          <sidebar-category></sidebar-category>
          <div class="col-md-7" v-if="banners.length > 0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <template v-for="(banner, index) in banners">
                  <li
                    :key="banner.id"
                    data-target="#carouselExampleIndicators"
                    :data-slide-to="index"
                    :class="{ active: index == 0 }"
                  ></li>
                </template>
              </ol>
              <div class="carousel-inner" style="cursor: pointer;">
                <div
                  v-for="(banner, index) in banners"
                  :key="banner.id"
                  :class="{ 'carousel-item': true, 'active': index == 0 }"
                >
                  <div class="jumbotron-container">
                    <img :src="`${banner.image}`" @click="onClickAds(banner.url)">
                  </div>
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div v-else class="col-md-7">
            <div class="box-slide-big content-center-flex" style="height: 95%">
              <span>No Promo</span>
            </div>
          </div>
          <div class="col-md-3" v-if="ads.length > 0">
            <template v-for="(ad, index) in ads">
              <div :key="index" class="advertisement1">
                <img :src="ad.image" alt="banner1" @click="onClickAds(ad.url)">
              </div>
            </template>
          </div>
          <div class="col-md-3" v-else>
            <div class="box-slide-big content-center-flex" style="height: 95%">
              <span>No Promo</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Popular Products</a>
              </div>
              <div class="wrapper" v-if="popularProducts">
                <div class="row product-top" v-if="popularProducts.length > 0">
                  <card-product
                    v-for="(product, index) in popularProducts"
                    :key="index"
                    :product="product"
                  ></card-product>
                </div>
                <div v-else class="row product-top">
                  <div class="col-md-12">
                    <div class="box-slide-big content-center-flex">
                      <span>No Popular Products</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Product Auctions</a>
              </div>
              <div class="wrapper">
                <div class="row" v-if="randomAuctionProducts">
                  <template v-if="randomAuctionProducts.length > 0">
                    <div
                      class="col-md-6"
                      v-for="(product, index) in randomAuctionProducts"
                      :key="index"
                    >
                      <div class="box-slide-big">
                        <div class="image-container">
                          <img v-if="product.productContents.length > 0" :src="product.productContents[0].fullpath">
                          <img v-else src="/img/no-image.jpeg" alt="" title="" />
                        </div>
                        <div class="box-description">
                          <span class="title b-80" data-toggle="tooltip" :title="product.name">{{ product.name | cut(26) }}</span>
                          <br>
                          <span v-if="product.auction" class="price b-80">{{ product.priceText }}</span>
                          <span
                            v-else
                            class="price b-80"
                          >{{ product.productVariant.priceText ? product.productVariant.priceText : product.productVariant.price }}</span>
                          <p class="decs">{{ product.description | stripTagsAndLimit(51)}}</p>
                          <span class="b-80">Hurry Up! Offer Ends in:</span>
                          <countdown :auto-start="true" :time="product.timeRange">
                            <template slot-scope="props">
                              <div class="timer">
                                <div class="box-timer">
                                  <span>{{props.days}}</span>
                                  <p>Days</p>
                                </div>
                                <div class="box-timer">
                                  <span>{{ props.hours }}</span>
                                  <p>Hrs</p>
                                </div>
                                <div class="box-timer">
                                  <span>{{ props.minutes}}</span>
                                  <p>Mns</p>
                                </div>
                                <div class="box-timer">
                                  <span>{{ props.seconds }}</span>
                                  <p>scnd</p>
                                </div>
                              </div>
                            </template>
                          </countdown>
                          <button
                            @click="viewProductDetail(product.slug)"
                            class="btn-add-cart"
                          >See Detail</button>
                        </div>
                      </div>
                    </div>
                  </template>
                  <template v-else>
                    <div class="col-md-12">
                      <div class="box-slide-big content-center-flex">
                        <span>No Product Auctions</span>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
              <div class="text-danger" style="margin-bottom:10px">
                <a href="/auction/product" style="color:black">See all auctions &raquo;</a>
              </div>
            </div>

            <div class="new-arrivals">
              <div class="row" v-if="bottomBanners.length > 0">
                <div
                  class="col-md-6"
                  v-for="(banner, index) of bottomBanners"
                  :key="index"
                >
                  <div class="box-arrival">
                    <img :src="banner.image" alt="new-arrivals" @click="onClickAds(banner.url)">
                  </div>
                </div>
              </div>
              <div class="row" v-else>
                <div class="col-md-12">
                  <div class="box-slide-big content-center-flex">
                    <span>No Promo</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarCategory from '@/components/commerce/SidebarCategory'
import CardProduct from '@/components/commerce/CardProduct'

// vendor
import moment from "moment-timezone";
moment.tz.setDefault('Asia/Jakarta');
moment.tz(moment(), 'Asia/Jakarta').format('DD/MM/YYYY HH:mm');
import VueCountdown from "@chenfengyuan/vue-countdown";

export default {
  name: "home-page",
  props: {},
  components: {
    SidebarCategory,
    CardProduct,
    'countdown': VueCountdown
  },
  data() {
    return {
      ads: [],
      banners: [],
      popularProducts: null,
      bottomBanners: [],
      randomAuctionProducts: null
    };
  },
  created: function() {
    this.init();
  },
  mounted: function() {
    this.$ga.page('/');
  },
  methods: {
    // list of methods
    init: function() {
      this.getDataBanners();
      this.getDataAds();
      this.getDataPopularProduct();
      this.getDataBottomBanners();
      this.getDataRandomAuctionProducts();
    },
    getDataBanners() {
      this.loadingShow();
      this.$http.get(api + "/banners/0/bannerList").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.banners = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getDataAds() {
      this.loadingShow();
      this.$http.get(api + "/banners/1/bannerList").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.ads = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getDataBottomBanners() {
      this.loadingShow();
      this.$http.get(api + "/banners/2/bannerList").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.bottomBanners = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getDataPopularProduct() {
      this.loadingShow();
      this.$http.get(api + "/api/transaction/popularProduct").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.popularProducts = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.error(resp.data);
        }
      );
    },
    getDataRandomAuctionProducts() {
      this.loadingShow();
      this.$http.get(api + "/api/bid/randomProduct").then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            let products = resp.data;

            for (let p of products) {
              let timeStart = moment().valueOf();
              let timeEnd = moment(p.productAuction.endAtText).valueOf();
              let timeRange = 0;
              if (timeEnd - timeStart > 0) timeRange = timeEnd - timeStart;

              p.timeRange = timeRange;
            }
            this.randomAuctionProducts = products;
          }
        },
        function(resp) {
          this.loadingHide();
          console.error(resp.data);
        }
      );
    },
    productDescHover() {
      // console.log("hover");
    },
    openPromoDetail(promoId) {
      window.location.href = `/promo/${promoId}`;
    },
    viewProductDetail(slug) {
      window.location.href = `/product/${slug}`;
    },
    onClickAds(url) {
      if(url){
        window.open(url, '_blank')
      }
    },
  }
};
</script>
