<template>
  <main id="main" v-if="token">
    <section id="main-container" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <sidebar-user/>

          <div class="col-lg-10 content-profile">
            <div class="form-group">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Rekening Bank</a>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12 col-sm-12 text-right">
                <button
                  type="button"
                  class="btn-store"
                  data-toggle="modal"
                  data-target="#bankAccountForm"
                  @click="clearAttribute"
                >{{ buttonAdd }}</button>
              </div>
            </div>

            <div v-if="bank.bankName" class="form-group row">
              <div class="col-sm-9">{{ bank.bankName }}</div>
              <div class="col-sm-9">{{ bank.accountNumber }}</div>
              <div class="col-sm-9">{{ bank.accountName }}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Select Address Modal -->
    <div
      class="modal fade"
      id="bankAccountForm"
      name="bankAccountForm"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Rekening Bank</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form action="post" @submit.prevent="saveAccount">
            <div class="modal-body">
              <div class="form-group row">
                <label for="bankCode" class="col-sm-3 col-form-label label-cs-text">Nama Bank</label>
                <div class="col-sm-9">
                  <select v-model="form.bankCode" class="form-control input-cs">
                    <option value>-- Pilih Bank --</option>
                    <template v-for="bank in listBank">
                      <option :key="bank.code" :value="bank.code">{{ bank.name }}</option>
                    </template>
                  </select>
                  <div class="validation text-danger" v-if="errors.bankCode">{{ errors.bankCode }}</div>
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="accountNumber"
                  class="col-sm-3 col-form-label label-cs-text"
                >Nomor Rekening</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-cs" v-model="form.accountNumber">
                  <div
                    class="validation text-danger"
                    v-if="errors.accountNumber"
                  >{{ errors.accountNumber }}</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="accountName" class="col-sm-3 col-form-label label-cs-text">Nama Rekening</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-cs" v-model="form.accountName">
                  <div
                    class="validation text-danger"
                    v-if="errors.accountName"
                  >{{ errors.accountName }}</div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn-store" :data-dismiss="formDismiss">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end modal -->
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarUser from "@/components/commerce/SidebarUser";

export default {
  name: "my-bank-page",
  props: [],
  components: {
    SidebarUser
  },
  data() {
    return {
      form: {
        bankCode: "",
        accountName: "",
        accountNumber: "",
        storeId: "",
        userId: ""
      },
      bank: {
        bankName: "",
        accountName: "",
        accountNumber: ""
      },
      errors: {
        bankCode: "",
        accountName: "",
        accountNumber: ""
      },
      token: "",
      uid: "",
      sid: "",
      listBank: [],
      isError: false,
      formDismiss: "",
      buttonAdd: "Tambah Rekening"
    };
  },
  methods: {
    // list of methods
    checkCookie: function() {
      this.token = this.$cookie.get("kpid");
      if (!this.token) {
        window.location.href = "/";
      }
      this.sid = this.$cookie.get("sid");
      if (!this.sid) {
        window.location.href = "/store";
      }
    },
    clearAttribute: function() {
      this.errors.bankCode = "";
      this.errors.accountName = "";
      this.errors.accountNumber = "";
    },
    saveAccount: function() {
      this.isError = false;
      this.formDismiss = "modal";
      if (!this.form.bankCode) {
        this.errors.bankCode = "Kode Bank harus diisi";
        this.isError = true;
      }
      if (!this.form.accountName) {
        this.errors.accountName = "Nama rekening harus diisi";
        this.isError = true;
      }
      if (!this.form.accountNumber) {
        this.errors.accountNumber = "Nomor rekening harus diisi";
        this.isError = true;
      }
      if (this.isError) {
        this.formDismiss = "";
        return false;
      }

      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.form.storeId = this.sid;
      this.form.userId = this.uid;
      this.$http.post(api + "/api/bank", this.form, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            // window.location.reload();
            window.location.href = '/shipment'
          }
        },
        function(resp) {
          this.loadingHide();
          this.formDismiss = "";
          console.log(resp.data);
          alert(resp.data.message);
        }
      );
    },
    getBankAccount: function() {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.get(api + "/api/bank/" + this.sid + "/store", headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            if (resp.data) {
              this.bank.bankName = resp.data.bank ? resp.data.bank.name : "";
              this.form.bankCode = resp.data.bank ? resp.data.bank.code : "";
              this.form.accountName = this.bank.accountName =
                resp.data.accountName;
              this.form.accountNumber = this.bank.accountNumber =
                resp.data.accountNumber;
              this.buttonAdd = "Ubah Rekening";
            }
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
          alert(resp.data.message);
        }
      );
    },
    getAllBank: function() {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.get(api + "/api/bank", headers).then(
        function(resp) {
          if (resp.status == 200) {
            this.listBank = resp.data;
            this.getBankAccount();
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
          alert(resp.data.message);
        }
      );
    }
  },
  created() {
    // created
    this.uid = this.$cookie.get("uid");
    this.checkCookie();
    this.getAllBank();
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
  }
};
</script>
