<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8" v-if="promo">
            <div class="forum-content">
              <div class="image-container">
                <img :src="promo.image">
              </div>
              <div class="content-description">
                <div class="title">
                  <span>{{ promo.name }}</span>
                </div>
                <div class="title-promo">
                  <span>DESKRIPSI</span>
                </div>
                <div class="description" v-html="promo.description"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 content-promo">
            <div class="form-group-header">
              <div class="nav nav-tabs" id="nav-promo-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Related Promo</a>
              </div>
            </div>
            <div class="related-promo">
              <ul class="list-promo" v-if="popularPromo">
                <li class="form-group" v-for="(promo, index) in popularPromo" :key="index">
                  <div class="box-promo">
                    <div class="image-container">
                      <img :src="promo.image" alt>
                    </div>
                    <div class="box-promo-description">
                      <div class="title-promo form-group">{{ promo.name }}</div>
                      <div class="promo-text">Periode Promo</div>
                      <div>{{ promo.startDate | date('DD')}} - {{ promo.endDate | date('DD MMM YYYY')}}</div>
                      <div>
                        <button
                          class="btn btn-secondary btn-promo-detail"
                          @click="openPromoDetail(promo.id)"
                        >Detail</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";

export default {
  name: "promo-detail-page",
  // props: ["id"],
  data() {
    return {
      // data
      promo: null,
      popularPromo: null
    };
  },
  methods: {
    // list of methods
    getPromoDetail() {
      this.loadingShow();
      this.$http.get(api + `/banners/detail/${this.$route.params.id}`).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            if (resp.data == "") {
              window.location.href = "/";
            } else {
              this.promo = resp.data;
            }
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    getPopularPromo() {
      this.loadingShow();
      this.$http.get(api + `/banners/popularAdvertisement`).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.popularPromo = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp.data);
        }
      );
    },
    openPromoDetail(promoId) {
      window.location.href = `/promo/${promoId}`;
    }
  },
  created() {
    // created
  },
  mounted() {
    // mounted
    this.getPromoDetail();
    this.getPopularPromo();
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
