<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <sidebar-category></sidebar-category>
          <div class="col-md-10">
            <div class="row form-group">
              <div class="col-md-9">
                <div class="form-group-header">
                  <div class="nav nav-tabs" id="nav-search-tab" role="tablist">
                    <a class="nav-item nav-link active page-header">Search Result</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <ul class="nav nav-tabs pull-right" id="search-tab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="purchase-tab"
                      data-toggle="tab"
                      href="#sr-product"
                      role="tab"
                      aria-controls="product"
                      aria-selected="false"
                    >Product</a>
                  </li>
                  <li class="nav-item">
                    <a
                      @click="onClickStore"
                      class="nav-link"
                      id="store-tab"
                      data-toggle="tab"
                      href="#sr-store"
                      role="tab"
                      aria-controls="store"
                      aria-selected="false"
                    >Store</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content" id="srTabContent">
              <!-- tab-sr-product -->
              <div
                class="tab-pane fade show active mb-30"
                id="sr-product"
                role="tabpanel"
                aria-labelledby="sr-product-tab"
              >
                <div
                  class="form-group"
                >Menampilkan {{ products.length }} Produk untuk "{{ query }}" {{ categoryIdSearchQueryName ? `dengan kategori "${categoryIdSearchQueryName}"` : ''}}</div>
                <div class="wrapper">
                  <div class="row product-top">
                    <card-product v-for="product in products" :key="product.id" :product="product"></card-product>
                  </div>
                </div>
              </div>

              <!-- tab-sr-store -->
              <div
                class="tab-pane fade show mb-30"
                id="sr-store"
                role="tabpanel"
                aria-labelledby="sr-store-tab"
              >
                <div class="form-group">Menampilkan {{ stores.length }} Toko untuk "{{ query }}"</div>
                <div class="wrapper">
                  <div class="row">
                    <card-store v-for="store in stores" :key="store.id" :store="store"></card-store>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import CardStore from "@/components/commerce/CardStore";
import CardProduct from "@/components/commerce/CardProduct";
import SidebarCategory from '@/components/commerce/SidebarCategory'

export default {
  name: "search-page",
  props: [],
  components: {
    SidebarCategory,
    CardStore,
    CardProduct
  },
  data() {
    return {
      // data
      query: "",
      products: [],
      stores: [],
      categoryIdSearchQueryName: ""
    };
  },
  methods: {
    // list of methods
    getProductSearchResult() {
      this.loadingShow();
      let query = localStorage.getItem("searchQuery");
      let categoryId = localStorage.getItem("categoryIdSearchQuery");
      let url = api + `/api/productStore?product=${query}`;
      if (categoryId) url += `&categoryId=${categoryId}`;
      this.$http.get(url).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.query = query;
            this.products = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp);
        }
      );
    },
    getStoreSearchResult() {
      this.loadingShow();
      let query = localStorage.getItem("searchQuery");
      let url = api + `/api/productStore?store=${query}`;
      this.$http.get(url).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.query = query;
            this.stores = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp);
        }
      );
    },
    onClickStore() {
      this.getStoreSearchResult();
    }
  },
  created() {
    // created
  },
  mounted() {
    // mounted
    this.getProductSearchResult();
    this.categoryIdSearchQueryName = localStorage.getItem(
      "categoryIdSearchQueryName"
    );
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
