<template>
  <main id="main" v-if="token">
    <section id="main-container" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <sidebar-user/>

          <div class="col-lg-10 content-profile">
            <div class="form-group">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Wilayah asal pengiriman</a>
              </div>
            </div>
            <form action="post" @submit.prevent="saveLocation">
              <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                  <label>Provinsi</label>
                  <select
                    v-model="location.provinceId"
                    class="form-control input-cs"
                    @change="getCity"
                  >
                    <option value>-- Pilih Provinsi --</option>
                    <template v-for="province in listProvince">
                      <option
                        :key="province.province_id"
                        :value="province.province_id"
                      >{{ province.province }}</option>
                    </template>
                  </select>
                  <div
                    class="validation text-danger"
                    v-if="errors.provinceId"
                  >{{ errors.provinceId }}</div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <label>Kota</label>
                  <select
                    v-model="location.cityId"
                    class="form-control input-cs"
                    @change="getSubdistrict"
                  >
                    <option value>-- Pilih Kota --</option>
                    <template v-for="city in listCity">
                      <option
                        :key="city.city_id"
                        :value="city.city_id"
                        :postalCode="city.postal_code"
                      >{{ city.city_name }} ({{ city.type }})</option>
                    </template>
                  </select>
                  <div class="validation text-danger" v-if="errors.cityId">{{ errors.cityId }}</div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                  <label>Kecamatan</label>
                  <select v-model="location.subdistrictId" class="form-control input-cs">
                    <option value>-- Pilih Kecamatan --</option>
                    <template v-for="subdistrict in listSubdistrict">
                      <option
                        :key="subdistrict.subdistrict_id"
                        :value="subdistrict.subdistrict_id"
                      >{{ subdistrict.subdistrict_name }}</option>
                    </template>
                  </select>
                  <div
                    class="validation text-danger"
                    v-if="errors.subdistrictId"
                  >{{ errors.subdistrictId }}</div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <label>Kode Pos</label>
                  <input type="text" v-model="location.postalCode" class="form-control input-cs">
                  <div
                    class="validation text-danger"
                    v-if="errors.postalCode"
                  >{{ errors.postalCode }}</div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                  <button type="submit" class="btn btn-secondary btn-store-2 btn-block">Simpan</button>
                </div>
              </div>
            </form>

            <div class="form-group">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active page-header">Layanan Pengiriman</a>
              </div>
            </div>

            <template v-for="shipment in listShipment">
              <div class="form-group row" :key="shipment.id">
                <div class="col-md-3 col-sm-12">
                  <img v-if="shipment.icon" :src="shipment.icon" :title="shipment.name">
                  <label v-else>{{ shipment.name }}</label>
                </div>
                <div
                  class="col-md-9 col-sm-12"
                  v-if="shipment.shipperDetails && shipment.shipperDetails.length > 0"
                >
                  <template v-for="(detail, i) in shipment.shipperDetails">
                    <label class="col-md-6 col-sm-6" :key="i">
                      <input
                        v-if="detail.available == true"
                        type="checkbox"
                        :value="detail.id"
                        @change="selectShipment(detail.id, detail.storeShipperId, $event)"
                        checked
                      >
                      <input
                        v-else
                        type="checkbox"
                        :value="detail.id"
                        @change="selectShipment(detail.id, detail.storeShipperId, $event)"
                      >
                      {{ detail.name }}
                    </label>
                  </template>
                </div>
              </div>
              <hr :key="shipment.id">
            </template>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarUser from '@/components/commerce/SidebarUser'

export default {
  name: "shipment-page",
  props: [],
  components: {
    SidebarUser
  },
  data() {
    return {
      token: "",
      uid: "",
      sid: "",
      listShipment: [],
      listProvince: [],
      listCity: [],
      listSubdistrict: [],
      location: {
        storeId: "",
        userId: "",
        provinceId: "",
        cityId: "",
        subdistrictId: "",
        postalCode: ""
      },
      errors: {
        provinceId: "",
        cityId: "",
        subdistrictId: "",
        postalCode: ""
      },
      error: false
    };
  },
  methods: {
    getAllShipment: function() {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.loadingShow();
      this.$http
        .get(api + "/api/shipment/" + this.sid + "/store", headers)
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.listShipment = resp.data;
            }
          },
          function(resp) {
            this.loadingHide();
            alert(resp.message);
            console.log(resp.data);
          }
        );
    },
    selectShipment: function(shipmentDetailId, storeShipperId, event) {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.loadingShow();
      if (event.target.checked) {
        let payload = {
          userId: this.uid,
          storeId: this.sid,
          shipperDetailId: shipmentDetailId
        };
        this.$http.post(api + "/api/shipment", payload, headers).then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              window.location.reload();
            }
          },
          function(resp) {
            this.loadingHide();
            alert(resp.message);
            console.log(resp.data);
          }
        );
      } else {
        if (confirm("Yakin akan dihapus?")) {
          this.deleteShipment(storeShipperId);
        }
      }
    },
    deleteShipment: function(id) {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.loadingShow();
      this.$http.delete(api + "/api/shipment/" + id, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            window.location.reload();
          }
        },
        function(resp) {
          this.loadingHide();
          alert(resp.message);
          console.log(resp.data);
        }
      );
    },
    getProvince: function() {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.loadingShow();
      this.$http.get(api + "/api/shipment/province", headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.listProvince = resp.data;
            this.getCity();
          }
        },
        function(resp) {
          this.loadingHide();
          alert(resp.message);
          console.log(resp.data);
        }
      );
    },
    getCity: function() {
      if (this.location.provinceId) {
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.loadingShow();
        this.$http
          .get(
            api +
              "/api/shipment/city/" +
              this.location.provinceId +
              "/province",
            headers
          )
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.listCity = resp.data;
                this.getSubdistrict();
              }
            },
            function(resp) {
              this.loadingHide();
              alert(resp.message);
              console.log(resp.data);
            }
          );
      }
    },
    getSubdistrict: function() {
      if (this.location.cityId) {
        let accessToken = "Bearer " + this.token;
        let headers = { headers: { Authorization: accessToken } };
        this.loadingShow();
        //this.location.postalCode = event.target.options[event.target.options.selectedIndex].attributes.postalcode.nodeValue
        this.$http
          .get(
            api + "/api/shipment/subdistrict/" + this.location.cityId + "/city",
            headers
          )
          .then(
            function(resp) {
              this.loadingHide();
              if (resp.status == 200) {
                this.listSubdistrict = resp.data;
              }
            },
            function(resp) {
              this.loadingHide();
              alert(resp.message);
              console.log(resp.data);
            }
          );
      }
    },
    saveLocation: function() {
      this.error = false;
      if (!this.location.provinceId) {
        this.errors.provinceId = "Provinsi harus diisi";
        this.error = true;
      }
      if (!this.location.cityId) {
        this.errors.cityId = "Kota harus diisi";
        this.error = true;
      }
      if (!this.location.subdistrictId) {
        this.errors.subdistrictId = "Kecamatan harus diisi";
        this.error = true;
      }
      if (!this.location.postalCode) {
        this.errors.postalCode = "Kode pos harus diisi";
        this.error = true;
      }
      if (this.error) {
        return false;
      }
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.loadingShow();
      this.location.storeId = this.sid;
      this.location.userId = this.uid;
      this.$http.post(api + "/api/store/location", this.location, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.location = resp.data;
            alert("Lokasi asal pengiriman berhasil ditentukan!");
          }
        },
        function(resp) {
          this.loadingHide();
          alert(resp.message);
          console.log(resp.data);
        }
      );
    },
    getLocation: function() {
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.loadingShow();
      this.$http
        .get(api + "/api/store/" + this.sid + "/location", headers)
        .then(
          function(resp) {
            if (resp.status == 200) {
              this.location = resp.data;
            }
            this.getProvince();
          },
          function(resp) {
            this.loadingHide();
            alert(resp.message);
            console.log(resp.data);
          }
        );
    }
  },
  created() {
    this.token = this.$cookie.get("kpid");
    if (!this.token) {
      window.location.href = "/";
    }
    this.uid = this.$cookie.get("uid");
    this.sid = this.$cookie.get("sid");
    this.getAllShipment();
    this.getLocation();
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
