<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <sidebar-category></sidebar-category>
          <div class="col-md-10">
            <div class="row form-group">
              <div class="col-md-12">
                <div class="form-group-header form-group">
                  <div class="nav nav-tabs" id="nav-whishlist-tab" role="tablist">
                    <a class="nav-item nav-link active page-header">Wishlist</a>
                  </div>
                </div>
                <div class="row product-top" id="whishlist-list">
                  <template v-if="!token">
                    <div class="col-md-12">
                      <h2 class="page-header">Silahkan login untuk melihat wishlist Anda.</h2>
                    </div>
                  </template>
                  <template v-if="token">
                    <template v-if="wishlists.length > 0">
                      <div class="col-md-3" v-for="wishlist in wishlists" :key="wishlist.id">
                        <card-product
                          :product="wishlist.product"
                          :enable-delete-wishlist="true"
                          @deletefromwishlist="deleteWishlist(wishlist.product.id)"
                        ></card-product>
                      </div>
                    </template>
                    <template v-else>
                      <div class="col-md-12">
                        <h2 class="page-header">Anda belum memiliki wishlist</h2>
                      </div>
                    </template>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { api } from "@/config/constants";
import SidebarCategory from '@/components/commerce/SidebarCategory'
import CardProduct from '@/components/commerce/CardProduct'

export default {
  name: "wishlist-page",
  props: [],
  components: {
    SidebarCategory,
    CardProduct
  },
  data() {
    return {
      // data
      token: null,
      uid: null,
      wishlists: []
    };
  },
  methods: {
    // list of methods
    checkToken() {
      let token = this.$cookie.get("kpid");
      this.uid = this.$cookie.get("uid");
      if (token) {
        this.token = token;
        this.getWishlistsUser(token);
      }
    },
    getWishlistsUser(token) {
      this.loadingShow();
      let accessToken = "Bearer " + token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http.get(api + `/api/wishlist/${this.uid}/user`, headers).then(
        function(resp) {
          this.loadingHide();
          if (resp.status == 200) {
            this.wishlists = resp.data;
          }
        },
        function(resp) {
          this.loadingHide();
          console.log(resp);
        }
      );
    },
    deleteWishlist(productId) {
      this.loadingShow();
      let accessToken = "Bearer " + this.token;
      let headers = { headers: { Authorization: accessToken } };
      this.$http
        .delete(api + `/api/wishlist/${this.uid}/user/${productId}`, headers)
        .then(
          function(resp) {
            this.loadingHide();
            if (resp.status == 200) {
              this.wishlists = this.wishlists.filter(
                w => w.product.id !== productId
              );
            }
          },
          function(resp) {
            this.loadingHide();
            console.log(resp);
            alert("Gagal menghapus wishlist");
          }
        );
    }
  },
  created() {
    // created
    this.checkToken();
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
