<template>
  <main id="main">
    <section class="wow fadeInUp">
      <div class="container-fluid bg-about pd-tp-12 pd-bt-12">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <span class="head-about">About Us</span>
            <a :href="downloadUrl" target="_blank">
              <img
                class="dl-icon"
                src="/assets/img/download-solid.svg"
                alt="download"
                title="Download About Us"
              >
            </a>
            <div class="head-text">
              <b>Ketok Palu</b> is neither the first or largest online marketplace in Indonesia, but we are the
              <b>first marketplace which offers price fairness</b> using our sophisticated auction system.
            </div>
          </div>
          <div class="col-md-6">
            <img class="head-img" src="/assets/img/combined_shape.png">
          </div>
        </div>
      </div>

      <div class="container-fluid mt-about">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group head-about-sm">Apa Itu Ketok Palu?</div>
            <div class="line-ht">
              <hr>
            </div>
            <p
              class="text-center"
            >Ketok Palu adalah sebuah online marketplace yang memberi ruang pada penjual dan pembeli untuk melakukan proses jual beli baik secara normal maupun lelang.</p>
          </div>
          <div class="col-md-4">
            <div class="form-group head-about-sm">Mengapa Lelang?</div>
            <div class="line-ht">
              <hr>
            </div>
            <p
              class="text-center"
            >Kami berusaha menciptakan keadilan harga melalui mekanisme pelelangan. Jaringan pemasaran kami yang luas mendukung terciptanya harga yang rasional bagi pembeli dan optimal bagi penjual.</p>
          </div>
          <div class="col-md-4">
            <div class="form-group head-about-sm">Apakah Aman?</div>
            <div class="line-ht">
              <hr>
            </div>
            <p
              class="text-center"
            >Setiap orang yang akan bertransaksi di Ketok Palu, baik pembeli maupun penjual, akan diverifikasi terlebih dahulu untuk menjamin keamanan dan kenyamanan transaksi.</p>
          </div>
        </div>

        <div class="row mt-about-12">
          <div class="col-md-4">
            <div class="form-group head-about-sm">Apakah Terjamin?</div>
            <div class="line-ht">
              <hr>
            </div>
            <p
              class="text-center"
            >Kami menjamin 100% uang kembali jika barang yang dibeli tidak dikirim oleh penjual, atau barang yang dikirim tidak sesuai dengan yang dibeli atau ditawarkan.</p>
          </div>
          <div class="col-md-4">
            <div class="form-group head-about-sm">Legalitas Ketok Palu?</div>
            <div class="line-ht">
              <hr>
            </div>
            <p
              class="text-center"
            >Ketok Palu adalah identitas merek dari PT. Ketok Palu Asia yang telah terdaftar sebagai badan hukum yang sah berdasarkan Keputusan Menteri Hukum dan Hak Asasi Manusia Republik Indonesia No. AHU-0003830.AH.01.01. Tahun 2019 pada 24 Januari 2019.</p>
          </div>
          <div class="col-md-4">
            <div class="form-group head-about-sm">Lokasi Kantor Ketok Palu?</div>
            <div class="line-ht">
              <hr>
            </div>
            <p
              class="text-center"
            >Kantor Ketok Palu berada di Jalan Mangga Besar IV-I, Blok Z No.14, Tamansari, Jakarta Barat, DKI Jakarta, Indonesia, 11150 Telepon (+62) 21 4586 4434</p>
          </div>
        </div>
      </div>

    </section>
  </main>
</template>

<script>
export default {
  name: "about-us",
  props: [],
  data() {
    return {
      // data
      downloadUrl:
        "http://doc.s3-id-jkt-1.kilatstorage.id/2019/09/26/02-AboutUs.pdf"
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
<style scoped>
.dl-icon {
  vertical-align: baseline;
  width: 25px;
  margin-left: 15px;
  cursor: pointer;
}
</style>
