<template>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 content-info">
              <h1>Contact Us</h1>
              <h3>Ketokpalu.com</h3>
              <p>Email: admin@ketokpalu.com</p>
            </div>
          </div>
        </div>
      </section>
    </main>
</template>

<script>
export default {
  name: "contact-us",
  props: [],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
