<template>
  <main id="main">
    <section class="wow fadeInUp">
      <div class="container-fluid bg-about">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <span class="head-about">Panduan Pembeli</span>
            <a :href="downloadUrl" target="_blank">
              <img
                class="dl-icon"
                src="/assets/img/download-solid.svg"
                alt="download"
                title="Download Panduan Pembeli"
              >
            </a>
            <div class="ht-head-text">
              <span class="bd-right-ht">
                <a href="#how-to-shop">Cara Belanja</a>
              </span>
              <span class="bd-right-ht ml-ht-6">
                <a href="#mekanism">Mekanisme Normal & Lelang</a>
              </span>
              <span class="ml-ht-6">
                <a href="#six-layer-buyer">6 Lapis Keamanan Bagi Pembeli</a>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <img class="head-img" src="/assets/img/combined_shape.png">
          </div>
        </div>
      </div>

      <div class="container-fluid mt-how-to" id="how-to-shop">
        <div class="form-group text-center header-1st">Cara Belanja</div>
        <div class="text-center header-2nd">6 Langkah Beli Barang Dengan Mudah</div>
        <div class="mt-how-to">
          <div class="row">
            <div class="col-md-3">
              <img src="/assets/img/how-to/how-to-2.png" class="img-ht-01">
            </div>

            <div class="col-md-8 offset-md-1">
              <ol class="timeline">
                <li>
                  <div class="form-group title-timeline">Temukan Barang Favoritmu</div>
                  <div class="form-group desc-timeline">
                    Ketik nama barang di
                    <b>Kolom Pencarian</b> atau pilih
                    <b>Kategori</b> untuk memudahkan pencarianmu.
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Pastikan Detail Barang</div>
                  <div
                    class="form-group desc-timeline"
                  >Cek semua info tentang detail barang, pengiriman, dan harga. Pastikan semua sudah benar dan sesuai keinginanmu.</div>
                </li>
                <li>
                  <div class="form-group title-timeline">Sudah Yakin?</div>
                  <div class="form-group desc-timeline">
                    Jika kamu ingin membeli barang yang dijual secara lelang, segera masukkan bid-mu sebelum proses lelang berakhir. Kamu juga bisa membeli langsung barang yang dilelang dengan klik
                    <b>“Buy it Now”</b> jika penjual membuka opsi ini. Kalau masih belum yakin? Simpan dulu di
                    <b>Wishlist</b> deh.
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Jangan Lupa Bayar</div>
                  <div class="form-group desc-timeline">
                    Pilih metode pembayaran yang paling mudah buatmu. Jangan lupa cek apakah ada promo yang dapat digunakan agar makin untung. Jangan lupa bayar sebelum lewat batas waktu ya!
                    <b>Lihat Metode Bayar</b>
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Pantau Pengiriman</div>
                  <div
                    class="form-group desc-timeline"
                  >Tidak sabar menunggu barang sampai? Pantau proses pengiriman barang di menu Transaksi secara real time!</div>
                </li>
                <li>
                  <div class="form-group title-timeline">Beri Ulasan untuk Bantu Pembeli Lain</div>
                  <div
                    class="form-group desc-timeline"
                  >Berilah ulasan atau masukan tentang barang yang kamu beli untuk membantu pembeli lain dan meningkatkan performa penjual.</div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt-about-12 pd-bt-12 bg-about-gr" id="mekanism">
        <div class="form-group text-center pd-profile">
          <span class="head-about-pl">Mekanisme Normal dan Lelang</span>
        </div>

        <dl class="row" id="mecanism">
          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Mekanisme Normal?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Penjual menentukan harga jual</b> dan pembeli membeli barang tersebut sesuai dengan harga yang ditentukan penjual.
          </dd>

          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Mekanisme Lelang?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Penjual menentukan harga awal</b> atas barang yang ditawarkannya. Pembeli lalu memasukkan bid (penawaran yang lebih tinggi) dari harga awal tersebut. Pembeli akan selalu mendapat notifikasi jika ada bid baru selama proses lelang. Pemenang lelang adalah pembeli yang memasukkan bid tertinggi sampai akhir lelang. Sebelum mengikuti lelang, pembeli bisa memilih dua opsi bid, yaitu
            <b>bid manual</b> dan
            <b>bid otomatis.</b>
          </dd>

          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Bid Manual?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Bid manual</b> adalah opsi bagi pembeli untuk memasukkan bid
            <b>secara manual</b>.
            <b>Keuntungan bid manual</b> adalah pembeli bisa langsung memasukkan bid dengan nominal tinggi untuk ‘menggertak’ peserta lelang yang lain hingga urung melanjutkan lelang dan pembeli bisa dengan mudah mendapatkan barang yang diinginkan. Selain itu, bid manual juga memungkinkan pembeli untuk mendapatkan barang yang diinginkan berapapun nominalnya.
          </dd>

          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Bid Otomatis?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Bid otomatis</b> adalah opsi bagi pembeli untuk memasukkan bid
            <b>secara otomatis</b> (dengan bantuan sistem). Artinya, di awal lelang pembeli cukup memasukkan batas atas bid (nominal bid tertinggi) untuk barang yang diinginkan. Setelah itu, sistem akan memasukkan bid secara bertahap seturut perkembangan lelang. Pembeli bisa mengubah nominal bid tertingginya jika bid terakhir dalam lelang telah melebihi batas atas bid yang ditetapkan pembeli.
            <br>
            <br>
            <b>Keuntungan bid otomatis</b> adalah pembeli dapat mengikuti lelang dengan santai karena tidak perlu memantau proses lelang secara terus menerus. Selain itu, bid otomatis juga membantu pembeli untuk ‘mengerem’ pengeluarannya.
          </dd>
        </dl>
      </div>

      <div class="container-fluid mt-how-to" id="six-layer-buyer">
        <div class="text-center header-2nd">6 Lapis Keamanan Bagi Pembeli</div>
        <div class="mt-how-to">
          <div class="row form-group">
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/ht-01.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Penjual Sudah Terverifikasi?</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Setiap penjual yang ada di Ketok Palu sudah melalui proses verifikasi untuk mencegah penjual abal-abal beraksi.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/ht-02.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Sistem Transfer yang Aman</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Setiap transaksi pembayaran yang dilakukan pembeli tidak langsung masuk ke rekening penjual, tetapi masuk ke rekening Ketok Palu terlebih dahulu.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/ht-03.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Jaminan Pembayaran</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Uang yang ditransfer pembeli baru akan diteruskan ke penjual jika barang yang dibeli telah sampai dan tidak ada komplain.</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/ht-04.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">100% Jaminan Uang Kembali</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Jika barang yang sudah dibayar pembeli tidak dikirim oleh penjual, uang yang sudah ditransfer akan dikembalikan 100% ke pembeli.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/ht-05.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Sistem Rating</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Pembeli dapat melihat reputasi penjual melalui sistem rating. Rating ini ditentukan oleh jumlah pembelian yang sukses dilayani, serta tingkat kepuasan pembeli atas layanan dan kualitas barang yang diterima.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/ht-06.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Sistem Ban</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Untuk menjamin kepuasan pembeli dan menjaga reputasi penjual lainnya di Ketok Palu, maka penjual yang melakukan penipuan ataupun berulang kali tidak melayani pembelian akan di-ban!</div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid bg-about mt-how-to">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <span class="head-about">Panduan Penjual</span>
            <div class="ht-head-text">
              <span class="bd-right-ht">
                <a href="#how-to-sell">Cara Jualan</a>
              </span>
              <span class="bd-right-ht ml-ht-6">
                <a href="#mekanism-sell">Mekanisme Normal & Lelang</a>
              </span>
              <span class="ml-ht-6">
                <a href="#six-benefits">6 Untung Jualan di Ketok Palu</a>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <img class="head-img" src="/assets/img/combined_shape.png">
          </div>
        </div>
      </div>

      <div class="container-fluid mt-how-to" id="how-to-sell">
        <div class="form-group text-center header-1st">Cara Jualan</div>
        <div class="text-center header-2nd">6 Langkah Jual Barang Dengan Mudah</div>
        <div class="mt-how-to">
          <div class="row">
            <div class="col-md-3">
              <img src="/assets/img/how-to/how-to-3.png" class="img-ht-01">
            </div>

            <div class="col-md-8 offset-md-1">
              <ol class="timeline">
                <li>
                  <div class="form-group title-timeline">Daftar Sebagai Penjual</div>
                  <div class="form-group desc-timeline">
                    <div class="title-timeline-02">Buat Akunmu</div>
                    <div class="form-group">
                      Buat akunmu dengan mengisi form nama dan alamat email.
                      <a href>Selengkapnya</a>
                    </div>

                    <div class="title-timeline-02">Buat Tokomu</div>
                    <div class="form-group">
                      Upload foto KTP-mu dan juga foto selfie-mu dengan KTP. Tunggu sampai kami selesai memverifikasi datamu ya…
                      <a
                        href
                      >Selengkapnya</a>
                    </div>

                    <div class="title-timeline-02">Tawarkan Barangmu</div>
                    <div
                      class="form-group"
                    >Setelah proses verifikasi selesai, kamu bisa mulai menawarkan barang jualanmu.</div>
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Jual Barang</div>
                  <div class="form-group desc-timeline">
                    <div class="title-timeline-02">Tentukan Barang Jualanmu</div>
                    <div
                      class="form-group"
                    >Tentukan barang yang hendak kamu tawarkan ke pembeli. Makin menarik barangmu makin tinggi kemungkinannya untuk terjual.</div>

                    <div class="title-timeline-02">Lengkapi Informasi Barang</div>
                    <div
                      class="form-group"
                    >Isilah informasi detail barang yang akan kamu jual, mulai dari nama, gambar, stok, berat, harga, kategori, deskripsi, kondisi barang, hingga originalitas.</div>

                    <div class="title-timeline-02">Pilih Opsi Penjualan</div>
                    <div
                      class="form-group"
                    >Kamu bisa memilih untuk menjual barangmu secara normal atau melelangnya. Jika kamu memilih melelangnya, tentukan kapan proses lelang akan dimulai dan berapa lama durasinya.</div>

                    <div class="title-timeline-02">Jual Barangmu</div>
                    <div
                      class="form-group"
                    >Jika semua informasi barang dan opsi penjualan sudah diisi lengkap, klik tombol "Update Produk" untuk menawarkannya ke pembeli.</div>
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Promosi Barang</div>
                  <div class="form-group desc-timeline">
                    <div class="title-timeline-02">Gunakan Fitur Share</div>
                    <div
                      class="form-group"
                    >Kamu dapat share barang jualanmu melalui akun media sosialmu.</div>

                    <div class="title-timeline-02">Gunakan Fitur Iklan</div>
                    <div
                      class="form-group"
                    >Tampilkan barang jualanmu pada halaman pertama kategori barang dijual di Ketok Palu dengan fitur Iklan. Hubungi tim kami untuk menggunakan fitur ini</div>

                    <div class="title-timeline-02">Gunakan Forum</div>
                    <div
                      class="form-group"
                    >Gunakan forum resmi Ketok Palu untuk membahas dengan dalam tentang barang yang kamu jual.</div>
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Kelola Transaksi</div>
                  <div class="form-group desc-timeline">
                    <div class="title-timeline-02">Pesanan Baru</div>
                    <div
                      class="form-group"
                    >Barang telah dipesan oleh pembeli dan menunggu pembayaran dari pembeli.</div>

                    <div class="title-timeline-02">Siap Dikirim</div>
                    <div
                      class="form-group"
                    >Pembeli sudah melakukan pembayaran. Silakan klik “Proses Pesanan” dan kirim barang ke alamat yang dituju. Jangan kelamaan ya supaya pembeli tidak komplain… :)</div>

                    <div class="title-timeline-02">Sedang Dikirim</div>
                    <div
                      class="form-group"
                    >Barang telah dikirim dan kamu telah melakukan konfirmasi pengiriman dengan memasukkan nomor resi.</div>

                    <div class="title-timeline-02">Sudah Diterima</div>
                    <div
                      class="form-group"
                    >Barang telah diterima di alamat pembeli menurut hasil tracking. Setelah pembeli melakukan konfirmasi terima barang, atau maksimal 2x24 jam sejak barang diterima berdasarkan tracking, uang akan diteruskan masuk ke rekeningmu. Selamat ya!</div>

                    <div class="title-timeline-02">Dikomplain</div>
                    <div
                      class="form-group"
                    >Pembeli telah melakukan konfirmasi terima barang dan melakukan komplain. Diskusikan baik-baik dengan pembeli ya supaya semua sama-sama happy!</div>

                    <div class="title-timeline-02">Dibatalkan</div>
                    <div class="form-group">Wah, pembeli membatalkan pesanan, jangan kecewa ya...</div>
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Kirim Barang</div>
                  <div class="form-group desc-timeline">
                    <div class="title-timeline-02">Notifikasi Pesanan Baru</div>
                    <div
                      class="form-group"
                    >Kamu akan menerima notifikasi (seperti e-mail, sms, push notif) tentang pesanan barumu, setelah Ketok Palu sukses menerima pembayaran dari pembeli.</div>

                    <div class="title-timeline-02">Langkah-langkah Memproses Pesanan</div>
                    <div
                      class="form-group"
                    >Lakukan hal-hal di bawah ini begitu mendapat notifikasi pesanan baru untuk menyelesaikan pesanan dan meningkatkan reputasimu:</div>
                    <div class="form-group">
                      <ol>
                        <li>
                          Buka menu
                          <b>"Transaksi"</b> bagian tab
                          <b>"Penjualan"</b>. Lakukan filter status transaksi
                          <b>"Siap Dikirim"</b>.
                        </li>
                        <li>Periksa apakah barang yang dipesan tersedia atau tidak.</li>
                        <li>
                          Lakukan konfirmasi pada pembeli bahwa transaksi sedang kamu proses dengan mengklik tombol
                          <b>“Proses”</b>.
                        </li>
                        <li>Kemas barang jualanmu dengan baik, menarik, dan aman.</li>
                        <li>Pastikan alamat tujuan pengirimanmu sudah sesuai dengan alamat pembeli. Jangan sampai salah alamat ya!</li>
                        <li>Kirimkan pesanan sesuai dengan jasa pengiriman pilihan pembeli sebelum deadline yang tertera di detail transaksi.</li>
                        <li>Tunggu barang kirimanmu diterima pembeli, kemudian uang akan diteruskan dari Ketok Palu rekeningmu.</li>
                      </ol>
                    </div>
                    <div class="title-timeline-02">Jasa Pengiriman</div>
                    <div
                      class="form-group"
                    >Ketok Palu menyediakan berbagai pilihan pengiriman yang akan mencatat resi pengiriman secara otomatis.</div>
                  </div>
                </li>
                <li>
                  <div class="form-group title-timeline">Terima Uang</div>
                  <div class="form-group desc-timeline">
                    <div class="title-timeline-02">Uang Hasil Penjualan</div>
                    <div
                      class="form-group"
                    >Ketok Palu akan meneruskan uang pembayaran ke rekeningmu setelah transaksi dinyatakan selesai, baik itu setelah pembeli melakukan konfirmasi terima barang tanpa komplain ataupun 2 hari setelah tracking menyatakan barang sudah diterima pembeli.</div>

                    <div class="title-timeline-02">Feedback dan Reputasi</div>
                    <div
                      class="form-group"
                    >Rating yang kamu miliki menunjukkan reputasimu. Semakin tinggi level kamu, semakin baik reputasimu. Untuk meningkatkan levelmu, kumpulkan feedback positif dari transaksi penjualan sebanyak-banyaknya.</div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt-about-12 pd-bt-12 bg-about-gr" id="mekanism-sell">
        <div class="form-group text-center pd-profile">
          <span class="head-about-pl">Mekanisme Normal dan Lelang</span>
        </div>

        <dl class="row" id="mecanism">
          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Mekanisme Normal?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Penjual menentukan harga jual</b> dan pembeli membeli barang tersebut sesuai dengan harga yang ditentukan penjual.
          </dd>

          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Mekanisme Lelang?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Penjual menentukan harga awal</b> atas barang yang ditawarkannya. Pembeli lalu memasukkan bid (penawaran yang lebih tinggi) dari harga awal tersebut. Pembeli akan selalu mendapat notifikasi jika ada bid baru selama proses lelang. Pemenang lelang adalah pembeli yang memasukkan bid tertinggi sampai akhir lelang. Sebelum mengikuti lelang, pembeli bisa memilih dua opsi bid, yaitu
            <b>bid manual</b> dan
            <b>bid otomatis</b>.
          </dd>

          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Bid Manual?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Bid manual</b> adalah opsi bagi pembeli untuk memasukkan bid
            <b>secara manual</b>.
            <b>Keuntungan bid manual</b> adalah pembeli bisa langsung memasukkan bid dengan nominal tinggi untuk ‘menggertak’ peserta lelang yang lain hingga urung melanjutkan lelang dan pembeli bisa dengan mudah mendapatkan barang yang diinginkan. Selain itu, bid manual juga memungkinkan pembeli untuk mendapatkan barang yang diinginkan berapapun nominalnya.
          </dd>

          <dt class="col-sm-3 text-right title-mecanism">Apa Itu Bid Otomatis?</dt>
          <dd class="col-sm-9 desc-mecanism">
            <b>Bid otomatis</b> adalah opsi bagi pembeli untuk memasukkan bid
            <b>secara otomatis</b> (dengan bantuan sistem). Artinya, di awal lelang pembeli cukup memasukkan batas atas bid (nominal bid tertinggi) untuk barang yang diinginkan. Setelah itu, sistem akan memasukkan bid secara bertahap seturut perkembangan lelang. Pembeli bisa mengubah nominal bid tertingginya jika bid terakhir dalam lelang telah melebihi batas atas bid yang ditetapkan pembeli.
            <br>
            <br>
            <b>Keuntungan bid otomatis</b> adalah pembeli dapat mengikuti lelang dengan santai karena tidak perlu memantau proses lelang secara terus menerus. Selain itu, bid otomatis juga membantu pembeli untuk ‘mengerem’ pengeluarannya.
          </dd>
        </dl>
      </div>

      <div class="container-fluid mt-how-to pd-bt-12" id="six-benefits">
        <div class="text-center header-2nd">6 Untung Jualan di Ketok Palu</div>
        <div class="mt-how-to">
          <div class="row form-group">
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/sell_ht_01.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Notifikasi Tiap Ada Pesanan</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Penjual akan mendapatkan notifikasi setiap ada pesanan atau penawaran. Penjual bisa fokus jualan online tanpa buang-buang waktu melayani calon pembeli yang tidak serius.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/sell_ht_02.png" class="text-center img-ht-02">
              </div>

              <div
                class="form-group text-center title-6-layer"
              >Feedback Positif Tiap Transaksi Sukses</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Penjual akan mendapatkan feedback positif secara otomatis dari sistem walaupun pembeli tidak memberikan feedback saat transaksi.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/sell_ht_03.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Kepastian Terima Uang</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Penjual langsung menerima uang pembayaran setelah pembeli memberi konfirmasi terima barang atau 1×24 jam setelah barang terkirim menurut kurir.</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/sell_ht_04.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Prioritas di Mesin Pencarian</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Setiap halaman barang penjual telah melalui proses SEO (Search Engine Optimization) agar tampil lebih unggul di mesin pencarian seperti Google dan lainnya.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/sell_ht_05.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Perhitungan Ongkos Kirim Otomatis</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Penjual tidak perlu repot menghitung ongkos kirim karena sistem akan otomatis menghitung ongkos kirim yang harus dibayar oleh pembeli.</div>
            </div>
            <div class="col-md-4">
              <div class="form-group text-center">
                <img src="/assets/img/how-to/sell_ht_06.png" class="text-center img-ht-02">
              </div>

              <div class="form-group text-center title-6-layer">Sistem Ban</div>
              <div class="line-ht">
                <hr>
              </div>
              <div
                class="form-group text-center desc-6-layer"
              >Untuk menjamin kenyamanan penjual dan menjaga reputasi pembeli lainnya di Ketok Palu, maka pembeli yang berulang kali membatalkan pesanannya dengan alasan yang tidak jelas akan di-ban!</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: "how-to",
  props: [],
  data() {
    return {
      // data
      downloadUrl:
        "http://doc.s3-id-jkt-1.kilatstorage.id/2019/09/26/01-HowTo.pdf"
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>

<style scoped>
.dl-icon {
  vertical-align: baseline;
  width: 25px;
  margin-left: 15px;
  cursor: pointer;
}
</style>
