<template>
  <main id="main">
    <section id="main-container" class="wow fadeInUp">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 content-info">
            <h1>Site Map</h1>
            <h3>KETOKPALU.COM</h3>

            <h3>INFORMATION</h3>
            <ul>
              <li>About Us</li>
              <li>Delivery Information</li>
              <li>Privacy Policy</li>
              <li>Terms & Conditions</li>
              <li>Site Map</li>
            </ul>

            <h3>ACCOUNT</h3>
            <ul>
              <li>Login</li>
              <li>Regiter</li>
              <li>My Account</li>
              <li>Reset Passsword</li>
              <li>Cart</li>
              <li>Order History</li>
              <li>Wish List</li>
              <li>Newsletter</li>
              <li>Returns</li>
            </ul>

            <h3>DIRECTORY</h3>
            <ul>
              <li>Lokasi Penjual</li>
              <li>Merk</li>
            </ul>

            <h3>HOW TO</h3>
            <ul>
              <li>Panduan Pembeli</li>
              <ul>
                <li>Cara Belanja - 6 Langkah Beli Barang dengan Mudah</li>
                <li>6 Lapis Keamanan Bagi Pembeli</li>
              </ul>
              <li>Panduan Penjual</li>
              <ul>
                <li>Cara Berjualan - 6 Langkah Jual Barang dengan Mudah</li>
                <li>6 Keuntungan Berjualan di Ketok Palu</li>
              </ul>
            </ul>

            <h3>CATEGORIES</h3>
            <ul>
              <li>Hobi & Koleksi</li>
              <li>Rumah Tangga</li>
              <li>Perawatan & Kecantikan</li>
              <li>Kesehatan</li>
              <li>Perlengkapan Bayi</li>
              <li>Fashion Anak</li>
              <li>Fashion Wanita</li>
              <li>Fashion Pria</li>
              <li>Elektronik</li>
              <li>Handphone</li>
              <li>Komputer</li>
              <li>Kamera</li>
              <li>Olahraga</li>
              <li>Sepeda, Part & Aksesoris</li>
              <li>Mobil, Part & Aksesoris</li>
              <li>Motor, Part & Aksesoris</li>
              <li>Industrial</li>
              <li>Perlengkapan Kantor</li>
              <li>Food</li>
              <li>Tiket & Voucher</li>
            </ul>
            <h3>FORUM</h3>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: "sitemap",
  props: [],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
