<template>
  <div>
    <topbar></topbar>
    <forum-header :redirectLogin="'/'"></forum-header>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Topbar from "@/components/general/Topbar";
import Footer from "@/components/general/Footer";
import ForumHeader from "@/components/general/header/ForumHeader";
export default {
  name: "static-page",
  components: {
    Topbar,
    'app-footer':Footer,
    "forum-header": ForumHeader
  },
  props: [],
  data() {
    return {
      // data
    };
  },
  methods: {
    // list of methods
  },
  created() {
    // created
  },
  mounted() {
    // mounted
  },
  watch: {
    // watcher list
    // property: function() {}
  }
};
</script>
