<template>
  <div>
    <topbar></topbar>
    <forum-header :redirectLogin="'/'"></forum-header>
    <main id="main">
      <section id="main-container" class="wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 content-info">
              <h1>Terms and Conditions</h1>
              <p>Selamat datang di www.ketokpalu.com</p>
              <p>
                Syarat & ketentuan yang ditetapkan di bawah ini mengatur pemakaian jasa yang ditawarkan
                oleh PT. Ketok Palu Asia terkait penggunaan situs www.ketokpalu.com. Pengguna disarankan
                membaca dengan seksama karena dapat berdampak kepada hak dan kewajiban Pengguna di bawah hukum.
              </p>
              <p>
                Dengan mendaftar dan/atau menggunakan situs www.ketokpalu.com, maka pengguna dianggap
                telah membaca, mengerti, memahami, dan menyutujui semua isi dalam Syarat & Ketentuan.
                Syarat & Ketentuan ini merupakan bentuk kesepakatan yang dituangkan dalam sebuah
                perjanjian yang sah antara Pengguna dengan PT. Ketok Palu Asia. Jika pengguna tidak
                menyetujui salah satu, sebagian, atau seluruh isi Syarat & Ketentuan, maka pengguna
                tidak diperkenankan menggunakan layanan di www. ketokpalu.com.
              </p>
              <ol type="A">
                <li>Definisi</li>
                <li>Akun, Password, dan Keamanan</li>
                <li>Transaksi Pembelian & Lelang</li>
                <li>Transaksi Penjualan & Lelang</li>
                <li>Penataan Etalase</li>
                <li>Komisi</li>
                <li>Harga</li>
                <li>Tarif Pengiriman</li>
                <li>Konten</li>
                <li>Jenis Barang</li>
                <li>Kartu Kredit</li>
                <li>Promo</li>
                <li>Pengiriman Barang</li>
                <li>Penarikan Dana</li>
                <li>Ketentuan Lain</li>
                <li>Penolakan Jaminan dan Batasan Tanggung Jawab</li>
                <li>Pelepasan</li>
                <li>Ganti Rugi</li>
                <li>Pilihan Hukum</li>
                <li>Pembaruan</li>
              </ol>

              <ol class="terms-detail" type="A">
                <li>Definisi</li>
                <ol class="terms-detail-item">
                  <li>PT. Ketok Palu Asia adalah suatu perseroan terbatas yang menjalankan kegiatan usaha jasa web portal www.ketokpalu.com, yakni situs pencarian toko dan Barang yang dijual oleh penjual terdaftar. Selanjutnya disebut Ketok Palu.</li>
                  <li>Situs Ketok Palu adalah www.ketokpalu.com.</li>
                  <li>Syarat & ketentuan adalah perjanjian antara Pengguna dan Ketok Palu yang berisikan seperangkat peraturan yang mengatur hak, kewajiban, tanggung jawab pengguna dan Ketok Palu, serta tata cara penggunaan sistem layanan Ketok Palu.</li>
                  <li>Pengguna adalah pihak yang menggunakan layanan Ketok Palu, termasuk namun tidak terbatas pada pembeli, penjual, ataupun pihak lain yang sekedar berkunjung ke Situs Ketok Palu.</li>
                  <li>Pembeli adalah Pengguna terdaftar yang melakukan permintaan atas Barang yang dijual oleh Penjual di Situs Ketok Palu.</li>
                  <li>Penjual adalah Pengguna terdaftar yang melakukan tindakan buka toko dan/atau melakukan penawaran atas suatu Barang kepada para Pengguna Situs Ketok Palu.</li>
                  <li>Barang adalah benda yang berwujud/memiliki fisik Barang yang dapat diantar/memenuhi kriteria pengiriman oleh perusahaan jasa pengiriman Barang.</li>
                </ol>
                <li>Akun, Password, dan Keamanan</li>
                <ol>
                  <li>Pengguna dengan ini menyatakan bahwa pengguna adalah orang yang cakap dan mampu untuk mengikatkan dirinya dalam sebuah perjanjian yang sah menurut hukum.</li>
                  <li>Ketok Palu tidak memungut biaya pendaftaran kepada Pengguna.</li>
                  <li>Pengguna yang telah mendaftar berhak bertindak sebagai:</li>
                  <ul>
                    <li>Pembeli</li>
                    <li>Penjual, dengan memanfaatkan layanan buka toko.</li>
                  </ul>
                  <li>Pengguna yang akan bertindak sebagai Penjual diwajibkan memilih pilihan menggunakan layanan buka toko. Setelah menggunakan layanan buka toko, Pengguna berhak melakukan pengaturan terhadap item-item yang akan diperdagangkan di etalase pribadi Pengguna.</li>
                  <li>Ketok Palu tanpa pemberitahuan terlebih dahulu kepada Pengguna, memiliki kewenangan untuk melakukan tindakan yang perlu atas setiap dugaan pelanggaran atau pelanggaran Syarat & ketentuan dan/atau hukum yang berlaku, yakni tindakan berupa memindahkan Barang ke gudang, penghapusan Barang, moderasi toko, penutupan toko, pembatalan listing, suspensi akun, dan/atau penghapusan akun pengguna.</li>
                  <li>Ketok Palu memiliki kewenangan untuk menutup toko atau akun Pengguna baik sementara maupun permanen apabila didapati adanya tindakan kecurangan dalam bertransaksi dan/atau pelanggaran terhadap syarat dan ketentuan Ketok Palu. Pengguna menyetujui bahwa Ketok Palu berhak melakukan tindakan lain yang diperlukan terkait hal tersebut, termasuk namun tidak terbatas pada menolak pengajuan pembukaan toko yang baru apabila ditemukan kesamaan data.</li>
                  <li>Pengguna dilarang untuk menciptakan dan/atau menggunakan perangkat, software, fitur dan/atau alat lainnya yang bertujuan untuk melakukan manipulasi pada sistem Ketok Palu, termasuk namun tidak terbatas pada : (i) manipulasi data Toko; (ii) kegiatan perambahan (crawling/scraping); (iii) kegiatan otomatisasi dalam transaksi, jual beli, promosi, dsb; (v) penambahan produk ke etalase; dan/atau (vi) aktivitas lain yang secara wajar dapat dinilai sebagai tindakan manipulasi sistem.</li>
                  <li>Ketok Palu memiliki kewenangan untuk melakukan penyesuaian jumlah transaksi toko, penyesuaian jumlah reputasi, dan/atau melakukan proses moderasi/menutup akun Pengguna, jika diketahui atau diduga adanya kecurangan oleh Pengguna yang bertujuan memanipulasi data transaksi Pengguna demi meningkatkan reputasi toko (review dan/atau jumlah transaksi). Contohnya adalah melakukan proses belanja ke toko sendiri dengan menggunakan akun pribadi atau akun pribadi lainnya.</li>
                  <li>Penjual dilarang melakukan duplikasi toko, duplikasi produk, atau tindakan-tindakan lain yang dapat diindikasikan sebagai usaha persaingan tidak sehat.</li>
                  <li>Pengguna tidak memiliki hak untuk mengubah nama akun, nama toko dan/atau domain toko Pengguna.</li>
                  <li>Pengguna bertanggung jawab secara pribadi untuk menjaga kerahasiaan akun dan password untuk semua aktivitas yang terjadi dalam akun Pengguna.</li>
                  <li>Ketok Palu tidak akan meminta username, password, maupun kode SMS verifikasi atau kode OTP milik akun Pengguna untuk alasan apapun. Oleh karena itu Ketok Palu menghimbau Pengguna agar tidak memberikan data tersebut maupun data penting lainnya kepada pihak yang mengatasnamakan Ketok Palu atau pihak lain yang tidak dapat dijamin keamanannya.</li>
                  <li>Pengguna setuju untuk memastikan bahwa Pengguna keluar dari akun di akhir setiap sesi dan memberitahu Ketok Palu jika ada penggunaan tanpa izin atas sandi atau akun Pengguna.</li>
                  <li>Pengguna dengan ini menyatakan bahwa Ketok Palu tidak bertanggung jawab atas kerugian ataupun kendala yang timbul atas penyalahgunaan akun Pengguna yang diakibatkan oleh kelalaian Pengguna, termasuk namun tidak terbatas pada meminjamkan atau memberikan akses akun kepada pihak lain, mengakses link atau tautan yang diberikan oleh pihak lain, memberikan atau memperlihatkan kode verifikasi (OTP), password, atau email kepada pihak lain, maupun kelalaian Pengguna lainnya yang mengakibatkan kerugian ataupun kendala pada akun Pengguna.</li>
                  <li>Pengguna memahami dan menyetujui bahwa untuk mempergunakan fasilitas keamanan One Time Password (OTP) maka penyedia jasa telekomunikasi terkait dapat sewaktu-waktu mengenakan biaya kepada Pengguna dengan nominal sebagaimana tariff yang berlaku.</li>
                  <li>Penjual dilarang mempromosikan toko dan/atau Barang secara langsung menggunakan fasilitas pesan pribadi, diskusi produk, ulasan produk yang dapat mengganggu kenyamanan Pengguna lain.</li>
                </ol>
                <li>Transaksi Pembelian & Lelang</li>
                <ol>
                  <li>Pembeli wajib bertransaksi melalui prosedur transaksi yang telah ditetapkan oleh Ketok Palu. Pembeli melakukan pembayaran dengan menggunakan metode pembayaran yang sebelumnya telah dipilih oleh Pembeli, dan kemudian Ketok Palu akan meneruskan dana ke pihak Penjual apabila tahapan transaksi jual beli pada sistem Ketok Palu telah selesai.</li>
                  <li>Saat melakukan penawaran / bid, Pembeli setuju untuk membayar hasil akhir lelang beserta segala biaya yang ada sesuai dengan nominal yang tertera pada Situs Ketok Palu jika Pembeli memenangkan lelang tersebut.</li>
                  <li>Saat melakukan pembelian Barang, Pembeli menyetujui bahwa:</li>
                  <ul>
                    <li>Pembeli bertanggung jawab untuk membaca, memahami, dan menyetujui informasi/deskripsi keseluruhan Barang (termasuk di dalamnya namun tidak terbatas pada warna, kualitas, fungsi, dan lainnya) sebelum membuat tawaran atau komitmen untuk membeli.</li>
                    <li>Pembeli mengakui bahwa warna sebenarnya dari produk sebagaimana terlihat di situs Ketok Palu tergantung pada monitor komputer Pembeli. Ketok Palu telah melakukan upaya terbaik untuk memastikan warna dalam foto-foto yang ditampilkan di Situs Ketok Palu muncul seakurat mungkin, tetapi tidak dapat menjamin bahwa penampilan warna pada Situs Ketok Palu akan akurat.</li>
                    <li>Pengguna masuk ke dalam kontrak yang mengikat secara hukum untuk membeli Barang ketika Pengguna membeli suatu barang.</li>
                    <li>Ketok Palu tidak mengalihkan kepemilikan secara hukum atas barang-barang dari Penjual kepada Pembeli.</li>
                  </ul>
                  <li>Pembeli memahami dan menyetujui bahwa ketersediaan stok Barang merupakan tanggung jawab Penjual yang menawarkan Barang tersebut. Terkait ketersediaan stok Barang dapat berubah sewaktu-waktu, sehingga dalam keadaan stok Barang kosong, maka penjual akan menolak order, dan pembayaran atas barang yang bersangkutan dikembalikan kepada Pembeli.</li>
                  <li>Pembeli memahami sepenuhnya dan menyetujui bahwa segala transaksi yang dilakukan antar Pembeli dan Penjual selain melalui Rekening Resmi Ketok Palu dan/atau tanpa sepengetahuan Ketok Palu (melalui fasilitas/jaringan pribadi, pengiriman pesan, pengaturan transaksi khusus di luar situs Ketok Palu atau upaya lainnya) adalah merupakan tanggung jawab pribadi dari Pembeli.</li>
                  <li>Ketok Palu memiliki kewenangan sepenuhnya untuk menolak pembayaran tanpa pemberitahuan terlebih dahulu.</li>
                  <li>Pembayaran oleh Pembeli wajib dilakukan segera (selambat-lambatnya dalam batas waktu  1 x 24 jam setelah Pembeli melakukan check-out. Jika dalam batas waktu tersebut pembayaran atau konfirmasi pembayaran belum dilakukan oleh pembeli, Ketok Palu memiliki kewenangan untuk membatalkan transaksi dimaksud. Pengguna tidak berhak mengajukan klaim atau tuntutan atas pembatalan transaksi tersebut.</li>
                  <li>Konfirmasi pembayaran dengan setoran tunai tidak akan diproses oleh Ketok Palu.</li>
                  <li>Pembeli menyetujui untuk tidak memberitahukan atau menyerahkan bukti pembayaran dan/atau data pembayaran kepada pihak lain selain Ketok Palu. Dalam hal terjadi kerugian akibat pemberitahuan atau penyerahan bukti pembayaran dan/atau data pembayaran oleh Pembeli kepada pihak lain, maka hal tersebut akan menjadi tanggung jawab Pembeli.</li>
                  <li>Pembeli wajib melakukan konfirmasi penerimaan Barang setelah menerima kiriman Barang yang dibeli. Ketok Palu memberikan batas waktu 2 x 24 jam pada Pembeli untuk melakukan konfirmasi penerimaan Barang setelah pengiriman berstatus "diterima" pada sistem Ketok Palu. Jika dalam batas waktu tersebut tidak ada konfirmasi atau klaim dari pihak Pembeli, maka dengan demikian Pembeli menyatakan menyetujui dilakukannya konfirmasi penerimaan Barang secara otomatis oleh sistem Ketok Palu.</li>
                  <li>Setelah adanya konfirmasi penerimaan Barang atau konfirmasi penerimaan Barang otomatis, maka dana pihak Pembeli yang dikirimkan ke Rekening resmi Ketok Palu akan dikirimkan setiap hari Jum’at ke pihak Penjual (transaksi dianggap selesai).</li>
                  <li>Pembeli memahami dan menyetujui bahwa setiap klaim yang dilayangkan setelah adanya konfirmasi/konfirmasi otomatis penerimaan Barang adalah bukan menjadi tanggung jawab Ketok Palu. Kerugian yang timbul setelah adanya konfirmasi/konfirmasi otomatis penerimaan Barang menjadi tanggung jawab Pembeli secara pribadi.</li>
                  <li>Pembeli memahami dan menyetujui bahwa setiap masalah pengiriman Barang yang disebabkan keterlambatan pembayaran adalah merupakan tanggung jawab dari Pembeli.</li>
                  <li>Pembeli memahami dan menyetujui bahwa masalah keterlambatan proses pembayaran dan biaya tambahan yang disebabkan oleh perbedaan bank yang Pembeli pergunakan dengan bank Rekening resmi Ketok Palu adalah tanggung jawab Pembeli secara pribadi.</li>
                  <li>Pengembalian dana dari Ketok Palu kepada Pembeli hanya dapat dilakukan jika dalam keadaan-keadaan tertentu berikut ini:</li>
                  <ul>
                    <li>Kelebihan pembayaran dari Pembeli atas harga Barang,</li>
                    <li>Masalah pengiriman Barang telah teridentifikasi secara jelas dari Penjual yang mengakibatkan pesanan Barang tidak sampai,</li>
                    <li>Penjual tidak bisa menyanggupi order karena kehabisan stok, perubahan ongkos kirim, maupun penyebab lainnya,</li>
                    <li>Penjual sudah menyanggupi pengiriman order Barang, tetapi setelah batas waktu yang ditentukan ternyata Penjual tidak mengirimkan Barang hingga batas waktu yang telah ditentukan.</li>
                    <li>Penyelesaian permasalahan berupa keputusan untuk pengembalian dana kepada Pembeli atau hasil keputusan dari pihak Ketok Palu.</li>
                  </ul>
                  <li>Apabila terjadi proses pengembalian dana, maka pengembalian akan dilakukan melalui Saldo Ketok Palu milik Pengguna yang akan bertambah sesuai dengan jumlah pengembalian dana. Jika Pengguna menggunakan pilihan metode pembayaran kartu kredit maka pengembalian dana akan merujuk pada ketentuan bagian K terkait Kartu Kredit.</li>
                  <li>Ketok Palu berwenang mengambil keputusan atas permasalahan-permasalahan transaksi yang belum terselesaikan akibat tidak adanya kesepakatan penyelesaian, baik antara Penjual dan Pembeli, dengan melihat bukti-bukti yang ada. Keputusan Ketok Palu adalah keputusan akhir yang tidak dapat diganggu gugat dan mengikat pihak Penjual dan Pembeli untuk mematuhinya.</li>
                  <li>Apabila Pembeli memilih menggunakan metode pembayaran transfer bank, maka total pembayaran akan ditambahkan kode unik untuk mempermudah proses verifikasi..</li>
                  <li>Pembeli wajib melakukan pembayaran dengan nominal yang sesuai dengan jumlah tagihan beserta kode unik (apabila ada) yang tertera pada halaman pembayaran. PT. Ketok Palu Asia tidak bertanggung jawab atas kerugian yang dialami Pembeli apabila melakukan pembayaran yang tidak sesuai dengan jumlah tagihan yang tertera pada halaman pembayaran.</li>
                  <li>Ketok Palu memiliki kewenangan melakukan perubahan status pemesanan menjadi "terkirim" apabila tidak ada pembaharuan status pengiriman dari kurir setelah 25 hari sejak resi diinput oleh Penjual dan tidak ada konfirmasi lebih lanjut dari pihak Pembeli perihal barang pesanan. Kemudian dalam jangka waktu 5 hari sejak perubahan status tersebut diatas, Ketok Palu memberikan kesempatan kepada pihak Pembeli untuk melakukan (i) konfirmasi penerimaan barang atau (ii) Komplain. Jika dalam jangka waktu 5 hari tersebut tidak ada konfirmasi penerimaan barang atau komplain apapun dari Pembeli, maka Ketok Palu memiliki kewenangan untuk menyelesaikan transaksi dan meneruskan dana kepada Penjual bersangkutan yang dianggap telah melakukan kewajibannya mengirimkan barang dan menginformasikan nomor resi pengiriman. Penyesuaian status pemesanan ini hanya akan dilakukan apabila alamat tujuan pengiriman yang tertera pada invoice pemesanan dan resi kurir telah sesuai.</li>
                  <li>Pembeli memahami sepenuhnya dan menyetujui bahwa invoice yang diterbitkan adalah atas nama Penjual.</li>
                </ol>
                <li>Transaksi Penjualan & Lelang</li>
                <ol>
                  <li>Penjual dilarang memanipulasi harga Barang dengan tujuan apapun.</li>
                  <li>Penjual dilarang melakukan penawaran/berdagang Barang terlarang sesuai dengan yang telah ditetapkan pada ketentuan "Jenis Barang".</li>
                  <li>Dalam penjualan lelang, Penjual menyetujui bahwa hasil akhir lelang merupakan harga final produk. Penjual dilarang untuk membatalkan transaksi dengan alasan apapun.</li>
                  <li>Penjual wajib memberikan foto dan informasi produk dengan lengkap dan jelas sesuai dengan kondisi dan kualitas produk yang dijualnya. Apabila terdapat ketidaksesuaian antara foto dan informasi produk yang diunggah oleh Penjual dengan produk yang diterima oleh Pembeli, maka Ketok Palu berhak membatalkan/menahan dana transaksi.</li>
                  <li>Dalam menggunakan Fasilitas "Judul Produk", "Foto Produk" dan "Deskripsi Produk", Penjual dilarang membuat peraturan bersifat klausul baku yang tidak memenuhi peraturan perundang-undangan yang berlaku di Indonesia, termasuk namun tidak terbatas pada (i) tidak menerima komplain, (ii) tidak menerima retur (penukaran barang), (iii) tidak menerima refund (pengembalian dana), (iv) barang tidak bergaransi, (v) pengalihan tanggung jawab (termasuk tidak terbatas pada penanggungan ongkos kirim), (vi) penyusutan nilai harga, dan (vii) pengiriman barang acak secara sepihak. Jika terdapat pertentangan antara catatan toko dan/atau deskripsi produk dengan Syarat & Ketentuan Ketok Palu, maka peraturan yang berlaku adalah Syarat & Ketentuan Ketok Palu.</li>
                  <li>Penjual wajib memberikan balasan untuk menerima atau menolak pesanan Barang pihak Pembeli dalam batas waktu 2 hari terhitung sejak adanya notifikasi pesanan Barang dari Ketok Palu. Jika dalam batas waktu tersebut tidak ada balasan dari Penjual maka secara otomatis pesanan akan dibatalkan.</li>
                  <li>Demi menjaga kenyamanan Pembeli dalam bertransaksi, Penjual memahami dan menyetujui bahwa Ketok Palu berhak melakukan moderasi toko Penjual apabila Penjual melakukan penolakan, pembatalan dan/atau tidak merespon pesanan Barang milik Pembeli dengan dugaan untuk memanipulasi transaksi, pelanggaran atas Syarat dan Ketentuan, dan/atau kecurangan atau penyalahgunaan lainnya.</li>
                  <li>Penjual wajib memasukan nomor resi pengiriman Barang dalam batas waktu 2x24 jam (tidak termasuk hari Sabtu/Minggu/libur Nasional) terhitung sejak adanya notifikasi pesanan Barang dari Ketok Palu. Jika dalam batas waktu tersebut pihak Penjual tidak memasukan nomor resi pengiriman Barang maka secara otomatis pesanan dianggap dibatalkan. Jika Penjual tetap mengirimkan Barang setelah melebihi batas waktu pengiriman sebagaimana dijelaskan di atas, maka Penjual memahami bahwa transaksi akan tetap dibatalkan untuk kemudian Penjual dapat melakukan penarikan Barang pada kurir tempat Barang dikirimkan.</li>
                  <li>Penjual memahami dan menyetujui bahwa pembayaran atas harga Barang dan ongkos kirim (di luar biaya transfer/administrasi) akan dikembalikan sepenuhnya ke Pembeli apabila transaksi dibatalkan dan/atau transaksi tidak berhasil dan/atau ketentuan lain yang diatur dalam Syarat & Ketentuan Poin C. 14.</li>
                  <li>Dalam keadaan Penjual hanya dapat memenuhi sebagian dari jumlah Barang yang dipesan oleh Pembeli, maka Penjual wajib memberikan keterangan kepada Ketok Palu sebelum menerima pesanan dimaksud. Pembeli memiliki kewenangan penuh untuk menyetujui melanjutkan transaksi/membatalkan transaksi dan Penjual dilarang melanjutkan transaksi tanpa mendapat persetujuan dari Pembeli. Apabila telah disetujui ulang oleh Pembeli sesuai dengan jumlah pesanan yang disanggupi oleh Penjual, maka selisih dana total harga Barang akan dikembalikan kepada pihak Pembeli. Namun apabila penjual tetap melanjutkan transaksi tersebut tanpa persetujuan dari Pembeli, maka Penjual menyetujui bahwa hal ini akan menjadi tanggung jawab Penjual sepenuhnya (termasuk namun tidak terbatas pada pengembalian ongkos kirim kepada Pembeli).</li>
                  <li>Ketok Palu memiliki kewenangan untuk menahan pembayaran dana di Rekening Resmi Ketok Palu sampai waktu yang tidak ditentukan apabila terdapat permasalahan dan klaim dari pihak Pembeli terkait proses pengiriman dan kualitas Barang. Pembayaran baru akan dilanjutkan kepada Penjual apabila permasalahan tersebut telah selesai dan/atau Barang telah diterima oleh Pembeli.</li>
                  <li>Ketok Palu berwenang untuk membatalkan transaksi dan/atau menahan dana transaksi dalam hal: (i) nomor resi kurir pengiriman Barang yang diberikan oleh Penjual tidak sesuai dan/atau diduga tidak sesuai dengan transaksi yang terjadi di Situs Ketok Palu; (ii) Penjual mengirimkan Barang melalui jasa kurir/logistik selain dari yang disediakan dan terhubung dengan Situs Ketok Palu; (iii) jika nama produk dan deskripsi produk tidak sesuai/tidak jelas dengan produk yang dikirim; (iv) jika ditemukan adanya manipulasi transaksi; dan/atau (v) mencantumkan nomor resi pengiriman Barang yang telah digunakan oleh Penjual lainnya (internal dropshipper).</li>
                  <li>Penjual memahami dan menyetujui bahwa Pajak Penghasilan Penjual akan dilaporkan dan diurus sendiri oleh masing-masing Penjual sesuai dengan ketentuan pajak yang berlaku di peraturan perundang-undangan di Indonesia.</li>
                  <li>Ketok Palu berwenang mengambil keputusan atas permasalahan-permasalahan transaksi yang belum terselesaikan akibat tidak adanya kesepakatan penyelesaian, baik antara Penjual dan Pembeli, dengan melihat bukti-bukti yang ada. Keputusan Ketok Palu adalah keputusan akhir yang tidak dapat diganggu gugat dan mengikat pihak Penjual dan Pembeli untuk mematuhinya.</li>
                  <li>Apabila disepakati oleh Penjual dan Pembeli, penggunaan jasa kurir yang berbeda dari pilihan awal pembeli dapat dilakukan (dengan ketentuan bahwa tarif pengiriman tersebut adalah di bawah tarif pengiriman awal).</li>
                  <li>Ketok Palu berwenang memotong kelebihan tarif pengiriman dari dana pembayaran pembeli dan mengembalikan selisih kelebihan tarif pengiriman kepada pembeli.</li>
                  <li>Penjual memahami sepenuhnya dan menyetujui bahwa invoice yang diterbitkan adalah atas nama Penjual.</li>
                </ol>
                <li>Penataan Etalase</li>
                <ol>
                  <li>Penjual dilarang mempergunakan etalase (termasuk dan tidak tebatas pada informasi toko dan informasi barang) sebagai media untuk beriklan atau melakukan promosi ke halaman situs lain di luar situs Ketok Palu.</li>
                  <li>Penjual dilarang memberikan data kontak pribadi dengan maksud untuk melakukan transaksi secara langsung kepada Pembeli/calon Pembeli.</li>
                  <li>Penjual dilarang memberikan keterangan (informasi toko dan/atau Barang) selain/di luar daripada keterangan toko dan/atau Barang yang bersangkutan.</li>
                  <li>Penamaan Barang harus dilakukan sesuai dengan informasi detail, spesifikasi, dan kondisi Barang, dengan demikian Pengguna tidak diperkenankan untuk mencantumkan nama dan/atau kata yang tidak berkaitan dengan Barang tersebut.</li>
                  <li>Penamaan Barang dan informasi produk harus sesuai dengan kondisi Barang yang ditampilkan dan Pengguna tidak diperkenankan mencantumkan nama dan informasi yang tidak sesuai dengan kondisi Barang.</li>
                  <li>Penjual wajib memisahkan tiap-tiap Barang yang memiliki ukuran dan harga yang berbeda.</li>
                  <li>Penjual tidak diperkenankan memperdagangkan jasa, atau Barang non-fisik.</li>
                  <li>Ketok Palu memiliki kewenangan mengambil-alih sub-domain/nama toko Penjual jika akun Penjual sudah tidak aktif lebih dari 9 bulan, dan/atau pemilik merek dagang resmi (sesuai dengan Daftar Umum Merek di Indonesia) dengan nama yang sama dengan sub-domain/nama toko Penjual melakukan klaim terhadapnya dikarenakan mereka ingin menggunakan sub-domain tersebut.</li>
                  <li>Ketok Palu memiliki kewenangan untuk mengubah nama dan/atau memakai nama Toko dan/atau domain Pengguna untuk kepentingan internal Ketok Palu.</li>
                </ol>
                <li>Komisi</li>
                <ol>
                  <li>Ketok Palu akan mengenakan komisi untuk transaksi yang dilakukan melalui Situs Ketok Palu, dengan tingkat besaran yang berbeda-beda.</li>
                  <li>Pada hal sistem komisi dalam transaksi melalui Situs Ketok Palu, komisi hanya akan diterapkan setelah diberitahukan sebelumnya kepada Pengguna yang terkena dampaknya melalui Situs Ketok Palu.</li>
                  <li>Untuk transaksi lelang, Ketok Palu akan mengenakan komisi sebesar delapan persen (8%) dari nilai akhir lelang kepada Penjual.</li>
                </ol>
                <li>Harga</li>
                <ol>
                  <li>Dalam transaksi lelang, Penjual dan Pembeli wajib menghormati harga akhir lelang. Penjual dan Pembeli dilarang untuk membatalkan transaksi dengan alasan apapun.</li>
                  <li>Harga Barang yang terdapat dalam situs Ketok Palu adalah harga yang ditetapkan oleh Penjual. Penjual dilarang memanipulasi harga barang dengan cara apapun.</li>
                  <li>Penjual dilarang menetapkan harga yang tidak wajar pada Barang yang ditawarkan melalui Situs Ketok Palu. Ketok Palu berhak untuk melakukan tindakan berupa memindahkan Barang ke gudang, pemeriksaan, penundaan, atau penurunan konten serta tindakan lainnya berdasarkan penilaian sendiri dari Ketok Palu atas dasar penetapan harga yang tidak wajar.</li>
                  <li>Pembeli memahami dan menyetujui bahwa kesalahan keterangan harga dan informasi lainnya yang disebabkan tidak terbaharuinya halaman situs Ketok Palu dikarenakan browser/ISP yang dipakai Pembeli adalah tanggung jawab Pembeli.</li>
                  <li>Penjual memahami dan menyetujui bahwa kesalahan ketik yang menyebabkan keterangan harga atau informasi lain menjadi tidak benar/sesuai adalah tanggung jawab Penjual. Perlu diingat dalam hal ini, apabila terjadi kesalahan pengetikan keterangan harga Barang yang tidak disengaja, Penjual berhak menolak pesanan Barang yang dilakukan oleh pembeli.</li>
                  <li>Pengguna memahami dan menyetujui bahwa setiap masalah dan/atau perselisihan yang terjadi akibat ketidaksepahaman antara Penjual dan Pembeli tentang harga bukanlah merupakan tanggung jawab Ketok Palu.</li>
                  <li>Dengan melakukan pemesanan melalui Ketok Palu, Pengguna menyetujui untuk membayar total biaya yang harus dibayarkan sebagaimana tertera dalam halaman pembayaran, yang terdiri dari harga barang, ongkos kirim, dan biaya-biaya lain yang mungkin timbul dan akan diuraikan secara tegas dalam halaman pembayaran. Pengguna setuju untuk melakukan pembayaran melalui metode pembayaran yang telah dipilih sebelumnya oleh Pengguna.</li>
                  <li>Situs Ketok Palu untuk saat ini hanya melayani transaksi jual beli Barang dalam mata uang Rupiah.</li>
                </ol>
                <li>Tarif Pengiriman</li>
                <p>Pembeli memahami dan mengerti bahwa Ketok Palu telah melakukan usaha sebaik mungkin dalam memberikan informasi tarif pengiriman kepada Pembeli berdasarkan lokasi secara akurat, namun Ketok Palu tidak dapat menjamin keakuratan data tersebut dengan yang ada pada cabang setempat.</p>
                <p>Karena itu Ketok Palu menyarankan kepada Penjual untuk mencatat terlebih dahulu tarif yang diberikan Ketok Palu, agar dapat dibandingkan dengan tarif yang dibebankan di cabang setempat. Apabila mendapati perbedaan, mohon sekiranya untuk menginformasikan kepada kami melalui menu Contact Us dengan memberikan data harga yang didapat beserta kota asal dan tujuan, agar dapat kami telusuri lebih lanjut.</p>
                <p>Pengguna memahami dan menyetujui bahwa selisih biaya pengiriman Barang adalah di luar tanggung jawab Ketok Palu, dan oleh karena itu, adalah kebijakan Penjual sendiri untuk membatalkan atau tetap melakukan pengiriman Barang.</p>
                <li>Konten</li>
                <ol>
                  <li>Dalam menggunakan setiap fitur dan/atau layanan Ketok Palu, Pengguna dilarang untuk mengunggah atau mempergunakan kata-kata, komentar, gambar, atau konten apapun yang mengandung unsur SARA, diskriminasi, merendahkan, atau menyudutkan orang lain, vulgar, bersifat ancaman, beriklan atau melakukan promosi ke situs selain Situs Ketok Palu, atau hal-hal lain yang dapat dianggap tidak sesuai dengan nilai dan norma sosial maupun berdasarkan kebijakan yang ditentukan sendiri oleh Ketok Palu. Ketok Palu berhak melakukan tindakan yang diperlukan atas pelanggaran ketentuan ini, antara lain penghapusan konten, moderasi toko, pemblokiran akun, dan lain-lain.</li>
                  <li>Pengguna dilarang mempergunakan foto/gambar Barang yang memiliki watermark yang menandakan hak kepemilikan orang lain.</li>
                  <li>Pengguna dengan ini memahami dan menyetujui bahwa penyalahgunaan foto/gambar yang diunggah oleh Pengguna adalah tanggung jawab Pengguna secara pribadi.</li>
                  <li>Penjual tidak diperkenankan untuk mempergunakan foto/gambar Barang atau logo toko sebagai media untuk beriklan atau melakukan promosi ke situs-situs lain di luar Situs Ketok Palu, atau memberikan data kontak pribadi untuk melakukan transaksi secara langsung kepada pembeli / calon pembeli.</li>
                  <li>Penjual menjamin foto/gambar yang diunggah tidak termasuk konten yang dilarang berdasarkan poin J. 1 atau melanggar hak milik pihak lain. Apabila didapati foto/gambar melanggar konten berdasarkan poin J. 1 atau terdapat laporan pelanggaran hak milik pihak lain, maka Ketok Palu berhak melakukan tindakan yang diperlukan atas pelanggaran ketentuan ini, termasuk namun tidak terbatas pada penghapusan konten dan/atau tindakan lainnya yang perlu dilakukan.</li>
                  <li>Ketika Pengguna mengunggah ke Situs Ketok Palu dengan konten atau posting konten, Pengguna memberikan Ketok Palu hak non-eksklusif, di seluruh dunia, secara terus-menerus, tidak dapat dibatalkan, bebas royalti, disublisensikan (melalui beberapa tingkatan) hak untuk melaksanakan setiap dan semua hak cipta, publisitas, merek dagang, hak basis data, dan hak kekayaan intelektual yang Pengguna miliki dalam konten, di media manapun yang dikenal sekarang atau di masa depan. Selanjutnya, untuk sepenuhnya diizinkan oleh hukum yang berlaku, Anda mengesampingkan hak moral dan berjanji untuk tidak menuntut hak-hak tersebut terhadap Ketok Palu.</li>
                  <li>Pengguna menjamin bahwa tidak melanggar hak kekayaan intelektual dalam mengunggah konten Pengguna ke dalam situs Ketok Palu. Setiap Pengguna dengan ini bertanggung jawab secara pribadi atas pelanggaran hak kekayaan intelektual dalam mengunggah konten di Situs Ketok Palu.</li>
                  <li>Ketok Palu menyediakan fitur "Forum" untuk memudahkan pembeli berinteraksi dengan penjual perihal Barang yang ditawarkan. Penjual tidak diperkenankan menggunakan fitur tersebut untuk tujuan dengan cara apa pun menaikkan harga Barang dagangannya, termasuk di dalamnya memberi komentar pertama kali atau memberi komentar selanjutnya/terus menerus secara berkala (flooding/spam).</li>
                  <li>Meskipun kami mencoba untuk menawarkan informasi yang dapat diandalkan, kami tidak bisa menjanjikan bahwa katalog akan selalu akurat dan terbaharui, dan Pengguna setuju bahwa Pengguna tidak akan meminta Ketok Palu bertanggung jawab atas ketimpangan dalam katalog. Katalog mungkin termasuk hak cipta, merek dagang, atau hak milik lainnya.</li>
                </ol>
                <li>Jenis Barang</li>
                <p>Berikut ini adalah daftar jenis Barang yang dilarang untuk diperdagangkan oleh Penjual pada Situs Ketok Palu:</p>
                <ul>
                  <li>Segala jenis obat-obatan maupun zat-zat lain yang dilarang ataupun dibatasi peredarannya menurut ketentuan hukum yang berlaku, termasuk namun tidak terbatas pada ketentuan Undang-Undang Narkotika, Undang-Undang Psikotropika, dan Undang-Undang Kesehatan. Termasuk pula dalam ketentuan ini ialah obat keras, obat-obatan yang memerlukan resep dokter, obat bius dan sejenisnya, atau obat yang tidak memiliki izin edar dari Badan Pengawas Obat dan Makanan (BPOM).</li>
                  <li>Kosmetik dan makanan minuman yang membahayakan keselamatan penggunanya, ataupun yang tidak mempunyai izin edar dari Badan Pengawas Obat dan Makanan (BPOM).</li>
                  <li>Bahan yang diklasifikasikan sebagai Bahan Berbahaya menurut Peraturan Menteri Perdagangan yang berlaku.</li>
                  <li>Jenis Produk tertentu yang wajib memiliki:</li>
                  <ol type="a">
                    <li>SNI;</li>
                    <li>Petunjuk penggunaan dalam Bahasa Indonesia; atau</li>
                    <li>Label dalam Bahasa Indonesia. Sementara yang diperjualbelikan tidak mencantumkan hal-hal tersebut.</li>
                  </ol>
                  <li>Barang-barang lain yang kepemilikannya ataupun peredarannya melanggar ketentuan hukum yang berlaku di Indonesia.</li>
                  <li>Barang yang merupakan hasil pelanggaran Hak Cipta, termasuk namun tidak terbatas dalam media berbentuk buku, CD/DVD/VCD, informasi dan/atau dokumen elektronik, serta media lain yang bertentangan dengan Undang-Undang Hak Cipta.</li>
                  <li>Barang dewasa yang bersifat seksual berupa obat perangsang, alat bantu seks yang mengandung konten pornografi, serta obat kuat dan obat-obatan dewasa, baik yang tidak memiliki izin edar BPOM maupun yang peredarannya dibatasi oleh ketentuan hukum yang berlaku.</li>
                  <li>Iklan.</li>
                  <li>Segala bentuk tulisan yang dapat berpengaruh negatif terhadap pemakaian situs ini.</li>
                  <li>Pakaian dalam bekas.</li>
                  <li>Senjata api, senjata tajam non-koleksi, senapan angin, dan segala macam senjata.</li>
                  <li>Dokumen pemerintahan dan perjalanan.</li>
                  <li>Seragam pemerintahan.</li>
                  <li>Bagian/Organ manusia.</li>
                  <li>Mailing list dan informasi pribadi.</li>
                  <li>Barang-Barang yang melecehkan pihak/ras tertentu atau dapat merendahkan martabat orang lain.</li>
                  <li>Pestisida.</li>
                  <li>Atribut kepolisian.</li>
                  <li>Barang hasil tindak pencurian.</li>
                  <li>Pembuka kunci dan segala aksesori penunjang tindakan perampokan/pencurian.</li>
                  <li>Barang yang dapat dan/atau mudah meledak, menyala atau terbakar sendiri.</li>
                  <li>Barang cetakan/rekaman yang isinya dapat mengganggu keamanan dan ketertiban serta stabilitas nasional.</li>
                  <li>Hewan yang dilindungi.</li>
                  <li>Uang tunai termasuk valuta asing kecuali Penjual memiliki dan dapat mencantumkan izin sebagai Penyelenggara Kegiatan Usaha Penukaran Valuta Asing Bukan Bank berdasarkan Peraturan Bank Indonesia No.18/20/PBI/2016 dan/atau peraturan lainnya yang terkait dengan penukaran valuta asing.  Uang tunai yang dimaksud tidak mencakup uang untuk kepentingan koleksi atau numismatik.</li>
                  <li>Materai.</li>
                  <li>Pengacak sinyal, penghilang sinyal, dan/atau alat-alat lain yang dapat mengganggu sinyal atau jaringan telekomunikasi.</li>
                  <li>Perlengkapan dan peralatan judi.</li>
                  <li>Jimat-jimat, benda-benda yang diklaim berkekuatan gaib dan memberi ilmu kesaktian.</li>
                  <li>Barang dengan hak Distribusi Eksklusif yang hanya dapat diperdagangkan dengan sistem penjualan lansung oleh penjual resmi dan/atau Barang dengan sistem penjualan Multi Level Marketing.</li>
                  <li>Produk non fisik yang tidak dapat dikirimkan melalui jasa kurir, termasuk namun tidak terbatas pada produk pulsa/voucher (telepon, listrik, game, dan/atau credit digital), tiket pesawat dan/atau tiket kereta.</li>
                  <li>Dokumen-dokumen resmi seperti Sertifikat TOEFL, Ijazah, Surat Dokter, Kuitansi, dan lain sebagainya.</li>
                  <li>Segala jenis Barang lain yang bertentangan dengan peraturan pengiriman Barang Indonesia.</li>
                  <li>Barang-Barang lain yang melanggar ketentuan hukum yang berlaku di Indonesia.</li>
                </ul>
                <li>Kartu Kredit</li>
                <ol>
                  <li>Pengguna dapat memilih untuk mempergunakan pilihan metode pembayaran menggunakan kartu kredit untuk transaksi pembelian Barang dan produk digital melalui Situs Ketok Palu.</li>
                  <li>Transaksi pembelian barang dengan menggunakan kartu kredit dapat memiliki nilai maksimal tertentu yang besarnya mungkin akan berbeda-beda tergantung misalnya kepada pihak penyedia kartu kredit dan/atau pihak payment gateway.</li>
                  <li>Transaksi pembelian barang dengan menggunakan kartu kredit wajib mengikuti syarat dan ketentuan yang diatur oleh Ketok Palu dan mempergunakan kurir/logistik yang disediakan dan terhubung dengan Situs Ketok Palu.</li>
                  <li>Pengguna dilarang untuk mempergunakan metode pembayaran kartu kredit di luar peruntukan sebagai alat pembayaran.</li>
                  <li>Apabila terdapat transaksi pembelian barang dengan menggunakan kartu kredit yang melanggar ketentuan hukum dan/atau syarat ketentuan Ketok Palu, maka Ketok Palu berwenang untuk:</li>
                  <ul>
                    <li>Menahan dana transaksi selama diperlukan oleh Ketok Palu, pihak Bank, maupun mitra payment gateway terkait untuk melakukan investigasi yang diperlukan, sekurang-kurangnya 14 (empat belas) hari;</li>
                    <li>Melakukan pemotongan dana sebesar 15% (lima belas persen) dari nilai transaksi, serta menarik kembali nilai subsidi sehubungan penggunaan kartu kredit.</li>
                  </ul>
                  <li>Ketok Palu akan menghentikan kerjasama dengan Penjual yang melakukan tindakan yang dapat merugikan prinsipal, penerbit, acquirer dan/atau pemegang kartu kredit, antara lain memproses penarikan/gesek tunai (cash withdrawal transaction).</li>
                  <li>Apabila transaksi pembelian tidak berhasil dan/atau dibatalkan, maka tagihan atas transaksi tersebut akan dibatalkan dan dana transaksi akan dikembalikan ke limit kartu kredit pembeli di tagihan berikutnya. Ketentuan pada ayat ini tidak berlaku untuk transaksi pembelian barang dengan menggunakan kartu kredit yang melanggar ketentuan hukum dan/atau syarat ketentuan Ketok Palu.</li>
                </ol>
                <li>Promo</li>
                <ol>
                  <li>Ketok Palu sewaktu-waktu dapat mengadakan kegiatan promosi (selanjutnya disebut sebagai “Promo”) dengan Syarat dan Ketentuan yang mungkin berbeda pada masing-masing kegiatan Promo. Pengguna dihimbau untuk membaca dengan seksama Syarat dan Ketentuan Promo tersebut.</li>
                  <li>Apabila terdapat transaksi Promo yang mempergunakan metode pembayaran kartu kredit yang melanggar Syarat dan Ketentuan Ketok Palu, maka akan merujuk pada Syarat dan Ketentuan Poin K. Kartu Kredit.</li>
                  <li>Ketok Palu berhak, tanpa pemberitahuan sebelumnya, melakukan tindakan-tindakan yang diperlukan termasuk namun tidak terbatas pada menarik subsidi atau cashback, membatalkan benefit Premium User, pencabutan Promo, membatalkan transaksi, menahan dana, menurunkan reputasi toko, menutup toko atau akun, serta hal-hal lainnya jika ditemukan adanya manipulasi, penggunaan resi yang tidak valid pada mayoritas transaksi, pelanggaran maupun pemanfaatan Promo untuk keuntungan pribadi Pengguna, maupun indikasi kecurangan atau pelanggaran Syarat dan Ketentuan Ketok Palu dan ketentuan hukum yang berlaku di wilayah negara Indonesia.</li>
                  <li>Dalam hal diadakannya Promo Gratis/Potongan Ongkos Kirim:</li>
                  <ul>
                    <li>Jika terdapat selisih antara berat Barang pada deskripsi produk dengan berat Barang yang dikirimkan oleh Penjual melalui jasa kurir/logistik, maka subsidi ongkos kirim yang diberikan akan merujuk kepada berat Barang pada data pihak kurir/logistik;</li>
                    <li>Penjual yang berhak mendapatkan subsidi ongkos kirim adalah Penjual yang mempergunakan resi pengiriman valid. Penjual yang menggunakan resi pengiriman invalid tidak berhak untuk mendapatkan subsidi ongkos kirim; dan/atau</li>
                    <li>Jika (i) Penjual menolak pesanan Pembeli, (ii) transaksi dibatalkan otomatis oleh sistem Ketok Palu, dan/atau (iii) transaksi dibatalkan berdasarkan keputusan di Pusat Resolusi, maka dana yang dikembalikan kepada Pembeli adalah senilai dana pembayaran transaksi yang dilakukan oleh Pembeli dan tidak termasuk subsidi ongkos kirim.</li>
                  </ul>
                  <li>Setiap Promo Ketok Palu tidak berlaku untuk untuk penggunaan resi yang diinput lebih dari 1 (satu) kali, jika ditemukan penginputan resi sebanyak 2 (dua) kali, manfaat promo hanya akan diberikan pada transaksi yang dibentuk oleh pembeli pertama. Benefit promo tidak dapat diteruskan pada transaksi dropshipper (pembeli kedua).</li>
                  <li>Pengguna hanya boleh menggunakan 1 (satu) akun Ketok Palu untuk mengikuti setiap promo Ketok Palu. Jika ditemukan pembuatan lebih dari 1 (satu) akun oleh 1 (satu) Pengguna yang sama dan/atau nomor handphone yang sama dan/atau alamat yang sama dan/atau ID pelanggan yang sama dan/atau identitas pembayaran yang sama dan/atau riwayat transaksi yang sama, maka Pengguna tidak berhak mendapatkan manfaat dari promo Ketok Palu.</li>
                </ol>
                <li>Pengiriman Barang</li>
                <ol>
                  <li>Pengiriman Barang dalam sistem Ketok Palu wajib menggunakan jasa perusahaan ekspedisi yang telah mendapatkan verifikasi rekanan Ketok Palu yang dipilih oleh Pembeli.</li>
                  <li>Setiap ketentuan berkenaan dengan proses pengiriman Barang adalah wewenang sepenuhnya penyedia jasa layanan pengiriman Barang.</li>
                  <li>Penjual wajib memenuhi ketentuan yang ditetapkan oleh jasa layanan pengiriman barang tersebut dan bertanggung jawab atas setiap Barang yang dikirimkan.</li>
                  <li>Pengguna memahami dan menyetujui bahwa setiap permasalahan yang terjadi pada saat proses pengiriman Barang oleh penyedia jasa layanan pengiriman Barang adalah merupakan tanggung jawab penyedia jasa layanan pengiriman.</li>
                  <li>Dalam hal diperlukan untuk dilakukan proses pengembalian barang, maka Pengguna, baik Penjual maupun Pembeli, diwajibkan untuk melakukan pengiriman barang langsung ke masing-masing Pembeli maupun Penjual. Ketok Palu tidak menerima pengembalian atau pengiriman barang atas transaksi yang dilakukan oleh Pengguna dalam kondisi apapun.</li>
                </ol>
                <li>Penarikan Dana</li>
                <ol>
                  <li>Penarikan dana akan diproses dalam waktu satu kali dalam setiap pekan (setiap hari Jum’at), dengan lama waktu proses penarikan tergantung dari bank masing-masing.</li>
                  <li>Untuk penarikan dana dengan tujuan nomor rekening di luar bank yang digunakan oleh pihak Ketok Palu, apabila ada biaya tambahan yang dibebankan akan menjadi tanggungan dari Pengguna.</li>
                  <li>Dalam hal ditemukan adanya dugaan pelanggaran terhadap Syarat dan Ketentuan Ketok Palu, kecurangan, manipulasi atau kejahatan, Pengguna memahami dan menyetujui bahwa Ketok Palu berhak melakukan tindakan pemeriksaan, pembekuan, penundaan dan/atau pembatalan terhadap penarikan dana yang dilakukan oleh Pengguna.</li>
                  <li>Pemeriksaan, pembekuan, atau penundaan penarikan dana sebagaimana dimaksud dalam poin 3 dapat dilakukan dalam jangka waktu selama yang diperlukan oleh pihak Ketok Palu.</li>
                </ol>
                <li>Ketentuan Lain</li>
                <ol>
                  <li>Apabila Pengguna mempergunakan fitur-fitur yang tersedia dalam situs Ketok Palu maka Pengguna dengan ini menyatakan memahami dan menyetujui segala syarat dan ketentuan yang diatur khusus sehubungan dengan fitur-fitur tersebut.</li>
                  <li>Segala hal yang belum dan/atau tidak diatur dalam syarat dan ketentuan khusus dalam fitur tersebut maka akan sepenuhnya merujuk pada syarat dan ketentuan Ketok Palu secara umum.</li>
                </ol>
                <li>Penolakan Jaminan dan Batasan Tanggung Jawab</li>
                <p>Ketok Palu adalah portal web dengan model Costumer to Customer Marketplace, yang menyediakan layanan kepada Pengguna untuk dapat menjadi Penjual maupun Pembeli di website Ketok Palu. Dengan demikian transaksi yang terjadi adalah transaksi antar member Ketok Palu, sehingga Pengguna memahami bahwa batasan tanggung jawab Ketok Palu secara proporsional adalah sebagai penyedia jasa portal web.</p>
                <p>Ketok Palu selalu berupaya untuk menjaga Layanan Ketok Palu aman, nyaman, dan berfungsi dengan baik, tapi kami tidak dapat menjamin operasi terus-menerus atau akses ke Layanan kami dapat selalu sempurna. Informasi dan data dalam situs Ketok Palu memiliki kemungkinan tidak terjadi secara real time.</p>
                <p>Pengguna setuju bahwa Anda memanfaatkan Layanan Ketok Palu atas risiko Pengguna sendiri, dan Layanan Ketok Palu diberikan kepada Anda pada "SEBAGAIMANA ADANYA" dan "SEBAGAIMANA TERSEDIA".</p>
                <p>Sejauh diizinkan oleh hukum yang berlaku, Ketok Palu (termasuk Induk Perusahaan, direktur, dan karyawan) adalah tidak bertanggung jawab, dan Anda setuju untuk tidak menuntut Ketok Palu bertanggung jawab, atas segala kerusakan atau kerugian (termasuk namun tidak terbatas pada hilangnya uang, reputasi, keuntungan, atau kerugian tak berwujud lainnya) yang diakibatkan secara langsung atau tidak langsung dari:</p>
                <ul>
                  <li>Penggunaan atau ketidakmampuan Pengguna dalam menggunakan Layanan Ketok Palu.</li>
                  <li>Harga, Pengiriman, atau petunjuk lain yang tersedia dalam layanan Ketok Palu.</li>
                  <li>Keterlambatan atau gangguan dalam Layanan Ketok Palu.</li>
                  <li>Kelalaian dan kerugian yang ditimbulkan oleh masing-masing Pengguna.</li>
                  <li>Kualitas Barang.</li>
                  <li>Pengiriman Barang.</li>
                  <li>Pelanggaran Hak atas Kekayaan Intelektual.</li>
                  <li>Perselisihan antar pengguna.</li>
                  <li>Pencemaran nama baik pihak lain.</li>
                  <li>Setiap penyalahgunaan Barang yang sudah dibeli pihak Pengguna.</li>
                  <li>Kerugian akibat pembayaran tidak resmi kepada pihak lain selain ke Rekening Resmi Ketok Palu, yang dengan cara apapun mengatasnamakan Ketok Palu ataupun kelalaian penulisan rekening dan/atau informasi lainnya dan/atau kelalaian pihak bank.</li>
                  <li>Pengiriman untuk perbaikan Barang yang bergaransi resmi dari pihak produsen. Pembeli dapat membawa Barang langsung kepada pusat layanan servis terdekat dengan kartu garansi dan faktur pembelian.</li>
                  <li>Virus atau perangkat lunak berbahaya lainnya (bot, script, automation tool selain fitur Power Merchant, hacking tool) yang diperoleh dengan mengakses, atau menghubungkan ke layanan Ketok Palu.</li>
                  <li>Gangguan, bug, kesalahan, atau ketidakakuratan apapun dalam Layanan Ketok Palu.</li>
                  <li>Kerusakan pada perangkat keras Anda dari penggunaan setiap Layanan Ketok Palu.</li>
                  <li>Isi, tindakan, atau tidak adanya tindakan dari pihak ketiga, termasuk terkait dengan Produk yang ada dalam situs Ketok Palu yang diduga palsu.Tindak penegakan yang diambil sehubungan dengan akun Pengguna.</li>
                  <li>Adanya tindakan peretasan yang dilakukan oleh pihak ketiga kepada akun pengguna.</li>
                </ul>
                <li>Pelepasan</li>
                <p>Jika Anda memiliki perselisihan dengan satu atau lebih pengguna, Anda melepaskan Ketok Palu (termasuk Induk Perusahaan, Direktur, dan karyawan) dari klaim dan tuntutan atas kerusakan dan kerugian (aktual dan tersirat) dari setiap jenis dan sifatnya, yang dikenal dan tidak dikenal, yang timbul dari atau dengan cara apapun berhubungan dengan sengketa tersebut, termasuk namun tidak terbatas pada kerugian yang timbul dari pembelian Barang yang telah dilarang pada poin K. Syarat dan Ketentuan ini. Dengan demikian maka Pengguna dengan sengaja melepaskan segala perlindungan hukum (yang terdapat dalam undang-undang atau peraturan hukum yang lain) yang akan membatasi cakupan ketentuan pelepasan ini.</p>
                <li>Ganti Rugi</li>
                <p>Pengguna akan melepaskan Ketok Palu dari tuntutan ganti rugi dan menjaga Ketok Palu (termasuk Induk Perusahaan, direktur, dan karyawan) dari setiap klaim atau tuntutan, termasuk biaya hukum yang wajar, yang dilakukan oleh pihak ketiga yang timbul dalam hal Anda melanggar Perjanjian ini, penggunaan Layanan Ketok Palu yang tidak semestinya dan/ atau pelanggaran Anda terhadap hukum atau hak-hak pihak ketiga.</p>
                <li>Pilihan Hukum</li>
                <p>Perjanjian ini akan diatur oleh dan ditafsirkan sesuai dengan hukum Republik Indonesia, tanpa memperhatikan pertentangan aturan hukum. Anda setuju bahwa tindakan hukum apapun atau sengketa yang mungkin timbul dari, berhubungan dengan, atau berada dalam cara apapun berhubungan dengan situs dan/atau Perjanjian ini akan diselesaikan secara eksklusif dalam yurisdiksi pengadilan Republik Indonesia.</p>
                <li>Pembaruan</li>
                <p>Syarat & ketentuan mungkin diubah dan/atau diperbaharui dari waktu ke waktu tanpa pemberitahuan sebelumnya. Ketok Palu menyarankan agar anda membaca secara seksama dan memeriksa halaman Syarat & ketentuan ini dari waktu ke waktu untuk mengetahui perubahan apapun. Dengan tetap mengakses dan menggunakan layanan Ketok Palu, maka pengguna dianggap menyetujui perubahan-perubahan dalam Syarat & Ketentuan.</p>
                <p>Pembaruan Terakhir : 29/06/2020 15.00</p>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </div>
</template>

<script>
  export default {
    name: "terms-and-conditions",
    props: [],
    data() {
      return {
        // data
      };
    },
    methods: {
      // list of methods
    },
    created() {
      // created
    },
    mounted() {
      // mounted
    },
    watch: {
      // watcher list
      property: function() {}
    }
  };
</script>
<style scoped>
  .terms-detail > li {
    font-size: 1.75rem;
  }
</style>

